<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>/resources/views/profile/partials/update-password-form.blade.php</title>
<style>
body { font-family: monospace; white-space: pre; }
</style>
</head>
<body>
&lt;section&gt;
    &lt;header&gt;
        &lt;h2 class=&quot;text-lg font-medium text-gray-900&quot;&gt;
            {{ __(&#039;Update Password&#039;) }}
        &lt;/h2&gt;

        &lt;p class=&quot;mt-1 text-sm text-gray-600&quot;&gt;
            {{ __(&#039;Ensure your account is using a long, random password to stay secure.&#039;) }}
        &lt;/p&gt;
    &lt;/header&gt;

    &lt;form method=&quot;post&quot; action=&quot;{{ route(&#039;password.update&#039;) }}&quot; class=&quot;mt-6 space-y-6&quot;&gt;
        @csrf
        @method(&#039;put&#039;)

        &lt;div&gt;
            &lt;x-input-label for=&quot;update_password_current_password&quot; :value=&quot;__(&#039;Current Password&#039;)&quot; /&gt;
            &lt;x-text-input id=&quot;update_password_current_password&quot; name=&quot;current_password&quot; type=&quot;password&quot; class=&quot;mt-1 block w-full&quot; autocomplete=&quot;current-password&quot; /&gt;
            &lt;x-input-error :messages=&quot;$errors-&gt;updatePassword-&gt;get(&#039;current_password&#039;)&quot; class=&quot;mt-2&quot; /&gt;
        &lt;/div&gt;

        &lt;div&gt;
            &lt;x-input-label for=&quot;update_password_password&quot; :value=&quot;__(&#039;New Password&#039;)&quot; /&gt;
            &lt;x-text-input id=&quot;update_password_password&quot; name=&quot;password&quot; type=&quot;password&quot; class=&quot;mt-1 block w-full&quot; autocomplete=&quot;new-password&quot; /&gt;
            &lt;x-input-error :messages=&quot;$errors-&gt;updatePassword-&gt;get(&#039;password&#039;)&quot; class=&quot;mt-2&quot; /&gt;
        &lt;/div&gt;

        &lt;div&gt;
            &lt;x-input-label for=&quot;update_password_password_confirmation&quot; :value=&quot;__(&#039;Confirm Password&#039;)&quot; /&gt;
            &lt;x-text-input id=&quot;update_password_password_confirmation&quot; name=&quot;password_confirmation&quot; type=&quot;password&quot; class=&quot;mt-1 block w-full&quot; autocomplete=&quot;new-password&quot; /&gt;
            &lt;x-input-error :messages=&quot;$errors-&gt;updatePassword-&gt;get(&#039;password_confirmation&#039;)&quot; class=&quot;mt-2&quot; /&gt;
        &lt;/div&gt;

        &lt;div class=&quot;flex items-center gap-4&quot;&gt;
            &lt;x-primary-button&gt;{{ __(&#039;Save&#039;) }}&lt;/x-primary-button&gt;

            @if (session(&#039;status&#039;) === &#039;password-updated&#039;)
                &lt;p
                    x-data=&quot;{ show: true }&quot;
                    x-show=&quot;show&quot;
                    x-transition
                    x-init=&quot;setTimeout(() =&gt; show = false, 2000)&quot;
                    class=&quot;text-sm text-gray-600&quot;
                &gt;{{ __(&#039;Saved.&#039;) }}&lt;/p&gt;
            @endif
        &lt;/div&gt;
    &lt;/form&gt;
&lt;/section&gt;


<hr>
<!-- PEDROO_NEXT_FILE: /resources/views/profile/partials/update-profile-information-form.blade.php -->
<!-- PEDROO_NEXT_DIR: /resources/views/timeline -->

</body>
</html>