<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>/ads/resources/views/front/post/show/partials/pictures-slider/bxslider-vertical.blade.php</title>
<style>
body { font-family: monospace; white-space: pre; }
</style>
</head>
<body>
@php
	$titleSlug ??= &#039;&#039;;
@endphp
{{-- bxSlider - Vertical Thumbnails --}}
&lt;div class=&quot;gallery-container&quot;&gt;
	&lt;div class=&quot;slider-left&quot;&gt;
		&lt;div class=&quot;bxslider&quot;&gt;
			@forelse($pictures as $key =&gt; $image)
				&lt;div class=&quot;bx-item&quot;&gt;
					@php
						$src = data_get($image, &#039;url.large&#039;);
						$webpSrc = data_get($image, &#039;url.webp.large&#039;);
						$alt = $titleSlug . &#039;-big-&#039; . $key;
						echo generateImageHtml($src, $alt, $webpSrc);
					@endphp
				&lt;/div&gt;
			@empty
				&lt;div class=&quot;bx-item&quot;&gt;
					&lt;img src=&quot;{{ thumbParam(config(&#039;larapen.media.picture&#039;))-&gt;url() }}&quot; alt=&quot;img&quot; class=&quot;default-picture&quot;/&gt;
				&lt;/div&gt;
			@endforelse
		&lt;/div&gt;
	&lt;/div&gt;
	&lt;div class=&quot;bxslider-pager scrollbar&quot;&gt;
		@forelse($pictures as $key =&gt; $image)
			&lt;a class=&quot;bx-thumb-item&quot; data-slide-index=&quot;{{ $key }}&quot; href=&quot;&quot;&gt;
				@php
					$src = data_get($image, &#039;url.small&#039;);
					$webpSrc = data_get($image, &#039;url.webp.small&#039;);
					$alt = $titleSlug . &#039;-small-&#039; . $key;
					echo generateImageHtml($src, $alt, $webpSrc);
				@endphp
			&lt;/a&gt;
		@empty
			&lt;a class=&quot;bx-thumb-item&quot; data-slide-index=&quot;0&quot; href=&quot;&quot;&gt;
				&lt;img src=&quot;{{ thumbParam(config(&#039;larapen.media.picture&#039;))-&gt;setOption(&#039;picture-sm&#039;)-&gt;url() }}&quot;
				     alt=&quot;img&quot;
				     class=&quot;default-picture&quot;
				&gt;
			&lt;/a&gt;
		@endforelse
	&lt;/div&gt;
&lt;/div&gt;

@section(&#039;after_styles&#039;)
	@parent
	@if (config(&#039;lang.direction&#039;) == &#039;rtl&#039;)
		&lt;link href=&quot;{{ url(&#039;assets/plugins/bxslider/jquery.bxslider.rtl.css&#039;) }}&quot; rel=&quot;stylesheet&quot;/&gt;
	@else
		&lt;link href=&quot;{{ url(&#039;assets/plugins/bxslider/jquery.bxslider.css&#039;) }}&quot; rel=&quot;stylesheet&quot;/&gt;
	@endif
	
	&lt;link href=&quot;{{ url(&#039;assets/plugins/bxslider/bxslider-custom.css&#039;) }}&quot; rel=&quot;stylesheet&quot;/&gt;
	&lt;link href=&quot;{{ url(&#039;assets/plugins/bxslider/bxslider-vertical-thumbs.css&#039;) }}&quot; rel=&quot;stylesheet&quot;/&gt;
	@if (config(&#039;lang.direction&#039;) == &#039;rtl&#039;)
		&lt;link href=&quot;{{ url(&#039;assets/plugins/bxslider/bxslider-vertical-thumbs-rtl.css&#039;) }}&quot; rel=&quot;stylesheet&quot;/&gt;
	@endif
@endsection
@section(&#039;after_scripts&#039;)
	@parent
	&lt;script src=&quot;{{ url(&#039;assets/plugins/bxslider/jquery.bxslider.min.js&#039;) }}&quot;&gt;&lt;/script&gt;
	&lt;script&gt;
		let totalSlides = {{ is_array($pictures) ? count($pictures) : 0 }};
		
		/* Enable touch events for Mobile Browsers */
		let touchDevice = false;
		if (navigator.userAgent.match(/Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/)) {
			touchDevice = (totalSlides &gt; 1);
		}
		
		onDocumentReady((event) =&gt; {
			$(&#039;.bxslider&#039;).bxSlider({
				touchEnabled: touchDevice,
				speed: 300,
				pagerCustom: &#039;.bxslider-pager&#039;,
				adaptiveHeight: true,
				nextText: &#039;{{ trans(&#039;global.bxslider.nextText&#039;) }}&#039;,
				prevText: &#039;{{ trans(&#039;global.bxslider.prevText&#039;) }}&#039;,
				startText: &#039;{{ trans(&#039;global.bxslider.startText&#039;) }}&#039;,
				stopText: &#039;{{ trans(&#039;global.bxslider.stopText&#039;) }}&#039;
			});
			
			/* Full Size Images Gallery */
			$(document).on(&#039;mousedown&#039;, &#039;.bxslider img&#039;, function (e) {
				e.preventDefault();
				
				let currentSrc = $(this).attr(&#039;src&#039;);
				let imgTitle = &quot;{{ data_get($post, &#039;title&#039;) }}&quot;;
				
				let wrapperSelector = &#039;.bxslider img:not(.default-picture)&#039;;
				let imgSrcArray = getFullSizeSrcOfAllImg(wrapperSelector, currentSrc);
				if (imgSrcArray === undefined || imgSrcArray.length === 0) {
					return false;
				}
				
				{{-- Load full size pictures slides dynamically --}}
				let swipeboxItems = formatImgSrcArrayForSwipebox(imgSrcArray, imgTitle);
				let swipeboxOptions = {
					hideBarsDelay: (1000 * 60 * 5),
					loopAtEnd: false
				};
				$.swipebox(swipeboxItems, swipeboxOptions);
			});
		});
	&lt;/script&gt;
@endsection


<hr>
<!-- PEDROO_NEXT_FILE: /ads/resources/views/front/post/show/partials/pictures-slider/swiper-horizontal.blade.php -->
<!-- PEDROO_NEXT_DIR: /ads/resources/views/front/search -->

</body>
</html>