<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>/ads/resources/views/front/post/show/partials/pictures-slider/swiper-vertical.blade.php</title>
<style>
body { font-family: monospace; white-space: pre; }
</style>
</head>
<body>
@php
	$titleSlug ??= &#039;&#039;;
@endphp
{{-- Swiper - Vertical Thumbnails --}}
&lt;div class=&quot;gallery-container&quot;&gt;
	&lt;div class=&quot;swiper-container main-gallery&quot;&gt;
		&lt;div class=&quot;swiper-wrapper&quot;&gt;
			@forelse($pictures as $key =&gt; $image)
				@if (!empty($price))
					&lt;div class=&quot;p-price-tag&quot;&gt;{!! $price !!}&lt;/div&gt;
				@endif
				&lt;div class=&quot;swiper-slide&quot;&gt;
					@php
						$src = data_get($image, &#039;url.large&#039;);
						$webpSrc = data_get($image, &#039;url.webp.large&#039;);
						$alt = $titleSlug . &#039;-big-&#039; . $key;
						echo generateImageHtml($src, $alt, $webpSrc);
					@endphp
				&lt;/div&gt;
			@empty
				@if (!empty($price))
					&lt;div class=&quot;p-price-tag&quot;&gt;{!! $price !!}&lt;/div&gt;
				@endif
				&lt;div class=&quot;swiper-slide&quot;&gt;
					&lt;img src=&quot;{{ thumbParam(config(&#039;larapen.media.picture&#039;))-&gt;url() }}&quot; alt=&quot;img&quot; class=&quot;default-picture&quot;&gt;
				&lt;/div&gt;
			@endforelse
			
			&lt;div class=&quot;swiper-button-prev&quot;&gt;&lt;/div&gt;
			&lt;div class=&quot;swiper-button-next&quot;&gt;&lt;/div&gt;
		&lt;/div&gt;
	&lt;/div&gt;
	&lt;div class=&quot;swiper-container thumbs-gallery&quot;&gt;
		&lt;div class=&quot;swiper-wrapper&quot;&gt;
			@forelse($pictures as $key =&gt; $image)
				&lt;div class=&quot;swiper-slide&quot;&gt;
					@php
						$src = data_get($image, &#039;url.small&#039;);
						$webpSrc = data_get($image, &#039;url.webp.small&#039;);
						$alt = $titleSlug . &#039;-small-&#039; . $key;
						echo generateImageHtml($src, $alt, $webpSrc);
					@endphp
				&lt;/div&gt;
			@empty
				&lt;div class=&quot;swiper-slide&quot;&gt;
					&lt;img src=&quot;{{ thumbParam(config(&#039;larapen.media.picture&#039;))-&gt;setOption(&#039;picture-sm&#039;)-&gt;url() }}&quot;
					     alt=&quot;img&quot;
					     class=&quot;default-picture&quot;
					&gt;
				&lt;/div&gt;
			@endforelse
		&lt;/div&gt;
	&lt;/div&gt;
&lt;/div&gt;

@section(&#039;after_styles&#039;)
	@parent
	&lt;link href=&quot;{{ url(&#039;assets/plugins/swiper/7.4.1/swiper-bundle.min.css&#039;) }}&quot; rel=&quot;stylesheet&quot;/&gt;
	&lt;link href=&quot;{{ url(&#039;assets/plugins/swiper/7.4.1/swiper-vertical-thumbs.css&#039;) }}&quot; rel=&quot;stylesheet&quot;/&gt;
	@if (config(&#039;lang.direction&#039;) == &#039;rtl&#039;)
		&lt;link href=&quot;{{ url(&#039;assets/plugins/swiper/7.4.1/swiper-vertical-thumbs-rtl.css&#039;) }}&quot; rel=&quot;stylesheet&quot;/&gt;
	@endif
@endsection
@section(&#039;after_scripts&#039;)
	@parent
	&lt;script src=&quot;{{ url(&#039;assets/plugins/swiper/7.4.1/swiper-bundle.min.js&#039;) }}&quot;&gt;&lt;/script&gt;
	&lt;script&gt;
		let totalSlides = {{ is_array($pictures) ? count($pictures) : 0 }};
		onDocumentReady((event) =&gt; {
			let thumbsGalleryOptions = {
				slidesPerView: 4,
				spaceBetween: 10,
				direction: &#039;vertical&#039;,
				slideToClickedSlide: true,
				loopedSlides: 50,
				loop: (totalSlides &gt;= 4),
			};
			let thumbsGallery = new Swiper(&#039;.thumbs-gallery&#039;, thumbsGalleryOptions);
			
			let mainGalleryOptions = {
				speed: 300,
				slidesPerView: 1,
				loop: true,
				loopedSlides: 50,
				navigation: {
					nextEl: &#039;.swiper-button-next&#039;,
					prevEl: &#039;.swiper-button-prev&#039;,
				},
				effect: &#039;fade&#039;,
				fadeEffect: {crossFade: true},
				thumbs: {swiper: thumbsGallery},
				lazy: true,
			};
			let mainGallery = new Swiper(&#039;.main-gallery&#039;, mainGalleryOptions);
			
			$(&#039;.thumbs-gallery&#039;).on(&#039;click&#039;, &#039;.swiper-slide&#039;, function() {
				mainGallery.slideTo($(this).index(), 500);
			});
			
			mainGallery.on(&#039;click&#039;, function (swiper, event) {
				/* console.log(swiper); */
				if (typeof swiper.clickedSlide === &#039;undefined&#039;) {
					return false;
				}
				
				let imgEl = swiper.clickedSlide.querySelector(&#039;img&#039;);
				if (typeof imgEl === &#039;undefined&#039; || typeof imgEl.src === &#039;undefined&#039;) {
					return false;
				}
				
				let currentSrc = imgEl.src;
				let imgTitle = &quot;{{ data_get($post, &#039;title&#039;) }}&quot;;
				
				let wrapperSelector = &#039;.main-gallery .swiper-slide:not(.swiper-slide-duplicate) img:not(.default-picture)&#039;;
				let imgSrcArray = getFullSizeSrcOfAllImg(wrapperSelector, currentSrc);
				if (imgSrcArray === undefined || imgSrcArray.length === 0) {
					return false;
				}
				
				{{-- Load full size pictures slides dynamically --}}
				let swipeboxItems = formatImgSrcArrayForSwipebox(imgSrcArray, imgTitle);
				let swipeboxOptions = {
					hideBarsDelay: (1000 * 60 * 5),
					loopAtEnd: false
				};
				$.swipebox(swipeboxItems, swipeboxOptions);
			});
		});
	&lt;/script&gt;
@endsection


<hr>
<!-- PEDROO_NEXT_FILE: /ads/resources/views/front/post/show/partials/security-tips.blade.php -->
<!-- PEDROO_NEXT_DIR: /ads/resources/views/front/search -->

</body>
</html>