<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>/resources/views/components/input-label.blade.php</title>
<style>
body { font-family: monospace; white-space: pre; }
</style>
</head>
<body>
@props([&#039;value&#039;])

&lt;label {{ $attributes-&gt;merge([&#039;class&#039; =&gt; &#039;block font-medium text-sm text-gray-700&#039;]) }}&gt;
    {{ $value ?? $slot }}
&lt;/label&gt;


<hr>
<!-- PEDROO_NEXT_FILE: /resources/views/components/modal.blade.php -->
<!-- PEDROO_NEXT_DIR: /resources/views/dashboard -->

</body>
</html>