<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>/resources/views/components/secondary-button.blade.php</title>
<style>
body { font-family: monospace; white-space: pre; }
</style>
</head>
<body>
&lt;button {{ $attributes-&gt;merge([&#039;type&#039; =&gt; &#039;button&#039;, &#039;class&#039; =&gt; &#039;inline-flex items-center px-4 py-2 bg-white border border-gray-300 rounded-md font-semibold text-xs text-gray-700 uppercase tracking-widest shadow-sm hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2 disabled:opacity-25 transition ease-in-out duration-150&#039;]) }}&gt;
    {{ $slot }}
&lt;/button&gt;


<hr>
<!-- PEDROO_NEXT_FILE: /resources/views/components/text-input.blade.php -->
<!-- PEDROO_NEXT_DIR: /resources/views/dashboard -->

</body>
</html>