<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>/ads/resources/views/front/account/messenger/partials/sidebar.blade.php</title>
<style>
body { font-family: monospace; white-space: pre; }
</style>
</head>
<body>
@php
	$stats ??= [];
	$countThreadsWithNewMessage = (int)data_get($stats, &#039;threads.withNewMessage&#039;); // not sent
	
	$navLinks = [
		&#039;inbox&#039; =&gt; [
			&#039;label&#039;    =&gt; trans(&#039;global.inbox&#039;),
			&#039;url&#039;      =&gt; url(urlGen()-&gt;getAccountBasePath() . &#039;/messages&#039;),
			&#039;isActive&#039; =&gt; (!request()-&gt;has(&#039;filter&#039;) || request()-&gt;query(&#039;filter&#039;)==&#039;&#039;),
		],
		&#039;unread&#039; =&gt; [
			&#039;label&#039;    =&gt; trans(&#039;global.unread&#039;),
			&#039;url&#039;      =&gt; url(urlGen()-&gt;getAccountBasePath() . &#039;/messages?filter=unread&#039;),
			&#039;isActive&#039; =&gt; (request()-&gt;query(&#039;filter&#039;)==&#039;unread&#039;),
		],
		&#039;started&#039; =&gt; [
			&#039;label&#039;    =&gt; trans(&#039;global.started&#039;),
			&#039;url&#039;      =&gt; url(urlGen()-&gt;getAccountBasePath() . &#039;/messages?filter=started&#039;),
			&#039;isActive&#039; =&gt; (request()-&gt;query(&#039;filter&#039;)==&#039;started&#039;),
		],
		&#039;important&#039; =&gt; [
			&#039;label&#039;    =&gt; trans(&#039;global.important&#039;),
			&#039;url&#039;      =&gt; url(urlGen()-&gt;getAccountBasePath() . &#039;/messages?filter=important&#039;),
			&#039;isActive&#039; =&gt; (request()-&gt;query(&#039;filter&#039;)==&#039;important&#039;),
		],
	];
@endphp
&lt;div class=&quot;col-md-3 col-lg-2&quot;&gt;
	&lt;ul class=&quot;nav nav-pills nav-justified inbox-nav&quot;&gt;
		@foreach($navLinks as $key =&gt; $item)
			@php
				$activeClass = $item[&#039;isActive&#039;] ? &#039; active&#039; : &#039;&#039;;
				$linkUrl = $item[&#039;url&#039;];
				$linkLabel = $item[&#039;label&#039;];
				$activeLinkClass = $item[&#039;isActive&#039;] ? &#039;text-white&#039; : &#039;link-primary&#039;;
			
				$hasBadge = ($key == &#039;inbox&#039;);
				$badgeColor = &#039; &#039; . ($item[&#039;isActive&#039;] ? &#039;text-bg-light&#039; : &#039;text-bg-primary&#039;);
				$badgeVisibility = ($countThreadsWithNewMessage &lt;= 0) ? &#039; d-none&#039; : &#039;&#039;;
				$badgeVisibility = &#039;&#039;;
			@endphp
			&lt;li class=&quot;nav-item&quot;&gt;
				&lt;a class=&quot;nav-link{{ $activeClass }}&quot; href=&quot;{{ $linkUrl }}&quot;&gt;
					{{ $linkLabel }}
					@if ($hasBadge)
						&lt;span class=&quot;count-threads-with-new-messages count badge rounded-pill {{ $badgeColor . $badgeVisibility }}&quot;&gt;
							{{ \App\Helpers\Common\Num::short($countThreadsWithNewMessage) }}
						&lt;/span&gt;
					@endif
				&lt;/a&gt;
			&lt;/li&gt;
		@endforeach
	&lt;/ul&gt;
&lt;/div&gt;


<hr>
<!-- PEDROO_NEXT_FILE: /ads/resources/views/front/account/messenger/show.blade.php -->
<!-- PEDROO_NEXT_DIR: /ads/resources/views/front/account/messenger/threads -->

</body>
</html>