<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>/ads/resources/views/front/layouts/partials/lite/footer.blade.php</title>
<style>
body { font-family: monospace; white-space: pre; }
</style>
</head>
<body>
@php
	// Footer&#039;s theme CSS Class
	$isFooterDarkThemeEnabled = (config(&#039;settings.footer.dark&#039;) == &#039;1&#039;);
	$footerColor = $isFooterDarkThemeEnabled ? &#039; bg-black border-light-subtle text-light text-opacity-75&#039; : &#039; bg-body-tertiary&#039;;
	$linkClass = $isFooterDarkThemeEnabled ? linkClass(&#039;light&#039;) . &#039; link-opacity-75&#039; : linkClass(&#039;body-emphasis&#039;);
@endphp
&lt;footer&gt;
	&lt;div class=&quot;container-fluid border-top{{ $footerColor }} pt-5 pb-5 mt-4&quot;&gt;
		&lt;div class=&quot;container p-0 my-0&quot;&gt;
			
			&lt;div class=&quot;row&quot;&gt;
				&lt;div class=&quot;col-12&quot;&gt;
					&lt;div class=&quot;w-100 d-flex justify-content-between small&quot;&gt;
						@php
							$siteName = config(&#039;settings.app.name&#039;);
							$hidePoweredBy = (config(&#039;settings.footer.hide_powered_by&#039;) == &#039;1&#039;);
							$poweredByInfo = config(&#039;settings.footer.powered_by_text&#039;);
							$copyrightAlignClass = $hidePoweredBy ? &#039;w-100 text-center&#039; : &#039;text-start&#039;;
							$itemName = config(&#039;larapen.core.item.name&#039;, &#039;AppName&#039;);
							$itemUrl = config(&#039;larapen.core.item.url&#039;, &#039;#&#039;);
						@endphp
						&lt;div class=&quot;{{ $copyrightAlignClass }}&quot;&gt;
							&amp;copy; {{ date(&#039;Y&#039;) }} {!! $siteName !!}. {{ trans(&#039;global.all_rights_reserved&#039;) }}.
						&lt;/div&gt;
						@if (!$hidePoweredBy)
							&lt;div class=&quot;text-end&quot;&gt;
								@if (!empty($poweredByInfo))
									{{ trans(&#039;global.Powered by&#039;) }} {!! $poweredByInfo !!}
								@else
									{{ trans(&#039;global.Powered by&#039;) }} &lt;a href=&quot;{{ $itemUrl }}&quot; title=&quot;{{ $itemName }}&quot; class=&quot;{{ $linkClass }}&quot;&gt;{{ $itemName }}&lt;/a&gt;
								@endif
							&lt;/div&gt;
						@endif
					&lt;/div&gt;
				&lt;/div&gt;
			&lt;/div&gt;
			
		&lt;/div&gt;
	&lt;/div&gt;
&lt;/footer&gt;


<hr>
<!-- PEDROO_NEXT_FILE: /ads/resources/views/front/layouts/partials/lite/header.blade.php -->
<!-- PEDROO_NEXT_DIR: /ads/resources/views/front/layouts/partials/modal -->

</body>
</html>