<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>/ads/resources/views/helpers/forms/partials/hint.blade.php</title>
<style>
body { font-family: monospace; white-space: pre; }
</style>
</head>
<body>
@php
	$hint ??= null;
	$hintClass ??= &#039;&#039;;
	
	$hintClass = !empty($hintClass) ? &quot; $hintClass&quot; : &#039;&#039;;
@endphp
@if (!empty($hint))
	&lt;div class=&quot;form-text{{ $hintClass }}&quot;&gt;{!! $hint !!}&lt;/div&gt;
@endif


<hr>
<!-- PEDROO_NEXT_FILE: /ads/resources/views/helpers/forms/partials/label.blade.php -->
<!-- PEDROO_NEXT_DIR: /ads/resources/views/helpers/titles -->

</body>
</html>