<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>/ads/resources/views/helpers/forms/partials/label.blade.php</title>
<style>
body { font-family: monospace; white-space: pre; }
</style>
</head>
<body>
@php
	use Illuminate\Support\ViewErrorBag;
	
	$layout ??= &#039;default&#039;; // default, horizontal
	$isHorizontal = $layout === &#039;horizontal&#039;;
	$colLabel ??= &#039;col-md-3&#039;;
    $colField ??= &#039;col-md-9&#039;;
	
	$viewName ??= null;
	$name ??= &#039;&#039;;
	$label ??= null;
	$labelClass ??= &#039;&#039;;
	$labelRightContent ??= null;
	$required ??= false;
	
	$labelClass = !empty($labelClass) ? &quot; $labelClass&quot; : &#039;&#039;;
	
	$class = $isHorizontal ? &quot;$colLabel col-form-label d-flex justify-content-end&quot; : &#039;form-label&#039;;
	$class = $class . $labelClass;
	
	$dotSepName = arrayFieldToDotNotation($name);
	$id = !empty($id) ? $id : str_replace(&#039;.&#039;, &#039;-&#039;, $dotSepName);
	
	// Handle error class
	$errors ??= new ViewErrorBag;
	$errorBag = ($errors instanceof ViewErrorBag) ? $errors : new ViewErrorBag;
	$isInvalidClass = $errorBag-&gt;has($dotSepName) ? &#039;is-invalid&#039; : &#039;&#039;;
	
	$class .= !empty($class) ? &#039; &#039; . $isInvalidClass : $isInvalidClass;
	
	// Handle label
	if (in_array($viewName, [&#039;checkbox&#039;, &#039;checkbox-switch&#039;])) {
		$label = null;
	}
@endphp
@if (!empty($label))
	@if (!empty($labelRightContent))
		@if ($isHorizontal)
			&lt;label class=&quot;{{ $class }}&quot; for=&quot;{{ $id }}&quot;&gt;
				{!! $label !!}@if ($required)&lt;span class=&quot;text-danger ms-1&quot;&gt;*&lt;/span&gt;@endif {!! &quot;($labelRightContent)&quot; !!}
			&lt;/label&gt;
		@else
			&lt;div class=&quot;row&quot;&gt;
				&lt;label class=&quot;{{ $class }} col-6 text-start&quot; for=&quot;{{ $id }}&quot;&gt;
					{!! $label !!}@if ($required)&lt;span class=&quot;text-danger ms-1&quot;&gt;*&lt;/span&gt;@endif
				&lt;/label&gt;
				&lt;div class=&quot;col-6 text-end&quot;&gt;
					{!! $labelRightContent !!}
				&lt;/div&gt;
			&lt;/div&gt;
		@endif
	@else
		&lt;label class=&quot;{{ $class }}&quot; for=&quot;{{ $id }}&quot;&gt;
			{!! $label !!}@if ($required)&lt;span class=&quot;text-danger ms-1&quot;&gt;*&lt;/span&gt;@endif
		&lt;/label&gt;
	@endif
@else
	@if ($isHorizontal)
		&lt;label class=&quot;{{ $class }}&quot;&gt;&lt;/label&gt;
	@endif
@endif


<hr>
<!-- PEDROO_NEXT_FILE: /ads/resources/views/helpers/forms/partials/newline.blade.php -->
<!-- PEDROO_NEXT_DIR: /ads/resources/views/helpers/titles -->

</body>
</html>