<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>/ads/resources/views/helpers/forms/partials/newline.blade.php</title>
<style>
body { font-family: monospace; white-space: pre; }
</style>
</head>
<body>
@php
	$layout ??= &#039;default&#039;; // default, horizontal
	$isHorizontal = $layout === &#039;horizontal&#039;;
	
	$newline ??= false;
@endphp
@if ($newline &amp;&amp; !$isHorizontal)
	{{-- forces a line-break inside the flex row --}}
	&lt;div class=&quot;w-100&quot;&gt;&lt;/div&gt;
@endif


<hr>
<!-- PEDROO_NEXT_FILE: /ads/resources/views/helpers/forms/partials/validation.blade.php -->
<!-- PEDROO_NEXT_DIR: /ads/resources/views/helpers/titles -->

</body>
</html>