<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>/ads/resources/views/helpers/forms/partials/validation.blade.php</title>
<style>
body { font-family: monospace; white-space: pre; }
</style>
</head>
<body>
@php
	use Illuminate\Support\ViewErrorBag;
	
	$name ??= &#039;field&#039;;
	$showError ??= false;
	$errors ??= new ViewErrorBag;
	$errorBag = ($errors instanceof ViewErrorBag) ? $errors : new ViewErrorBag;
	$errorClass ??= &#039;&#039;;
	
	$errorClass = !empty($errorClass) ? &quot; $errorClass&quot; : &#039;&#039;;
@endphp
@if ($showError &amp;&amp; $errorBag-&gt;has($name))
	&lt;div class=&quot;invalid-feedback{{ $errorClass }}&quot;&gt;{{ $errorBag-&gt;first($name) }}&lt;/div&gt;
@endif


<hr>
<!-- PEDROO_NEXT_FILE: /ads/resources/views/helpers/titles/title-1.blade.php -->
<!-- PEDROO_NEXT_DIR: /ads/resources/views/helpers/titles -->

</body>
</html>