<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>/ads/resources/views/front/post/createOrEdit/partials/category-modal.blade.php</title>
<style>
body { font-family: monospace; white-space: pre; }
</style>
</head>
<body>
@php
	$city ??= null;
	$admin ??= null;
	
	$adminType = config(&#039;country.admin_type&#039;, 0);
	$adminCode = data_get($city, &#039;subadmin&#039; . $adminType . &#039;_code&#039;) ?? data_get($admin, &#039;code&#039;) ?? 0;
@endphp
{{-- Modal Select Category --}}
&lt;div class=&quot;modal fade&quot; id=&quot;browseCategories&quot; tabindex=&quot;-1&quot; aria-labelledby=&quot;categoriesModalLabel&quot; aria-hidden=&quot;true&quot;&gt;
	&lt;div class=&quot;modal-dialog modal-lg modal-dialog-scrollable&quot;&gt;
		&lt;div class=&quot;modal-content&quot;&gt;
			
			&lt;div class=&quot;modal-header px-3&quot;&gt;
				&lt;h4 class=&quot;modal-title fs-5 fw-bold&quot; id=&quot;categoriesModalLabel&quot;&gt;
					&lt;i class=&quot;bi bi-folder-check&quot;&gt;&lt;/i&gt; {{ trans(&#039;global.select_a_category&#039;) }}
				&lt;/h4&gt;
				
				&lt;button type=&quot;button&quot; class=&quot;btn-close&quot; data-bs-dismiss=&quot;modal&quot; aria-label=&quot;{{ trans(&#039;global.Close&#039;) }}&quot;&gt;&lt;/button&gt;
			&lt;/div&gt;
			
			&lt;div class=&quot;modal-body&quot;&gt;
				&lt;div class=&quot;p-0 m-0&quot; id=&quot;selectCats&quot;&gt;&lt;/div&gt;
			&lt;/div&gt;
			
		&lt;/div&gt;
	&lt;/div&gt;
&lt;/div&gt;

@section(&#039;after_scripts&#039;)
	@parent
	&lt;script&gt;
		var editLabel = &#039;{{ trans(&#039;global.Edit&#039;) }}&#039;;
		
		{{-- Modal Default Admin. Code --}}
		var defaultAdminType = &#039;{{ $adminType }}&#039;;
		var defaultAdminCode = &#039;{{ $adminCode }}&#039;;
	&lt;/script&gt;
@endsection


<hr>
<!-- PEDROO_NEXT_FILE: /ads/resources/views/front/post/createOrEdit/partials/category/select.blade.php -->
<!-- PEDROO_NEXT_DIR: /ads/resources/views/front/post/createOrEdit/partials/category -->

</body>
</html>