<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>/ads/resources/views/front/post/createOrEdit/partials/fields.blade.php</title>
<style>
body { font-family: monospace; white-space: pre; }
</style>
</head>
<body>
@php
	$langCode ??= ($languageCode ?? null);
	$langCode = $langCode ?? config(&#039;app.locale&#039;, session(&#039;langCode&#039;));
	$langDirection = config(&#039;lang.direction&#039;);
	$isRtl = $pluginOptions[&#039;rtl&#039;] ?? (($langDirection == &#039;rtl&#039;) ? &#039;true&#039; : &#039;false&#039;);
	
	$fields ??= [];
	$errors ??= [];
	$oldInput ??= [];
	
	$fiTheme = config(&#039;larapen.core.fileinput.theme&#039;, &#039;bs5&#039;);
	$fiFileLoadingMessage ??= trans(&#039;global.loading_wd&#039;);
	$serverAllowedImageFormatsJson = collect(getServerAllowedImageFormats())-&gt;toJson();
@endphp
@if (!empty($fields))
	@foreach($fields as $field)
		@php
			$modelFieldId = data_get($field, &#039;id&#039;);
			$modelFieldType = data_get($field, &#039;type&#039;);
			$modelDefaultValue = data_get($field, &#039;default_value&#039;);
			
			// Fields parameters
			$fieldId = &#039;cf.&#039; . $modelFieldId;
			$fieldName = &#039;cf[&#039; . $modelFieldId . &#039;]&#039;;
			$fieldOld = &#039;cf.&#039; . $modelFieldId;
			
			// Errors &amp; Required CSS
			$requiredClass = (data_get($field, &#039;required&#039;) == 1) ? &#039;required&#039; : &#039;&#039;;
			$errorClass = (isset($errors[$fieldOld])) ? &#039; is-invalid&#039; : &#039;&#039;;
			
			// Get the default value
			$defaultValue = $oldInput[$modelFieldId] ?? $modelDefaultValue;
			
			// Get field other attributes
			$fieldOptions = data_get($field, &#039;options&#039;) ?? [];
			$fieldOptions = is_array($fieldOptions) ? $fieldOptions : [];
		@endphp
		
		@if ($modelFieldType == &#039;checkbox&#039;)
			
			{{-- checkbox --}}
			@include(&#039;helpers.forms.fields.checkbox&#039;, [
				&#039;label&#039;          =&gt; data_get($field, &#039;name&#039;) . &#039;-aa&#039;,
				&#039;id&#039;             =&gt; $fieldId,
				&#039;name&#039;           =&gt; $fieldName,
				&#039;required&#039;       =&gt; (data_get($field, &#039;required&#039;) == 1),
				&#039;value&#039;          =&gt; $defaultValue,
				&#039;hint&#039;           =&gt; data_get($field, &#039;help&#039;),
				&#039;isInvalidClass&#039; =&gt; $errorClass,
			])
		
		@elseif ($modelFieldType == &#039;checkbox_multiple&#039;)
			
			@if (!empty($fieldOptions))
				{{-- checkbox_multiple --}}
				@php
					$checkedBoxes = $modelDefaultValue;
					
					$checkboxes = collect($fieldOptions)
						-&gt;mapWithKeys(function($option) use (
							$fieldId, $fieldName, $checkedBoxes, $oldInput, $modelFieldId
						) {
							$optionId = $option[&#039;id&#039;] ?? null;
							$optionValue = $option[&#039;value&#039;] ?? null;
							
							// Get the checkbox attributes value
							$checkboxLabel = $optionValue;
							$checkboxId = $fieldId . &#039;_&#039; . $optionId;
							$checkboxName = $fieldName . &#039;[&#039; . $optionId . &#039;]&#039;;
							$checkboxValue = is_array($checkedBoxes) ? ($checkedBoxes[$optionId][&#039;id&#039;] ?? null) : $checkedBoxes;
							// $checkboxValue = is_array($checkedBoxes) ? ($checkedBoxes[$optionId] ?? $optionValue) : $optionValue;
							$checkboxValue = $oldInput[$modelFieldId][$optionId] ?? $checkboxValue;
							
							return [
								$optionId =&gt; [
									&#039;label&#039;     =&gt; $checkboxLabel,
									&#039;id&#039;        =&gt; $checkboxId,
									&#039;name&#039;      =&gt; $checkboxName,
									&#039;value&#039;     =&gt; $checkboxValue,
									&#039;isChecked&#039; =&gt; ($checkboxValue == $optionId),
								],
							];
						})-&gt;toArray();
					
					$defaultValue = collect($defaultValue)-&gt;pluck(&#039;id&#039;, &#039;id&#039;)-&gt;toArray();
				@endphp
				@include(&#039;helpers.forms.fields.checklist&#039;, [
					&#039;label&#039;          =&gt; data_get($field, &#039;name&#039;),
					&#039;id&#039;             =&gt; $fieldId,
					&#039;name&#039;           =&gt; $fieldName,
					&#039;required&#039;       =&gt; (data_get($field, &#039;required&#039;) == 1),
					&#039;checkboxes&#039;     =&gt; $checkboxes,
					&#039;col&#039;            =&gt; 12,
					&#039;value&#039;          =&gt; $defaultValue,
					&#039;hint&#039;           =&gt; data_get($field, &#039;help&#039;),
					&#039;isInvalidClass&#039; =&gt; $errorClass,
				])
			@endif
			
		@elseif ($modelFieldType == &#039;file&#039;)
			
			{{-- file --}}
			@php
				$fileHint =  data_get($field, &#039;help&#039;)
					. &#039;&lt;br&gt;&#039; . trans(&#039;global.file_types&#039;, [&#039;file_types&#039; =&gt; getAllowedFileFormatsHint()], $langCode);
			@endphp
			@include(&#039;helpers.forms.fields.fileinput&#039;, [
				&#039;label&#039;    =&gt; data_get($field, &#039;name&#039;),
				&#039;id&#039;       =&gt; $fieldId,
				&#039;name&#039;     =&gt; $fieldName,
				&#039;required&#039; =&gt; (data_get($field, &#039;required&#039;) == 1),
				&#039;value&#039;    =&gt; [
					&#039;key&#039;  =&gt; 1,
					&#039;path&#039; =&gt; $modelDefaultValue,
					&#039;url&#039;  =&gt; privateFileUrl($modelDefaultValue, null),
				],
				&#039;hint&#039;           =&gt; $fileHint,
				&#039;downloadable&#039;   =&gt; true,
				&#039;isInvalidClass&#039; =&gt; $errorClass,
			])
		
		@elseif ($modelFieldType == &#039;radio&#039;)
			
			@if (!empty($fieldOptions))
				{{-- radio --}}
				@include(&#039;helpers.forms.fields.radio&#039;, [
					&#039;label&#039;           =&gt; data_get($field, &#039;name&#039;),
					&#039;name&#039;            =&gt; $fieldName,
					&#039;inline&#039;          =&gt; true,
					&#039;required&#039;        =&gt; (data_get($field, &#039;required&#039;) == 1),
					&#039;options&#039;         =&gt; $fieldOptions,
					&#039;optionValueName&#039; =&gt; &#039;id&#039;,
					&#039;optionTextName&#039;  =&gt; &#039;value&#039;,
					&#039;value&#039;           =&gt; $defaultValue,
					&#039;hint&#039;            =&gt; data_get($field, &#039;help&#039;),
					&#039;isInvalidClass&#039;  =&gt; $errorClass,
				])
			@endif
		
		@elseif ($modelFieldType == &#039;select&#039;)
			
			{{-- select --}}
			@include(&#039;helpers.forms.fields.select2&#039;, [
				&#039;label&#039;           =&gt; data_get($field, &#039;name&#039;),
				&#039;id&#039;              =&gt; $fieldId,
				&#039;name&#039;            =&gt; $fieldName,
				&#039;required&#039;        =&gt; (data_get($field, &#039;required&#039;) == 1),
				&#039;placeholder&#039;     =&gt; trans(&#039;global.Select&#039;, [], $langCode),
				&#039;options&#039;         =&gt; $fieldOptions,
				&#039;optionValueName&#039; =&gt; &#039;id&#039;,
				&#039;optionTextName&#039;  =&gt; &#039;value&#039;,
				&#039;value&#039;           =&gt; $defaultValue,
				&#039;hint&#039;            =&gt; data_get($field, &#039;help&#039;),
				&#039;isInvalidClass&#039;  =&gt; $errorClass,
			])
		
		@elseif ($modelFieldType == &#039;textarea&#039;)
			
			{{-- textarea --}}
			@php
				$textAreaAttributes = [&#039;rows&#039; =&gt; 10];
				$fieldMax = (int)data_get($field, &#039;max&#039;);
				if (!empty($fieldMax)) {
					$textAreaAttributes[&#039;maxlength&#039;] = $fieldMax;
				}
			@endphp
			@include(&#039;helpers.forms.fields.textarea&#039;, [
				&#039;label&#039;       =&gt; data_get($field, &#039;name&#039;),
				&#039;id&#039;          =&gt; $fieldId,
				&#039;name&#039;        =&gt; $fieldName,
				&#039;placeholder&#039; =&gt; data_get($field, &#039;name&#039;),
				&#039;required&#039;    =&gt; (data_get($field, &#039;required&#039;) == 1),
				&#039;value&#039;       =&gt; $defaultValue,
				&#039;attributes&#039;  =&gt; $textAreaAttributes,
				&#039;hint&#039;        =&gt; data_get($field, &#039;help&#039;),
				&#039;isInvalidClass&#039; =&gt; $errorClass,
			])
		
		@elseif ($modelFieldType == &#039;url&#039;)
			
			{{-- url --}}
			@include(&#039;helpers.forms.fields.url&#039;, [
				&#039;label&#039;       =&gt; data_get($field, &#039;name&#039;),
				&#039;id&#039;          =&gt; $fieldId,
				&#039;name&#039;        =&gt; $fieldName,
				&#039;placeholder&#039; =&gt; data_get($field, &#039;name&#039;),
				&#039;required&#039;    =&gt; (data_get($field, &#039;required&#039;) == 1),
				&#039;value&#039;       =&gt; $defaultValue,
				&#039;hint&#039;        =&gt; data_get($field, &#039;help&#039;),
				&#039;isInvalidClass&#039; =&gt; $errorClass,
			])
		
		@elseif ($modelFieldType == &#039;number&#039;)
			
			{{-- number --}}
			@php
				$numberAttributes = [];
				$fieldMax = (int)data_get($field, &#039;max&#039;);
				if (!empty($fieldMax)) {
					$numberAttributes[&#039;max&#039;] = $fieldMax;
				}
			@endphp
			@include(&#039;helpers.forms.fields.number&#039;, [
				&#039;label&#039;       =&gt; data_get($field, &#039;name&#039;),
				&#039;id&#039;          =&gt; $fieldId,
				&#039;name&#039;        =&gt; $fieldName,
				&#039;placeholder&#039; =&gt; data_get($field, &#039;name&#039;),
				&#039;required&#039;    =&gt; (data_get($field, &#039;required&#039;) == 1),
				&#039;value&#039;       =&gt; $defaultValue,
				&#039;attributes&#039;  =&gt; $numberAttributes,
				&#039;hint&#039;        =&gt; data_get($field, &#039;help&#039;),
				&#039;isInvalidClass&#039; =&gt; $errorClass,
			])
		
		@elseif ($modelFieldType == &#039;date&#039;)
			
			{{-- date --}}
			@include(&#039;helpers.forms.fields.daterangepicker-date&#039;, [
				&#039;label&#039;       =&gt; data_get($field, &#039;name&#039;),
				&#039;id&#039;          =&gt; $fieldId,
				&#039;name&#039;        =&gt; $fieldName,
				&#039;placeholder&#039; =&gt; data_get($field, &#039;name&#039;),
				&#039;required&#039;    =&gt; (data_get($field, &#039;required&#039;) == 1),
				&#039;value&#039;       =&gt; $defaultValue,
				&#039;hint&#039;        =&gt; data_get($field, &#039;help&#039;),
				&#039;isInvalidClass&#039; =&gt; $errorClass,
			])
			
		@elseif ($modelFieldType == &#039;date_time&#039;)
			
			{{-- date_time --}}
			@include(&#039;helpers.forms.fields.daterangepicker-datetime&#039;, [
				&#039;label&#039;       =&gt; data_get($field, &#039;name&#039;),
				&#039;id&#039;          =&gt; $fieldId,
				&#039;name&#039;        =&gt; $fieldName,
				&#039;placeholder&#039; =&gt; data_get($field, &#039;name&#039;),
				&#039;required&#039;    =&gt; (data_get($field, &#039;required&#039;) == 1),
				&#039;value&#039;       =&gt; $defaultValue,
				&#039;hint&#039;        =&gt; data_get($field, &#039;help&#039;),
				&#039;isInvalidClass&#039; =&gt; $errorClass,
			])
			
		@elseif ($modelFieldType == &#039;date_range&#039;)
			
			{{-- date_range --}}
			@include(&#039;helpers.forms.fields.daterangepicker-daterange&#039;, [
				&#039;label&#039;       =&gt; data_get($field, &#039;name&#039;),
				&#039;id&#039;          =&gt; $fieldId,
				&#039;name&#039;        =&gt; $fieldName,
				&#039;placeholder&#039; =&gt; data_get($field, &#039;name&#039;),
				&#039;required&#039;    =&gt; (data_get($field, &#039;required&#039;) == 1),
				&#039;value&#039;       =&gt; $defaultValue,
				&#039;hint&#039;        =&gt; data_get($field, &#039;help&#039;),
				&#039;isInvalidClass&#039; =&gt; $errorClass,
			])
			
		@else
			
			{{-- text --}}
			@php
				$textAttributes = [];
				$fieldMax = (int)data_get($field, &#039;max&#039;);
				if (!empty($fieldMax)) {
					$textAttributes[&#039;maxlength&#039;] = $fieldMax;
				}
			@endphp
			@include(&#039;helpers.forms.fields.text&#039;, [
				&#039;label&#039;       =&gt; data_get($field, &#039;name&#039;),
				&#039;id&#039;          =&gt; $fieldId,
				&#039;name&#039;        =&gt; $fieldName,
				&#039;placeholder&#039; =&gt; data_get($field, &#039;name&#039;),
				&#039;required&#039;    =&gt; (data_get($field, &#039;required&#039;) == 1),
				&#039;value&#039;       =&gt; $defaultValue,
				&#039;attributes&#039;  =&gt; $textAttributes,
				&#039;hint&#039;        =&gt; data_get($field, &#039;help&#039;),
				&#039;isInvalidClass&#039; =&gt; $errorClass,
			])
			
		@endif
	@endforeach
@endif

{{--
	During XHR requests assets stack are not pushed. ---
	So, here below the JS code linked to the fields loaded using XHR request.
	Note: The JS plugins files are loaded in the parent views:
	e.g. resources/views/front/post/createOrEdit/inc/form-assets.blade.php
--}}
&lt;script&gt;
	{{-- Select2 --}}
	onDocumentReady((event) =&gt; {
		const lang = &#039;{{ $langCode }}&#039;;
		const dir = &#039;{{ $langDirection }}&#039;;
		const theme = &#039;bootstrap-5&#039;;
		const select2Els = $(&#039;#cfContainer .select2-from-array&#039;);
		const largeSelect2Els = $(&#039;#cfContainer .select2-from-large-array&#039;);
		
		const options = {
			lang: lang, {{-- No effect, use the &quot;options.language&quot; property --}}
			dir: dir,
			width: &#039;100%&#039;,
			dropdownAutoWidth: &#039;true&#039;,
			minimumResultsForSearch: Infinity, /* Hiding the search box */
		};
		
		if (typeof langLayout !== &#039;undefined&#039; &amp;&amp; typeof langLayout.select2 !== &#039;undefined&#039;) {
			options.language = langLayout.select2;
		}
		if (typeof theme !== &#039;undefined&#039;) {
			options.theme = theme;
		}
		
		/* Non-searchable select boxes */
		if (select2Els.length) {
			select2Els.each((index, element) =&gt; {
				if (!$(element).hasClass(&#039;select2-hidden-accessible&#039;)) {
					if (typeof theme !== &#039;undefined&#039;) {
						if (theme === &#039;bootstrap-5&#039;) {
							let widthOption = $(element).hasClass(&#039;w-100&#039;) ? &#039;100%&#039; : &#039;style&#039;;
							options.width = $(element).data(&#039;width&#039;) ? $(element).data(&#039;width&#039;) : widthOption;
							options.placeholder = $(element).data(&#039;placeholder&#039;);
						}
					}
					
					$(element).select2(options);
					
					/* Indicate that the value of this field has changed */
					$(element).on(&#039;select2:select&#039;, (e) =&gt; {
						element.dispatchEvent(new Event(&#039;input&#039;, {bubbles: true}));
					});
				}
			});
		}
		
		/* Searchable select boxes */
		if (largeSelect2Els.length) {
			largeSelect2Els.each((index, element) =&gt; {
				if (!$(element).hasClass(&#039;select2-hidden-accessible&#039;)) {
					if (typeof theme !== &#039;undefined&#039;) {
						if (theme === &#039;bootstrap-5&#039;) {
							const widthOption = $(element).hasClass(&#039;w-100&#039;) ? &#039;100%&#039; : &#039;style&#039;;
							const width = $(element).data(&#039;width&#039;);
							options.width = width ? width : widthOption;
							options.placeholder = $(element).data(&#039;placeholder&#039;);
						}
					}
					
					delete options.minimumResultsForSearch;
					$(element).select2(options);
					
					/* Indicate that the value of this field has changed */
					$(element).on(&#039;select2:select&#039;, (e) =&gt; {
						element.dispatchEvent(new Event(&#039;input&#039;, {bubbles: true}));
					});
				}
			});
		}
	});
	
	{{-- File Input --}}
	onDocumentReady((event) =&gt; {
		var fiOptions = {};
		fiOptions.theme = &#039;{{ $fiTheme }}&#039;;
		fiOptions.language = &#039;{{ $langCode }}&#039;;
		fiOptions.rtl = {{ $isRtl }};
		fiOptions.showUpload = false;
		fiOptions.showRemove = false;
		fiOptions.showCancel = true;
		fiOptions.showPreview = false;
		fiOptions.dropZoneEnabled = false;
		fiOptions.browseOnZoneClick = false;
		
		const $fileInputEl = $(&#039;#cfContainer .file&#039;);
		$fileInputEl.fileinput(fiOptions);
	});
	
	{{-- Date Picker --}}
	onDocumentReady((event) =&gt; {
		/*
		 * Custom Fields Date Picker
		 * https://www.daterangepicker.com/#options
		 */
		{{-- Single Date --}}
		let dateEl = $(&#039;#cfContainer .be-select-date&#039;);
		dateEl.daterangepicker({
			autoUpdateInput: false,
			autoApply: true,
			showDropdowns: true,
			minYear: parseInt(moment().format(&#039;YYYY&#039;)) - 100,
			maxYear: parseInt(moment().format(&#039;YYYY&#039;)) + 20,
			locale: {
				format: &#039;{{ trans(&#039;global.datepicker_format&#039;) }}&#039;,
				applyLabel: &quot;{{ trans(&#039;global.datepicker_applyLabel&#039;) }}&quot;,
				cancelLabel: &quot;{{ trans(&#039;global.datepicker_cancelLabel&#039;) }}&quot;,
				fromLabel: &quot;{{ trans(&#039;global.datepicker_fromLabel&#039;) }}&quot;,
				toLabel: &quot;{{ trans(&#039;global.datepicker_toLabel&#039;) }}&quot;,
				customRangeLabel: &quot;{{ trans(&#039;global.datepicker_customRangeLabel&#039;) }}&quot;,
				weekLabel: &quot;{{ trans(&#039;global.datepicker_weekLabel&#039;) }}&quot;,
				daysOfWeek: [
					&quot;{{ trans(&#039;global.datepicker_sunday&#039;) }}&quot;,
					&quot;{{ trans(&#039;global.datepicker_monday&#039;) }}&quot;,
					&quot;{{ trans(&#039;global.datepicker_tuesday&#039;) }}&quot;,
					&quot;{{ trans(&#039;global.datepicker_wednesday&#039;) }}&quot;,
					&quot;{{ trans(&#039;global.datepicker_thursday&#039;) }}&quot;,
					&quot;{{ trans(&#039;global.datepicker_friday&#039;) }}&quot;,
					&quot;{{ trans(&#039;global.datepicker_saturday&#039;) }}&quot;
				],
				monthNames: [
					&quot;{{ trans(&#039;global.January&#039;) }}&quot;,
					&quot;{{ trans(&#039;global.February&#039;) }}&quot;,
					&quot;{{ trans(&#039;global.March&#039;) }}&quot;,
					&quot;{{ trans(&#039;global.April&#039;) }}&quot;,
					&quot;{{ trans(&#039;global.May&#039;) }}&quot;,
					&quot;{{ trans(&#039;global.June&#039;) }}&quot;,
					&quot;{{ trans(&#039;global.July&#039;) }}&quot;,
					&quot;{{ trans(&#039;global.August&#039;) }}&quot;,
					&quot;{{ trans(&#039;global.September&#039;) }}&quot;,
					&quot;{{ trans(&#039;global.October&#039;) }}&quot;,
					&quot;{{ trans(&#039;global.November&#039;) }}&quot;,
					&quot;{{ trans(&#039;global.December&#039;) }}&quot;
				],
				firstDay: 1
			},
			singleDatePicker: true,
			startDate: moment().format(&#039;{{ trans(&#039;global.datepicker_format&#039;) }}&#039;)
		});
		dateEl.on(&#039;apply.daterangepicker&#039;, function(ev, picker) {
			$(this).val(picker.startDate.format(&#039;{{ trans(&#039;global.datepicker_format&#039;) }}&#039;));
		});
		
		{{-- Single Date (with Time) --}}
		let dateTimeEl = $(&#039;#cfContainer .be-select-datetime&#039;);
		dateTimeEl.daterangepicker({
			autoUpdateInput: false,
			autoApply: true,
			showDropdowns: false,
			minYear: parseInt(moment().format(&#039;YYYY&#039;)) - 100,
			maxYear: parseInt(moment().format(&#039;YYYY&#039;)) + 20,
			locale: {
				format: &#039;{{ trans(&#039;global.datepicker_format_datetime&#039;) }}&#039;,
				applyLabel: &quot;{{ trans(&#039;global.datepicker_applyLabel&#039;) }}&quot;,
				cancelLabel: &quot;{{ trans(&#039;global.datepicker_cancelLabel&#039;) }}&quot;,
				fromLabel: &quot;{{ trans(&#039;global.datepicker_fromLabel&#039;) }}&quot;,
				toLabel: &quot;{{ trans(&#039;global.datepicker_toLabel&#039;) }}&quot;,
				customRangeLabel: &quot;{{ trans(&#039;global.datepicker_customRangeLabel&#039;) }}&quot;,
				weekLabel: &quot;{{ trans(&#039;global.datepicker_weekLabel&#039;) }}&quot;,
				daysOfWeek: [
					&quot;{{ trans(&#039;global.datepicker_sunday&#039;) }}&quot;,
					&quot;{{ trans(&#039;global.datepicker_monday&#039;) }}&quot;,
					&quot;{{ trans(&#039;global.datepicker_tuesday&#039;) }}&quot;,
					&quot;{{ trans(&#039;global.datepicker_wednesday&#039;) }}&quot;,
					&quot;{{ trans(&#039;global.datepicker_thursday&#039;) }}&quot;,
					&quot;{{ trans(&#039;global.datepicker_friday&#039;) }}&quot;,
					&quot;{{ trans(&#039;global.datepicker_saturday&#039;) }}&quot;
				],
				monthNames: [
					&quot;{{ trans(&#039;global.January&#039;) }}&quot;,
					&quot;{{ trans(&#039;global.February&#039;) }}&quot;,
					&quot;{{ trans(&#039;global.March&#039;) }}&quot;,
					&quot;{{ trans(&#039;global.April&#039;) }}&quot;,
					&quot;{{ trans(&#039;global.May&#039;) }}&quot;,
					&quot;{{ trans(&#039;global.June&#039;) }}&quot;,
					&quot;{{ trans(&#039;global.July&#039;) }}&quot;,
					&quot;{{ trans(&#039;global.August&#039;) }}&quot;,
					&quot;{{ trans(&#039;global.September&#039;) }}&quot;,
					&quot;{{ trans(&#039;global.October&#039;) }}&quot;,
					&quot;{{ trans(&#039;global.November&#039;) }}&quot;,
					&quot;{{ trans(&#039;global.December&#039;) }}&quot;
				],
				firstDay: 1
			},
			singleDatePicker: true,
			timePicker: true,
			timePicker24Hour: true,
			startDate: moment().format(&#039;{{ trans(&#039;global.datepicker_format_datetime&#039;) }}&#039;)
		});
		dateTimeEl.on(&#039;apply.daterangepicker&#039;, function(ev, picker) {
			$(this).val(picker.startDate.format(&#039;{{ trans(&#039;global.datepicker_format_datetime&#039;) }}&#039;));
		});
		
		{{-- Date Range --}}
		let dateRangeEl = $(&#039;#cfContainer .be-select-daterange&#039;);
		dateRangeEl.daterangepicker({
			autoUpdateInput: false,
			autoApply: true,
			showDropdowns: false,
			minYear: parseInt(moment().format(&#039;YYYY&#039;)) - 100,
			maxYear: parseInt(moment().format(&#039;YYYY&#039;)) + 20,
			locale: {
				format: &#039;{{ trans(&#039;global.datepicker_format&#039;) }}&#039;,
				applyLabel: &quot;{{ trans(&#039;global.datepicker_applyLabel&#039;) }}&quot;,
				cancelLabel: &quot;{{ trans(&#039;global.datepicker_cancelLabel&#039;) }}&quot;,
				fromLabel: &quot;{{ trans(&#039;global.datepicker_fromLabel&#039;) }}&quot;,
				toLabel: &quot;{{ trans(&#039;global.datepicker_toLabel&#039;) }}&quot;,
				customRangeLabel: &quot;{{ trans(&#039;global.datepicker_customRangeLabel&#039;) }}&quot;,
				weekLabel: &quot;{{ trans(&#039;global.datepicker_weekLabel&#039;) }}&quot;,
				daysOfWeek: [
					&quot;{{ trans(&#039;global.datepicker_sunday&#039;) }}&quot;,
					&quot;{{ trans(&#039;global.datepicker_monday&#039;) }}&quot;,
					&quot;{{ trans(&#039;global.datepicker_tuesday&#039;) }}&quot;,
					&quot;{{ trans(&#039;global.datepicker_wednesday&#039;) }}&quot;,
					&quot;{{ trans(&#039;global.datepicker_thursday&#039;) }}&quot;,
					&quot;{{ trans(&#039;global.datepicker_friday&#039;) }}&quot;,
					&quot;{{ trans(&#039;global.datepicker_saturday&#039;) }}&quot;
				],
				monthNames: [
					&quot;{{ trans(&#039;global.January&#039;) }}&quot;,
					&quot;{{ trans(&#039;global.February&#039;) }}&quot;,
					&quot;{{ trans(&#039;global.March&#039;) }}&quot;,
					&quot;{{ trans(&#039;global.April&#039;) }}&quot;,
					&quot;{{ trans(&#039;global.May&#039;) }}&quot;,
					&quot;{{ trans(&#039;global.June&#039;) }}&quot;,
					&quot;{{ trans(&#039;global.July&#039;) }}&quot;,
					&quot;{{ trans(&#039;global.August&#039;) }}&quot;,
					&quot;{{ trans(&#039;global.September&#039;) }}&quot;,
					&quot;{{ trans(&#039;global.October&#039;) }}&quot;,
					&quot;{{ trans(&#039;global.November&#039;) }}&quot;,
					&quot;{{ trans(&#039;global.December&#039;) }}&quot;
				],
				firstDay: 1
			},
			startDate: moment().format(&#039;{{ trans(&#039;global.datepicker_format&#039;) }}&#039;),
			endDate: moment().add(1, &#039;days&#039;).format(&#039;{{ trans(&#039;global.datepicker_format&#039;) }}&#039;)
		});
		dateRangeEl.on(&#039;apply.daterangepicker&#039;, function(ev, picker) {
			$(this).val(picker.startDate.format(&#039;{{ trans(&#039;global.datepicker_format&#039;) }}&#039;) + &#039; - &#039; + picker.endDate.format(&#039;{{ trans(&#039;global.datepicker_format&#039;) }}&#039;));
		});
	});
&lt;/script&gt;


<hr>
<!-- PEDROO_NEXT_FILE: /ads/resources/views/front/post/createOrEdit/partials/form-assets.blade.php -->
<!-- PEDROO_NEXT_DIR: /ads/resources/views/front/post/createOrEdit/partials/category -->

</body>
</html>