<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>/ads/resources/views/front/search/partials/call-to-action.blade.php</title>
<style>
body { font-family: monospace; white-space: pre; }
</style>
</head>
<body>
@php
	$startNowUrl = !doesGuestHaveAbilityToCreateListings() ? urlGen()-&gt;signInModal() : urlGen()-&gt;addPost();
@endphp
&lt;div class=&quot;container mb-4&quot;&gt;
	&lt;div class=&quot;card bg-body-tertiary border text-secondary p-3&quot;&gt;
		&lt;div class=&quot;card-body text-center&quot;&gt;
			&lt;h3 class=&quot;fs-3 fw-bold&quot;&gt;
				{{ trans(&#039;global.do_you_have_anything&#039;) }}
			&lt;/h3&gt;
			&lt;h5 class=&quot;fs-5 mb-4&quot;&gt;
				{{ trans(&#039;global.sell_products_and_services_online_for_free&#039;) }}
			&lt;/h5&gt;
			&lt;a href=&quot;{!! $startNowUrl !!}&quot; class=&quot;btn btn-primary px-3&quot;&gt;
				{{ trans(&#039;global.start_now&#039;) }}
			&lt;/a&gt;
		&lt;/div&gt;
	&lt;/div&gt;
&lt;/div&gt;


<hr>
<!-- PEDROO_NEXT_FILE: /ads/resources/views/front/search/partials/categories-root.blade.php -->
<!-- PEDROO_NEXT_DIR: /ads/resources/views/front/search/partials/posts -->

</body>
</html>