<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>/ads/resources/views/front/search/partials/categories.blade.php</title>
<style>
body { font-family: monospace; white-space: pre; }
</style>
</head>
<body>
@php
	$hideOnXsOrLower = &#039;d-none d-sm-block&#039;;
	$linkClass = linkClass();
@endphp
@if (!empty($cat) || !empty($cats))
&lt;div class=&quot;container mb-3 {{ $hideOnXsOrLower }}&quot;&gt;
	@if (!empty($cat))
		@if (!empty(data_get($cat, &#039;children&#039;)))
			&lt;div class=&quot;row row-cols-lg-4 row-cols-md-3 row-cols-2 p-2 g-2&quot; id=&quot;categoryBadge&quot;&gt;
				@foreach (data_get($cat, &#039;children&#039;) as $iSubCat)
					&lt;div class=&quot;col&quot;&gt;
						&lt;a href=&quot;{{ urlGen()-&gt;category($iSubCat, null, $city ?? null) }}&quot; class=&quot;{{ $linkClass }}&quot;&gt;
							@if (in_array(config(&#039;settings.listings_list.show_category_icon&#039;), [3, 5, 7, 8]))
								&lt;i class=&quot;{{ data_get($iSubCat, &#039;icon_class&#039;) ?? &#039;bi bi-folder-fill&#039; }}&quot;&gt;&lt;/i&gt;
							@endif
							{{ data_get($iSubCat, &#039;name&#039;) }}
						&lt;/a&gt;
					&lt;/div&gt;
				@endforeach
			&lt;/div&gt;
		@else
			@if (!empty(data_get($cat, &#039;parent.children&#039;)))
				&lt;div class=&quot;row row-cols-lg-4 row-cols-md-3 row-cols-2 p-2 g-2&quot; id=&quot;categoryBadge&quot;&gt;
					@foreach (data_get($cat, &#039;parent.children&#039;) as $iSubCat)
						&lt;div class=&quot;col&quot;&gt;
							@if (data_get($iSubCat, &#039;id&#039;) == data_get($cat, &#039;id&#039;))
								&lt;span class=&quot;fw-bold&quot;&gt;
									@if (in_array(config(&#039;settings.listings_list.show_category_icon&#039;), [3, 5, 7, 8]))
										&lt;i class=&quot;{{ data_get($iSubCat, &#039;icon_class&#039;) ?? &#039;bi bi-folder-fill&#039; }}&quot;&gt;&lt;/i&gt;
									@endif
									{{ data_get($iSubCat, &#039;name&#039;) }}
								&lt;/span&gt;
							@else
								&lt;a href=&quot;{{ urlGen()-&gt;category($iSubCat, null, $city ?? null) }}&quot; class=&quot;{{ $linkClass }}&quot;&gt;
									@if (in_array(config(&#039;settings.listings_list.show_category_icon&#039;), [3, 5, 7, 8]))
										&lt;i class=&quot;{{ data_get($iSubCat, &#039;icon_class&#039;) ?? &#039;bi bi-folder-fill&#039; }}&quot;&gt;&lt;/i&gt;
									@endif
									{{ data_get($iSubCat, &#039;name&#039;) }}
								&lt;/a&gt;
							@endif
						&lt;/div&gt;
					@endforeach
				&lt;/div&gt;
			@else
				
				@include(&#039;front.search.partials.categories-root&#039;)
				
			@endif
		@endif
	@else
		
		@include(&#039;front.search.partials.categories-root&#039;)
		
	@endif
&lt;/div&gt;
@endif


<hr>
<!-- PEDROO_NEXT_FILE: /ads/resources/views/front/search/partials/category-description.blade.php -->
<!-- PEDROO_NEXT_DIR: /ads/resources/views/front/search/partials/posts -->

</body>
</html>