<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>/ads/resources/views/front/search/partials/form.blade.php</title>
<style>
body { font-family: monospace; white-space: pre; }
</style>
</head>
<body>
@php
	$admin ??= null;
	$city ??= null;
	$cat ??= null;
	
	$cats ??= [];
	
	// Keywords
	$keywords = request()-&gt;query(&#039;q&#039;);
	$keywords = is_string($keywords) ? $keywords : null;
	$keywords = rawurldecode($keywords);
	
	// Category
	$qCategory = request()-&gt;query(&#039;c&#039;);
	$qCategory = (is_numeric($qCategory) || is_string($qCategory)) ? $qCategory : null;
	$qCategory = data_get($cat, &#039;id&#039;, $qCategory);
	
	// Location
	$qLocationId = 0;
	$qAdminName = null;
	if (!empty($city)) {
		$qLocationId = data_get($city, &#039;id&#039;) ?? 0;
		$qLocation = data_get($city, &#039;name&#039;);
	} else {
		$qLocationId = request()-&gt;query(&#039;l&#039;);
		$qLocation = request()-&gt;query(&#039;location&#039;);
		$qAdminName = request()-&gt;query(&#039;r&#039;);
		
		$qLocationId = is_numeric($qLocationId) ? $qLocationId : null;
		$qLocation = is_string($qLocation) ? $qLocation : null;
		$qAdminName = is_string($qAdminName) ? $qAdminName : null;
		
		if (!empty($qAdminName)) {
			$qAdminName = data_get($admin, &#039;name&#039;, $qAdminName);
			$isAdminCode = (bool)preg_match(&#039;#^[a-z]{2}\.(.+)$#i&#039;, $qAdminName);
			$qLocation = !$isAdminCode ? trans(&#039;global.area&#039;) . rawurldecode($qAdminName) : null;
		}
	}
	
	// FilterBy
	$qFilterBy = request()-&gt;query(&#039;filterBy&#039;);
	$qFilterBy = is_string($qFilterBy) ? $qFilterBy : null;
	
	$isAutocompleteEnabled = (config(&#039;settings.listings_list.enable_cities_autocompletion&#039;) == &#039;1&#039;);
	$autocompleteClass = $isAutocompleteEnabled ? &#039; autocomplete-enabled&#039; : &#039;&#039;;
	
	$statesSearchTip = trans(&#039;global.states_search_tip&#039;, [&#039;prefix&#039; =&gt; trans(&#039;global.area&#039;), &#039;suffix&#039; =&gt; trans(&#039;global.state_name&#039;)]);
	$displayStatesSearchTip = config(&#039;settings.listings_list.display_states_search_tip&#039;);
	$searchTooltip = $displayStatesSearchTip
		? [
			&#039;data-bs-placement&#039; =&gt; &#039;top&#039;,
			&#039;data-bs-toggle&#039;    =&gt; &#039;tooltipHover&#039;,
			&#039;title&#039;             =&gt; $statesSearchTip,
		]
		: [];
@endphp
@include(&#039;front.common.spacer&#039;)
&lt;div class=&quot;container&quot;&gt;
	&lt;form id=&quot;searchForm&quot;
	      name=&quot;search&quot;
	      action=&quot;{{ urlGen()-&gt;searchWithoutQuery() }}&quot;
	      method=&quot;GET&quot;
	      data-csrf-token=&quot;{{ csrf_token() }}&quot;
	&gt;
		@if (!empty($qFilterBy))
			&lt;input type=&quot;hidden&quot; name=&quot;filterBy&quot; value=&quot;{{ $qFilterBy }}&quot;&gt;
		@endif
		&lt;div class=&quot;row m-0&quot;&gt;
			&lt;div class=&quot;col-12 px-1 py-1 bg-primary rounded&quot;&gt;
				&lt;div class=&quot;row gx-1 gy-1&quot;&gt;
					
					{{-- c --}}
					@php
						$firstOption = [
							&#039;value&#039; =&gt; &#039;&#039;,
							&#039;text&#039;  =&gt; trans(&#039;global.all_categories&#039;),
						];
						$catOptions = collect($cats)
							-&gt;map(function($item) {
								return [
									&#039;value&#039; =&gt; $item[&#039;id&#039;] ?? null,
									&#039;text&#039;  =&gt; $item[&#039;name&#039;] ?? null,
								];
							})
							-&gt;prepend($firstOption)
							-&gt;toArray();
					@endphp
					@include(&#039;helpers.forms.fields.select2&#039;, [
						&#039;id&#039;          =&gt; &#039;catSearch&#039;,
						&#039;name&#039;        =&gt; &#039;c&#039;,
						&#039;required&#039;    =&gt; true,
						// &#039;placeholder&#039; =&gt; trans(&#039;global.all_categories&#039;),
						&#039;options&#039;     =&gt; $catOptions,
						&#039;value&#039;       =&gt; $qCategory,
						&#039;hint&#039;        =&gt; null,
						&#039;baseClass&#039;   =&gt; [
							&#039;wrapper&#039; =&gt; &#039;col-xl-3 col-md-3 col-sm-12 col-12&#039;
						],
					])
					
					{{-- q --}}
					@include(&#039;helpers.forms.fields.text&#039;, [
						&#039;name&#039;        =&gt; &#039;q&#039;,
						&#039;placeholder&#039; =&gt; trans(&#039;global.what&#039;),
						&#039;value&#039;       =&gt; $keywords,
						&#039;baseClass&#039;   =&gt; [
							&#039;field&#039; =&gt; &#039;form-control keyword&#039;,
							&#039;wrapper&#039; =&gt; &#039;col-xl-4 col-md-4 col-sm-12 col-12&#039;
						],
					])
					
					&lt;input type=&quot;hidden&quot; id=&quot;rSearch&quot; name=&quot;r&quot; value=&quot;{{ $qAdminName }}&quot;&gt;
					&lt;input type=&quot;hidden&quot; id=&quot;lSearch&quot; name=&quot;l&quot; value=&quot;{{ $qLocationId }}&quot;&gt;
					
					{{-- location --}}
					@include(&#039;helpers.forms.fields.text&#039;, [
						&#039;id&#039;          =&gt; &#039;locSearch&#039;,
						&#039;name&#039;        =&gt; &#039;location&#039;,
						&#039;placeholder&#039; =&gt; trans(&#039;global.where&#039;),
						&#039;value&#039;       =&gt; $qLocation,
						&#039;attributes&#039; =&gt; array_merge([
							&#039;data-old-value&#039; =&gt; $qLocation,
							&#039;spellcheck&#039;     =&gt; &#039;false&#039;,
							&#039;autocomplete&#039;   =&gt; &#039;off&#039;,
							&#039;autocapitalize&#039; =&gt; &#039;off&#039;,
							&#039;tabindex&#039;       =&gt; &#039;1&#039;
						], $searchTooltip),
						&#039;baseClass&#039;   =&gt; [
							&#039;field&#039;   =&gt; &quot;form-control{$autocompleteClass}&quot;,
							&#039;wrapper&#039; =&gt; &#039;col-xl-3 col-md-3 col-sm-12 col-12&#039;
						],
					])
					
					{{-- button --}}
					&lt;div class=&quot;col-xl-2 col-md-2 col-sm-12 col-12 d-grid&quot;&gt;
						&lt;button type=&quot;submit&quot; class=&quot;btn btn-primary&quot;&gt;
							&lt;i class=&quot;fa-solid fa-magnifying-glass&quot;&gt;&lt;/i&gt; &lt;span
									class=&quot;fw-bold d-sm-inline-block d-md-none d-lg-none d-xl-inline-block&quot;
							&gt;{{ trans(&#039;global.find&#039;) }}&lt;/span&gt;
						&lt;/button&gt;
					&lt;/div&gt;
		
				&lt;/div&gt;
			&lt;/div&gt;
		&lt;/div&gt;
	&lt;/form&gt;
&lt;/div&gt;

@section(&#039;after_scripts&#039;)
	@parent
@endsection


<hr>
<!-- PEDROO_NEXT_FILE: /ads/resources/views/front/search/partials/posts/template/compact.blade.php -->
<!-- PEDROO_NEXT_DIR: /ads/resources/views/front/search/partials/posts -->

</body>
</html>