<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>/ads/resources/views/front/search/partials/sidebar.blade.php</title>
<style>
body { font-family: monospace; white-space: pre; }
</style>
</head>
<body>
@php
	$pageBreakpoint ??= [];
	$leftColSize = data_get($pageBreakpoint, &#039;leftColSize&#039;) ?? &#039;col-md-3&#039;;
	$showOnLargeScreen = data_get($pageBreakpoint, &#039;showOnLargeScreen&#039;) ?? &#039; d-none d-md-block&#039;;
	$breakpointSize = (int)(data_get($pageBreakpoint, &#039;size&#039;) ?? 768);
	
	$isPriceFilterCanBeDisplayed = (!empty($cat) &amp;&amp; data_get($cat, &#039;type&#039;) != &#039;not-salable&#039;);
@endphp
&lt;div class=&quot;{{ $leftColSize }} pb-4&quot; id=&quot;leftSidebar&quot;&gt;
	{{-- Sidebar (for Large Screens) | d-none d-md-block --}}
	&lt;div class=&quot;w-100{{ $showOnLargeScreen }}&quot; id=&quot;largeScreenSidebar&quot;&gt;
		&lt;aside&gt;
			
			{{-- The #movableSidebarContent element will be moved here based on the client window size --}}
			&lt;div class=&quot;card&quot; id=&quot;movableSidebarContent&quot;&gt;
				&lt;div class=&quot;card-body vstack gap-4 text-wrap&quot;&gt;
					@include(&#039;front.search.partials.sidebar.fields&#039;)
					@include(&#039;front.search.partials.sidebar.categories&#039;)
					@include(&#039;front.search.partials.sidebar.cities&#039;)
					@if (!config(&#039;settings.listings_list.hide_date&#039;))
						@include(&#039;front.search.partials.sidebar.date&#039;)
					@endif
					@include(&#039;front.search.partials.sidebar.price&#039;)
				&lt;/div&gt;
			&lt;/div&gt;
			
		&lt;/aside&gt;
	&lt;/div&gt;
	
	{{-- Offcanvas (for Mobile Screen) | d-block d-sm-block d-md-none --}}
	&lt;div class=&quot;offcanvas offcanvas-start px-0&quot; tabindex=&quot;-1&quot; id=&quot;smallScreenSidebar&quot; aria-labelledby=&quot;smallScreenSidebarLabel&quot;&gt;
		&lt;div class=&quot;offcanvas-header bg-body-secondary&quot;&gt;
			&lt;h5 class=&quot;offcanvas-title fw-bold&quot; id=&quot;smallScreenSidebarLabel&quot;&gt;
				{{ trans(&#039;global.Filters&#039;) }}
			&lt;/h5&gt;
			&lt;button type=&quot;button&quot; class=&quot;btn-close&quot; data-bs-dismiss=&quot;offcanvas&quot; aria-label=&quot;Close&quot;&gt;&lt;/button&gt;
		&lt;/div&gt;
		&lt;div class=&quot;offcanvas-body vh-200 overflow-y-auto&quot;&gt;
			
			{{-- The #movableSidebarContent element will be moved here based on the client window size --}}
			
		&lt;/div&gt;
	&lt;/div&gt;
&lt;/div&gt;

@section(&#039;after_scripts&#039;)
    @parent
    &lt;script&gt;
        var baseUrl = &#039;{{ request()-&gt;url() }}&#039;;
        
        onDocumentReady((event) =&gt; {
			const breakpointSize = {{ $breakpointSize }};
			
	        /* Run on initial load */
	        moveSidebarContentBasedOnScreenSize(breakpointSize);
	        
	        /* Run on window resize */
	        window.addEventListener(&#039;resize&#039;, () =&gt; {
		        moveSidebarContentBasedOnScreenSize(breakpointSize);
	        });
        });
        
        /**
         * Move the sidebar content based on screen size
         * Bootstrap&#039;s breakpoints: xxl:1400, xl:1200, lg:992, md:768, sm:576
         *
         * @param breakpointSize
         */
        function moveSidebarContentBasedOnScreenSize(breakpointSize) {
	        const largeScreenDiv = document.querySelector(&#039;#largeScreenSidebar aside&#039;);
	        const smallScreenDiv = document.querySelector(&#039;#smallScreenSidebar .offcanvas-body&#039;);
	        const movableContent = document.getElementById(&#039;movableSidebarContent&#039;);
			
			if (typeof breakpointSize === &#039;undefined&#039;) {
				breakpointSize = 768;
			}
	  
			const isLargeScreen = (window.innerWidth &gt;= breakpointSize);
	        /* const isLargeScreen2 = window.matchMedia(`(min-width: ${breakpointSize}px)`).matches; */
			
	        if (isLargeScreen) {
		        /* Move to large screen div if not already there */
		        if (!largeScreenDiv.contains(movableContent)) {
			        largeScreenDiv.appendChild(movableContent);
		        }
	        } else {
		        /* Move to small screen div if not already there */
		        if (!smallScreenDiv.contains(movableContent)) {
			        smallScreenDiv.appendChild(movableContent);
		        }
	        }
        }
    &lt;/script&gt;
    
    {{-- sidebar/date.blade.php --}}
    &lt;script&gt;
	    onDocumentReady((event) =&gt; {
		    const postedDateEls = document.querySelectorAll(&#039;input[type=radio][name=postedDate]&#039;);
		    if (postedDateEls.length &gt; 0) {
			    postedDateEls.forEach((element) =&gt; {
				    element.addEventListener(&#039;click&#039;, (e) =&gt; {
					    const queryStringEl = document.querySelector(&#039;input[type=hidden][name=postedQueryString]&#039;);
					    
					    if (queryStringEl) {
						    let queryString = queryStringEl.value;
						    queryString += (queryString !== &#039;&#039;) ? &#039;&amp;&#039; : &#039;&#039;;
						    queryString = queryString + &#039;postedDate=&#039; + e.target.value;
						    
						    let searchUrl = baseUrl + &#039;?&#039; + queryString;
						    redirect(searchUrl);
					    }
				    });
			    });
		    }
	    });
    &lt;/script&gt;
@endsection


<hr>
<!-- PEDROO_NEXT_FILE: /ads/resources/views/front/search/partials/sidebar/categories.blade.php -->
<!-- PEDROO_NEXT_DIR: /ads/resources/views/front/search/partials/posts -->

</body>
</html>