<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>/ads/resources/views/front/search/partials/tags.blade.php</title>
<style>
body { font-family: monospace; white-space: pre; }
</style>
</head>
<body>
@php
	$tags ??= [];
@endphp
@if (config(&#039;settings.listings_list.show_listings_tags&#039;))
	@if (!empty($tags))
		&lt;div class=&quot;container&quot;&gt;
			&lt;div class=&quot;card mb-3&quot;&gt;
				&lt;div class=&quot;card-body&quot;&gt;
					&lt;h3 class=&quot;card-title&quot;&gt;
						&lt;i class=&quot;fa-solid fa-tags&quot;&gt;&lt;/i&gt; {{ trans(&#039;global.Tags&#039;) }}:
					&lt;/h3&gt;
					@foreach($tags as $iTag)
						&lt;span class=&quot;d-inline-block border border-inverse bg-body-tertiary rounded-1 py-1 px-2 my-1 me-1&quot;&gt;
							&lt;a href=&quot;{{ urlGen()-&gt;tag($iTag) }}&quot; class=&quot;{{ linkClass() }}&quot;&gt;
								{{ $iTag }}
							&lt;/a&gt;
						&lt;/span&gt;
					@endforeach
				&lt;/div&gt;
			&lt;/div&gt;
		&lt;/div&gt;
	@endif
@endif


<hr>
<!-- PEDROO_NEXT_FILE: /ads/resources/views/front/search/results.blade.php -->
<!-- PEDROO_NEXT_DIR: /ads/resources/views/front/search/partials/posts -->

</body>
</html>