<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>/ads/resources/views/admin/layouts/partials/sidebar/general-settings.blade.php</title>
<style>
body { font-family: monospace; white-space: pre; }
</style>
</head>
<body>
@php
	$authUser ??= null;
	$settings ??= collect();
	
	$generalSettingsAsSubmenu = (config(&#039;settings.app.general_settings_as_submenu_in_sidebar&#039;) == &#039;1&#039;);
	$isGeneralSettingsAsSubmenuEnabled = ($generalSettingsAsSubmenu &amp;&amp; $settings-&gt;count() &gt; 0);
@endphp
@if (doesUserHavePermission($authUser, &#039;admin.setting.view&#039;) || userHasSuperAdminPermissions())
	@if ($isGeneralSettingsAsSubmenuEnabled)
		&lt;li class=&quot;sidebar-item&quot;&gt;
			&lt;a href=&quot;#collapseGeneralSettings&quot;
			   class=&quot;has-arrow sidebar-link&quot;
			   data-bs-toggle=&quot;collapse&quot;
			   aria-expanded=&quot;false&quot;
			   aria-controls=&quot;collapseGeneralSettings&quot;
			&gt;
				&lt;span class=&quot;hide-menu&quot;&gt;{{ trans(&#039;admin.general_settings&#039;) }}&lt;/span&gt;
			&lt;/a&gt;
			&lt;ul class=&quot;collapse second-level&quot; id=&quot;collapseGeneralSettings&quot;&gt;
				@foreach($settings as $setting)
					&lt;li class=&quot;sidebar-item&quot;&gt;
						&lt;a href=&quot;{{ urlGen()-&gt;adminUrl(&#039;settings/&#039; . $setting-&gt;id . &#039;/edit&#039;) }}&quot; class=&quot;sidebar-link&quot;&gt;
							&lt;span class=&quot;hide-menu&quot;&gt;{{ $setting-&gt;label }}&lt;/span&gt;
						&lt;/a&gt;
					&lt;/li&gt;
				@endforeach
				&lt;li class=&quot;sidebar-item&quot;&gt;&amp;nbsp;&lt;/li&gt;
			&lt;/ul&gt;
		&lt;/li&gt;
	@else
		&lt;li class=&quot;sidebar-item&quot;&gt;
			&lt;a href=&quot;{{ urlGen()-&gt;adminUrl(&#039;settings&#039;) }}&quot; class=&quot;sidebar-link&quot;&gt;
				&lt;span class=&quot;hide-menu&quot;&gt;{{ trans(&#039;admin.general_settings&#039;) }}&lt;/span&gt;
			&lt;/a&gt;
		&lt;/li&gt;
	@endif
@endif


<hr>
<!-- PEDROO_NEXT_FILE: /ads/resources/views/admin/layouts/partials/sidebar/tableData-settings.blade.php -->
<!-- PEDROO_NEXT_DIR: /ads/resources/views/admin/panel -->

</body>
</html>