<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>/ads/resources/views/setup/install/layouts/partials/_steps.blade.php</title>
<style>
body { font-family: monospace; white-space: pre; }
</style>
</head>
<body>
@php
	use App\Http\Controllers\Web\Setup\Install\RequirementsController;
	
	$navItems ??= [];
@endphp
&lt;ul class=&quot;nav nav-pills justify-content-center p-2 install-steps&quot;&gt;
	@forelse($navItems as $key =&gt; $item)
		@php
			$itemParentClass = data_get($item, &#039;parentClass&#039;);
			$itemParentClass = !empty($itemParentClass) ? &#039; &#039; . $itemParentClass : &#039;&#039;;
			
			$itemClass = data_get($item, &#039;class&#039;);
			$itemClass = !empty($itemClass) ? &#039; &#039; . $itemClass : &#039;&#039;;
			
			$itemUrl = data_get($item, &#039;url&#039;);
			if ($key == RequirementsController::class) {
				$itemUrl = urlBuilder($itemUrl)-&gt;setParameters([&#039;mode&#039; =&gt; &#039;manual&#039;])-&gt;toString();
			}
			
			$itemIcon = data_get($item, &#039;icon&#039;);
			$itemLabel = data_get($item, &#039;label&#039;);
		@endphp
		&lt;li class=&quot;nav-item{{ $itemParentClass }}&quot;&gt;
			&lt;a class=&quot;nav-link{{ $itemClass }}&quot; href=&quot;{{ $itemUrl }}&quot;&gt;
				&lt;i class=&quot;{{ $itemIcon }}&quot;&gt;&lt;/i&gt; {{ $itemLabel }}
			&lt;/a&gt;
		&lt;/li&gt;
	@empty
		&lt;div class=&quot;col-12&quot;&gt;
			&lt;div class=&quot;alert alert-danger&quot;&gt;
				The navigation bar could not be loaded.
				Please report this issue to us &lt;a href=&quot;https://support.laraclassifier.com/hc/tickets/new&quot; target=&quot;_blank&quot;&gt;here&lt;/a&gt;.
			&lt;/div&gt;
		&lt;/div&gt;
	@endforelse
&lt;/ul&gt;


<hr>
<!-- PEDROO_NEXT_FILE: /ads/resources/views/setup/install/layouts/partials/footer.blade.php -->
<!-- PEDROO_NEXT_DIR: /ads/resources/views/setup/install/partials -->

</body>
</html>