<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>/ads/resources/views/setup/install/layouts/partials/footer.blade.php</title>
<style>
body { font-family: monospace; white-space: pre; }
</style>
</head>
<body>
&lt;footer&gt;
	&lt;div class=&quot;container-fluid border-top bg-body-tertiary py-5 mt-5&quot;&gt;
		&lt;div class=&quot;container p-0 my-0&quot;&gt;
			
			&lt;div class=&quot;row&quot;&gt;
				&lt;div class=&quot;col-xl-12 col-md-12&quot;&gt;
					
					&lt;div class=&quot;text-center&quot;&gt;
						&amp;copy; {{ date(&#039;Y&#039;) }} &lt;a href=&quot;{{ url(&#039;/&#039;) }}&quot; class=&quot;{{ linkClass() }}&quot;&gt;{{ strtolower(getDomain()) }}&lt;/a&gt;
					&lt;/div&gt;
					
				&lt;/div&gt;
			&lt;/div&gt;
			
		&lt;/div&gt;
	&lt;/div&gt;
&lt;/footer&gt;


<hr>
<!-- PEDROO_NEXT_FILE: /ads/resources/views/setup/install/layouts/partials/header.blade.php -->
<!-- PEDROO_NEXT_DIR: /ads/resources/views/setup/install/partials -->

</body>
</html>