<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>/resources/views/components/danger-button.blade.php</title>
<style>
body { font-family: monospace; white-space: pre; }
</style>
</head>
<body>
&lt;button {{ $attributes-&gt;merge([&#039;type&#039; =&gt; &#039;submit&#039;, &#039;class&#039; =&gt; &#039;inline-flex items-center px-4 py-2 bg-red-600 border border-transparent rounded-md font-semibold text-xs text-white uppercase tracking-widest hover:bg-red-500 active:bg-red-700 focus:outline-none focus:ring-2 focus:ring-red-500 focus:ring-offset-2 transition ease-in-out duration-150&#039;]) }}&gt;
    {{ $slot }}
&lt;/button&gt;


<hr>
<!-- PEDROO_NEXT_FILE: /resources/views/components/dropdown-link.blade.php -->
<!-- PEDROO_NEXT_DIR: /resources/views/dashboard -->

</body>
</html>