<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>/resources/views/components/nav-link.blade.php</title>
<style>
body { font-family: monospace; white-space: pre; }
</style>
</head>
<body>
@props([&#039;active&#039;])

@php
$classes = ($active ?? false)
            ? &#039;inline-flex items-center px-1 pt-1 border-b-2 border-indigo-400 text-sm font-medium leading-5 text-gray-900 focus:outline-none focus:border-indigo-700 transition duration-150 ease-in-out&#039;
            : &#039;inline-flex items-center px-1 pt-1 border-b-2 border-transparent text-sm font-medium leading-5 text-gray-500 hover:text-gray-700 hover:border-gray-300 focus:outline-none focus:text-gray-700 focus:border-gray-300 transition duration-150 ease-in-out&#039;;
@endphp

&lt;a {{ $attributes-&gt;merge([&#039;class&#039; =&gt; $classes]) }}&gt;
    {{ $slot }}
&lt;/a&gt;


<hr>
<!-- PEDROO_NEXT_FILE: /resources/views/components/primary-button.blade.php -->
<!-- PEDROO_NEXT_DIR: /resources/views/dashboard -->

</body>
</html>