<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>/resources/views/emails/review_alert_plain.blade.php</title>
<style>
body { font-family: monospace; white-space: pre; }
</style>
</head>
<body>
Új javítandó {{ $type }} érkezett.

ID: {{ $id }}
@if($name)
Név: {{ $name }}
@endif
Felvéve: {{ $createdAt }}

Megnyitás a Review Dashboardon:
{{ $url }}

(Pedroo automatikus értesítés)

<hr>
<!-- PEDROO_NEXT_FILE: /resources/views/filament/merge/dog.blade.php -->
<!-- PEDROO_NEXT_DIR: /resources/views/filament -->

</body>
</html>