<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>/ads/resources/views/front/layouts/partials/advertising/auto.blade.php</title>
<style>
body { font-family: monospace; white-space: pre; }
</style>
</head>
<body>
@php
	$autoAdvertising ??= [];
@endphp
@if (!empty($autoAdvertising))
	&lt;div class=&quot;row d-flex justify-content-center m-0 p-0&quot;&gt;
		&lt;div class=&quot;col-12 text-center m-0 p-0&quot;&gt;
			{!! data_get($autoAdvertising, &#039;tracking_code_large&#039;) !!}
		&lt;/div&gt;
	&lt;/div&gt;
@endif


<hr>
<!-- PEDROO_NEXT_FILE: /ads/resources/views/front/layouts/partials/advertising/bottom.blade.php -->
<!-- PEDROO_NEXT_DIR: /ads/resources/views/front/layouts/partials/lite -->

</body>
</html>