<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>/ads/resources/views/front/layouts/partials/advertising/top.blade.php</title>
<style>
body { font-family: monospace; white-space: pre; }
</style>
</head>
<body>
@php
	$topAdvertising ??= [];
	$style ??= &#039;&#039;;
	$htmlAttr ??= &#039;&#039;;
	$cssClasses ??= &#039;&#039;;
	$isFromPostDetails ??= false;
	
	$cssClasses = empty($cssClasses) ? &#039; mb-3&#039; : $cssClasses;
	$cssClasses = $isFromPostDetails ? &#039; mt-3 mb-3&#039; : $cssClasses;
@endphp
@if (!empty($topAdvertising))
	&lt;div class=&quot;container{{ $cssClasses }}&quot; style=&quot;{!! $style !!}&quot;&gt;
		&lt;div class=&quot;row&quot;{!! $htmlAttr !!}&gt;
			@php
				$responsiveClass = (data_get($topAdvertising, &#039;is_responsive&#039;) != 1) ? &#039; d-none d-xl-block d-lg-block d-md-none d-sm-none&#039; : &#039;&#039;;
			@endphp
			{{-- Desktop --}}
			&lt;div class=&quot;col-12 ads-parent-responsive{{ $responsiveClass }}&quot;&gt;
				&lt;div class=&quot;text-center&quot;&gt;
					{!! data_get($topAdvertising, &#039;tracking_code_large&#039;) !!}
				&lt;/div&gt;
			&lt;/div&gt;
			@if (data_get($topAdvertising, &#039;is_responsive&#039;) != 1)
				{{-- Tablet --}}
				&lt;div class=&quot;col-12 ads-parent-responsive d-none d-xl-none d-lg-none d-md-block d-sm-none&quot;&gt;
					&lt;div class=&quot;text-center&quot;&gt;
						{!! data_get($topAdvertising, &#039;tracking_code_medium&#039;) !!}
					&lt;/div&gt;
				&lt;/div&gt;
				{{-- Mobile --}}
				&lt;div class=&quot;col-12 ads-parent-responsive d-block d-xl-none d-lg-none d-md-none d-sm-block&quot;&gt;
					&lt;div class=&quot;text-center&quot;&gt;
						{!! data_get($topAdvertising, &#039;tracking_code_small&#039;) !!}
					&lt;/div&gt;
				&lt;/div&gt;
			@endif
		&lt;/div&gt;
	&lt;/div&gt;
@endif


<hr>
<!-- PEDROO_NEXT_FILE: /ads/resources/views/front/layouts/partials/footer.blade.php -->
<!-- PEDROO_NEXT_DIR: /ads/resources/views/front/layouts/partials/lite -->

</body>
</html>