<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>/ads/resources/views/front/search/partials/sidebar/categories.blade.php</title>
<style>
body { font-family: monospace; white-space: pre; }
</style>
</head>
<body>
@php
	$countPostsPerCat ??= [];
	
	// Clear Filter Button
	$clearFilterBtn = urlGen()-&gt;getCategoryFilterClearLink($cat ?? null, $city ?? null);
	
	// Links CSS Class
	$linkClass = linkClass(&#039;body-emphasis&#039;);
@endphp
@if (!empty($cat))
	@php
		$categoryParent = data_get($cat, &#039;parent&#039;) ?? null;
		$categoryChildren = data_get($cat, &#039;children&#039;) ?? [];
		$categoryParentOfParent = data_get($cat, &#039;parent.parent&#039;) ?? null;
		$categoryParentChildren = data_get($cat, &#039;parent.children&#039;) ?? [];
		
		/*dump($cat);
		dump($categoryParent);
		dump($categoryChildren);
		dump($categoryParentOfParent);
		dump($categoryParentChildren);
		dd(&#039;STOP&#039;);*/
		
		$catParentUrl = urlGen()-&gt;parentCategory($categoryParent ?? null, $city ?? null);
	@endphp
	
	{{-- SubCategory --}}
	&lt;div id=&quot;subCatsList&quot;&gt;
		@if (!empty($categoryChildren))
			
			&lt;div class=&quot;container p-0 vstack gap-2&quot;&gt;
				&lt;h5 class=&quot;border-bottom pb-2 d-flex justify-content-between mb-0&quot;&gt;
					&lt;span class=&quot;fw-bold&quot;&gt;
						@if (!empty($categoryParent))
							&lt;a href=&quot;{{ urlGen()-&gt;category($categoryParent, null, $city ?? null) }}&quot;
							   class=&quot;{{ $linkClass }}&quot;
							&gt;
								&lt;i class=&quot;fa-solid fa-reply&quot;&gt;&lt;/i&gt; {{ data_get($cat, &#039;parent.name&#039;) }}
							&lt;/a&gt;
						@else
							&lt;a href=&quot;{{ $catParentUrl }}&quot; class=&quot;{{ $linkClass }}&quot;&gt;
								&lt;i class=&quot;fa-solid fa-reply&quot;&gt;&lt;/i&gt; {{ trans(&#039;global.all_categories&#039;) }}
							&lt;/a&gt;
						@endif
					&lt;/span&gt; {!! $clearFilterBtn !!}
				&lt;/h5&gt;
				&lt;ul class=&quot;mb-0 list-unstyled&quot;&gt;
					&lt;li class=&quot;py-1&quot;&gt;
						&lt;div class=&quot;border-bottom pb-2 mb-3&quot;&gt;
							&lt;span class=&quot;fs-5&quot;&gt;
								@if (in_array(config(&#039;settings.listings_list.show_category_icon&#039;), [4, 5, 6, 8]))
									&lt;i class=&quot;{{ data_get($cat, &#039;icon_class&#039;) ?? &#039;bi bi-folder-fill&#039; }}&quot;&gt;&lt;/i&gt;
								@endif
								{{ data_get($cat, &#039;name&#039;) }}
							&lt;/span&gt;
							@if (config(&#039;settings.listings_list.count_categories_listings&#039;))
								&amp;nbsp;&lt;span class=&quot;fw-normal&quot;&gt;({{ $countPostsPerCat[data_get($cat, &#039;id&#039;)][&#039;total&#039;] ?? 0 }})&lt;/span&gt;
							@endif
						&lt;/div&gt;
						&lt;ul class=&quot;mb-0 ps-2 list-unstyled long-list&quot;&gt;
							@foreach ($categoryChildren as $iSubCat)
								&lt;li class=&quot;py-1&quot;&gt;
									&lt;a href=&quot;{{ urlGen()-&gt;category($iSubCat, null, $city ?? null) }}&quot;
									   class=&quot;{{ $linkClass }}&quot;
									   title=&quot;{{ data_get($iSubCat, &#039;name&#039;) }}&quot;
									&gt;
										@if (in_array(config(&#039;settings.listings_list.show_category_icon&#039;), [4, 5, 6, 8]))
											&lt;i class=&quot;{{ data_get($iSubCat, &#039;icon_class&#039;) ?? &#039;bi bi-folder-fill&#039; }}&quot;&gt;&lt;/i&gt;
										@endif
										{{ str(data_get($iSubCat, &#039;name&#039;))-&gt;limit(100) }}
										@if (config(&#039;settings.listings_list.count_categories_listings&#039;))
											&amp;nbsp;&lt;span class=&quot;fw-normal&quot;&gt;({{ $countPostsPerCat[data_get($iSubCat, &#039;id&#039;)][&#039;total&#039;] ?? 0 }})&lt;/span&gt;
										@endif
									&lt;/a&gt;
								&lt;/li&gt;
							@endforeach
						&lt;/ul&gt;
					&lt;/li&gt;
				&lt;/ul&gt;
			&lt;/div&gt;
			
		@else
			
			@if (!empty($categoryParentChildren))
				&lt;div class=&quot;container p-0 vstack gap-2&quot;&gt;
					&lt;h5 class=&quot;border-bottom pb-2 d-flex justify-content-between&quot;&gt;
						&lt;span class=&quot;fw-bold&quot;&gt;
							@if (!empty($categoryParentOfParent))
								&lt;a href=&quot;{{ urlGen()-&gt;category($categoryParentOfParent, null, $city ?? null) }}&quot;
								   class=&quot;{{ $linkClass }}&quot;
								&gt;
									&lt;i class=&quot;fa-solid fa-reply&quot;&gt;&lt;/i&gt; {{ data_get($cat, &#039;parent.parent.name&#039;) }}
								&lt;/a&gt;
							@elseif (!empty($categoryParent))
								&lt;a href=&quot;{{ urlGen()-&gt;category($categoryParent, null, $city ?? null) }}&quot;
								   class=&quot;{{ $linkClass }}&quot;
								&gt;
									&lt;i class=&quot;fa-solid fa-reply&quot;&gt;&lt;/i&gt; {{ data_get($cat, &#039;name&#039;) }}
								&lt;/a&gt;
							@else
								&lt;a href=&quot;{{ $catParentUrl }}&quot; class=&quot;{{ $linkClass }}&quot;&gt;
									&lt;i class=&quot;fa-solid fa-reply&quot;&gt;&lt;/i&gt; {{ trans(&#039;global.all_categories&#039;) }}
								&lt;/a&gt;
							@endif
						&lt;/span&gt; {!! $clearFilterBtn !!}
					&lt;/h5&gt;
					&lt;ul class=&quot;mb-0 list-unstyled&quot;&gt;
						@foreach ($categoryParentChildren as $iSubCat)
							&lt;li class=&quot;py-1&quot;&gt;
								@if (data_get($iSubCat, &#039;id&#039;) == data_get($cat, &#039;id&#039;))
									&lt;span class=&quot;fw-bold&quot;&gt;
										@if (in_array(config(&#039;settings.listings_list.show_category_icon&#039;), [4, 5, 6, 8]))
											&lt;i class=&quot;{{ data_get($iSubCat, &#039;icon_class&#039;) ?? &#039;bi bi-folder-fill&#039; }}&quot;&gt;&lt;/i&gt;
										@endif
										{{ str(data_get($iSubCat, &#039;name&#039;))-&gt;limit(100) }}
										@if (config(&#039;settings.listings_list.count_categories_listings&#039;))
											&amp;nbsp;&lt;span class=&quot;fw-normal&quot;&gt;({{ $countPostsPerCat[data_get($iSubCat, &#039;id&#039;)][&#039;total&#039;] ?? 0 }})&lt;/span&gt;
										@endif
									&lt;/span&gt;
								@else
									&lt;a href=&quot;{{ urlGen()-&gt;category($iSubCat, null, $city ?? null) }}&quot;
									   class=&quot;{{ $linkClass }}&quot;
									   title=&quot;{{ data_get($iSubCat, &#039;name&#039;) }}&quot;
									&gt;
										@if (in_array(config(&#039;settings.listings_list.show_category_icon&#039;), [4, 5, 6, 8]))
											&lt;i class=&quot;{{ data_get($iSubCat, &#039;icon_class&#039;) ?? &#039;bi bi-folder-fill&#039; }}&quot;&gt;&lt;/i&gt;
										@endif
										{{ str(data_get($iSubCat, &#039;name&#039;))-&gt;limit(100) }}
										@if (config(&#039;settings.listings_list.count_categories_listings&#039;))
											&amp;nbsp;&lt;span class=&quot;fw-normal&quot;&gt;({{ $countPostsPerCat[data_get($iSubCat, &#039;id&#039;)][&#039;total&#039;] ?? 0 }})&lt;/span&gt;
										@endif
									&lt;/a&gt;
								@endif
							&lt;/li&gt;
						@endforeach
					&lt;/ul&gt;
				&lt;/div&gt;
			@else
				
				@include(&#039;front.search.partials.sidebar.categories.root&#039;, [&#039;countPostsPerCat&#039; =&gt; $countPostsPerCat])
			
			@endif
			
		@endif
	&lt;/div&gt;
	
@else
	
	@include(&#039;front.search.partials.sidebar.categories.root&#039;, [&#039;countPostsPerCat&#039; =&gt; $countPostsPerCat])
	
@endif


<hr>
<!-- PEDROO_NEXT_FILE: /ads/resources/views/front/search/partials/sidebar/categories/root.blade.php -->
<!-- PEDROO_NEXT_DIR: /ads/resources/views/front/search/partials/sidebar/categories -->

</body>
</html>