<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>/ads/resources/views/front/search/partials/sidebar/date.blade.php</title>
<style>
body { font-family: monospace; white-space: pre; }
</style>
</head>
<body>
@php
	// Clear Filter Button
	$clearFilterBtn = urlGen()-&gt;getDateFilterClearLink($cat ?? null, $city ?? null);
@endphp
{{-- Date --}}
&lt;div class=&quot;container p-0 vstack gap-2&quot;&gt;
	&lt;h5 class=&quot;border-bottom pb-2 d-flex justify-content-between&quot;&gt;
		&lt;span class=&quot;fw-bold&quot;&gt;{{ trans(&#039;global.Date Posted&#039;) }}&lt;/span&gt; {!! $clearFilterBtn !!}
	&lt;/h5&gt;
	&lt;ul class=&quot;mb-0 list-unstyled ps-1&quot;&gt;
		@if (!empty($periodList))
			@foreach($periodList as $key =&gt; $value)
				&lt;li class=&quot;p-1&quot;&gt;
					&lt;input type=&quot;radio&quot;
					       name=&quot;postedDate&quot;
					       value=&quot;{{ $key }}&quot;
					       id=&quot;postedDate_{{ $key }}&quot; {{ (request()-&gt;query(&#039;postedDate&#039;)==$key) ? &#039;checked=&quot;checked&quot;&#039; : &#039;&#039; }}
					&gt;
					&lt;label for=&quot;postedDate_{{ $key }}&quot; class=&quot;fw-normal&quot;&gt;{{ $value }}&lt;/label&gt;
				&lt;/li&gt;
			@endforeach
		@endif
		&lt;input type=&quot;hidden&quot;
		       id=&quot;postedQueryString&quot;
		       name=&quot;postedQueryString&quot;
		       value=&quot;{{ \App\Helpers\Common\Arr::query(request()-&gt;except([&#039;page&#039;, &#039;postedDate&#039;])) }}&quot;
		&gt;
	&lt;/ul&gt;
&lt;/div&gt;

@section(&#039;after_scripts&#039;)
	@parent
	{{-- Check out the JS code at: &quot;../sidebar.blade.php&quot; --}}
@endsection


<hr>
<!-- PEDROO_NEXT_FILE: /ads/resources/views/front/search/partials/sidebar/fields.blade.php -->
<!-- PEDROO_NEXT_DIR: /ads/resources/views/front/search/partials/sidebar/categories -->

</body>
</html>