<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>/ads/resources/views/front/search/partials/sidebar/fields.blade.php</title>
<style>
body { font-family: monospace; white-space: pre; }
</style>
</head>
<body>
@php
	$customFields ??= [];
@endphp
@if (!empty($customFields))
	&lt;div&gt;
	&lt;form action=&quot;{{ request()-&gt;url() }}&quot; method=&quot;GET&quot; class=&quot;cf-form&quot; role=&quot;form&quot;&gt;
		&lt;div class=&quot;container p-0 vstack gap-3&quot;&gt;
			@php
				$disabledFieldsTypes = [&#039;file&#039;, &#039;video&#039;];
				$clearFilterBtn = &#039;&#039;;
				$firstFieldFound = false;
			@endphp
			@foreach($customFields as $field)
				@continue(in_array(data_get($field, &#039;type&#039;), $disabledFieldsTypes) || data_get($field, &#039;use_as_filter&#039;) != 1)
				@php
					// Fields parameters
					$fieldId = &#039;cf.&#039; . data_get($field, &#039;id&#039;);
					$fieldName = &#039;cf[&#039; . data_get($field, &#039;id&#039;) . &#039;]&#039;;
					$fieldOld = &#039;cf.&#039; . data_get($field, &#039;id&#039;);
					
					// Get the default value
					$defaultValue = request()-&gt;filled($fieldOld)
						? request()-&gt;input($fieldOld)
						: data_get($field, &#039;default_value&#039;);
					
					// Field Query String
					$fieldQueryStringId = &#039;cf&#039; . data_get($field, &#039;id&#039;) . &#039;QueryString&#039;;
					$fieldQueryStringName = str_replace(&#039;.&#039;, &#039;&#039;, $fieldQueryStringId);
					$fieldQueryStringValue = \App\Helpers\Common\Arr::query(request()-&gt;except([&#039;page&#039;, $fieldId]));
					$fieldQueryString = &#039;&lt;input type=&quot;hidden&quot; &#039;
						. &#039;id=&quot;&#039; . $fieldQueryStringId . &#039;&quot; &#039;
						. &#039;name=&quot;&#039; . $fieldQueryStringName . &#039;&quot; &#039;
						. &#039;value=&quot;&#039; . $fieldQueryStringValue . &#039;&quot;&#039;
						. &#039;&gt;&#039;;
					
					// Clear Filter Button
					$clearFilterBtn = urlGen()-&gt;getCustomFieldFilterClearLink($fieldOld, $cat ?? null, $city ?? null);
				@endphp
				
				@if (in_array(data_get($field, &#039;type&#039;), [&#039;text&#039;, &#039;textarea&#039;, &#039;url&#039;, &#039;number&#039;]))
					
					{{-- text --}}
					&lt;div class=&quot;container p-0 vstack gap-2&quot;&gt;
						&lt;h5 class=&quot;border-bottom pb-2 d-flex justify-content-between&quot;&gt;
							&lt;span class=&quot;fw-bold&quot;&gt;{{ data_get($field, &#039;name&#039;) }}&lt;/span&gt; {!! $clearFilterBtn !!}
						&lt;/h5&gt;
						&lt;div class=&quot;row px-0 gx-1 gy-1&quot;&gt;
							@if (data_get($field, &#039;type&#039;) == &#039;number&#039;)
								@include(&#039;helpers.forms.fields.number&#039;, [
									&#039;id&#039;          =&gt; $fieldId,
									&#039;name&#039;        =&gt; $fieldName,
									&#039;placeholder&#039; =&gt; data_get($field, &#039;name&#039;),
									&#039;required&#039;    =&gt; true,
									&#039;value&#039;       =&gt; strip_tags($defaultValue),
									&#039;attributes&#039;  =&gt; [&#039;autocomplete&#039; =&gt; &#039;off&#039;],
									&#039;baseClass&#039;   =&gt; [&#039;wrapper&#039; =&gt; &#039;col-lg-9 col-md-12 col-sm-12&#039;],
								])
							@else
								@include(&#039;helpers.forms.fields.text&#039;, [
									&#039;id&#039;          =&gt; $fieldId,
									&#039;name&#039;        =&gt; $fieldName,
									&#039;placeholder&#039; =&gt; data_get($field, &#039;name&#039;),
									&#039;required&#039;    =&gt; true,
									&#039;value&#039;       =&gt; strip_tags($defaultValue),
									&#039;baseClass&#039;   =&gt; [&#039;wrapper&#039; =&gt; &#039;col-lg-9 col-md-12 col-sm-12&#039;],
								])
							@endif
							&lt;div class=&quot;col-lg-3 col-md-12 col-sm-12 d-grid&quot;&gt;
								&lt;button class=&quot;btn btn-secondary&quot; type=&quot;submit&quot;&gt;{{ trans(&#039;global.go&#039;) }}&lt;/button&gt;
							&lt;/div&gt;
						&lt;/div&gt;
						{!! $fieldQueryString !!}
					&lt;/div&gt;
				
				@endif
				@if (data_get($field, &#039;type&#039;) == &#039;checkbox&#039;)
					
					{{-- checkbox --}}
					&lt;div class=&quot;container p-0 vstack gap-2&quot;&gt;
						&lt;h5 class=&quot;border-bottom pb-2 d-flex justify-content-between&quot;&gt;
							&lt;span class=&quot;fw-bold&quot;&gt;{{ data_get($field, &#039;name&#039;) }}&lt;/span&gt; {!! $clearFilterBtn !!}
						&lt;/h5&gt;
						&lt;div&gt;
							@include(&#039;helpers.forms.fields.checkbox&#039;, [
								&#039;label&#039;     =&gt; data_get($field, &#039;name&#039;),
								&#039;id&#039;        =&gt; $fieldId,
								&#039;name&#039;      =&gt; $fieldName,
								&#039;switch&#039;    =&gt; true,
								&#039;value&#039;     =&gt; $defaultValue,
								&#039;baseClass&#039; =&gt; [&#039;wrapper&#039; =&gt; &#039;col-md-12&#039;],
							])
						&lt;/div&gt;
						{!! $fieldQueryString !!}
					&lt;/div&gt;
				
				@endif
				@if (data_get($field, &#039;type&#039;) == &#039;checkbox_multiple&#039;)
					@php
						$checklistOptions = data_get($field, &#039;options&#039;);
					@endphp
					@if (!empty($checklistOptions) &amp;&amp; is_array($checklistOptions))
						{{-- checkbox_multiple --}}
						&lt;div class=&quot;container p-0 vstack gap-2&quot;&gt;
							&lt;h5 class=&quot;border-bottom pb-2 d-flex justify-content-between&quot;&gt;
								&lt;span class=&quot;fw-bold&quot;&gt;{{ data_get($field, &#039;name&#039;) }}&lt;/span&gt; {!! $clearFilterBtn !!}
							&lt;/h5&gt;
							@php
								$modelFieldId = data_get($field, &#039;id&#039;);
								$modelDefaultValue = data_get($field, &#039;default_value&#039;);
								
								$checkedBoxes = request()-&gt;input($fieldOld, []);
								$oldInput = request()-&gt;all();
								
								$checkboxes = collect($checklistOptions)
									-&gt;mapWithKeys(function($option) use (
										$fieldId, $fieldName, $checkedBoxes, $oldInput, $modelFieldId
									) {
										$optionId = $option[&#039;id&#039;] ?? null;
										$optionValue = $option[&#039;value&#039;] ?? null;
										
										// Get the checkbox attributes value
										$checkboxLabel = $optionValue;
										$checkboxId = $fieldId . &#039;.&#039; . $optionId;
										$checkboxName = $fieldName . &#039;[&#039; . $optionId . &#039;]&#039;;
										$checkboxValue = is_array($checkedBoxes) ? ($checkedBoxes[$optionId] ?? null) : $checkedBoxes;
										// $checkboxValue = is_array($checkedBoxes) ? ($checkedBoxes[$optionId] ?? $optionValue) : $optionValue;
										$checkboxValue = $oldInput[$modelFieldId][$optionId] ?? $checkboxValue;
										
										return [
											$optionId =&gt; [
												&#039;label&#039;     =&gt; $checkboxLabel,
												&#039;id&#039;        =&gt; $checkboxId,
												&#039;name&#039;      =&gt; $checkboxName,
												&#039;value&#039;     =&gt; $checkboxValue,
												&#039;isChecked&#039; =&gt; ($checkboxValue == $optionId),
											],
										];
									})-&gt;toArray();
								
								$cmFieldStyle = (is_array($checklistOptions) &amp;&amp; count($checklistOptions) &gt; 12)
									? &#039; style=&quot;height: 250px; overflow-y: scroll;&quot;&#039;
									: &#039;&#039;;
							@endphp
							&lt;div{!! $cmFieldStyle !!}&gt;
								@include(&#039;helpers.forms.fields.checklist&#039;, [
									&#039;switch&#039;     =&gt; true,
									&#039;id&#039;         =&gt; $fieldId,
									&#039;name&#039;       =&gt; $fieldName,
									&#039;checkboxes&#039; =&gt; $checkboxes,
									&#039;col&#039;        =&gt; 12,
									&#039;value&#039;      =&gt; $defaultValue,
									&#039;baseClass&#039;  =&gt; [&#039;wrapper&#039; =&gt; &#039;col-md-12&#039;],
								])
								@foreach($checkboxes as $optionId =&gt; $item)
									@php
										// Field Query String
										$fieldQueryStringId = &#039;cf&#039; . $modelFieldId . $optionId . &#039;QueryString&#039;;
										$fieldQueryStringName = str_replace(&#039;.&#039;, &#039;&#039;, $fieldQueryStringId);
										$fieldQueryStringValue = \App\Helpers\Common\Arr::query(request()-&gt;except([&#039;page&#039;, $fieldId . &#039;.&#039; . $optionId]));
									@endphp
									&lt;input type=&quot;hidden&quot;
									       id=&quot;{{ $fieldQueryStringId }}&quot;
									       name=&quot;{{ $fieldQueryStringName }}&quot;
									       value=&quot;{{ $fieldQueryStringValue }}&quot;
									&gt;
								@endforeach
							&lt;/div&gt;
						&lt;/div&gt;
					@endif
				
				@endif
				@if (data_get($field, &#039;type&#039;) == &#039;radio&#039;)
					
					@if (!empty(data_get($field, &#039;options&#039;)))
						{{-- radio --}}
						&lt;div class=&quot;container p-0 vstack gap-2&quot;&gt;
							&lt;h5 class=&quot;border-bottom pb-2 d-flex justify-content-between&quot;&gt;
								&lt;span class=&quot;fw-bold&quot;&gt;{{ data_get($field, &#039;name&#039;) }}&lt;/span&gt; {!! $clearFilterBtn !!}
							&lt;/h5&gt;
							@php
								$radioOptions = data_get($field, &#039;options&#039;);
								$rFieldStyle = (is_array($radioOptions) &amp;&amp; count($radioOptions) &gt; 12)
									? &#039; style=&quot;height: 250px; overflow-y: scroll;&quot;&#039;
									: &#039;&#039;;
							@endphp
							&lt;div{!! $rFieldStyle !!}&gt;
								@include(&#039;helpers.forms.fields.radio&#039;, [
									&#039;id&#039;              =&gt; $fieldId . &#039;-&#039;,
									&#039;protectedId&#039;     =&gt; true,
									&#039;name&#039;            =&gt; $fieldName,
									&#039;options&#039;         =&gt; $radioOptions,
									&#039;optionValueName&#039; =&gt; &#039;id&#039;,
									&#039;optionTextName&#039;  =&gt; &#039;value&#039;,
									&#039;value&#039;           =&gt; $defaultValue,
									&#039;baseClass&#039;       =&gt; [&#039;wrapper&#039; =&gt; &#039;col-md-12&#039;],
								])
							&lt;/div&gt;
							{!! $fieldQueryString !!}
						&lt;/div&gt;
					@endif
					
				@endif
				@if (data_get($field, &#039;type&#039;) == &#039;select&#039;)
				
					{{-- select --}}
					&lt;div class=&quot;container p-0 vstack gap-2&quot;&gt;
						&lt;h5 class=&quot;border-bottom pb-2 d-flex justify-content-between&quot;&gt;
							&lt;span class=&quot;fw-bold&quot;&gt;{{ data_get($field, &#039;name&#039;) }}&lt;/span&gt; {!! $clearFilterBtn !!}
						&lt;/h5&gt;
						&lt;div&gt;
							@include(&#039;helpers.forms.fields.select2&#039;, [
								&#039;id&#039;              =&gt; $fieldId,
								&#039;name&#039;            =&gt; $fieldName,
								&#039;options&#039;         =&gt; data_get($field, &#039;options&#039;),
								&#039;optionValueName&#039; =&gt; &#039;id&#039;,
								&#039;optionTextName&#039;  =&gt; &#039;value&#039;,
								&#039;placeholder&#039;     =&gt; trans(&#039;global.Select&#039;),
								&#039;value&#039;           =&gt; $defaultValue,
							])
						&lt;/div&gt;
						{!! $fieldQueryString !!}
					&lt;/div&gt;
				
				@endif
				@if (in_array(data_get($field, &#039;type&#039;), [&#039;date&#039;, &#039;date_time&#039;, &#039;date_range&#039;]))
					@php
						$fieldType = data_get($field, &#039;type&#039;, &#039;date&#039;);
						$fieldTypeMap = [
							&#039;date&#039;       =&gt; &#039;daterangepicker-date&#039;,
							&#039;date_time&#039;  =&gt; &#039;daterangepicker-datetime&#039;,
							&#039;date_range&#039; =&gt; &#039;daterangepicker-daterange&#039;,
						];
						$dateFieldComponent = $fieldTypeMap[$fieldType] ?? &#039;daterangepicker-date&#039;;
					@endphp
					@if (view()-&gt;exists(&quot;helpers.forms.fields.{$dateFieldComponent}&quot;))
						{{-- date --}}
						&lt;div class=&quot;container p-0 vstack gap-2&quot;&gt;
							&lt;h5 class=&quot;border-bottom pb-2 d-flex justify-content-between&quot;&gt;
								&lt;span class=&quot;fw-bold&quot;&gt;{{ data_get($field, &#039;name&#039;) }}&lt;/span&gt; {!! $clearFilterBtn !!}
							&lt;/h5&gt;
							&lt;div class=&quot;row px-1 gx-1 gy-1&quot;&gt;
								@include(&quot;helpers.forms.fields.{$dateFieldComponent}&quot;, [
									&#039;id&#039;            =&gt; $fieldId,
									&#039;name&#039;          =&gt; $fieldName,
									&#039;placeholder&#039;   =&gt; data_get($field, &#039;name&#039;),
									&#039;value&#039;         =&gt; strip_tags($defaultValue),
									// &#039;referenceDate&#039; =&gt; date(&#039;Y-m-d&#039;),
									&#039;attributes&#039;    =&gt; [&#039;autocomplete&#039; =&gt; &#039;off&#039;],
									&#039;baseClass&#039;     =&gt; [&#039;wrapper&#039; =&gt; &#039;col-lg-9 col-md-12 col-sm-12&#039;],
								])
								&lt;div class=&quot;col-lg-3 col-md-12 col-sm-12 d-grid&quot;&gt;
									&lt;button class=&quot;btn btn-secondary&quot; type=&quot;submit&quot;&gt;{{ trans(&#039;global.go&#039;) }}&lt;/button&gt;
								&lt;/div&gt;
							&lt;/div&gt;
							{!! $fieldQueryString !!}
						&lt;/div&gt;
					@endif
				
				@endif
				
			@endforeach
		&lt;/div&gt;
	&lt;/form&gt;
	&lt;/div&gt;
@endif

@section(&#039;after_styles&#039;)
@endsection
@section(&#039;after_scripts&#039;)
	@parent
	&lt;script&gt;
		onDocumentReady((event) =&gt; {
			const cfFormEl = $(&#039;#leftSidebar form.cf-form&#039;);
			
			/* Select */
			cfFormEl.find(&#039;select&#039;).change(function() {
				/* Get full field&#039;s ID */
				let fullFieldId = $(this).attr(&#039;id&#039;);
				
				/* Get full field&#039;s ID without dots */
				let jsFullFieldId = fullFieldId.split(&#039;.&#039;).join(&#039;&#039;);
				
				/* Get real field&#039;s ID (i.e. Without the custom field prefix (cf.)) */
				let fieldId;
				const tmp = fullFieldId.split(&#039;.&#039;);
				if (typeof tmp[1] !== &#039;undefined&#039;) {
					fieldId = tmp[1];
				} else {
					return false;
				}
				
				/* Get saved QueryString */
				const fieldQueryStringSelector = `#${jsFullFieldId}QueryString`;
				let fieldQueryString = $(fieldQueryStringSelector).val();
				
				if (typeof fieldQueryString === &#039;undefined&#039;) {
					fieldQueryString = &#039;&#039;;
				}
				
				/* Add the field&#039;s value to the QueryString */
				if (fieldQueryString !== &#039;&#039;) {
					fieldQueryString = `${fieldQueryString}&amp;`;
				}
				fieldQueryString = `${fieldQueryString}cf[${fieldId}]=` + $(this).val();
				
				/* Redirect to the new search URL */
				const searchUrl = `${baseUrl}?${fieldQueryString}`;
				redirect(searchUrl);
			});
			
			/* Radio &amp; Checkbox */
			cfFormEl.find(&#039;input[type=radio], input[type=checkbox]&#039;).click(function() {
				/* Get full field&#039;s ID */
				let fullFieldId = $(this).attr(&#039;id&#039;);
				
				/* Get the field&#039;s ID without the option&#039;s value|ID (that is after the dash (-)) */
				fullFieldId = fullFieldId.split(&#039;-&#039;)[0];
				
				/* Get full field&#039;s ID without dots */
				let jsFullFieldId = fullFieldId.split(&#039;.&#039;).join(&#039;&#039;);
				
				/* Get real field&#039;s ID (i.e. Without the custom field prefix (cf.)) */
				let fieldId;
				let fieldOptionId;
				const tmp = fullFieldId.split(&#039;.&#039;);
				if (typeof tmp[1] !== &#039;undefined&#039;) {
					fieldId = tmp[1];
					if (typeof tmp[2] !== &#039;undefined&#039;) {
						fieldOptionId = tmp[2];
					}
				} else {
					return false;
				}
				
				/* Get saved QueryString */
				const fieldQueryStringSelector = `#${jsFullFieldId}QueryString`;
				let fieldQueryString = $(fieldQueryStringSelector).val();
				
				if (typeof fieldQueryString === &#039;undefined&#039;) {
					fieldQueryString = &#039;&#039;;
				}
				
				/* Check if field is checked */
				if (
					$(this).prop(&#039;checked&#039;) === true
					|| $(this).prop(&#039;checked&#039;) === 1
					|| $(this).prop(&#039;checked&#039;) === &#039;1&#039;
				) {
					/* Add the field&#039;s value to the QueryString */
					if (fieldQueryString !== &#039;&#039;) {
						fieldQueryString = fieldQueryString + &#039;&amp;&#039;;
					}
					if (typeof fieldOptionId !== &#039;undefined&#039;) {
						fieldQueryString = `${fieldQueryString}cf[${fieldId}][${fieldOptionId}]=` + rawurlencode($(this).val());
					} else {
						fieldQueryString = `${fieldQueryString}cf[${fieldId}]=` + $(this).val();
					}
				}
				
				/* Redirect to the new search URL */
				const searchUrl = `${baseUrl}?${fieldQueryString}`;
				redirect(searchUrl);
			});
		});
	&lt;/script&gt;
@endsection


<hr>
<!-- PEDROO_NEXT_FILE: /ads/resources/views/front/search/partials/sidebar/price.blade.php -->
<!-- PEDROO_NEXT_DIR: /ads/resources/views/front/search/partials/sidebar/categories -->

</body>
</html>