<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>/ads/resources/views/front/search/partials/sidebar/price.blade.php</title>
<style>
body { font-family: monospace; white-space: pre; }
</style>
</head>
<body>
@php
	$isPriceFilterCanBeDisplayed = (!empty($cat) &amp;&amp; data_get($cat, &#039;type&#039;) != &#039;not-salable&#039;);
	
	// Clear Filter Button
	$clearFilterBtn = urlGen()-&gt;getPriceFilterClearLink($cat ?? null, $city ?? null);
@endphp
@if ($isPriceFilterCanBeDisplayed)
	{{-- Price --}}
	&lt;div class=&quot;container p-0 vstack gap-2&quot;&gt;
		&lt;h5 class=&quot;border-bottom pb-2 d-flex justify-content-between&quot;&gt;
			&lt;span class=&quot;fw-bold&quot;&gt;
				{{ (!in_array(data_get($cat, &#039;type&#039;), [&#039;job-offer&#039;, &#039;job-search&#039;])) ? trans(&#039;global.price_range&#039;) : trans(&#039;global.salary_range&#039;) }}
			&lt;/span&gt; {!! $clearFilterBtn !!}
		&lt;/h5&gt;
		&lt;div&gt;
			&lt;form action=&quot;{{ request()-&gt;url() }}&quot; method=&quot;GET&quot; role=&quot;form&quot;&gt;
				@foreach(request()-&gt;except([&#039;page&#039;, &#039;minPrice&#039;, &#039;maxPrice&#039;, &#039;_token&#039;]) as $key =&gt; $value)
					@if (is_array($value))
						@foreach($value as $k =&gt; $v)
							@if (is_array($v))
								@foreach($v as $ik =&gt; $iv)
									@continue(is_array($iv))
									&lt;input type=&quot;hidden&quot; name=&quot;{{ $key.&#039;[&#039;.$k.&#039;][&#039;.$ik.&#039;]&#039; }}&quot; value=&quot;{{ $iv }}&quot;&gt;
								@endforeach
							@else
								&lt;input type=&quot;hidden&quot; name=&quot;{{ $key.&#039;[&#039;.$k.&#039;]&#039; }}&quot; value=&quot;{{ $v }}&quot;&gt;
							@endif
						@endforeach
					@else
						&lt;input type=&quot;hidden&quot; name=&quot;{{ $key }}&quot; value=&quot;{{ $value }}&quot;&gt;
					@endif
				@endforeach
				&lt;div class=&quot;row px-0 gx-1 gy-1&quot;&gt;
					&lt;div class=&quot;col-12 mb-3 number-range-slider price-range&quot; id=&quot;priceRangeSlider&quot;&gt;&lt;/div&gt;
					&lt;div class=&quot;col-lg-4 col-md-12 col-sm-12&quot;&gt;
						&lt;input type=&quot;number&quot;
						       min=&quot;0&quot;
						       id=&quot;minPrice&quot;
						       name=&quot;minPrice&quot;
						       class=&quot;form-control&quot;
						       placeholder=&quot;{{ trans(&#039;global.Min&#039;) }}&quot;
						       value=&quot;{{ request()-&gt;query(&#039;minPrice&#039;) }}&quot;
						&gt;
					&lt;/div&gt;
					&lt;div class=&quot;col-lg-4 col-md-12 col-sm-12&quot;&gt;
						&lt;input type=&quot;number&quot;
						       min=&quot;0&quot;
						       id=&quot;maxPrice&quot;
						       name=&quot;maxPrice&quot;
						       class=&quot;form-control&quot;
						       placeholder=&quot;{{ trans(&#039;global.Max&#039;) }}&quot;
						       value=&quot;{{ request()-&gt;query(&#039;maxPrice&#039;) }}&quot;
						&gt;
					&lt;/div&gt;
					&lt;div class=&quot;col-lg-4 col-md-12 col-sm-12 d-grid&quot;&gt;
						&lt;button class=&quot;btn btn-secondary&quot; type=&quot;submit&quot;&gt;{{ trans(&#039;global.go&#039;) }}&lt;/button&gt;
					&lt;/div&gt;
				&lt;/div&gt;
			&lt;/form&gt;
		&lt;/div&gt;
	&lt;/div&gt;
@endif

{{-- Styles --}}
{{-- The noUiSlider styles need to be placed in the end of &lt;body&gt; instead of in the &lt;head&gt; --}}
@section(&#039;after_scripts&#039;)
	@parent
	@if ($isPriceFilterCanBeDisplayed)
		&lt;link href=&quot;{{ url(&#039;assets/plugins/noUiSlider/15.5.0/nouislider.css&#039;) }}&quot; rel=&quot;stylesheet&quot;&gt;
		&lt;style&gt;
			/* Hide Arrows From Input Number */
			/* Chrome, Safari, Edge, Opera */
			.number-range-slider-wrapper input::-webkit-outer-spin-button,
			.number-range-slider-wrapper input::-webkit-inner-spin-button {
				-webkit-appearance: none;
				margin: 0;
			}
			/* Firefox */
			.number-range-slider-wrapper input[type=number] {
				-moz-appearance: textfield;
			}
		&lt;/style&gt;
	@endif
@endsection

{{-- Scripts --}}
@section(&#039;after_scripts&#039;)
	@parent
	@if ($isPriceFilterCanBeDisplayed)
		&lt;script src=&quot;{{ url(&#039;assets/plugins/noUiSlider/15.5.0/nouislider.js&#039;) }}&quot;&gt;&lt;/script&gt;
		@php
			$minPrice = (int)config(&#039;settings.listings_list.min_price&#039;, 0);
			$maxPrice = (int)config(&#039;settings.listings_list.max_price&#039;, 10000);
			$priceSliderStep = (int)config(&#039;settings.listings_list.price_slider_step&#039;, 50);
			
			$startPrice = (int)request()-&gt;query(&#039;minPrice&#039;, $minPrice);
			$endPrice = (int)request()-&gt;query(&#039;maxPrice&#039;, $maxPrice);
		@endphp
		&lt;script&gt;
			onDocumentReady((event) =&gt; {
				let minPrice = {{ $minPrice }};
				let maxPrice = {{ $maxPrice }};
				let priceSliderStep = {{ $priceSliderStep }};
				
				{{-- Price --}}
				let startPrice = {{ $startPrice }};
				let endPrice = {{ $endPrice }};
				
				let priceRangeSliderEl = document.getElementById(`priceRangeSlider`);
				noUiSlider.create(priceRangeSliderEl, {
					connect: true,
					start: [startPrice, endPrice],
					step: priceSliderStep,
					keyboardSupport: true,     			 /* Default true */
					keyboardDefaultStep: 5,    			 /* Default 10 */
					keyboardPageMultiplier: 5, 			 /* Default 5 */
					keyboardMultiplier: priceSliderStep, /* Default 1 */
					range: {
						&#039;min&#039;: minPrice,
						&#039;max&#039;: maxPrice
					}
				});
				
				let minPriceEl = document.getElementById(`minPrice`);
				let maxPriceEl = document.getElementById(`maxPrice`);
				
				priceRangeSliderEl.noUiSlider.on(&#039;update&#039;, (values, handle) =&gt; {
					let value = values[handle];
					
					if (handle) {
						maxPriceEl.value = Math.round(value);
					} else {
						minPriceEl.value = Math.round(value);
					}
				});
				minPriceEl.addEventListener(&#039;change&#039;, (e) =&gt; {
					priceRangeSliderEl.noUiSlider.set([e.target.value, null]);
				});
				maxPriceEl.addEventListener(&#039;change&#039;, (e) =&gt; {
					if (e.target.value &lt;= maxPrice) {
						priceRangeSliderEl.noUiSlider.set([null, e.target.value]);
					}
				});
			});
		&lt;/script&gt;
	@endif
@endsection


<hr>
<!-- PEDROO_NEXT_FILE: /ads/resources/views/front/search/partials/tags.blade.php -->
<!-- PEDROO_NEXT_DIR: /ads/resources/views/front/search/partials/sidebar/categories -->

</body>
</html>