<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>/ads/resources/views/admin/panel/create.blade.php</title>
<style>
body { font-family: monospace; white-space: pre; }
</style>
</head>
<body>
@extends(&#039;admin.layouts.master&#039;)

@php
    use App\Http\Controllers\Web\Admin\Panel\Library\Panel;
	
    /** @var Panel $xPanel */
    $xPanel ??= null;
@endphp

@section(&#039;header&#039;)
    &lt;div class=&quot;row page-titles&quot;&gt;
        &lt;div class=&quot;col-md-5 col-12 align-self-center&quot;&gt;
            &lt;h2 class=&quot;mb-0&quot;&gt;
                &lt;span class=&quot;text-capitalize&quot;&gt;{!! $xPanel-&gt;entityNamePlural !!}&lt;/span&gt;
                &lt;small&gt;{{ trans(&#039;admin.add&#039;) }} {!! $xPanel-&gt;entityName !!}&lt;/small&gt;
            &lt;/h2&gt;
        &lt;/div&gt;
        &lt;div class=&quot;col-md-7 col-12 align-self-center d-none d-md-flex justify-content-end&quot;&gt;
            &lt;ol class=&quot;breadcrumb mb-0 p-0 bg-transparent&quot;&gt;
                &lt;li class=&quot;breadcrumb-item&quot;&gt;
                    &lt;a href=&quot;{{ urlGen()-&gt;adminUrl() }}&quot;&gt;
                        {{ trans(&#039;admin.dashboard&#039;) }}
                    &lt;/a&gt;
                &lt;/li&gt;
                &lt;li class=&quot;breadcrumb-item&quot;&gt;
                    &lt;a href=&quot;{{ $xPanel-&gt;getUrl() }}&quot; class=&quot;text-capitalize&quot;&gt;
                        {!! $xPanel-&gt;entityNamePlural !!}
                    &lt;/a&gt;
                &lt;/li&gt;
                &lt;li class=&quot;breadcrumb-item active d-flex align-items-center&quot;&gt;
                    {{ trans(&#039;admin.add&#039;) }}
                &lt;/li&gt;
            &lt;/ol&gt;
        &lt;/div&gt;
    &lt;/div&gt;
@endsection

@section(&#039;content&#039;)
    &lt;div class=&quot;flex-row d-flex justify-content-center&quot;&gt;
        @php
            $colMd = config(&#039;settings.style.admin_boxed_layout&#039;) == &#039;1&#039; ? &#039; col-md-12&#039; : &#039; col-md-9&#039;;
        @endphp
        &lt;div class=&quot;col-sm-12{{ $colMd }}&quot;&gt;
            
            {{-- Default box --}}
            @if ($xPanel-&gt;hasAccess(&#039;list&#039;))
                &lt;a href=&quot;{{ $xPanel-&gt;getUrl() }}&quot; class=&quot;btn btn-primary shadow mb-3&quot;&gt;
                    &lt;i class=&quot;fa-solid fa-angles-left&quot;&gt;&lt;/i&gt; {{ trans(&#039;admin.back_to_all&#039;) }}
                    &lt;span class=&quot;text-lowercase&quot;&gt;{!! $xPanel-&gt;entityNamePlural !!}&lt;/span&gt;
                &lt;/a&gt;
            @endif
            
            {{-- Show the errors, if any --}}
            @include(&#039;admin.panel.inc.grouped_errors&#039;)
            
            @if ($xPanel-&gt;hasUploadFields(&#039;create&#039;))
                {{ html()-&gt;form(&#039;POST&#039;, $xPanel-&gt;getUrl())-&gt;acceptsFiles()-&gt;attribute(&#039;novalidate&#039;, true)-&gt;open() }}
            @else
                {{ html()-&gt;form(&#039;POST&#039;, $xPanel-&gt;getUrl())-&gt;attribute(&#039;novalidate&#039;, true)-&gt;open() }}
            @endif
            &lt;div class=&quot;card rounded-0 border-0 border-top border-primary&quot;&gt;
                
                &lt;div class=&quot;card-header border-bottom-0&quot;&gt;
                    &lt;h3 class=&quot;mb-0&quot;&gt;{{ trans(&#039;admin.add_a_new&#039;) }} {!! $xPanel-&gt;entityName !!}&lt;/h3&gt;
                &lt;/div&gt;
                &lt;div class=&quot;card-body&quot;&gt;
                    {{-- load the view from the application if it exists, otherwise load the one in the package --}}
                    @php
                        $form = &#039;create&#039;;
                    @endphp
                    @if (view()-&gt;exists(&#039;admin.panel.&#039; . $xPanel-&gt;entityName . &#039;.form_content&#039;))
                        @include(&#039;admin.panel.&#039; . $xPanel-&gt;entityName . &#039;.form_content&#039;, [
			                &#039;form&#039;   =&gt; $form,
			                &#039;fields&#039; =&gt; $xPanel-&gt;getFields($form),
			                &#039;action&#039; =&gt; &#039;create&#039;,
                        ])
                    @else
                        @include(&#039;admin.panel.form_content&#039;, [
							&#039;form&#039;   =&gt; $form,
							&#039;fields&#039; =&gt; $xPanel-&gt;getFields($form),
							&#039;action&#039; =&gt; &#039;create&#039;,
                        ])
                    @endif
                &lt;/div&gt;
                &lt;div class=&quot;card-footer px-0 border-top&quot;&gt;
                    @include(&#039;admin.panel.inc.form_save_buttons&#039;)
                &lt;/div&gt;
                
            &lt;/div&gt;
            {{ html()-&gt;form()-&gt;close() }}
        &lt;/div&gt;
    &lt;/div&gt;

@endsection


<hr>
<!-- PEDROO_NEXT_FILE: /ads/resources/views/admin/panel/details_row.blade.php -->
<!-- PEDROO_NEXT_DIR: /ads/resources/views/admin/panel/buttons -->

</body>
</html>