<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>/ads/resources/views/admin/panel/details_row.blade.php</title>
<style>
body { font-family: monospace; white-space: pre; }
</style>
</head>
<body>
&lt;div class=&quot;mt-10 mb-10 ps-10 pe-10 pt-10 pb-10&quot;&gt;
    &lt;div class=&quot;flex-row d-flex justify-content-center&quot;&gt;
        &lt;div class=&quot;col-md-11&quot;&gt;
            {{ trans(&#039;admin.details_row&#039;) }}
        &lt;/div&gt;
    &lt;/div&gt;
&lt;/div&gt;


<hr>
<!-- PEDROO_NEXT_FILE: /ads/resources/views/admin/panel/details_row/categories.blade.php -->
<!-- PEDROO_NEXT_DIR: /ads/resources/views/admin/panel/buttons -->

</body>
</html>