<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>/ads/resources/views/admin/panel/edit.blade.php</title>
<style>
body { font-family: monospace; white-space: pre; }
</style>
</head>
<body>
@extends(&#039;admin.layouts.master&#039;)

@php
    use App\Http\Controllers\Web\Admin\Panel\Library\Panel;
	use App\Models\Page;
	use Illuminate\Database\Eloquent\Model;
	
    /** @var Panel $xPanel */
    $xPanel ??= null;
	
	/** @var Model $entry */
	$entry ??= null;
	
	/** @var Page $model (for example) */
	$model = $xPanel-&gt;model;
	
    $editUri = $xPanel-&gt;getUrl($entry-&gt;getKey() . &#039;/edit&#039;);
    
    $modelTable = $xPanel-&gt;getModel()-&gt;getTable();
    $settingsTables = [&#039;settings&#039;, &#039;sections&#039;, &#039;domain_settings&#039;, &#039;domain_sections&#039;];
    $isSettingsModel = in_array($modelTable, $settingsTables);
    $isNotSettingsModel = !$isSettingsModel;
@endphp
@section(&#039;header&#039;)
    &lt;div class=&quot;row page-titles&quot;&gt;
        &lt;div class=&quot;col-md-5 col-12 align-self-center&quot;&gt;
            &lt;h2 class=&quot;mb-0 h3&quot;&gt;
                &lt;span class=&quot;text-capitalize&quot;&gt;{!! $xPanel-&gt;entityNamePlural !!}&lt;/span&gt;
                &lt;small&gt;{{ trans(&#039;admin.edit&#039;) }} {!! $xPanel-&gt;entityName !!}&lt;/small&gt;
            &lt;/h2&gt;
        &lt;/div&gt;
        
        &lt;div class=&quot;col-md-7 col-12 align-self-center d-none d-md-flex justify-content-end&quot;&gt;
            &lt;ol class=&quot;breadcrumb mb-0 p-0 bg-transparent&quot;&gt;
                &lt;li class=&quot;breadcrumb-item&quot;&gt;
                    &lt;a href=&quot;{{ urlGen()-&gt;adminUrl() }}&quot;&gt;
                        {{ trans(&#039;admin.dashboard&#039;) }}
                    &lt;/a&gt;
                &lt;/li&gt;
                &lt;li class=&quot;breadcrumb-item&quot;&gt;
                    &lt;a href=&quot;{{ $xPanel-&gt;getUrl() }}&quot; class=&quot;text-capitalize&quot;&gt;
                        {!! $xPanel-&gt;entityNamePlural !!}
                    &lt;/a&gt;
                &lt;/li&gt;
                &lt;li class=&quot;breadcrumb-item active d-flex align-items-center&quot;&gt;
                    {{ trans(&#039;admin.edit&#039;) }}
                &lt;/li&gt;
            &lt;/ol&gt;
        &lt;/div&gt;
    &lt;/div&gt;
@endsection

@section(&#039;content&#039;)
    &lt;div class=&quot;flex-row d-flex justify-content-center&quot;&gt;
        @php
            $colMd = config(&#039;settings.style.admin_boxed_layout&#039;) == &#039;1&#039; ? &#039; col-md-12&#039; : &#039; col-md-9&#039;;
			$settingsClass = $isSettingsModel ? &#039; settings-edition&#039; : &#039;&#039;;
        @endphp
        &lt;div class=&quot;col-sm-12{{ $colMd }}&quot;&gt;
            &lt;div class=&quot;row&quot;&gt;
                &lt;div class=&quot;col-lg-6&quot;&gt;
                    @if ($xPanel-&gt;hasAccess(&#039;list&#039;))
                        &lt;a href=&quot;{{ $xPanel-&gt;getUrl() }}&quot; class=&quot;btn btn-primary shadow mb-3&quot;&gt;
                            &lt;i class=&quot;fa-solid fa-angles-left&quot;&gt;&lt;/i&gt; {{ trans(&#039;admin.back_to_all&#039;) }}
                            &lt;span class=&quot;text-lowercase&quot;&gt;{{-- $xPanel-&gt;entityNamePlural --}}&lt;/span&gt;
                        &lt;/a&gt;
                    @endif
                &lt;/div&gt;
                &lt;div class=&quot;col-lg-6 text-end&quot;&gt;
                    @if ($model-&gt;translationEnabled())
                        @php
                            $availableLocales = $model-&gt;getAvailableLocales();
                            $appLocale = app()-&gt;getLocale();
                            $selectedLocale = $availableLocales[request()-&gt;input(&#039;locale&#039;, $appLocale)] ?? $appLocale;
                        @endphp
                        &lt;div class=&quot;btn-group&quot;&gt;
                            &lt;button type=&quot;button&quot;
                                    class=&quot;btn btn-primary shadow dropdown-toggle&quot;
                                    data-bs-toggle=&quot;dropdown&quot;
                                    aria-haspopup=&quot;true&quot;
                                    aria-expanded=&quot;false&quot;
                            &gt;
                                {{ trans(&#039;admin.Language&#039;) }}: {{ $selectedLocale }} &amp;nbsp;&lt;span class=&quot;caret&quot;&gt;&lt;/span&gt;
                            &lt;/button&gt;
                            &lt;ul class=&quot;dropdown-menu&quot;&gt;
                                @foreach ($availableLocales as $key =&gt; $locale)
                                    @php
                                        $editUrl = urlBuilder($editUri)-&gt;setParameters([&#039;locale&#039; =&gt; $key])-&gt;toString();
                                    @endphp
                                    &lt;a class=&quot;dropdown-item ps-3 pe-3 pt-1 pb-1&quot; href=&quot;{{ $editUrl }}&quot;&gt;
                                        {{ $locale }}
                                    &lt;/a&gt;
                                @endforeach
                            &lt;/ul&gt;
                        &lt;/div&gt;
                    @endif
                &lt;/div&gt;
            &lt;/div&gt;
            
            {{-- Show the errors, if any --}}
            @include(&#039;admin.panel.inc.grouped_errors&#039;)
            
            @php
                $updateUrl = $xPanel-&gt;getUrl($entry-&gt;getKey());
            @endphp
            @if ($xPanel-&gt;hasUploadFields(&#039;update&#039;, $entry-&gt;getKey()))
                {{ html()-&gt;form(&#039;PUT&#039;, $updateUrl)-&gt;acceptsFiles()-&gt;attribute(&#039;novalidate&#039;, true)-&gt;open() }}
            @else
                {{ html()-&gt;form(&#039;PUT&#039;, $updateUrl)-&gt;attribute(&#039;novalidate&#039;, true)-&gt;open() }}
            @endif
            &lt;div class=&quot;card rounded-0 border-0 border-top border-primary{{ $settingsClass }}&quot;&gt;
                
                @if ($isNotSettingsModel)
                    &lt;div class=&quot;card-header border-bottom-0&quot;&gt;
                        &lt;h3 class=&quot;mb-0&quot;&gt;{{ trans(&#039;admin.edit&#039;) }}&lt;/h3&gt;
                    &lt;/div&gt;
                @endif
                &lt;div class=&quot;card-body&quot;&gt;
                    {{-- load the view from the application if it exists, otherwise load the one in the package --}}
                    @php
                        $form = &#039;update&#039;;
                    @endphp
                    @if (view()-&gt;exists(&#039;admin.panel.&#039; . $xPanel-&gt;entityName . &#039;.form_content&#039;))
                        @include(&#039;admin.panel.&#039; . $xPanel-&gt;entityName . &#039;.form_content&#039;, [
							&#039;form&#039;   =&gt; $form,
			                &#039;fields&#039; =&gt; $xPanel-&gt;getFields($form, $entry-&gt;getKey()),
			                &#039;action&#039; =&gt; &#039;edit&#039;,
                        ])
                    @else
                        @include(&#039;admin.panel.form_content&#039;, [
							&#039;form&#039;   =&gt; $form,
							&#039;fields&#039; =&gt; $xPanel-&gt;getFields($form, $entry-&gt;getKey()),
							&#039;action&#039; =&gt; &#039;edit&#039;,
                        ])
                    @endif
                &lt;/div&gt;
                &lt;div class=&quot;card-footer px-0 border-top&quot;&gt;
                    @include(&#039;admin.panel.inc.form_save_buttons&#039;)
                &lt;/div&gt;
            
            &lt;/div&gt;
            {{ html()-&gt;form()-&gt;close() }}
        &lt;/div&gt;
    &lt;/div&gt;
@endsection

@section(&#039;after_styles&#039;)
@endsection

@section(&#039;after_scripts&#039;)
@endsection


<hr>
<!-- PEDROO_NEXT_FILE: /ads/resources/views/admin/panel/fields/address.blade.php -->
<!-- PEDROO_NEXT_DIR: /ads/resources/views/admin/panel/buttons -->

</body>
</html>