<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>/ads/resources/views/admin/panel/list.blade.php</title>
<style>
body { font-family: monospace; white-space: pre; }
</style>
</head>
<body>
@extends(&#039;admin.layouts.master&#039;)

@php
	/** @var \App\Http\Controllers\Web\Admin\Panel\Library\Panel $xPanel */
	$xPanel ??= null;
@endphp

@section(&#039;header&#039;)
	&lt;div class=&quot;row page-titles&quot;&gt;
		&lt;div class=&quot;col-md-6 col-12 align-self-center&quot;&gt;
			&lt;h2 class=&quot;mb-0&quot;&gt;
				&lt;span class=&quot;text-capitalize&quot;&gt;{!! $xPanel-&gt;entityNamePlural !!}&lt;/span&gt;
				&lt;small id=&quot;tableInfo&quot;&gt;{{ trans(&#039;admin.all&#039;) }}&lt;/small&gt;
			&lt;/h2&gt;
		&lt;/div&gt;
		&lt;div class=&quot;col-md-6 col-12 align-self-center d-none d-md-flex justify-content-end&quot;&gt;
			&lt;ol class=&quot;breadcrumb mb-0 p-0 bg-transparent&quot;&gt;
				&lt;li class=&quot;breadcrumb-item&quot;&gt;
					&lt;a href=&quot;{{ urlGen()-&gt;adminUrl() }}&quot;&gt;
						{{ trans(&#039;admin.dashboard&#039;) }}
					&lt;/a&gt;
				&lt;/li&gt;
				&lt;li class=&quot;breadcrumb-item&quot;&gt;
					&lt;a href=&quot;{{ $xPanel-&gt;getUrl() }}&quot; class=&quot;text-capitalize&quot;&gt;
						{!! $xPanel-&gt;entityNamePlural !!}
					&lt;/a&gt;
				&lt;/li&gt;
				&lt;li class=&quot;breadcrumb-item active d-flex align-items-center&quot;&gt;
					{{ trans(&#039;admin.list&#039;) }}
				&lt;/li&gt;
			&lt;/ol&gt;
		&lt;/div&gt;
	&lt;/div&gt;
@endsection

@section(&#039;content&#039;)
	&lt;div class=&quot;row&quot;&gt;
		&lt;div class=&quot;col-12&quot;&gt;
			
			@if (isTranslatableModel($xPanel-&gt;model))
				&lt;div class=&quot;card mb-3&quot;&gt;
					&lt;div class=&quot;card-body&quot;&gt;
						&lt;h3 class=&quot;card-title&quot;&gt;
							&lt;i class=&quot;fa-regular fa-circle-question&quot;&gt;&lt;/i&gt; {{ trans(&#039;admin.Help&#039;) }}
						&lt;/h3&gt;
						&lt;p class=&quot;card-text&quot;&gt;
							{!! trans(&#039;admin.help_translatable_table&#039;) !!}
							@if (config(&#039;larapen.admin.show_translatable_field_icon&#039;))
								&amp;nbsp;{!! trans(&#039;admin.help_translatable_column&#039;) !!}
							@endif
						&lt;/p&gt;
					&lt;/div&gt;
				&lt;/div&gt;
			@endif
			
			&lt;div class=&quot;card border-0&quot;&gt;
				@php
					$topStack = &#039;top&#039;;
					$isTopButtonsExist = ($xPanel-&gt;buttons-&gt;where(&#039;stack&#039;, $topStack)-&gt;count() &gt; 0);
				@endphp
				@if ($isTopButtonsExist)
					&lt;div class=&quot;card-header px-0 border-bottom border-primary&quot;&gt;
						@include(&#039;admin.panel.inc.button_stack&#039;, [&#039;stack&#039; =&gt; $topStack])
						&lt;div id=&quot;datatable_button_stack&quot; class=&quot;float-end text-end&quot;&gt;&lt;/div&gt;
					&lt;/div&gt;
				@endif
				
				{{-- List Filters --}}
				@if ($xPanel-&gt;filtersEnabled())
					&lt;div class=&quot;card-body&quot;&gt;
						@include(&#039;admin.panel.inc.filters_navbar&#039;)
					&lt;/div&gt;
				@endif
				
				&lt;div class=&quot;card-body&quot;&gt;
					
					&lt;div id=&quot;loadingData&quot;&gt;&lt;/div&gt;
					
					&lt;form id=&quot;bulkActionForm&quot; action=&quot;{{ $xPanel-&gt;getUrl(&#039;bulk_actions&#039;) }}&quot; method=&quot;POST&quot;&gt;
						@csrf
						
						&lt;table id=&quot;crudTable&quot; class=&quot;dataTable table table-bordered table-striped display dt-responsive nowrap w-100&quot;&gt;
							&lt;thead&gt;
							&lt;tr&gt;
								@if ($xPanel-&gt;detailsRow)
									&lt;th data-orderable=&quot;false&quot;&gt;&lt;/th&gt; {{-- expand/minimize button column --}}
								@endif
	
								{{-- Table columns --}}
								@foreach ($xPanel-&gt;columns as $column)
									@php
										$orderableAttr = isset($column[&#039;orderable&#039;]) ? &#039; data-orderable=&#039; . var_export($column[&#039;orderable&#039;], true) : &#039;&#039;;
										$priorityAttr = isset($column[&#039;priority&#039;]) ? &#039; data-priority=&#039; . $column[&#039;priority&#039;] : &#039;&#039;;
										$visibleInModal = (isset($column[&#039;visibleInModal&#039;]) &amp;&amp; $column[&#039;visibleInModal&#039;] === false) ? &#039;false&#039; : &#039;true&#039;;
										$visibleInModalAttr = &quot;data-visible-in-modal={$visibleInModal}&quot;;
									@endphp
									@if ($column[&#039;type&#039;] == &#039;checkbox&#039;)
										&lt;th {{ $visibleInModalAttr . $orderableAttr . $priorityAttr }}
											class=&quot;dt-checkboxes-cell dt-checkboxes-select-all sorting_disabled&quot;
											tabindex=&quot;0&quot;
											aria-controls=&quot;massSelectAll&quot;
											rowspan=&quot;1&quot;
											colspan=&quot;1&quot;
											style=&quot;width: 14px; text-align: center; padding-right: 10px;&quot;
											data-col=&quot;0&quot;
											aria-label=&quot;&quot;
										&gt;
											&lt;input type=&quot;checkbox&quot; id=&quot;massSelectAll&quot; name=&quot;massSelectAll&quot;&gt;
										&lt;/th&gt;
									@else
										&lt;th {{ $visibleInModalAttr . $orderableAttr . $priorityAttr }}&gt;
											{!! $column[&#039;label&#039;] !!}
										&lt;/th&gt;
									@endif
								@endforeach
	
								@if ($xPanel-&gt;buttons-&gt;where(&#039;stack&#039;, &#039;line&#039;)-&gt;count())
									&lt;th data-orderable=&quot;false&quot;&gt;{{ trans(&#039;admin.actions&#039;) }}&lt;/th&gt;
								@endif
							&lt;/tr&gt;
							&lt;/thead&gt;
	
							&lt;tbody&gt;
							&lt;/tbody&gt;
	
							&lt;tfoot&gt;
							&lt;tr&gt;
								@if ($xPanel-&gt;detailsRow)
									&lt;th&gt;&lt;/th&gt; {{-- expand/minimize button column --}}
								@endif
	
								{{-- Table columns --}}
								@foreach ($xPanel-&gt;columns as $column)
									&lt;th&gt;{{ $column[&#039;label&#039;] }}&lt;/th&gt;
								@endforeach
	
								@if ( $xPanel-&gt;buttons-&gt;where(&#039;stack&#039;, &#039;line&#039;)-&gt;count() )
									&lt;th&gt;{{ trans(&#039;admin.actions&#039;) }}&lt;/th&gt;
								@endif
							&lt;/tr&gt;
							&lt;/tfoot&gt;
						&lt;/table&gt;
						
					&lt;/form&gt;

				&lt;/div&gt;

				@include(&#039;admin.panel.inc.button_stack&#039;, [&#039;stack&#039; =&gt; &#039;bottom&#039;])
				
        	&lt;/div&gt;
    	&lt;/div&gt;
	&lt;/div&gt;
@endsection

@section(&#039;after_styles&#039;)
    {{-- DATA TABLES --}}
	{{--&lt;link href=&quot;{{ asset(&#039;assets/plugins/datatables/css/jquery.dataTables.css&#039;) }}&quot; rel=&quot;stylesheet&quot; type=&quot;text/css&quot; /&gt;--}}
	&lt;link href=&quot;{{ asset(&#039;assets/plugins/datatables/css/dataTables.bootstrap.css&#039;) }}&quot; rel=&quot;stylesheet&quot; type=&quot;text/css&quot; /&gt;
	&lt;link href=&quot;{{ asset(&#039;assets/plugins/datatables/css/dataTables.bootstrap5.css&#039;) }}&quot; rel=&quot;stylesheet&quot; type=&quot;text/css&quot; /&gt;
	&lt;link href=&quot;{{ asset(&#039;assets/plugins/datatables/extensions/Responsive-2.2.9/css/responsive.bootstrap5.css&#039;) }}&quot; rel=&quot;stylesheet&quot; type=&quot;text/css&quot; /&gt;
    
    &lt;link rel=&quot;stylesheet&quot; href=&quot;{{ asset(&#039;assets/admin/crud/css/crud.css&#039;) }}&quot;&gt;
    &lt;link rel=&quot;stylesheet&quot; href=&quot;{{ asset(&#039;assets/admin/crud/css/form.css&#039;) }}&quot;&gt;
    &lt;link rel=&quot;stylesheet&quot; href=&quot;{{ asset(&#039;assets/admin/crud/css/list.css&#039;) }}&quot;&gt;
	
    {{-- CRUD LIST CONTENT - crud_list_styles stack --}}
    @stack(&#039;crud_list_styles&#039;)
    
    &lt;style&gt;
		@if ($xPanel-&gt;isBulkActionAllowed())
			/* tr &gt; td:first-child, */
			table.dataTable &gt; tbody &gt; tr:not(.p-0) &gt; td:first-child {
				width: 30px;
				white-space: nowrap;
				text-align: center;
			}
		@endif
		
		/* Fix the &#039;Actions&#039; column size */
		/* tr &gt; td:last-child, */
		table.dataTable &gt; tbody &gt; tr:not(.p-0) &gt; td:last-child,
		table:not(.dataTable) &gt; tbody &gt; tr &gt; td:last-child {
			width: 10px;
			white-space: nowrap;
		}
    &lt;/style&gt;
@endsection

@section(&#039;after_scripts&#039;)
	{{-- DataTable Implementation --}}
	@include(&#039;admin.panel.inc.datatable&#039;)
	@include(&#039;admin.panel.inc.datatable.details_row&#039;)
	@include(&#039;admin.panel.inc.datatable.bulk_actions&#039;)
	@include(&#039;admin.panel.inc.datatable.export_buttons&#039;)
	
	&lt;script src=&quot;{{ asset(&#039;assets/admin/crud/js/crud.js&#039;) }}&quot;&gt;&lt;/script&gt;
	&lt;script src=&quot;{{ asset(&#039;assets/admin/crud/js/form.js&#039;) }}&quot;&gt;&lt;/script&gt;
	&lt;script src=&quot;{{ asset(&#039;assets/admin/crud/js/list.js&#039;) }}&quot;&gt;&lt;/script&gt;

    {{-- CRUD LIST CONTENT - crud_list_scripts stack --}}
    @stack(&#039;crud_list_scripts&#039;)
@endsection


<hr>
<!-- PEDROO_NEXT_FILE: /ads/resources/views/admin/panel/reorder.blade.php -->
<!-- PEDROO_NEXT_DIR: /ads/resources/views/admin/panel/buttons -->

</body>
</html>