<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>/ads/resources/views/admin/panel/reorder.blade.php</title>
<style>
body { font-family: monospace; white-space: pre; }
</style>
</head>
<body>
@extends(&#039;admin.layouts.master&#039;)

@php
    use App\Http\Controllers\Web\Admin\Panel\Library\Panel;
	
    /** @var Panel $xPanel */
    $xPanel ??= null;
	
    $entries ??= collect();
	$rootEntries ??= collect();
@endphp

@section(&#039;header&#039;)
    &lt;div class=&quot;row page-titles&quot;&gt;
        &lt;div class=&quot;col-md-5 col-12 align-self-center&quot;&gt;
            &lt;h2 class=&quot;mb-0&quot;&gt;
                &lt;span class=&quot;text-capitalize&quot;&gt;{!! $xPanel-&gt;entityNamePlural !!}&lt;/span&gt;
                &lt;small&gt;{{ trans(&#039;admin.reorder&#039;) }}&lt;/small&gt;
            &lt;/h2&gt;
        &lt;/div&gt;
        &lt;div class=&quot;col-md-7 col-12 align-self-center d-none d-md-flex justify-content-end&quot;&gt;
            &lt;ol class=&quot;breadcrumb mb-0 p-0 bg-transparent&quot;&gt;
                &lt;li class=&quot;breadcrumb-item&quot;&gt;
                    &lt;a href=&quot;{{ urlGen()-&gt;adminUrl() }}&quot;&gt;
                        {{ trans(&#039;admin.dashboard&#039;) }}
                    &lt;/a&gt;
                &lt;/li&gt;
                &lt;li class=&quot;breadcrumb-item&quot;&gt;
                    &lt;a href=&quot;{{ $xPanel-&gt;getUrl() }}&quot; class=&quot;text-capitalize&quot;&gt;
                        {!! $xPanel-&gt;entityNamePlural !!}
                    &lt;/a&gt;
                &lt;/li&gt;
                &lt;li class=&quot;breadcrumb-item active d-flex align-items-center&quot;&gt;
                    {{ trans(&#039;admin.reorder&#039;) }}
                &lt;/li&gt;
            &lt;/ol&gt;
        &lt;/div&gt;
    &lt;/div&gt;
@endsection

@section(&#039;content&#039;)
    &lt;div class=&quot;flex-row d-flex justify-content-center&quot;&gt;
        @php
            $colMd = config(&#039;settings.style.admin_boxed_layout&#039;) == &#039;1&#039; ? &#039; col-md-12&#039; : &#039; col-md-10&#039;;
        @endphp
        &lt;div class=&quot;col-sm-12{{ $colMd }}&quot;&gt;
            @if ($xPanel-&gt;hasAccess(&#039;list&#039;))
                &lt;a href=&quot;{{ $xPanel-&gt;getUrl() }}&quot; class=&quot;btn btn-primary shadow mb-3&quot;&gt;
                    &lt;i class=&quot;fa-solid fa-angles-left&quot;&gt;&lt;/i&gt; {{ trans(&#039;admin.back_to_all&#039;) }}
                    &lt;span class=&quot;text-lowercase&quot;&gt;{!! $xPanel-&gt;entityNamePlural !!}&lt;/span&gt;
                &lt;/a&gt;
            @endif
            
            {{-- Default box --}}
            &lt;div class=&quot;card rounded-0 border-0 border-top border-primary&quot;&gt;
                &lt;div class=&quot;card-header border-bottom-0&quot;&gt;
                    &lt;h3 class=&quot;mb-0&quot;&gt;{!! trans(&#039;admin.reorder&#039;) . &#039; &#039; . $xPanel-&gt;entityNamePlural !!}&lt;/h3&gt;
                &lt;/div&gt;
                &lt;div class=&quot;card-body n-sortable&quot;&gt;
                    
                    &lt;p&gt;{{ trans(&#039;admin.reorder_text&#039;) }}&lt;/p&gt;
                    
                    @if ($xPanel-&gt;hasNestedEntries() &amp;&amp; request()-&gt;is(&#039;*/reorder&#039;))
                        &lt;div class=&quot;card text-white bg-info rounded mb-0&quot;&gt;
                            &lt;div class=&quot;card-body&quot;&gt;
                                {{ trans(&#039;admin.reorder_rebuilding_nodes&#039;) }}
                            &lt;/div&gt;
                        &lt;/div&gt;
                    @endif
                    
                    &lt;div class=&quot;row&quot;&gt;
                        @php
                            $colLg = config(&#039;settings.style.admin_boxed_layout&#039;) == &#039;1&#039; ? &#039; col-lg-10&#039; : &#039; col-lg-6&#039;;
                        @endphp
                        &lt;div class=&quot;col-md-12{{ $colLg }}&quot;&gt;
                            
                            &lt;ol class=&quot;sortable&quot;&gt;
                                @foreach ($rootEntries as $key =&gt; $entry)
                                    @php
                                        echo sortableTreeElement($entry, $key, $entries, $xPanel);
                                    @endphp
                                @endforeach
                            &lt;/ol&gt;
                            
                            &lt;button id=&quot;toArray&quot; class=&quot;btn btn-primary shadow ladda-button&quot; data-style=&quot;zoom-in&quot;&gt;
                                &lt;span class=&quot;ladda-label&quot;&gt;&lt;i class=&quot;fa-regular fa-floppy-disk&quot;&gt;&lt;/i&gt; {{ trans(&#039;admin.save&#039;) }}&lt;/span&gt;
                            &lt;/button&gt;
                            
                        &lt;/div&gt;
                    &lt;/div&gt;
                    
                &lt;/div&gt;
            &lt;/div&gt;
        &lt;/div&gt;
    &lt;/div&gt;
@endsection

@section(&#039;after_styles&#039;)
    &lt;link href=&quot;{{ asset(&#039;assets/plugins/nestedSortable/nestedSortable.css&#039;) }}&quot; rel=&quot;stylesheet&quot; type=&quot;text/css&quot; /&gt;
@endsection

@section(&#039;after_scripts&#039;)
    &lt;script src=&quot;https://code.jquery.com/ui/1.11.3/jquery-ui.min.js&quot; type=&quot;text/javascript&quot;&gt;&lt;/script&gt;
    &lt;script src=&quot;{{ url(&#039;assets/plugins/nestedSortable/jquery.mjs.nestedSortable2.js&#039;) }}&quot; type=&quot;text/javascript&quot;&gt;&lt;/script&gt;

    &lt;script type=&quot;text/javascript&quot;&gt;
        onDocumentReady((event) =&gt; {
            // initialize the nested sortable plugin
            $(&#039;.sortable&#039;).nestedSortable({
                forcePlaceholderSize: true,
                handle: &#039;div&#039;,
                helper: &#039;clone&#039;,
                items: &#039;li&#039;,
                opacity: .6,
                placeholder: &#039;placeholder&#039;,
                revert: 250,
                tabSize: 25,
                tolerance: &#039;pointer&#039;,
                toleranceElement: &#039;&gt; div&#039;,
                maxLevels: {{ $xPanel-&gt;reorderMaxLevel ?? 3 }},

                isTree: true,
                expandOnHover: 700,
                startCollapsed: false
            });

            $(&#039;.disclose&#039;).on(&#039;click&#039;, function() {
                $(this).closest(&#039;li&#039;).toggleClass(&#039;mjs-nestedSortable-collapsed&#039;).toggleClass(&#039;mjs-nestedSortable-expanded&#039;);
            });

            $(&#039;#toArray&#039;).click(function(e) {
                if (typeof arraied === &#039;undefined&#039;) {
                    let arraied;
                }
                
                // Get the current tree order
                arraied = $(&#039;ol.sortable&#039;).nestedSortable(&#039;toArray&#039;, {startDepthCount: 0});

                // log it
                console.log(arraied);

                // send it with POST
                $.ajax({
                    url: &#039;{{ request()-&gt;url() }}&#039;,
                    type: &#039;POST&#039;,
                    data: { tree: arraied },
                })
                    .done(function() {
                        console.log(&quot;success&quot;);
                        new PNotify.alert({
                            title: &quot;{{ trans(&#039;admin.reorder_success_title&#039;) }}&quot;,
                            text: &quot;{{ trans(&#039;admin.reorder_success_message&#039;) }}&quot;,
                            type: &quot;success&quot;
                        });
                    })
                    .fail(function() {
                        console.log(&quot;error&quot;);
                        new PNotify.alert({
                            title: &quot;{{ trans(&#039;admin.reorder_error_title&#039;) }}&quot;,
                            text: &quot;{{ trans(&#039;admin.reorder_error_message&#039;) }}&quot;,
                            type: &quot;error&quot;
                        });
                    })
                    .always(function() {
                        console.log(&quot;complete&quot;);
                    });

            });

            $.ajaxPrefilter(function(options, originalOptions, xhr) {
                var token = $(&#039;meta[name=&quot;csrf_token&quot;]&#039;).attr(&#039;content&#039;);

                if (token) {
                    return xhr.setRequestHeader(&#039;X-XSRF-TOKEN&#039;, token);
                }
            });
        });
    &lt;/script&gt;
@endsection


<hr>
<!-- PEDROO_NEXT_FILE: /ads/resources/views/admin/panel/revisions.blade.php -->
<!-- PEDROO_NEXT_DIR: /ads/resources/views/admin/panel/buttons -->

</body>
</html>