<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>/ads/resources/views/admin/panel/revisions.blade.php</title>
<style>
body { font-family: monospace; white-space: pre; }
</style>
</head>
<body>
@extends(&#039;admin.layouts.master&#039;)

@section(&#039;header&#039;)
	&lt;div class=&quot;row page-titles&quot;&gt;
		&lt;div class=&quot;col-md-6 col-12 align-self-center&quot;&gt;
			&lt;h3 class=&quot;mb-0&quot;&gt;
				&lt;span class=&quot;text-capitalize&quot;&gt;{!! ucfirst($xPanel-&gt;entityName) !!}&lt;/span&gt;
				&lt;small&gt;{{ trans(&#039;admin.revisions&#039;) }}&lt;/small&gt;
			&lt;/h3&gt;
		&lt;/div&gt;
		&lt;div class=&quot;col-md-6 col-12 align-self-center d-none d-md-flex justify-content-end&quot;&gt;
			&lt;ol class=&quot;breadcrumb mb-0 p-0 bg-transparent&quot;&gt;
				&lt;li class=&quot;breadcrumb-item&quot;&gt;
					&lt;a href=&quot;{{ urlGen()-&gt;adminUrl() }}&quot;&gt;
						{{ trans(&#039;admin.dashboard&#039;) }}
					&lt;/a&gt;
				&lt;/li&gt;
				&lt;li class=&quot;breadcrumb-item&quot;&gt;
					&lt;a href=&quot;{{ $xPanel-&gt;getUrl() }}&quot; class=&quot;text-capitalize&quot;&gt;
						{!! $xPanel-&gt;entityNamePlural !!}
					&lt;/a&gt;
				&lt;/li&gt;
				&lt;li class=&quot;breadcrumb-item active d-flex align-items-center&quot;&gt;
					{{ trans(&#039;admin.revisions&#039;) }}
				&lt;/li&gt;
			&lt;/ol&gt;
		&lt;/div&gt;
	&lt;/div&gt;
@endsection

@section(&#039;content&#039;)
	&lt;div class=&quot;flex-row d-flex justify-content-center&quot;&gt;
		@php
			$colMd = config(&#039;settings.style.admin_boxed_layout&#039;) == &#039;1&#039; ? &#039; col-md-12&#039; : &#039; col-md-10&#039;;
		@endphp
		&lt;div class=&quot;col-sm-12{{ $colMd }}&quot;&gt;
			{{-- Default box --}}
			@if ($xPanel-&gt;hasAccess(&#039;list&#039;))
				&lt;a href=&quot;{{ $xPanel-&gt;getUrl() }}&quot; class=&quot;btn btn-primary shadow&quot;&gt;
					&lt;i class=&quot;fa-solid fa-angles-left&quot;&gt;&lt;/i&gt; {{ trans(&#039;admin.back_to_all&#039;) }}
					&lt;span class=&quot;text-lowercase&quot;&gt;{{ $xPanel-&gt;entityNamePlural }}&lt;/span&gt;
				&lt;/a&gt;
				&lt;br&gt;&lt;br&gt;
			@endif
			
			@if (!count($revisions))
				&lt;div class=&quot;card border-top border-primary&quot;&gt;
					&lt;div class=&quot;card-header&quot;&gt;
						&lt;h3 class=&quot;box-title&quot;&gt;{{ trans(&#039;admin.no_revisions&#039;) }}&lt;/h3&gt;
					&lt;/div&gt;
				&lt;/div&gt;
			@else
				@include(&#039;admin.panel.inc.revision_timeline&#039;)
			@endif
		&lt;/div&gt;
	&lt;/div&gt;
@endsection

@section(&#039;after_styles&#039;)
@endsection

@section(&#039;after_scripts&#039;)
@endsection


<hr>
<!-- PEDROO_NEXT_FILE: /ads/resources/views/admin/panel/show.blade.php -->
<!-- PEDROO_NEXT_DIR: /ads/resources/views/admin/panel/buttons -->

</body>
</html>