<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>/ads/resources/views/auth/layouts/master.blade.php</title>
<style>
body { font-family: monospace; white-space: pre; }
</style>
</head>
<body>
@php
	$htmlLang = getLangTag(config(&#039;app.locale&#039;));
	$langDirection = config(&#039;lang.direction&#039;);
	$userThemePreference = currentUserThemePreference();
	
	$htmlDir = ($langDirection == &#039;rtl&#039;) ? &#039; dir=&quot;rtl&quot;&#039; : &#039;&#039;;
	$htmlTheme = ($userThemePreference == &#039;dark&#039;) ? &#039; theme=&quot;dark&quot;&#039; : &#039;&#039;;
	$showIconOnly = false;
	
	$helpers = getViewHelpersNames(snakeCase: true);
	
	// Logo
	$logoFactoryUrl = config(&#039;larapen.media.logo-factory&#039;);
	$logoUrl = &#039;&#039;;
	try {
        if (is_link(public_path(&#039;storage&#039;))) {
			$logoDarkUrl = config(&#039;settings.app.logo_dark_url&#039;, $logoFactoryUrl);
			$logoLightUrl = config(&#039;settings.app.logo_light_url&#039;, $logoFactoryUrl);
			$logoUrl = $logoLightUrl;
		}
    } catch (\Throwable $e) {}
    $logoUrl = !empty($logoUrl) ? $logoUrl : $logoFactoryUrl;
	$logoWidth = (int)config(&#039;settings.upload.img_resize_logo_width&#039;, 200);
	$logoHeight = (int)config(&#039;settings.upload.img_resize_logo_height&#039;, 45);
	$logoWidth = \Illuminate\Support\Number::clamp($logoWidth, min: 150, max: 250);
	$logoHeight = \Illuminate\Support\Number::clamp($logoWidth, min: 40, max: 60);
	$logoCssSize = &quot;max-width:{$logoWidth}px; max-height:{$logoHeight}px; width:auto; height:auto;&quot;;
    $appName = config(&#039;app.name&#039;, &#039;SiteName&#039;);
    $logoLabel = config(&#039;settings.app.name&#039;, $appName);
	$logoAlt = strtolower($logoLabel);
	
	// Hero Background Image
	$heroBgStyle = &#039;&#039;;
    try {
        if (is_link(public_path(&#039;storage&#039;))) {
            $bgImgUrl = config(&#039;settings.auth.hero_image_url&#039;);
            $heroBgStyle = &#039;background-image:url(&#039; . $bgImgUrl . &#039;);&#039;;
        }
    } catch (\Throwable $e) {}
@endphp
&lt;!DOCTYPE html&gt;
&lt;html lang=&quot;{{ $htmlLang }}&quot;{!! $htmlDir . $htmlTheme !!} data-bs-theme=&quot;dark&quot;&gt;
&lt;head&gt;
	&lt;meta charset=&quot;{{ config(&#039;larapen.core.charset&#039;, &#039;utf-8&#039;) }}&quot;/&gt;
	&lt;meta name=&quot;csrf-token&quot; content=&quot;{{ csrf_token() }}&quot;&gt;
	&lt;meta http-equiv=&quot;X-UA-Compatible&quot; content=&quot;IE=edge&quot;&gt;
	&lt;meta name=&quot;viewport&quot; content=&quot;width=device-width, initial-scale=1, minimum-scale=1.0, shrink-to-fit=no&quot;&gt;
	&lt;link href=&quot;{{ config(&#039;settings.app.favicon_url&#039;) }}&quot; rel=&quot;icon&quot;/&gt;
	&lt;title&gt;{!! MetaTag::get(&#039;title&#039;) !!}&lt;/title&gt;
	{!! MetaTag::tag(&#039;description&#039;) !!}{!! MetaTag::tag(&#039;keywords&#039;) !!}
	&lt;link rel=&quot;canonical&quot; href=&quot;{{ request()-&gt;fullUrl() }}&quot;/&gt;
	
	{{-- Specify a default target for all hyperlinks and forms on the page --}}
	&lt;base target=&quot;_top&quot;/&gt;
	
	@yield(&#039;before_styles&#039;)
	
	{{-- Auth Module&#039;s CSS files (Handled by Mix) --}}
	@if ($langDirection == &#039;rtl&#039;)
		&lt;link href=&quot;https://fonts.googleapis.com/css?family=Cairo|Changa&quot; rel=&quot;stylesheet&quot;&gt;
		&lt;link href=&quot;{{ url(mix(&#039;dist/auth/styles.rtl.css&#039;)) }}&quot; rel=&quot;stylesheet&quot;&gt;
	@else
		&lt;link href=&quot;{{ url(mix(&#039;dist/auth/styles.css&#039;)) }}&quot; rel=&quot;stylesheet&quot;&gt;
	@endif
	
	{{-- Generated Static CSS files --}}
	@php
		$skin = request()-&gt;query(&#039;skin&#039;) ?? config(&#039;settings.style.skin&#039;);
		$skinStylePath = &quot;cache/css/skins/auth/{$skin}.css&quot;;
	@endphp
	@if (file_exists(public_path($skinStylePath)))
		&lt;link href=&quot;{{ mixStaticFile(url()-&gt;asset($skinStylePath)) }}&quot; rel=&quot;stylesheet&quot;&gt;
	@endif
	
	@yield(&#039;after_styles&#039;)
	@stack(&#039;after_styles_stack&#039;)
	
	@if (!empty($helpers))
		@foreach($helpers as $helper)
			@stack($helper . &#039;_styles&#039;)
		@endforeach
	@endif
	
	@include(&#039;front.common.js.document&#039;)
	
	@if (!empty($helpers))
		@foreach($helpers as $helper)
			@stack($helper . &#039;_head_scripts&#039;)
		@endforeach
	@endif
&lt;/head&gt;
&lt;body&gt;

{{-- Preloader --}}
{{--
&lt;div class=&quot;preloader&quot;&gt;
	&lt;div class=&quot;lds-ellipsis&quot;&gt;
		&lt;div&gt;&lt;/div&gt;
		&lt;div&gt;&lt;/div&gt;
		&lt;div&gt;&lt;/div&gt;
		&lt;div&gt;&lt;/div&gt;
	&lt;/div&gt;
&lt;/div&gt;
--}}

&lt;div id=&quot;main-wrapper&quot; class=&quot;auth-login-register&quot;&gt;
	&lt;div class=&quot;container-fluid px-0&quot;&gt;
		&lt;div class=&quot;row g-0 min-vh-100&quot;&gt;
			
			{{-- Welcome Text --}}
			&lt;div class=&quot;col-md-6&quot;&gt;
				&lt;div class=&quot;hero-wrap d-flex align-items-start h-100&quot;&gt;
					&lt;div class=&quot;hero-mask opacity-8 bg-primary&quot;&gt;&lt;/div&gt;
					&lt;div class=&quot;hero-bg hero-bg-scroll&quot; style=&quot;{!! $heroBgStyle !!}&quot;&gt;&lt;/div&gt;
					&lt;div class=&quot;hero-content w-100 min-vh-100 d-flex flex-column&quot;&gt;
						&lt;div class=&quot;row g-0&quot;&gt;
							&lt;div class=&quot;col-11 col-sm-10 col-md-10 col-lg-9 mx-auto&quot;&gt;
								&lt;div class=&quot;logo mt-5 mb-5 mb-md-0&quot;&gt;
									&lt;a class=&quot;d-flex&quot; href=&quot;{{ url(&#039;/&#039;) }}&quot; title=&quot;{!! $logoLabel !!}&quot;&gt;
										&lt;img src=&quot;{{ $logoUrl }}&quot;
										     alt=&quot;{{ $logoAlt }}&quot;
										     data-bs-placement=&quot;bottom&quot;
										     data-bs-toggle=&quot;tooltip&quot;
										     title=&quot;{!! $logoLabel !!}&quot;
										     style=&quot;{!! $logoCssSize !!}&quot;
										&gt;
									&lt;/a&gt;
								&lt;/div&gt;
							&lt;/div&gt;
						&lt;/div&gt;
						&lt;div class=&quot;row g-0 my-auto&quot;&gt;
							&lt;div class=&quot;col-11 col-sm-10 col-md-10 col-lg-9 mx-auto&quot;&gt;
								@php
									$defaultCoverTitle = trans(&#039;auth.default_cover_title&#039;, [&#039;appName&#039; =&gt; config(&#039;app.name&#039;)]);
									$defaultCoverDescription = trans(&#039;auth.default_cover_description&#039;);
								@endphp
								&lt;h1 class=&quot;text-11 text-white mb-4&quot;&gt;
									{!! $coverTitle ?? $defaultCoverTitle !!}
								&lt;/h1&gt;
								&lt;p class=&quot;text-4 text-white lh-base mb-5&quot;&gt;
									{!! $coverDescription ?? $defaultCoverDescription !!}
								&lt;/p&gt;
							&lt;/div&gt;
						&lt;/div&gt;
					&lt;/div&gt;
				&lt;/div&gt;
			&lt;/div&gt;
			
			{{-- Login Form --}}
			&lt;div class=&quot;col-md-6 d-flex&quot;&gt;
				&lt;div class=&quot;container my-auto py-5&quot;&gt;
					&lt;div class=&quot;row g-0&quot;&gt;
						
						@php
							$hasNotifications = (
								(isset($errors) &amp;&amp; $errors-&gt;any())
								|| session()-&gt;has(&#039;flash_messages&#039;)
								|| session()-&gt;has(&#039;resendEmailVerificationData&#039;)
								|| session()-&gt;has(&#039;resendPhoneVerificationData&#039;)
								|| session()-&gt;has(&#039;status&#039;)
								|| session()-&gt;has(&#039;email&#039;)
								|| session()-&gt;has(&#039;phone&#039;)
								|| session()-&gt;has(&#039;login&#039;)
								|| session()-&gt;has(&#039;code&#039;)
							);
						@endphp
						
						@if (isset($errors) &amp;&amp; $errors-&gt;any())
							&lt;div class=&quot;col-12 col-sm-12 col-md-12 col-lg-12 col-xl-11 col-xxl-10 mx-auto&quot;&gt;
								&lt;div class=&quot;alert alert-danger&quot;&gt;
									@if (request()-&gt;segment(2) == &#039;register&#039;)
										&lt;h5 class=&quot;fw-bold text-danger-emphasis mb-3&quot;&gt;
											{{ trans(&#039;auth.validation_errors_title&#039;) }}
										&lt;/h5&gt;
									@endif
									&lt;ul class=&quot;mb-0 list-unstyled&quot;&gt;
										@foreach ($errors-&gt;all() as $error)
											&lt;li class=&quot;lh-lg&quot;&gt;&lt;i class=&quot;bi bi-check-lg me-1&quot;&gt;&lt;/i&gt;{!! $error !!}&lt;/li&gt;
										@endforeach
									&lt;/ul&gt;
								&lt;/div&gt;
							&lt;/div&gt;
						@endif
						
						@include(&#039;helpers.flash.default&#039;)
						
						@yield(&#039;notifications&#039;)
						
						@if ($hasNotifications)
							&lt;div class=&quot;col-12 mx-auto mb-4&quot;&gt;&amp;nbsp;&lt;/div&gt;
						@endif
						
						@yield(&#039;content&#039;)
						
						@include(&#039;auth.layouts.partials.select-language&#039;)
					
					&lt;/div&gt;
				&lt;/div&gt;
			&lt;/div&gt;
		
		&lt;/div&gt;
	&lt;/div&gt;
&lt;/div&gt;

@section(&#039;modal&#039;)
@show
@include(&#039;front.layouts.partials.modal.countries&#039;, [&#039;modalSize&#039; =&gt; &#039;modal-xl&#039;])

@include(&#039;front.common.js.init&#039;)

&lt;script&gt;
	var countryCode = &#039;{{ config(&#039;country.code&#039;, 0)  }}&#039;;
	
	{{-- Theme Preference (light/dark/system) --}}
	var isSettingsAppDarkModeEnabled = {{ isSettingsAppDarkModeEnabled() ? &#039;true&#039; : &#039;false&#039; }};
	var isSettingsAppSystemThemeEnabled = {{ isSettingsAppSystemThemeEnabled() ? &#039;true&#039; : &#039;false&#039; }};
	var userThemePreference = {!! !empty($userThemePreference) ? &quot;&#039;$userThemePreference&#039;&quot; : &#039;null&#039; !!};
	var showIconOnly = {{ $showIconOnly ? &#039;true&#039; : &#039;false&#039; }};
	
	{{-- The app&#039;s default auth field --}}
	var defaultAuthField = &#039;{{ old(&#039;auth_field&#039;, getAuthField()) }}&#039;;
	var phoneCountry = &#039;{{ config(&#039;country.code&#039;) }}&#039;;
&lt;/script&gt;

@yield(&#039;before_scripts&#039;)

{{-- Toggle Password Visibility --}}
@include(&#039;auth.layouts.js.translations&#039;)

{{-- App JS files (Handled by Mix) --}}
&lt;script src=&quot;{{ url(mix(&#039;dist/auth/scripts.js&#039;)) }}&quot;&gt;&lt;/script&gt;

@yield(&#039;after_scripts&#039;)
@stack(&#039;after_scripts_stack&#039;)

@if (!empty($helpers))
	@foreach($helpers as $helper)
		@stack($helper . &#039;_scripts&#039;)
	@endforeach
@endif
&lt;/body&gt;
&lt;/html&gt;


<hr>
<!-- PEDROO_NEXT_FILE: /ads/resources/views/auth/layouts/partials/select-language.blade.php -->
<!-- PEDROO_NEXT_DIR: /ads/resources/views/auth/layouts/css -->

</body>
</html>