<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>/ads/resources/views/front/search/partials/posts/widget/normal.blade.php</title>
<style>
body { font-family: monospace; white-space: pre; }
</style>
</head>
<body>
@php
	$widget ??= [];
	$posts = (array)data_get($widget, &#039;posts&#039;);
	$totalPosts = (int)data_get($widget, &#039;totalPosts&#039;, 0);
	
	$sectionOptions ??= [];
	
	$fullHeight = $sectionOptions[&#039;full_height&#039;] ?? &#039;0&#039;;
	$isFullHeightEnabled = ($fullHeight == &#039;1&#039;);
	$style = $isFullHeightEnabled ? &#039;height: 100vh; min-height: 100dvh;&#039; : &#039;&#039;;
	
	$htmlAttr = $sectionOptions[&#039;html_attributes&#039;] ?? &#039;&#039;;
	$htmlAttr = !empty($htmlAttr) ? &quot; {$htmlAttr}&quot; : &#039;&#039;;
	
	$cssClasses = $sectionOptions[&#039;css_classes&#039;] ?? &#039;&#039;;
	$cssClasses = !empty($cssClasses) ? &quot; {$cssClasses}&quot; : &#039;&#039;;
	
	$gridClass = config(&#039;settings.listings_list.display_mode&#039;, &#039;grid-view&#039;);
@endphp
@if ($totalPosts &gt; 0)
	&lt;div class=&quot;container{{ $cssClasses }}&quot; style=&quot;{!! $style !!}&quot;&gt;
		&lt;div class=&quot;card&quot;{!! $htmlAttr !!}&gt;
			&lt;div class=&quot;card-header border-bottom-0&quot;&gt;
				&lt;h4 class=&quot;mb-0 float-start fw-lighter&quot;&gt;
					{!! data_get($widget, &#039;title&#039;) !!}
				&lt;/h4&gt;
				&lt;h5 class=&quot;mb-0 float-end mt-1 fs-6 fw-lighter text-uppercase&quot;&gt;
					&lt;a href=&quot;{{ data_get($widget, &#039;link&#039;) }}&quot; class=&quot;{{ linkClass() }}&quot;&gt;
						{{ trans(&#039;global.View more&#039;) }} &lt;i class=&quot;fa-solid fa-bars&quot;&gt;&lt;/i&gt;
					&lt;/a&gt;
				&lt;/h5&gt;
			&lt;/div&gt;
			
			&lt;div class=&quot;card-body rounded py-0&quot;&gt;
				@if (config(&#039;settings.listings_list.display_mode&#039;) == &#039;make-list&#039;)
					@include(&#039;front.search.partials.posts.template.list&#039;)
				@elseif (config(&#039;settings.listings_list.display_mode&#039;) == &#039;make-compact&#039;)
					@include(&#039;front.search.partials.posts.template.compact&#039;)
				@else
					@include(&#039;front.search.partials.posts.template.grid&#039;)
				@endif
				@if (data_get($sectionOptions, &#039;show_view_more_btn&#039;) == &#039;1&#039;)
					&lt;div class=&quot;row border-top pt-3 mt-0 mb-3&quot;&gt;
						&lt;div class=&quot;col-12 text-center&quot;&gt;
							&lt;a href=&quot;{{ urlGen()-&gt;searchWithoutQuery() }}&quot; class=&quot;btn btn-primary&quot;&gt;
								&lt;i class=&quot;bi bi-box-arrow-in-right&quot;&gt;&lt;/i&gt; {{ trans(&#039;global.View more&#039;) }}
							&lt;/a&gt;
						&lt;/div&gt;
					&lt;/div&gt;
				@endif
			&lt;/div&gt;
		&lt;/div&gt;
	&lt;/div&gt;
@endif

@section(&#039;after_scripts&#039;)
    @parent
@endsection


<hr>
<!-- PEDROO_NEXT_FILE: /ads/resources/views/front/search/partials/sidebar.blade.php -->
<!-- PEDROO_NEXT_DIR: /ads/resources/views/front/search/partials/posts/widget/carousel -->

</body>
</html>