<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>/ads/resources/views/front/search/partials/breadcrumbs.blade.php</title>
<style>
body { font-family: monospace; white-space: pre; }
</style>
</head>
<body>
@php
	$bcTab ??= [];
	$admin ??= null;
	$city ??= null;
	
	$adminType = config(&#039;country.admin_type&#039;, 0);
	$relAdminType = (in_array($adminType, [&#039;1&#039;, &#039;2&#039;])) ? $adminType : 1;
	$adminCode = data_get($city, &#039;subadmin&#039; . $relAdminType . &#039;_code&#039;) ?? data_get($admin, &#039;code&#039;) ?? 0;
	
	// Search base URL
	$searchWithoutQuery = urlGen()-&gt;searchWithoutQuery();
	$filterBy = request()-&gt;query(&#039;filterBy&#039;);
	if (!empty($filterBy)) {
		$searchWithoutQuery .=  (str_contains($searchWithoutQuery, &#039;?&#039;)) ? &#039;&amp;&#039; : &#039;?&#039;;
		$searchWithoutQuery .= &#039;filterBy=&#039; . $filterBy;
	}
	
	$linkClass = linkClass();
@endphp
&lt;div class=&quot;container&quot;&gt;
	&lt;nav aria-label=&quot;breadcrumb&quot; role=&quot;navigation&quot; class=&quot;search-breadcrumb&quot;&gt;
		&lt;ol class=&quot;breadcrumb mb-0 py-3&quot;&gt;
			&lt;li class=&quot;breadcrumb-item&quot;&gt;
				&lt;a href=&quot;{{ url(&#039;/&#039;) }}&quot; class=&quot;{{ $linkClass }}&quot;&gt;
					&lt;i class=&quot;fa-solid fa-house&quot;&gt;&lt;/i&gt;
				&lt;/a&gt;
			&lt;/li&gt;
			&lt;li class=&quot;breadcrumb-item&quot;&gt;
				&lt;a href=&quot;{{ $searchWithoutQuery }}&quot; class=&quot;{{ $linkClass }}&quot;&gt;
					{{ config(&#039;country.name&#039;) }}
				&lt;/a&gt;
			&lt;/li&gt;
			@if (is_array($bcTab) &amp;&amp; count($bcTab) &gt; 0)
				@foreach($bcTab as $key =&gt; $value)
					@if ($value-&gt;has(&#039;position&#039;) &amp;&amp; $value-&gt;get(&#039;position&#039;) &gt; count($bcTab)+1)
						&lt;li class=&quot;breadcrumb-item active&quot;&gt;
							{!! $value-&gt;get(&#039;name&#039;) !!}
							@if (!empty($adminCode))
								&amp;nbsp;&lt;a href=&quot;#browseLocations&quot;
								   class=&quot;{{ $linkClass }}&quot;
								   data-bs-toggle=&quot;modal&quot;
								   data-admin-code=&quot;{{ $adminCode }}&quot;
								   data-city-id=&quot;{{ data_get($city, &#039;id&#039;, 0) }}&quot;
								&gt;
									&lt;i class=&quot;bi bi-chevron-down&quot;&gt;&lt;/i&gt;
								&lt;/a&gt;
							@endif
						&lt;/li&gt;
					@else
						&lt;li class=&quot;breadcrumb-item&quot;&gt;
							&lt;a href=&quot;{{ $value-&gt;get(&#039;url&#039;) }}&quot; class=&quot;{{ $linkClass }}&quot;&gt;
								{!! $value-&gt;get(&#039;name&#039;) !!}
							&lt;/a&gt;
						&lt;/li&gt;
					@endif
				@endforeach
			@endif
		&lt;/ol&gt;
	&lt;/nav&gt;
&lt;/div&gt;


<hr>
<!-- PEDROO_NEXT_FILE: /ads/resources/views/front/search/partials/call-to-action.blade.php -->
<!-- PEDROO_NEXT_DIR: /ads/resources/views/front/search/partials/posts -->

</body>
</html>