<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>/ads/resources/views/front/search/partials/category-description.blade.php</title>
<style>
body { font-family: monospace; white-space: pre; }
</style>
</head>
<body>
@php
	$cat ??= [];
@endphp
@if (!empty(data_get($cat, &#039;description&#039;)))
	@if (!(bool)data_get($cat, &#039;hide_description&#039;))
		&lt;div class=&quot;container mb-3&quot;&gt;
			&lt;div class=&quot;card border-light text-dark bg-body-tertiary mb-3&quot;&gt;
				&lt;div class=&quot;card-body&quot;&gt;
					{!! data_get($cat, &#039;description&#039;) !!}
				&lt;/div&gt;
			&lt;/div&gt;
		&lt;/div&gt;
	@endif
@endif


<hr>
<!-- PEDROO_NEXT_FILE: /ads/resources/views/front/search/partials/form.blade.php -->
<!-- PEDROO_NEXT_DIR: /ads/resources/views/front/search/partials/posts -->

</body>
</html>