<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>/app/View/Components/AppLayout.php</title>
<style>
body { font-family: monospace; white-space: pre; }
</style>
</head>
<body>
&lt;?php

namespace App\View\Components;

use Illuminate\View\Component;
use Illuminate\View\View;

class AppLayout extends Component
{
    /**
     * Get the view / contents that represents the component.
     */
    public function render(): View
    {
        return view(&#039;layouts.app&#039;);
    }
}


<hr>
<!-- PEDROO_NEXT_FILE: /app/View/Components/GuestLayout.php -->
<!-- PEDROO_NEXT_DIR: /bootstrap -->

</body>
</html>