<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>/ads/resources/views/front/layouts/partials/footer.blade.php</title>
<style>
body { font-family: monospace; white-space: pre; }
</style>
</head>
<body>
@php
	$footerLinksAreEnabled = (config(&#039;settings.footer.hide_links&#039;) != &#039;1&#039;);
	
	$socialLinksAreEnabled = (
		config(&#039;settings.social_link.facebook_page_url&#039;)
		|| config(&#039;settings.social_link.twitter_url&#039;)
		|| config(&#039;settings.social_link.tiktok_url&#039;)
		|| config(&#039;settings.social_link.linkedin_url&#039;)
		|| config(&#039;settings.social_link.pinterest_url&#039;)
		|| config(&#039;settings.social_link.instagram_url&#039;)
		|| config(&#039;settings.social_link.youtube_url&#039;)
		|| config(&#039;settings.social_link.vimeo_url&#039;)
		|| config(&#039;settings.social_link.vk_url&#039;)
		|| config(&#039;settings.social_link.tumblr_url&#039;)
		|| config(&#039;settings.social_link.flickr_url&#039;)
	);
	$appsLinksAreEnabled = (
		config(&#039;settings.footer.ios_app_url&#039;)
		|| config(&#039;settings.footer.android_app_url&#039;)
	);
	$socialAndAppsLinksAreEnabled = ($socialLinksAreEnabled || $appsLinksAreEnabled);
	
	$paymentLogosAreEnabled = (config(&#039;settings.footer.hide_payment_addons_logos&#039;) != &#039;1&#039;);
	
	// Footer&#039;s theme CSS Class
	$isFooterDarkThemeEnabled = (config(&#039;settings.footer.dark&#039;) == &#039;1&#039;);
	$footerColor = $isFooterDarkThemeEnabled ? &#039; bg-black border-light-subtle text-light text-opacity-75&#039; : &#039; bg-body-tertiary&#039;;
	$borderColor = $isFooterDarkThemeEnabled ? &#039; border-dark border-opacity-75&#039; : &#039; border-light-subtle border-opacity-75&#039;;
	$linkClass = $isFooterDarkThemeEnabled ? linkClass(&#039;light&#039;) . &#039; link-opacity-75&#039; : linkClass(&#039;body-emphasis&#039;);
	$imgBgColor = &#039; bg-light-subtle&#039;;
	
	// Footer&#039;s spacing
	$isFooterHighSpacingEnabled = (config(&#039;settings.footer.high_spacing&#039;) == &#039;1&#039;);
	$bsSize = $isFooterHighSpacingEnabled ? &#039;5&#039; : &#039;4&#039;;
	$subContainerPt = $isFooterHighSpacingEnabled ? &#039; pt-3&#039; : &#039;&#039;;
	
	// Footer&#039;s full width
	$isFullWidthFooter = (config(&#039;settings.footer.full_width&#039;) == &#039;1&#039;);
	$containerClass = $isFullWidthFooter ? &#039;container-fluid&#039; : &#039;container&#039;;
	$containerPxClass = $isFullWidthFooter ? &quot; px-lg-{$bsSize} px-0 py-0&quot; : &#039; p-0&#039;;
@endphp
&lt;footer&gt;
	@php
		$rowColsLg = $socialAndAppsLinksAreEnabled ? &#039;row-cols-lg-4&#039; : &#039;row-cols-lg-3&#039;;
		$rowColsMd = &#039;row-cols-md-3&#039;;
		
		$borderTopCopy = &quot; border-top{$borderColor} pt-{$bsSize}&quot;;
		$mbCopy = &quot; mb-{$bsSize}&quot;;
		if (!$footerLinksAreEnabled) {
			$borderTopCopy = &#039;&#039;;
			$mbCopy = &#039; mb-5&#039;;
		}
	@endphp
	&lt;div class=&quot;container-fluid border-top{{ $footerColor }} pt-5 pb-0 mt-4&quot;&gt;
		&lt;div class=&quot;{{ $containerClass . $containerPxClass }} my-0{{ $subContainerPt }}&quot;&gt;
			
			&lt;div class=&quot;row {{ $rowColsLg }} {{ $rowColsMd }} row-cols-sm-2 row-cols-2 g-3&quot;&gt;
				@if ($footerLinksAreEnabled)
					@include(&#039;front.layouts.partials.navs.menus.footer&#039;)
					
					@if ($socialAndAppsLinksAreEnabled)
						&lt;div class=&quot;col&quot;&gt;
							&lt;div class=&quot;row&quot;&gt;
								@php
									$mbAppsLinks = $socialLinksAreEnabled ? &#039; mb-3&#039; : &#039;&#039;;
									$styleAppsLinks = &#039;style=&quot;max-width: 135px; max-height: 40px; width: auto; height: auto;&quot;&#039;;
									$mbSocialLinksTitle = &#039;mb-4&#039;;
								@endphp
								@if ($appsLinksAreEnabled)
									&lt;div class=&quot;col-sm-12 col-12 p-lg-0{{ $mbAppsLinks }}&quot;&gt;
										&lt;h4 class=&quot;fs-6 fw-bold text-uppercase mb-4&quot;&gt;
											{{ trans(&#039;global.Mobile Apps&#039;) }}
										&lt;/h4&gt;
										&lt;div class=&quot;row&quot;&gt;
											@if (config(&#039;settings.footer.ios_app_url&#039;))
												&lt;div class=&quot;col-12 col-sm-6&quot;&gt;
													&lt;a class=&quot;&quot; target=&quot;_blank&quot; href=&quot;{{ config(&#039;settings.footer.ios_app_url&#039;) }}&quot;&gt;
														&lt;span class=&quot;visually-hidden&quot;&gt;{{ trans(&#039;global.iOS app&#039;) }}&lt;/span&gt;
														&lt;img
																src=&quot;{{ url(&#039;images/site/app-store-badge.svg&#039;) }}&quot;
																alt=&quot;{{ trans(&#039;global.Available on the App Store&#039;) }}&quot; {!! $styleAppsLinks !!}
														&gt;
													&lt;/a&gt;
												&lt;/div&gt;
											@endif
											@if (config(&#039;settings.footer.android_app_url&#039;))
												&lt;div class=&quot;col-12 col-sm-6&quot;&gt;
													&lt;a class=&quot;app-icon&quot; target=&quot;_blank&quot; href=&quot;{{ config(&#039;settings.footer.android_app_url&#039;) }}&quot;&gt;
														&lt;span class=&quot;visually-hidden&quot;&gt;{{ trans(&#039;global.Android App&#039;) }}&lt;/span&gt;
														&lt;img
																src=&quot;{{ url(&#039;images/site/google-play-badge.svg&#039;) }}&quot;
																alt=&quot;{{ trans(&#039;global.Available on Google Play&#039;) }}&quot; {!! $styleAppsLinks !!}
														&gt;
													&lt;/a&gt;
												&lt;/div&gt;
											@endif
										&lt;/div&gt;
									&lt;/div&gt;
									@php
										$mbSocialLinksTitle = &#039;mt-0 mb-2&#039;;
									@endphp
								@endif
								
								@if ($socialLinksAreEnabled)
									&lt;div class=&quot;col-sm-12 col-12 p-lg-0&quot;&gt;
										&lt;h4 class=&quot;fs-6 fw-bold text-uppercase {!! $mbSocialLinksTitle !!}&quot;&gt;
											{{ trans(&#039;global.Follow us on&#039;) }}
										&lt;/h4&gt;
										&lt;ul class=&quot;mb-0 list-unstyled list-inline mx-0 social-media social-links&quot;&gt;
											@if (config(&#039;settings.social_link.facebook_page_url&#039;))
												&lt;li class=&quot;list-inline-item me-0 px-0&quot;&gt;
													&lt;a class=&quot;facebook&quot;
													   href=&quot;{{ config(&#039;settings.social_link.facebook_page_url&#039;) }}&quot;
													   title=&quot;Facebook&quot;
													&gt;
														&lt;i class=&quot;fa-brands fa-square-facebook&quot;&gt;&lt;/i&gt;
													&lt;/a&gt;
												&lt;/li&gt;
											@endif
											@if (config(&#039;settings.social_link.twitter_url&#039;))
												&lt;li class=&quot;list-inline-item me-0 px-0&quot;&gt;
													&lt;a class=&quot;x-twitter&quot;
													   href=&quot;{{ config(&#039;settings.social_link.twitter_url&#039;) }}&quot;
													   title=&quot;X (Twitter)&quot;
													&gt;
														&lt;i class=&quot;fa-brands fa-square-x-twitter&quot;&gt;&lt;/i&gt;
													&lt;/a&gt;
												&lt;/li&gt;
											@endif
											@if (config(&#039;settings.social_link.instagram_url&#039;))
												&lt;li class=&quot;list-inline-item me-0 px-0&quot;&gt;
													&lt;a class=&quot;instagram&quot;
													   href=&quot;{{ config(&#039;settings.social_link.instagram_url&#039;) }}&quot;
													   title=&quot;Instagram&quot;
													&gt;
														&lt;i class=&quot;fa-brands fa-square-instagram&quot;&gt;&lt;/i&gt;
													&lt;/a&gt;
												&lt;/li&gt;
											@endif
											@if (config(&#039;settings.social_link.linkedin_url&#039;))
												&lt;li class=&quot;list-inline-item me-0 px-0&quot;&gt;
													&lt;a class=&quot;linkedin&quot;
													   href=&quot;{{ config(&#039;settings.social_link.linkedin_url&#039;) }}&quot;
													   title=&quot;LinkedIn&quot;
													&gt;
														&lt;i class=&quot;fa-brands fa-linkedin&quot;&gt;&lt;/i&gt;
													&lt;/a&gt;
												&lt;/li&gt;
											@endif
											@if (config(&#039;settings.social_link.pinterest_url&#039;))
												&lt;li class=&quot;list-inline-item me-0 px-0&quot;&gt;
													&lt;a class=&quot;pinterest&quot;
													   href=&quot;{{ config(&#039;settings.social_link.pinterest_url&#039;) }}&quot;
													   title=&quot;Pinterest&quot;
													&gt;
														&lt;i class=&quot;fa-brands fa-square-pinterest&quot;&gt;&lt;/i&gt;
													&lt;/a&gt;
												&lt;/li&gt;
											@endif
											@if (config(&#039;settings.social_link.tiktok_url&#039;))
												&lt;li class=&quot;list-inline-item me-0 px-0&quot;&gt;
													&lt;a class=&quot;tiktok&quot;
													   href=&quot;{{ config(&#039;settings.social_link.tiktok_url&#039;) }}&quot;
													   title=&quot;Tiktok&quot;
													&gt;
														&lt;i class=&quot;fa-brands fa-tiktok&quot;&gt;&lt;/i&gt;
													&lt;/a&gt;
												&lt;/li&gt;
											@endif
											@if (config(&#039;settings.social_link.youtube_url&#039;))
												&lt;li class=&quot;list-inline-item me-0 px-0&quot;&gt;
													&lt;a class=&quot;youtube&quot;
													   href=&quot;{{ config(&#039;settings.social_link.youtube_url&#039;) }}&quot;
													   title=&quot;YouTube&quot;
													&gt;
														&lt;i class=&quot;fa-brands fa-youtube&quot;&gt;&lt;/i&gt;
													&lt;/a&gt;
												&lt;/li&gt;
											@endif
											@if (config(&#039;settings.social_link.vimeo_url&#039;))
												&lt;li class=&quot;list-inline-item me-0 px-0&quot;&gt;
													&lt;a class=&quot;vimeo&quot;
													   href=&quot;{{ config(&#039;settings.social_link.vimeo_url&#039;) }}&quot;
													   title=&quot;Vimeo&quot;
													&gt;
														&lt;i class=&quot;fa-brands fa-vimeo&quot;&gt;&lt;/i&gt;
													&lt;/a&gt;
												&lt;/li&gt;
											@endif
											@if (config(&#039;settings.social_link.vk_url&#039;))
												&lt;li class=&quot;list-inline-item me-0 px-0&quot;&gt;
													&lt;a class=&quot;vk&quot;
													   href=&quot;{{ config(&#039;settings.social_link.vk_url&#039;) }}&quot;
													   title=&quot;VK (VKontakte)&quot;
													&gt;
														&lt;i class=&quot;fa-brands fa-vk&quot;&gt;&lt;/i&gt;
													&lt;/a&gt;
												&lt;/li&gt;
											@endif
											@if (config(&#039;settings.social_link.tumblr_url&#039;))
												&lt;li class=&quot;list-inline-item me-0 px-0&quot;&gt;
													&lt;a class=&quot;tumblr&quot;
													   href=&quot;{{ config(&#039;settings.social_link.tumblr_url&#039;) }}&quot;
													   title=&quot;Tumblr&quot;
													&gt;
														&lt;i class=&quot;fa-brands fa-square-tumblr&quot;&gt;&lt;/i&gt;
													&lt;/a&gt;
												&lt;/li&gt;
											@endif
											@if (config(&#039;settings.social_link.flickr_url&#039;))
												&lt;li class=&quot;list-inline-item me-0 px-0&quot;&gt;
													&lt;a class=&quot;flickr&quot;
													   href=&quot;{{ config(&#039;settings.social_link.flickr_url&#039;) }}&quot;
													   title=&quot;Flickr&quot;
													&gt;
														&lt;i class=&quot;fa-brands fa-flickr&quot;&gt;&lt;/i&gt;
													&lt;/a&gt;
												&lt;/li&gt;
											@endif
										&lt;/ul&gt;
									&lt;/div&gt;
								@endif
							&lt;/div&gt;
						&lt;/div&gt;
					@endif
				@endif
			&lt;/div&gt;
			
			@php
				$mtCopy = &quot; mt-md-{$bsSize} mt-{$bsSize} pt-2&quot;;
			@endphp
			@if ($paymentLogosAreEnabled &amp;&amp; isset($paymentMethods) &amp;&amp; $paymentMethods-&gt;count() &gt; 0)
				@php
					$mtPay = &quot; mt-{$bsSize}&quot;;
					$borderTopPay = &quot; border-top{$borderColor} pt-md-{$bsSize} pt-3&quot;;
					if (!$footerLinksAreEnabled) {
						$mtPay = &#039; mt-0&#039;;
						$borderTopPay = &#039;&#039;;
					}
					$borderTopCopy = &quot; border-top{$borderColor} pt-{$bsSize}&quot;;
				@endphp
			@else
				@php
					$mtCopy = &#039; mt-0&#039;;
				@endphp
				@if ($footerLinksAreEnabled)
					@php
						$mtCopy = &quot; mt-md-{$bsSize} mt-{$bsSize} pt-2&quot;;
					@endphp
				@endif
			@endif
			
			{{-- Payment Addons --}}
			@if ($paymentLogosAreEnabled &amp;&amp; isset($paymentMethods) &amp;&amp; $paymentMethods-&gt;count() &gt; 0)
				&lt;div class=&quot;row&quot;&gt;
					&lt;div class=&quot;col-12 text-center{{ $borderTopPay . $mtPay }}&quot;&gt;
						@foreach($paymentMethods as $paymentMethod)
							@php
								$paymentMethodLogo = &quot;cache/addons/{$paymentMethod-&gt;name}/images/payment.png&quot;;
							@endphp
							@if (file_exists(public_path($paymentMethodLogo)))
								&lt;img src=&quot;{{ mixStaticFile(url($paymentMethodLogo)) }}&quot;
								     alt=&quot;{{ $paymentMethod-&gt;display_name }}&quot;
								     title=&quot;{{ $paymentMethod-&gt;display_name }}&quot;
								     class=&quot;img-thumbnail m-1{{ $imgBgColor }}&quot;
								     style=&quot;width: auto; height: 44px;&quot;
								&gt;
							@endif
						@endforeach
					&lt;/div&gt;
				&lt;/div&gt;
			@endif
			
			{{-- Copyright Info --}}
			&lt;div class=&quot;row&quot;&gt;
				&lt;div class=&quot;col-12&quot;&gt;
					&lt;div class=&quot;w-100 d-flex justify-content-between small{{ $borderTopCopy . $mbCopy . $mtCopy }}&quot;&gt;
						@php
							$siteName = config(&#039;settings.app.name&#039;);
							$hidePoweredBy = (config(&#039;settings.footer.hide_powered_by&#039;) == &#039;1&#039;);
							$poweredByInfo = config(&#039;settings.footer.powered_by_text&#039;);
							$copyrightAlignClass = $hidePoweredBy ? &#039;w-100 text-center&#039; : &#039;text-start&#039;;
							$itemName = config(&#039;larapen.core.item.name&#039;, &#039;AppName&#039;);
							$itemUrl = config(&#039;larapen.core.item.url&#039;, &#039;#&#039;);
						@endphp
						&lt;div class=&quot;{{ $copyrightAlignClass }}&quot;&gt;
							&amp;copy; {{ date(&#039;Y&#039;) }} {!! $siteName !!}. {{ trans(&#039;global.all_rights_reserved&#039;) }}.
						&lt;/div&gt;
						
						@if (!$hidePoweredBy)
							&lt;div class=&quot;text-end&quot;&gt;
								@if (!empty($poweredByInfo))
									{{ trans(&#039;global.Powered by&#039;) }} {!! $poweredByInfo !!}
								@else
									{{ trans(&#039;global.Powered by&#039;) }} &lt;a href=&quot;{{ $itemUrl }}&quot; title=&quot;{{ $itemName }}&quot; class=&quot;{{ $linkClass }}&quot;&gt;{{ $itemName }}&lt;/a&gt;
								@endif
							&lt;/div&gt;
						@endif
					&lt;/div&gt;
				&lt;/div&gt;
			&lt;/div&gt;
			
		&lt;/div&gt;
	&lt;/div&gt;
&lt;/footer&gt;


<hr>
<!-- PEDROO_NEXT_FILE: /ads/resources/views/front/layouts/partials/header.blade.php -->
<!-- PEDROO_NEXT_DIR: /ads/resources/views/front/layouts/partials/advertising -->

</body>
</html>