<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>/resources/views/auth/confirm-password.blade.php</title>
<style>
body { font-family: monospace; white-space: pre; }
</style>
</head>
<body>
&lt;x-guest-layout&gt;
    &lt;div class=&quot;mb-4 text-sm text-gray-600&quot;&gt;
        {{ __(&#039;This is a secure area of the application. Please confirm your password before continuing.&#039;) }}
    &lt;/div&gt;

    &lt;form method=&quot;POST&quot; action=&quot;{{ route(&#039;password.confirm&#039;) }}&quot;&gt;
        @csrf

        &lt;!-- Password --&gt;
        &lt;div&gt;
            &lt;x-input-label for=&quot;password&quot; :value=&quot;__(&#039;Password&#039;)&quot; /&gt;

            &lt;x-text-input id=&quot;password&quot; class=&quot;block mt-1 w-full&quot;
                            type=&quot;password&quot;
                            name=&quot;password&quot;
                            required autocomplete=&quot;current-password&quot; /&gt;

            &lt;x-input-error :messages=&quot;$errors-&gt;get(&#039;password&#039;)&quot; class=&quot;mt-2&quot; /&gt;
        &lt;/div&gt;

        &lt;div class=&quot;flex justify-end mt-4&quot;&gt;
            &lt;x-primary-button&gt;
                {{ __(&#039;Confirm&#039;) }}
            &lt;/x-primary-button&gt;
        &lt;/div&gt;
    &lt;/form&gt;
&lt;/x-guest-layout&gt;


<hr>
<!-- PEDROO_NEXT_FILE: /resources/views/auth/forgot-password.blade.php -->
<!-- PEDROO_NEXT_DIR: /resources/views/components -->

</body>
</html>