<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>/resources/views/auth/reset-password.blade.php</title>
<style>
body { font-family: monospace; white-space: pre; }
</style>
</head>
<body>
&lt;x-guest-layout&gt;
    &lt;form method=&quot;POST&quot; action=&quot;{{ route(&#039;password.store&#039;) }}&quot;&gt;
        @csrf

        &lt;!-- Password Reset Token --&gt;
        &lt;input type=&quot;hidden&quot; name=&quot;token&quot; value=&quot;{{ $request-&gt;route(&#039;token&#039;) }}&quot;&gt;

        &lt;!-- Email Address --&gt;
        &lt;div&gt;
            &lt;x-input-label for=&quot;email&quot; :value=&quot;__(&#039;Email&#039;)&quot; /&gt;
            &lt;x-text-input id=&quot;email&quot; class=&quot;block mt-1 w-full&quot; type=&quot;email&quot; name=&quot;email&quot; :value=&quot;old(&#039;email&#039;, $request-&gt;email)&quot; required autofocus autocomplete=&quot;username&quot; /&gt;
            &lt;x-input-error :messages=&quot;$errors-&gt;get(&#039;email&#039;)&quot; class=&quot;mt-2&quot; /&gt;
        &lt;/div&gt;

        &lt;!-- Password --&gt;
        &lt;div class=&quot;mt-4&quot;&gt;
            &lt;x-input-label for=&quot;password&quot; :value=&quot;__(&#039;Password&#039;)&quot; /&gt;
            &lt;x-text-input id=&quot;password&quot; class=&quot;block mt-1 w-full&quot; type=&quot;password&quot; name=&quot;password&quot; required autocomplete=&quot;new-password&quot; /&gt;
            &lt;x-input-error :messages=&quot;$errors-&gt;get(&#039;password&#039;)&quot; class=&quot;mt-2&quot; /&gt;
        &lt;/div&gt;

        &lt;!-- Confirm Password --&gt;
        &lt;div class=&quot;mt-4&quot;&gt;
            &lt;x-input-label for=&quot;password_confirmation&quot; :value=&quot;__(&#039;Confirm Password&#039;)&quot; /&gt;

            &lt;x-text-input id=&quot;password_confirmation&quot; class=&quot;block mt-1 w-full&quot;
                                type=&quot;password&quot;
                                name=&quot;password_confirmation&quot; required autocomplete=&quot;new-password&quot; /&gt;

            &lt;x-input-error :messages=&quot;$errors-&gt;get(&#039;password_confirmation&#039;)&quot; class=&quot;mt-2&quot; /&gt;
        &lt;/div&gt;

        &lt;div class=&quot;flex items-center justify-end mt-4&quot;&gt;
            &lt;x-primary-button&gt;
                {{ __(&#039;Reset Password&#039;) }}
            &lt;/x-primary-button&gt;
        &lt;/div&gt;
    &lt;/form&gt;
&lt;/x-guest-layout&gt;


<hr>
<!-- PEDROO_NEXT_FILE: /resources/views/auth/verify-email.blade.php -->
<!-- PEDROO_NEXT_DIR: /resources/views/components -->

</body>
</html>