<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>/ads/resources/views/helpers/forms/fields/simditor.blade.php</title>
<style>
body { font-family: monospace; white-space: pre; }
</style>
</head>
<body>
{{-- simditor (WYSIWYG Editor) --}}
{{-- https://simditor.tower.im --}}
{{-- https://simditor.tower.im/docs/doc-usage.html --}}
{{-- https://simditor.tower.im//docs/doc-config.html --}}
@php
	$layout ??= &#039;default&#039;; // default, horizontal
	$isHorizontal = $layout === &#039;horizontal&#039;;
	$colLabel ??= &#039;col-md-3&#039;;
    $colField ??= &#039;col-md-9&#039;;
	
	$viewName = &#039;simditor&#039;;
	$type = &#039;textarea&#039;;
	$label ??= null;
	$id ??= null;
	$name ??= null;
	$value ??= null;
	$default ??= null;
	$placeholder ??= null;
	$required ??= false;
	$hint ??= null;
	$attributes ??= [];
	
	$allowsLinks ??= (
		isAdminPanelRoute()
		|| (
			config(&#039;settings.listing_form.remove_url_before&#039;) != &#039;1&#039; &amp;&amp;
			config(&#039;settings.listing_form.remove_url_after&#039;) != &#039;1&#039;
		)
	);
	$height ??= 300;
	$pluginOptions ??= [];
	
	$locale = $pluginOptions[&#039;locale&#039;] ?? app()-&gt;getLocale();
	$defaultImage = $pluginOptions[&#039;defaultImage&#039;] ?? asset(&#039;assets/plugins/simditor/images/image.png&#039;);
	$elPreviewContainer = $pluginOptions[&#039;elPreviewContainer&#039;] ?? &#039;#preview&#039;;
	
	$dotSepName = arrayFieldToDotNotation($name);
	$id = !empty($id) ? $id : str_replace(&#039;.&#039;, &#039;-&#039;, $dotSepName);
	
	$value = $value ?? ($default ?? null);
	$value = old($dotSepName, $value);
	
	$attributes = \App\Helpers\Common\Html\HtmlAttr::append($attributes, &#039;class&#039;, &#039;simditor&#039;);
@endphp
&lt;div @include(&#039;helpers.forms.attributes.field-wrapper&#039;)&gt;
	@include(&#039;helpers.forms.partials.label&#039;)
	
	@if ($isHorizontal)
		&lt;div class=&quot;{{ $colField }}&quot;&gt;
			@endif
			
			&lt;textarea
					id=&quot;simditor_{{ $id }}&quot;
					name=&quot;{{ $name }}&quot;
					@if (!empty($placeholder))placeholder=&quot;{{ $placeholder }}&quot;@endif
		            @include(&#039;helpers.forms.attributes.field&#039;)
		    &gt;{{ $value }}&lt;/textarea&gt;
			
			@include(&#039;helpers.forms.partials.hint&#039;)
			@include(&#039;helpers.forms.partials.validation&#039;)
			
			@if ($isHorizontal)
		&lt;/div&gt;
	@endif
&lt;/div&gt;
@include(&#039;helpers.forms.partials.newline&#039;)

@php
	$viewName = str($viewName)-&gt;replace(&#039;-&#039;, &#039;_&#039;)-&gt;toString();
@endphp

{{-- Extra CSS and JS for this particular field --}}
{{-- If a field type is shown multiple times on a form, the CSS and JS will only be loaded once --}}
@pushonce(&quot;{$viewName}_assets_styles&quot;)
	&lt;link href=&quot;{{ asset(&#039;assets/plugins/simditor/styles/simditor.css&#039;) }}&quot; media=&quot;all&quot; rel=&quot;stylesheet&quot; type=&quot;text/css&quot;/&gt;
	@if (config(&#039;lang.direction&#039;) == &#039;rtl&#039;)
		&lt;link media=&quot;all&quot; rel=&quot;stylesheet&quot; type=&quot;text/css&quot; href=&quot;{{ asset(&#039;assets/plugins/simditor/styles/simditor-rtl.css&#039;) }}&quot; /&gt;
	@endif
	&lt;style&gt;
		.simditor .simditor-wrapper &gt; textarea, .simditor .simditor-body {
			min-height: {{ (int)$height }}px;
		}
	&lt;/style&gt;
@endpushonce

@pushonce(&quot;{$viewName}_assets_scripts&quot;)
	&lt;script src=&quot;{{ asset(&#039;assets/plugins/simditor/scripts/mobilecheck.js&#039;) }}&quot;&gt;&lt;/script&gt;
	&lt;script src=&quot;{{ asset(&#039;assets/plugins/simditor/scripts/module.js&#039;) }}&quot;&gt;&lt;/script&gt;
	&lt;script src=&quot;{{ asset(&#039;assets/plugins/simditor/scripts/hotkeys.js&#039;) }}&quot;&gt;&lt;/script&gt;
	&lt;script src=&quot;{{ asset(&#039;assets/plugins/simditor/scripts/dompurify.js&#039;) }}&quot;&gt;&lt;/script&gt;
	&lt;script src=&quot;{{ asset(&#039;assets/plugins/simditor/scripts/simditor.js&#039;) }}&quot;&gt;&lt;/script&gt;
	&lt;style&gt;
		/* Bootstrap 5 */
		.simditor:has(textarea),
		.simditor .simditor-wrapper {
			border-radius: 6px;
		}
		.simditor .simditor-toolbar {
			border-top-left-radius: 6px;
			border-top-right-radius: 6px;
		}
		.simditor:has(textarea.is-invalid) {
			border: 1px solid #f85359;
		}
		
		/* Dark Theme CSS */
		[data-bs-theme=&quot;dark&quot;] .simditor .simditor-toolbar,
		[data-theme=&quot;dark&quot;] .simditor .simditor-toolbar,
		html[theme=&quot;dark&quot;] .simditor .simditor-toolbar {
			background: #000000;
		}
		[data-bs-theme=&quot;dark&quot;] .simditor .simditor-wrapper,
		[data-theme=&quot;dark&quot;] .simditor .simditor-wrapper,
		html[theme=&quot;dark&quot;] .simditor .simditor-wrapper {
			background: #3a3939;
		}
		
		[data-bs-theme=&quot;dark&quot;] .simditor .simditor-toolbar .toolbar-menu,
		[data-theme=&quot;dark&quot;] .simditor .simditor-toolbar .toolbar-menu,
		html[theme=&quot;dark&quot;] .simditor .simditor-toolbar .toolbar-menu {
			background: #3a3939;
		}
		[data-bs-theme=&quot;dark&quot;] .simditor .simditor-toolbar &gt; ul &gt; li &gt; .toolbar-item.active,
		[data-theme=&quot;dark&quot;] .simditor .simditor-toolbar &gt; ul &gt; li &gt; .toolbar-item.active,
		html[theme=&quot;dark&quot;] .simditor .simditor-toolbar &gt; ul &gt; li &gt; .toolbar-item.active {
			background: #3a3939;
		}
		[data-bs-theme=&quot;dark&quot;] .simditor .simditor-toolbar &gt; ul &gt; li.menu-on .toolbar-item,
		[data-bs-theme=&quot;dark&quot;] .simditor .simditor-toolbar .toolbar-menu:before,
		[data-theme=&quot;dark&quot;] .simditor .simditor-toolbar &gt; ul &gt; li.menu-on .toolbar-item,
		[data-theme=&quot;dark&quot;] .simditor .simditor-toolbar .toolbar-menu:before,
		html[theme=&quot;dark&quot;] .simditor .simditor-toolbar &gt; ul &gt; li.menu-on .toolbar-item,
		html[theme=&quot;dark&quot;] .simditor .simditor-toolbar .toolbar-menu:before {
			background: #3a3939;
		}
		
		[data-bs-theme=&quot;dark&quot;] .simditor .simditor .simditor-toolbar .toolbar-menu.toolbar-menu-table .menu-create-table,
		[data-theme=&quot;dark&quot;] .simditor .simditor-toolbar .toolbar-menu.toolbar-menu-table .menu-create-table,
		html[theme=&quot;dark&quot;] .simditor .simditor-toolbar .toolbar-menu.toolbar-menu-table .menu-create-table {
			background: #000000;
		}
		[data-bs-theme=&quot;dark&quot;] .simditor .simditor-toolbar .toolbar-menu.toolbar-menu-table .menu-create-table table td:before,
		[data-theme=&quot;dark&quot;] .simditor .simditor-toolbar .toolbar-menu.toolbar-menu-table .menu-create-table table td:before,
		html[theme=&quot;dark&quot;] .simditor .simditor-toolbar .toolbar-menu.toolbar-menu-table .menu-create-table table td:before {
			border: 1px solid #000000;
			background: #3a3939;
		}
		
		[data-bs-theme=&quot;dark&quot;] .simditor .simditor-body table thead,
		[data-bs-theme=&quot;dark&quot;] .simditor .editor-style table thead,
		[data-theme=&quot;dark&quot;] .simditor .simditor-body table thead,
		[data-theme=&quot;dark&quot;] .simditor .editor-style table thead,
		html[theme=&quot;dark&quot;] .simditor .simditor-body table thead,
		html[theme=&quot;dark&quot;] .simditor .editor-style table thead {
			background-color: #1e1d1d;
		}
		[data-bs-theme=&quot;dark&quot;] .simditor .simditor-body table td.active,
		[data-bs-theme=&quot;dark&quot;] .simditor .simditor-body table th.active,
		[data-bs-theme=&quot;dark&quot;] .simditor .editor-style table td.active,
		[data-bs-theme=&quot;dark&quot;] .simditor .editor-style table th.active,
		[data-theme=&quot;dark&quot;] .simditor .simditor-body table td.active,
		[data-theme=&quot;dark&quot;] .simditor .simditor-body table th.active,
		[data-theme=&quot;dark&quot;] .simditor .editor-style table td.active,
		[data-theme=&quot;dark&quot;] .simditor .editor-style table th.active,
		html[theme=&quot;dark&quot;] .simditor .simditor-body table td.active,
		html[theme=&quot;dark&quot;] .simditor .simditor-body table th.active,
		html[theme=&quot;dark&quot;] .simditor .editor-style table td.active,
		html[theme=&quot;dark&quot;] .simditor .editor-style table th.active {
			background: #000000;
		}
		
		[data-bs-theme=&quot;dark&quot;] .simditor .simditor-body,
		[data-bs-theme=&quot;dark&quot;] .simditor .editor-style,
		[data-bs-theme=&quot;dark&quot;] .simditor .simditor-body p,
		[data-bs-theme=&quot;dark&quot;] .simditor .simditor-body div,
		[data-bs-theme=&quot;dark&quot;] .simditor .editor-style p,
		[data-bs-theme=&quot;dark&quot;] .simditor .editor-style div,
		[data-theme=&quot;dark&quot;] .simditor .simditor-body,
		[data-theme=&quot;dark&quot;] .simditor .editor-style,
		[data-theme=&quot;dark&quot;] .simditor .simditor-body p,
		[data-theme=&quot;dark&quot;] .simditor .simditor-body div,
		[data-theme=&quot;dark&quot;] .simditor .editor-style p,
		[data-theme=&quot;dark&quot;] .simditor .editor-style div,
		html[theme=&quot;dark&quot;] .simditor .simditor-body,
		html[theme=&quot;dark&quot;] .simditor .editor-style,
		html[theme=&quot;dark&quot;] .simditor .simditor-body p,
		html[theme=&quot;dark&quot;] .simditor .simditor-body div,
		html[theme=&quot;dark&quot;] .simditor .editor-style p,
		html[theme=&quot;dark&quot;] .simditor .editor-style div {
			color: #fff;
		}
	&lt;/style&gt;
@endpushonce

{{-- include field specific assets code --}}
@push(&quot;{$viewName}_helper_scripts&quot;)
	@php
		$editorI18n = trans(&#039;simditor&#039;, [], $locale);
		$editorI18nJson = &#039;&#039;;
		if (!empty($editorI18n) &amp;&amp; is_array($editorI18n)) {
			$editorI18nJson = collect($editorI18n)-&gt;toJson();
			$editorI18nJson = convertUTF8HtmlToAnsi($editorI18nJson);
		}
	@endphp
	&lt;script&gt;
		var simditorSelector = &#039;textarea[name=&quot;{{ $name }}&quot;].simditor&#039;;
		{{-- var simditorSelector = &#039;textarea.simditor&#039;; --}}
		var simditorLocale = &#039;{{ $locale }}&#039;;
		
		{{-- i18n --}}
		@if (!empty($editorI18nJson))
			Simditor.i18n = {&#039;{{ $locale }}&#039;: {!! $editorI18nJson !!}};
		@endif
		
		{{-- Toolbar --}}
		var simditorToolbar = [];
		simditorToolbar.push(&#039;bold&#039;);
		simditorToolbar.push(&#039;italic&#039;);
		simditorToolbar.push(&#039;underline&#039;);
		simditorToolbar.push(&#039;|&#039;);
		simditorToolbar.push(&#039;title&#039;);
		simditorToolbar.push(&#039;fontScale&#039;);
		simditorToolbar.push(&#039;color&#039;);
		simditorToolbar.push(&#039;|&#039;);
		simditorToolbar.push(&#039;ul&#039;);
		simditorToolbar.push(&#039;ol&#039;);
		simditorToolbar.push(&#039;|&#039;);
		simditorToolbar.push(&#039;table&#039;);
		@if ($allowsLinks)
			simditorToolbar.push(&#039;link&#039;);
			simditorToolbar.push(&#039;image&#039;);
		@endif
		simditorToolbar.push(&#039;|&#039;);
		simditorToolbar.push(&#039;alignment&#039;);
		simditorToolbar.push(&#039;indent&#039;);
		simditorToolbar.push(&#039;outdent&#039;);
		@if (isAdminPanelRoute())
			simditorToolbar.push(&#039;|&#039;);
			simditorToolbar.push(&#039;code&#039;);
		@endif
		
		var simditorMobileToolbar = [&#039;bold&#039;, &#039;italic&#039;, &#039;underline&#039;, &#039;ul&#039;, &#039;ol&#039;];
		
		var simditorAllowedTags = [
			&#039;br&#039;, &#039;span&#039;, &#039;img&#039;, &#039;b&#039;, &#039;strong&#039;, &#039;i&#039;, &#039;strike&#039;, &#039;u&#039;, &#039;font&#039;, &#039;p&#039;, &#039;ul&#039;,
			&#039;ol&#039;, &#039;li&#039;, &#039;blockquote&#039;, &#039;pre&#039;, &#039;h1&#039;, &#039;h2&#039;, &#039;h3&#039;, &#039;h4&#039;, &#039;hr&#039;, &#039;table&#039;
		];
		@if ($allowsLinks)
			simditorAllowedTags.push(&#039;a&#039;);
		@endif
		
		{{-- Fake Code Separator --}}
		(function () {
			onDocumentReady((event) =&gt; {
				@if (!empty($editorI18nJson))
					Simditor.locale = simditorLocale;
				@endif
				
				if (mobilecheck()) {
					simditorToolbar = simditorMobileToolbar;
				}
				
				const placeholder = &#039;{{ $placeholder }}&#039;;
				const defaultImage = &#039;{{ $defaultImage }}&#039;;
				const elPreviewContainer = &#039;{{ $elPreviewContainer }}&#039;;
				
				const simditorEl = $(simditorSelector);
				if (simditorEl.length &gt; 0) {
					{{-- Options --}}
					const simditorOptions = {
						textarea: $(simditorSelector),
						/* placeholder: placeholder, */{{-- Floating issue on scroll or on browser resizing --}}
						toolbar: simditorToolbar,
						allowedTags: simditorAllowedTags,
						defaultImage: defaultImage,
						pasteImage: false,
						upload: false
					};
					
					{{-- Init. --}}
					const editor = new Simditor(simditorOptions);
					
					const previewEl = $(elPreviewContainer);
					if (previewEl.length &gt; 0) {
						return editor.on(&#039;valuechanged&#039;, e =&gt; {
							return previewEl.html(editor.getValue());
						});
					}
				}
			});
		}).call(this);
	&lt;/script&gt;
@endpush


<hr>
<!-- PEDROO_NEXT_FILE: /ads/resources/views/helpers/forms/fields/simple-captcha.blade.php -->
<!-- PEDROO_NEXT_DIR: /ads/resources/views/helpers/forms/partials -->

</body>
</html>