<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>/ads/resources/views/front/layouts/partials/navs/menus/footer.blade.php</title>
<style>
body { font-family: monospace; white-space: pre; }
</style>
</head>
<body>
@php
	$footerMenu ??= [];
	$footerMenuData = (array)data_get($footerMenu, &#039;data&#039;);
	$totalFooterMenus = (int)data_get($footerMenu, &#039;meta.total&#039;, 0);
@endphp
@foreach($footerMenuData as $menu)
	@php
		$labelHtml = data_get($menu, &#039;label_html&#039;);
		$shouldDisplay = data_get($menu, &#039;should_display&#039;);
		$children = data_get($menu, &#039;children&#039;);
		$canBeDisplayed = ($shouldDisplay &amp;&amp; !empty($labelHtml));
	@endphp
	@continue(!$canBeDisplayed)
	@if (!empty($children))
		&lt;div class=&quot;col&quot;&gt;
			{!! $labelHtml !!}
			&lt;ul class=&quot;mb-0 list-unstyled&quot;&gt;
				@foreach($children as $subMenu)
					@php
						$subLabelHtml = data_get($subMenu, &#039;label_html&#039;);
						$subChildren = data_get($subMenu, &#039;children&#039;);
						$subShouldDisplay = data_get($subMenu, &#039;should_display&#039;);
						$subCanBeDisplayed = ($subShouldDisplay &amp;&amp; !empty($subLabelHtml));
					@endphp
					@continue(!$subCanBeDisplayed)
					&lt;li class=&quot;lh-lg&quot;&gt;
						{!! $subLabelHtml !!}
					&lt;/li&gt;
				@endforeach
			&lt;/ul&gt;
		&lt;/div&gt;
	@else
		&lt;div class=&quot;col&quot;&gt;
			{!! $labelHtml !!}
		&lt;/div&gt;
	@endif
@endforeach


<hr>
<!-- PEDROO_NEXT_FILE: /ads/resources/views/front/layouts/partials/navs/menus/header.blade.php -->
<!-- PEDROO_NEXT_DIR: /ads/resources/views/front/layouts/partials/social -->

</body>
</html>