<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>/ads/resources/views/setup/install/partials/_cron_jobs.blade.php</title>
<style>
body { font-family: monospace; white-space: pre; }
</style>
</head>
<body>
@php
	$articleUrl = &#039;https://support.bedigit.com/help-center/articles/19/configuring-the-cron-job&#039;;
	
	$scheduleCmd = getRightPathsForCmd(&#039;php artisan schedule:run&#039;, withHint: false);
	// $queueCmd = getRightPathsForCmd(&#039;php artisan queue:work --queue=mail,sms,thumbs,default&#039;, withHint: false);
	$queueCmd = &#039;&#039;;
	$hintForCmd = getHintForPhpCmd();
@endphp
&lt;h5 class=&quot;mb-0 fs-5 border-bottom pb-3 mb-3&quot;&gt;
    &lt;i class=&quot;fa-regular fa-clock&quot;&gt;&lt;/i&gt; {{ trans(&#039;messages.setting_up_cron_jobs&#039;) }}
&lt;/h5&gt;

&lt;div class=&quot;alert {{ isAdminPanelRoute() ? &#039;bg-light-info&#039; : &#039;alert-info&#039; }}&quot;&gt;
    {!! trans(&#039;messages.cron_jobs_guide&#039;, [&#039;articleUrl&#039; =&gt; $articleUrl]) !!}
&lt;/div&gt;

{!! $scheduleCmd !!}
{!! $queueCmd !!}
{!! $hintForCmd !!}


<hr>
<!-- PEDROO_NEXT_FILE: /ads/resources/views/setup/install/requirements.blade.php -->
<!-- PEDROO_NEXT_DIR: /ads/resources/views/setup/install/site-info -->

</body>
</html>