<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>/ads/resources/views/auth/layouts/partials/select-language.blade.php</title>
<style>
body { font-family: monospace; white-space: pre; }
</style>
</head>
<body>
@php
	/*
	 * The languages selection nav-item view variables are also used in the languages modal view
	 * available at: ../modal/languages.blade.php
	 */
	 
	$countries ??= collect();
	$showCountryFlagNextLang = (config(&#039;settings.localization.show_country_flag&#039;) == &#039;in_next_lang&#039;);
	
	$showCountrySpokenLang = config(&#039;settings.localization.show_country_spoken_languages&#039;);
	$showCountrySpokenLang = str_starts_with($showCountrySpokenLang, &#039;active&#039;);
	$supportedLanguages = $showCountrySpokenLang ? getCountrySpokenLanguages() : getSupportedLanguages();
	
	$supportedLanguagesExist = (count($supportedLanguages) &gt; 1);
	$isLangOrCountryCanBeSelected = ($supportedLanguagesExist || $showCountryFlagNextLang);
	
	// Check if the Multi-Countries selection is enabled
	$multiCountryIsEnabled = false;
	$multiCountryLabel = &#039;&#039;;
	if ($showCountryFlagNextLang) {
		if (!empty(config(&#039;country.code&#039;))) {
			if ($countries-&gt;count() &gt; 1) {
				$multiCountryIsEnabled = true;
			}
		}
	}
	
	$countryName = config(&#039;country.name&#039;);
	$countryFlag32Url = config(&#039;country.flag32_url&#039;);
	
	$countryFlagImg = $showCountryFlagNextLang
		? &#039;&lt;img class=&quot;flag-icon me-2&quot; src=&quot;&#039; . $countryFlag32Url . &#039;&quot; alt=&quot;&#039; . $countryName . &#039;&quot;&gt;&#039;
		: null;
	
	$currentLanguageCode = strtolower(config(&#039;app.locale&#039;, &#039;en&#039;));
	$currentLanguage = $supportedLanguages[$currentLanguageCode] ?? strtoupper($currentLanguageCode);
	$currentLanguageName = $currentLanguage[&#039;name&#039;] ?? strtoupper($currentLanguageCode);
	$currentLanguageName = $currentLanguage[&#039;native&#039;] ?? $currentLanguageName;
	
	// Theme Preference (light/dark/system)
	$showIconOnly ??= false;
@endphp
@if ($isLangOrCountryCanBeSelected || isSettingsAppDarkModeEnabled())
	&lt;div class=&quot;col-12 col-sm-12 col-md-12 col-lg-12 col-xl-11 col-xxl-10 mx-auto mt-5&quot;&gt;
		&lt;div class=&quot;row d-flex justify-content-center align-items-end&quot;&gt;
			&lt;div class=&quot;col-md-6 col-sm-12 text-md-start text-center&quot;&gt;
				@if (isSettingsAppDarkModeEnabled())
					@include(&#039;front.layouts.partials.navs.themes&#039;, [
						&#039;showIconOnly&#039; =&gt; $showIconOnly,
					])
				@endif
			&lt;/div&gt;
			&lt;div class=&quot;col-md-6 col-sm-12 text-md-end text-center&quot;&gt;
				@if ($isLangOrCountryCanBeSelected)
					&lt;div class=&quot;&quot;&gt;
						&lt;a href=&quot;#selectLanguage&quot;
						   role=&quot;button&quot;
						   data-bs-toggle=&quot;modal&quot;
						   class=&quot;text-secondary auto-tooltip&quot;
						   title=&quot;{{ trans(&#039;global.change_language&#039;) }}&quot;
						&gt;
							&lt;i class=&quot;bi bi-translate&quot;&gt;&lt;/i&gt; {{ $currentLanguageName }} &lt;i class=&quot;bi bi-chevron-expand&quot;&gt;&lt;/i&gt;
						&lt;/a&gt;
					&lt;/div&gt;
				@endif
			&lt;/div&gt;
		&lt;/div&gt;
	&lt;/div&gt;
@endif

@section(&#039;modal&#039;)
	@include(&#039;front.layouts.partials.modal.languages&#039;, [&#039;modalSize&#039; =&gt; &#039;modal-lg&#039;, &#039;itemClass&#039; =&gt; &#039;text-center&#039;])
@endsection


<hr>
<!-- PEDROO_NEXT_FILE: /ads/resources/views/auth/login/index.blade.php -->
<!-- PEDROO_NEXT_DIR: /ads/resources/views/auth/login -->

</body>
</html>