<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>/ads/resources/views/admin/layouts/master.blade.php</title>
<style>
body { font-family: monospace; white-space: pre; }
</style>
</head>
<body>
@php
    $htmlLang = getLangTag(config(&#039;app.locale&#039;));
	$langDirection = config(&#039;lang.direction&#039;);
	$userThemePreference = currentUserThemePreference();
	
	$htmlDir = ($langDirection == &#039;rtl&#039;) ? &#039; dir=&quot;rtl&quot;&#039; : &#039;&#039;;
	$htmlTheme = ($userThemePreference == &#039;dark&#039;) ? &#039; data-bs-theme=&quot;dark&quot;&#039; : &#039;&#039;;
	
	$showIconOnly = true;
@endphp
&lt;!DOCTYPE html&gt;
&lt;html lang=&quot;{{ $htmlLang }}&quot;{!! $htmlDir . $htmlTheme !!}&gt;
&lt;head&gt;
    &lt;meta charset=&quot;{{ config(&#039;larapen.core.charset&#039;, &#039;utf-8&#039;) }}&quot;&gt;
    &lt;meta http-equiv=&quot;X-UA-Compatible&quot; content=&quot;IE=edge&quot;&gt;
    {{-- Tell the browser to be responsive to screen width --}}
    &lt;meta name=&quot;viewport&quot; content=&quot;width=device-width, initial-scale=1&quot;&gt;
    &lt;meta name=&quot;description&quot; content=&quot;&quot;&gt;
    &lt;meta name=&quot;author&quot; content=&quot;{{ config(&#039;app.name&#039;) }}&quot;&gt;
    {{-- Favicon icon --}}
    &lt;link rel=&quot;icon&quot; type=&quot;image/png&quot; sizes=&quot;16x16&quot; href=&quot;{{ config(&#039;settings.app.favicon_url&#039;) }}&quot;&gt;
    
    &lt;title&gt;{!! isset($title) ? strip_tags($title) . &#039; :: &#039; . config(&#039;app.name&#039;) . &#039; Admin&#039; : config(&#039;app.name&#039;) . &#039; Admin&#039; !!}&lt;/title&gt;
    
    {{-- Encrypted CSRF token for Laravel, in order for Ajax requests to work --}}
    &lt;meta name=&quot;csrf-token&quot; content=&quot;{{ csrf_token() }}&quot; /&gt;
    
    {{-- Specify a default target for all hyperlinks and forms on the page --}}
    &lt;base target=&quot;_top&quot;/&gt;
    
    &lt;link rel=&quot;canonical&quot; href=&quot;{{ url()-&gt;current() }}&quot; /&gt;
    
    @yield(&#039;before_styles&#039;)
    
    {{-- Admin Panel&#039;s CSS files (Handled by Mix) --}}
    @if (config(&#039;lang.direction&#039;) == &#039;rtl&#039;)
        &lt;link href=&quot;https://fonts.googleapis.com/css?family=Cairo|Changa&quot; rel=&quot;stylesheet&quot;&gt;
        &lt;link href=&quot;{{ url(mix(&#039;dist/admin/styles.rtl.css&#039;)) }}&quot; rel=&quot;stylesheet&quot;&gt;
    @else
        &lt;link href=&quot;{{ url(mix(&#039;dist/admin/styles.css&#039;)) }}&quot; rel=&quot;stylesheet&quot;&gt;
    @endif
    
    @yield(&#039;after_styles&#039;)
    @stack(&#039;after_styles_stack&#039;)
    
    &lt;style&gt;
        /* Fix for &quot;datatables/css/jquery.dataTables.css&quot; */
        table.dataTable thead .sorting,
        table.dataTable thead .sorting_asc,
        table.dataTable thead .sorting_desc,
        table.dataTable thead .sorting_asc_disabled,
        table.dataTable thead .sorting_desc_disabled {
            background-image: inherit;
        }
    &lt;/style&gt;
    
    @include(&#039;front.common.js.document&#039;)
    
    {{-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries --}}
    {{-- WARNING: Respond.js doesn&#039;t work if you view the page via file:// --}}
    &lt;!--[if lt IE 9]&gt;
    &lt;script src=&quot;https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js&quot;&gt;&lt;/script&gt;
    &lt;script src=&quot;https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js&quot;&gt;&lt;/script&gt;
    &lt;![endif]--&gt;
&lt;/head&gt;
&lt;body class=&quot;bg-body-tertiary text-body-emphasis&quot;&gt;
{{-- Main wrapper - style you can find in pages.scss --}}
&lt;div id=&quot;main-wrapper&quot;&gt;
    
    {{-- Topbar header - style you can find in pages.scss --}}
    @include(&#039;admin.layouts.partials.header&#039;)
    
    {{-- Left Sidebar - style you can find in sidebar.scss  --}}
    @include(&#039;admin.layouts.partials.sidebar&#039;)
    
    {{-- Page wrapper  --}}
    &lt;div class=&quot;page-wrapper&quot;&gt;
        {{-- Container fluid  --}}
        &lt;div class=&quot;container-fluid&quot;&gt;
            {{-- Bread crumb and right sidebar toggle --}}
            @yield(&#039;header&#039;)
            
            {{-- Start Page Content --}}
            @yield(&#039;content&#039;)
        &lt;/div&gt;
        
        {{-- Footer --}}
        &lt;footer class=&quot;footer bg-body border-top border-light-subtle border-opacity-50&quot;&gt;
            &lt;div class=&quot;row&quot;&gt;
                &lt;div class=&quot;col-md-6 text-start&quot;&gt;
                    {{ trans(&#039;admin.Version&#039;) }} {{ config(&#039;version.env&#039;, config(&#039;version.app&#039;)) }}
                &lt;/div&gt;
                @if (config(&#039;settings.footer.hide_powered_by&#039;) != &#039;1&#039;)
                    &lt;div class=&quot;col-md-6 text-end&quot;&gt;
                        @if (config(&#039;settings.footer.powered_by_text&#039;))
                            {{ trans(&#039;admin.powered_by&#039;) }} {!! config(&#039;settings.footer.powered_by_text&#039;) !!}
                        @else
                            {{ trans(&#039;admin.powered_by&#039;) }} &lt;a target=&quot;_blank&quot; href=&quot;https://bedigit.com&quot;&gt;BeDigit&lt;/a&gt;
                        @endif
                    &lt;/div&gt;
                @endif
            &lt;/div&gt;
        &lt;/footer&gt;
    &lt;/div&gt;
&lt;/div&gt;

@include(&#039;front.common.js.init&#039;)

@yield(&#039;before_scripts&#039;)

&lt;script&gt;
    {{-- Admin Base URL --}}
    window.adminBaseUrl = &#039;{{ urlGen()-&gt;adminUrl() }}&#039;;
    
    {{-- Theme Preference (light/dark/system) --}}
    var isSettingsAppDarkModeEnabled = {{ isSettingsAppDarkModeEnabled() ? &#039;true&#039; : &#039;false&#039; }};
    var isSettingsAppSystemThemeEnabled = {{ isSettingsAppSystemThemeEnabled() ? &#039;true&#039; : &#039;false&#039; }};
    var userThemePreference = {!! !empty($userThemePreference) ? &quot;&#039;$userThemePreference&#039;&quot; : &#039;null&#039; !!};
    var showIconOnly = {{ $showIconOnly ? &#039;true&#039; : &#039;false&#039; }};
    
    {{-- The app&#039;s default auth field --}}
    var defaultAuthField = &#039;{{ old(&#039;auth_field&#039;, getAuthField()) }}&#039;;
    var phoneCountry = &#039;&#039;;
    
    {{-- Admin Panel Theme Settings --}}
    const adminPanelSettings = {
        Theme: {{ ($userThemePreference == &#039;dark&#039;) ? &#039;true&#039; : &#039;false&#039; }},
        Layout: &#039;vertical&#039;,
        LogoBg: &#039;{{ config(&#039;settings.style.admin_logo_bg&#039;) }}&#039;,
        NavbarBg: &#039;{{ config(&#039;settings.style.admin_navbar_bg&#039;) }}&#039;,
        SidebarType: &#039;{{ config(&#039;settings.style.admin_sidebar_type&#039;) }}&#039;,
        SidebarColor: &#039;{{ config(&#039;settings.style.admin_sidebar_bg&#039;) }}&#039;,
        SidebarPosition: {{ config(&#039;settings.style.admin_sidebar_position&#039;) == &#039;1&#039; ? &#039;true&#039; : &#039;false&#039; }},
        HeaderPosition: {{ config(&#039;settings.style.admin_header_position&#039;) == &#039;1&#039; ? &#039;true&#039; : &#039;false&#039; }},
        BoxedLayout: {{ config(&#039;settings.style.admin_boxed_layout&#039;) == &#039;1&#039; ? &#039;true&#039; : &#039;false&#039; }},
    };
&lt;/script&gt;

&lt;script src=&quot;{{ url(mix(&#039;dist/admin/scripts.js&#039;)) }}&quot;&gt;&lt;/script&gt;

&lt;script&gt;
    onDocumentReady((event) =&gt; {
        &quot;use strict&quot;;
        $(&#039;#main-wrapper&#039;).AdminSettings(adminPanelSettings);
    });
&lt;/script&gt;

{{-- Job Monitor Script --}}
{{--
    Cache Clear Job
    Images Thumbnails Clear
--}}
&lt;script src=&quot;{{ url(&#039;assets/admin/js/monitors/clear-cache.js&#039;) }}&quot;&gt;&lt;/script&gt;
&lt;script src=&quot;{{ url(&#039;assets/admin/js/monitors/clear-image-thumbs.js&#039;) }}&quot;&gt;&lt;/script&gt;

@if(session()-&gt;has(&#039;clearCacheJobId&#039;))
    &lt;meta name=&quot;clear-cache-job-id&quot; content=&quot;{{ session(&#039;clearCacheJobId&#039;) }}&quot;&gt;
@endif
@if(session()-&gt;has(&#039;clearImageThumbsJobId&#039;))
    &lt;meta name=&quot;clear-image-thumbs-job-id&quot; content=&quot;{{ session(&#039;clearImageThumbsJobId&#039;) }}&quot;&gt;
@endif

@include(&#039;helpers.flash.client&#039;)

{{-- Page Script --}}
&lt;script type=&quot;text/javascript&quot;&gt;
    onDocumentReady((event) =&gt; {
        /* To make Pace works on Ajax calls */
        $(document).ajaxStart(function () {
            Pace.restart();
        });
    
        /* Set active state on menu element */
        const currentUrl = &quot;{{ url(Route::current()-&gt;uri()) }}&quot;;
        $(&quot;#sidebarnav li a&quot;).each(function () {
            if ($(this).attr(&#039;href&#039;).startsWith(currentUrl) || currentUrl.startsWith($(this).attr(&#039;href&#039;))) {
                $(this).parents(&#039;li&#039;).addClass(&#039;selected&#039;);
            }
        });
    });
&lt;/script&gt;
&lt;script&gt;
    onDocumentReady((event) =&gt; {
        {{-- Confirm Action For AJAX (Update) Request --}}
        $(document).on(&#039;click&#039;, &#039;.ajax-request&#039;, function(e)
        {
            e.preventDefault(); {{-- Prevents submission or reloading --}}
    
            const thisEl = this;
            
            /* Get element&#039;s icon */
            let iconEl = null;
            if ($(thisEl).is(&#039;a&#039;) &amp;&amp; $(thisEl).hasClass(&#039;btn&#039;)) {
                iconEl = $(thisEl).find(&#039;i&#039;);
            } else {
                if ($(thisEl).next(&#039;a&#039;).hasClass(&#039;btn&#039;)) {
                    iconEl = $(thisEl).next(&#039;a&#039;).find(&#039;i&#039;);
                }
            }
            
            /* Don&#039;t make multiple simultaneous calls */
            if (iconEl) {
                if (iconEl.hasClass(&#039;spinner-border&#039;)) {
                    return false;
                }
            }
            
            Swal.fire({
                position: &#039;top&#039;,
                text: langLayout.confirm.message.question,
                icon: &#039;warning&#039;,
                showCancelButton: true,
                confirmButtonText: langLayout.confirm.button.yes,
                cancelButtonText: langLayout.confirm.button.no
            }).then((result) =&gt; {
                if (result.isConfirmed) {
                    
                    saveAjaxRequest(siteUrl, thisEl);
                    
                } else if (result.dismiss === Swal.DismissReason.cancel) {
                    
                    pnotifyAlertClient(&#039;info&#039;, langLayout.confirm.message.cancel);
                    
                }
            });
        });
    });
    
    function saveAjaxRequest(siteUrl, thisEl)
    {
        if (isDemoDomain()) {
            return false;
        }
        
        /* Get element&#039;s icon */
        let iconEl = null;
        if ($(thisEl).is(&#039;a&#039;) &amp;&amp; $(thisEl).hasClass(&#039;btn&#039;)) {
            iconEl = $(thisEl).find(&#039;i&#039;);
        } else {
            if ($(thisEl).next(&#039;a&#039;).hasClass(&#039;btn&#039;)) {
                iconEl = $(thisEl).next(&#039;a&#039;).find(&#039;i&#039;);
            }
        }
        
        /* Get database info */
        let _token = $(&#039;input[name=_token]&#039;).val();
        let dataTable = $(thisEl).data(&#039;table&#039;);
        let dataField = $(thisEl).data(&#039;field&#039;);
        let dataId = $(thisEl).data(&#039;id&#039;);
        let dataLineId = $(thisEl).data(&#039;line-id&#039;);
        let dataValue = $(thisEl).data(&#039;value&#039;);
        
        /* Remove dot (.) from var (referring to the PHP var) */
        dataLineId = dataLineId.split(&#039;.&#039;).join(&quot;&quot;);
        
        let adminUri = &#039;{{ urlGen()-&gt;adminUri() }}&#039;;
        let requestUrl = siteUrl + &#039;/&#039; + adminUri + &#039;/ajax/&#039; + dataTable + &#039;/&#039; + dataField + &#039;&#039;;
        
        const ajax = $.ajax({
            method: &#039;POST&#039;,
            url: requestUrl,
            context: this,
            data: {
                &#039;dataId&#039;: dataId,
                &#039;_token&#039;: _token
            },
            beforeSend: function() {
                if (dataTable === &#039;countries&#039; &amp;&amp; dataField === &#039;active&#039;) {
                    /* Change the button indicator */
                    if (iconEl) {
                        iconEl.removeClass(&#039;fa-solid fa-download&#039;);
                        iconEl.addClass(&#039;spinner-border spinner-border-sm&#039;).css({&#039;vertical-align&#039;: &#039;middle&#039;});
                        iconEl.attr({&#039;role&#039;: &#039;status&#039;, &#039;aria-hidden&#039;: &#039;true&#039;});
                    }
                }
            }
        });
        ajax.done(function(xhr) {
            /* Check the required xhr attributes */
            if (
                    typeof xhr.success === &#039;undefined&#039;
                    || typeof xhr.message === &#039;undefined&#039;
                    || typeof xhr.isToggleOn === &#039;undefined&#039;
                    || typeof xhr.table === &#039;undefined&#039;
            ) {
                pnotifyAlertClient(&#039;error&#039;, &#039;Error: Impossible to retrieve xhr attributes.&#039;);
                return false;
            }
            
            let message = xhr.message;
            
            if (xhr.success !== true) {
                pnotifyAlertClient(&#039;notice&#039;, message);
                return false;
            }
            
            /* Decoration */
            if (xhr.table === &#039;countries&#039; &amp;&amp; dataField === &#039;active&#039;) {
                /* Country case */
                if (xhr.isToggleOn === true) {
                    $(&#039;#&#039; + dataLineId).removeClass(&#039;fa-solid fa-toggle-off&#039;).addClass(&#039;fa-solid fa-toggle-on&#039;);
                    $(&#039;#install&#039; + dataId).removeClass(&#039;btn-light&#039;)
                            .addClass(&#039;btn-success&#039;)
                            .addClass(&#039;text-white&#039;)
                            .empty()
                            .html(&#039;&lt;i class=&quot;fa-solid fa-download&quot;&gt;&lt;/i&gt; &lt;?php echo trans(&#039;admin.Installed&#039;); ?&gt;&#039;);
                } else {
                    $(&#039;#&#039; + dataLineId).removeClass(&#039;fa-solid fa-toggle-on&#039;).addClass(&#039;fa-solid fa-toggle-off&#039;);
                    $(&#039;#install&#039; + dataId).removeClass(&#039;btn-success&#039;)
                            .removeClass(&#039;text-white&#039;)
                            .addClass(&#039;btn-light&#039;)
                            .empty()
                            .html(&#039;&lt;i class=&quot;fa-solid fa-download&quot;&gt;&lt;/i&gt; &lt;?php echo trans(&#039;admin.Install&#039;); ?&gt;&#039;);
                }
                
                /* Reset the button indicator */
                if (iconEl) {
                    iconEl.removeClass(&#039;spinner-border spinner-border-sm&#039;).css({&#039;vertical-align&#039;: &#039;&#039;});
                    iconEl.addClass(&#039;fa-solid fa-download&#039;).removeAttr(&#039;role aria-hidden&#039;);
                }
            } else {
                /* All other cases */
                if (xhr.isToggleOn === true) {
                    $(&#039;#&#039; + dataLineId).removeClass(&#039;fa-solid fa-toggle-off&#039;).addClass(&#039;fa-solid fa-toggle-on&#039;).blur();
                } else {
                    $(&#039;#&#039; + dataLineId).removeClass(&#039;fa-solid fa-toggle-on&#039;).addClass(&#039;fa-solid fa-toggle-off&#039;).blur();
                }
            }
            
            pnotifyAlertClient(&#039;success&#039;, message);
            
            return false;
        });
        ajax.fail(function(xhr, textStatus, errorThrown) {
            let message = getErrorMessageFromXhr(xhr);
            if (message !== null) {
                pnotifyAlertClient(&#039;error&#039;, message);
            }
            
            /* Reset the button indicator */
            if (iconEl) {
                iconEl.removeClass(&#039;spinner-border spinner-border-sm&#039;).css({&#039;vertical-align&#039;: &#039;&#039;});
                iconEl.addClass(&#039;fa-solid fa-download&#039;).removeAttr(&#039;role aria-hidden&#039;);
            }
            
            return false;
        });
        
        return false;
    }
&lt;/script&gt;

@include(&#039;helpers.flash.default&#039;)
@include(&#039;admin.layouts.partials.maintenance&#039;)

&lt;script&gt;
    onDocumentReady((event) =&gt; {
        {{-- Maintenance Modal --}}
        @if (isset($errors) &amp;&amp; $errors-&gt;any())
            @if ($errors-&gt;any() &amp;&amp; old(&#039;maintenanceForm&#039;)==&#039;1&#039;)
                {{-- Re-open the modal if error occured --}}
                openMaintenanceModal();
            @endif
        @endif
    });
&lt;/script&gt;

@yield(&#039;after_scripts&#039;)
@stack(&#039;after_scripts_stack&#039;)
&lt;/body&gt;
&lt;/html&gt;


<hr>
<!-- PEDROO_NEXT_FILE: /ads/resources/views/admin/layouts/partials/header.blade.php -->
<!-- PEDROO_NEXT_DIR: /ads/resources/views/admin/layouts/partials -->

</body>
</html>