<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>/public/js/filament/forms/components/textarea.js</title>
<style>
body { font-family: monospace; white-space: pre; }
</style>
</head>
<body>
function r({initialHeight:t,shouldAutosize:i,state:s}){return{state:s,wrapperEl:null,init:function(){this.wrapperEl=this.$el.parentNode,this.setInitialHeight(),i?this.$watch(&quot;state&quot;,()=&gt;{this.resize()}):this.setUpResizeObserver()},setInitialHeight:function(){this.$el.scrollHeight&lt;=0||(this.wrapperEl.style.height=t+&quot;rem&quot;)},resize:function(){if(this.setInitialHeight(),this.$el.scrollHeight&lt;=0)return;let e=this.$el.scrollHeight+&quot;px&quot;;this.wrapperEl.style.height!==e&amp;&amp;(this.wrapperEl.style.height=e)},setUpResizeObserver:function(){new ResizeObserver(()=&gt;{this.wrapperEl.style.height=this.$el.style.height}).observe(this.$el)}}}export{r as default};


<hr>
<!-- PEDROO_NEXT_FILE: /public/js/filament/notifications/notifications.js -->
<!-- PEDROO_NEXT_DIR: /public/js/filament/notifications -->

</body>
</html>