<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>/ads/resources/views/setup/install/layouts/partials/header.blade.php</title>
<style>
body { font-family: monospace; white-space: pre; }
</style>
</head>
<body>
@php
	use App\Helpers\Common\Files\Storage\StorageDisk;
	
	// Logo
	$logoFactoryUrl = config(&#039;larapen.media.logo-factory&#039;);
	$logoUrl = &#039;&#039;;
	try {
		if (is_link(public_path(&#039;storage&#039;))) {
			$disk = StorageDisk::getDisk();
			$defaultLogo = config(&#039;larapen.media.logo&#039;);
			if (!empty($defaultLogo) &amp;&amp; $disk-&gt;exists($defaultLogo)) {
				$logoUrl = $disk-&gt;url($defaultLogo);
			}
		}
	} catch (\Throwable $e) {}
	$logoUrl = empty($logoUrl) ? $logoFactoryUrl : $logoUrl;
	$logoStyle = &#039;max-width:200px; max-height:40px; width:auto; height:auto;&#039;;
@endphp
&lt;header&gt;
	&lt;nav class=&quot;navbar navbar-expand-md bg-body-tertiary border-bottom&quot; role=&quot;navigation&quot;&gt;
		&lt;div class=&quot;container-fluid&quot;&gt;
			
			{{-- Logo --}}
			&lt;a href=&quot;{{ url(&#039;/&#039;) }}&quot; class=&quot;navbar-brand logo logo-title&quot;&gt;
				&lt;img src=&quot;{{ $logoUrl }}&quot; alt=&quot;logo&quot; style=&quot;{!! $logoStyle !!}&quot;&gt;
			&lt;/a&gt;
			
			{{-- Toggle Nav (Mobile) --}}
			&lt;button class=&quot;navbar-toggler float-end&quot;
			        type=&quot;button&quot;
			        data-bs-toggle=&quot;collapse&quot;
			        data-bs-target=&quot;#navbarNav&quot;
			        aria-controls=&quot;navbarNav&quot;
			        aria-expanded=&quot;false&quot;
			        aria-label=&quot;Toggle navigation&quot;
			&gt;
				&lt;span class=&quot;navbar-toggler-icon&quot;&gt;&lt;/span&gt;
			&lt;/button&gt;
			
			&lt;div class=&quot;collapse navbar-collapse&quot; id=&quot;navbarNav&quot;&gt;
				&lt;ul class=&quot;navbar-nav me-md-auto&quot;&gt;&lt;/ul&gt;
				&lt;ul class=&quot;navbar-nav ms-auto&quot;&gt;&lt;/ul&gt;
			&lt;/div&gt;
			
		&lt;/div&gt;
	&lt;/nav&gt;
&lt;/header&gt;


<hr>
<!-- PEDROO_NEXT_FILE: /ads/resources/views/setup/install/partials/_cron_jobs.blade.php -->
<!-- PEDROO_NEXT_DIR: /ads/resources/views/setup/install/partials -->

</body>
</html>