<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>/ads/resources/views/front/layouts/partials/navs/menus/header.blade.php</title>
<style>
body { font-family: monospace; white-space: pre; }
</style>
</head>
<body>
@php
	$headerMenu ??= [];
	$headerMenuData = (array)data_get($headerMenu, &#039;data&#039;);
	$totalHeaderMenus = (int)data_get($headerMenu, &#039;meta.total&#039;, 0);
	
	$savedType = null;
	$openOnHover = &#039;&#039;; // &#039; open-on-hover&#039;
@endphp
@foreach($headerMenuData as $menu)
	@php
		$labelHtml = data_get($menu, &#039;label_html&#039;);
		$shouldDisplay = data_get($menu, &#039;should_display&#039;);
		$children = data_get($menu, &#039;children&#039;);
		
		$canBeDisplayed = ($shouldDisplay &amp;&amp; !empty($labelHtml));
		
		$type = data_get($menu, &#039;type&#039;);
		$ms = ($savedType == &#039;button&#039; &amp;&amp; $type == &#039;button&#039;) ? &#039; ms-1&#039; : &#039;&#039;;
	@endphp
	@continue(!$canBeDisplayed)
	@if (!empty($children))
		&lt;li class=&quot;nav-item{{ $ms }} dropdown{{ $openOnHover }}&quot;&gt;
			{!! $labelHtml !!}
			&lt;ul class=&quot;dropdown-menu shadow-sm&quot;&gt;
				@foreach($children as $subMenu)
					@php
						$subLabelHtml = data_get($subMenu, &#039;label_html&#039;);
						$subChildren = data_get($subMenu, &#039;children&#039;);
						$subShouldDisplay = data_get($subMenu, &#039;should_display&#039;);
						$subCanBeDisplayed = ($subShouldDisplay &amp;&amp; !empty($subLabelHtml));
					@endphp
					@continue(!$subCanBeDisplayed)
					&lt;li&gt;
						{!! $subLabelHtml !!}
					&lt;/li&gt;
				@endforeach
			&lt;/ul&gt;
		&lt;/li&gt;
	@else
		&lt;li class=&quot;nav-item{{ $ms }}&quot;&gt;
			{!! $labelHtml !!}
		&lt;/li&gt;
	@endif
	@php
		$savedType = $type;
	@endphp
@endforeach


<hr>
<!-- PEDROO_NEXT_FILE: /ads/resources/views/front/layouts/partials/navs/themes.blade.php -->
<!-- PEDROO_NEXT_DIR: /ads/resources/views/front/layouts/partials/social -->

</body>
</html>