<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>/ads/resources/views/front/layouts/partials/modal/location/admins.blade.php</title>
<style>
body { font-family: monospace; white-space: pre; }
</style>
</head>
<body>
@php
	$countryCode ??= config(&#039;country.code&#039;);
	$countryCode = strtolower($countryCode);
	$adminType ??= 0;
	
	$apiResult ??= [];
	$admins = data_get($apiResult, &#039;data&#039;);
	$totalAdmins = (int)data_get($apiResult, &#039;meta.total&#039;, 0);
	$areAdminsPageable = (!empty(data_get($apiResult, &#039;links.prev&#039;)) || !empty(data_get($apiResult, &#039;links.next&#039;)));
	
	$languageCode ??= config(&#039;app.locale&#039;);
	$currSearch ??= [];
	
	$queryArray = is_array($currSearch) ? $currSearch : [];
	$adminQueryArray = $queryArray;
	if (isset($adminQueryArray[&#039;distance&#039;])) {
		unset($adminQueryArray[&#039;distance&#039;]);
	}
@endphp
@if (!empty($admins) &amp;&amp; $totalAdmins &gt; 0)
	@php
		$rowCols = ($adminType == 2)
			? &#039;row-cols-lg-3 row-cols-md-2 row-cols-sm-1&#039;
			: &#039;row-cols-lg-4 row-cols-md-3 row-cols-sm-2&#039;;
	@endphp
	&lt;div id=&quot;modalAdminList&quot; class=&quot;row {{ $rowCols }} row-cols-1&quot;&gt;
		@php
			$url = url(&#039;browsing/locations/&#039; . $countryCode . &#039;/cities&#039;);
			$url = urlBuilder($url)-&gt;setParameters($adminQueryArray)-&gt;toString();
		@endphp
		&lt;div class=&quot;col mb-1 list-link list-unstyled&quot;&gt;
			&lt;a href=&quot;&quot; data-url=&quot;{{ $url }}&quot; class=&quot;is-admin link-primary text-decoration-none&quot; data-ignore-guard=&quot;true&quot;&gt;
				{{ trans(&#039;global.all_cities&#039;, [], $languageCode) }}
			&lt;/a&gt;
		&lt;/div&gt;
		@foreach($admins as $admin)
			@php
				$adminCode = data_get($admin, &#039;code&#039;);
				$url = url(&#039;browsing/locations/&#039; . $countryCode . &#039;/admins/&#039; . $adminType . &#039;/&#039; . $adminCode . &#039;/cities&#039;);
				$url = urlBuilder($url)-&gt;setParameters($adminQueryArray)-&gt;toString();
				
				$admin1 = null;
				$adminName = data_get($admin, &#039;name&#039;);
				if ($adminType == 2) {
					$admin1 = data_get($admin, &#039;subAdmin1&#039;);
					$admin1Name = data_get($admin1, &#039;name&#039;);
					$fullAdminName = !empty($admin1Name) ? $adminName . &#039;, &#039; . $admin1Name : $adminName;
				} else {
					$fullAdminName = $adminName;
				}
			@endphp
			&lt;div class=&quot;col mb-1 list-link list-unstyled&quot;&gt;
				&lt;a href=&quot;&quot;
				   data-url=&quot;{{ $url }}&quot;
				   class=&quot;is-admin link-primary text-decoration-none&quot;
				   data-bs-toggle=&quot;tooltip&quot;
				   data-bs-custom-class=&quot;modal-tooltip&quot;
				   title=&quot;{{ $fullAdminName }}&quot;
				   data-ignore-guard=&quot;true&quot;
				&gt;
					{{ $fullAdminName }}
				&lt;/a&gt;
			&lt;/div&gt;
		@endforeach
	&lt;/div&gt;
	@if ($areAdminsPageable)
		&lt;div class=&quot;row&quot;&gt;
			&lt;div class=&quot;col-12&quot;&gt;
				@include(&#039;vendor.pagination.ajax.bootstrap-5&#039;)
			&lt;/div&gt;
		&lt;/div&gt;
	@endif
@else
	&lt;div class=&quot;row&quot;&gt;
		&lt;div class=&quot;col-12&quot;&gt;
			{{ trans(&#039;global.no_admin_divisions_found&#039;, [], $languageCode) }}
		&lt;/div&gt;
	&lt;/div&gt;
@endif


<hr>
<!-- PEDROO_NEXT_FILE: /ads/resources/views/front/layouts/partials/modal/location/cities.blade.php -->
<!-- PEDROO_NEXT_DIR: /ads/resources/views/front/layouts/partials/navs -->

</body>
</html>