<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>/ads/resources/views/front/post/createOrEdit/multiSteps/partials/wizard.blade.php</title>
<style>
body { font-family: monospace; white-space: pre; }
</style>
</head>
<body>
@if (!empty($wizardMenu))
	@include(&#039;front.common.spacer&#039;)
	&lt;div class=&quot;container&quot;&gt;
	    &lt;div class=&quot;row&quot;&gt;
	        &lt;div class=&quot;col-12 mt-md-1 mt-sm-0 mt-0&quot;&gt;
		        &lt;ul class=&quot;nav nav-pills border border-primary rounded bg-body-tertiary p-2 fs-6 fw-bold&quot;&gt;
			        @foreach($wizardMenu as $menu)
				        @continue(!$menu[&#039;included&#039;])
				        @php
				            $stepClass = $menu[&#039;class&#039;] ?? null;
							$stepClass = !empty($stepClass) ? &#039; &#039; . $stepClass : &#039;&#039;;
							$stepUrl = $menu[&#039;url&#039;] ?? null;
							$stepLabel = $menu[&#039;label&#039;] ?? &#039;--&#039;;
				        @endphp
				        &lt;li class=&quot;nav-item&quot;&gt;
					        @if (!empty($menu[&#039;url&#039;]))
								@if (str_contains($stepClass, &#039;active&#039;))
						            &lt;a class=&quot;nav-link{{ $stepClass }}&quot; aria-current=&quot;page&quot; href=&quot;{{ $stepUrl }}&quot;&gt;
							            {{ $stepLabel }}
						            &lt;/a&gt;
						        @else
							        &lt;a class=&quot;nav-link{{ $stepClass }}&quot; href=&quot;{{ $stepUrl }}&quot;&gt;
								        {{ $stepLabel }}
							        &lt;/a&gt;
						        @endif
					        @else
						        &lt;a class=&quot;nav-link disabled{{ $stepClass }}&quot;&gt;
							        {{ $stepLabel }}
						        &lt;/a&gt;
					        @endif
				        &lt;/li&gt;
			        @endforeach
		        &lt;/ul&gt;
	        &lt;/div&gt;
	    &lt;/div&gt;
	&lt;/div&gt;
@endif


<hr>
<!-- PEDROO_NEXT_FILE: /ads/resources/views/front/post/createOrEdit/partials/category-modal.blade.php -->
<!-- PEDROO_NEXT_DIR: /ads/resources/views/front/post/createOrEdit/partials -->

</body>
</html>