<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>/ads/resources/views/helpers/flash/default.blade.php</title>
<style>
body { font-family: monospace; white-space: pre; }
</style>
</head>
<body>
@php
	$supportedPresenters = [&#039;bsmodal&#039;, &#039;bstoast&#039;, &#039;pnotify&#039;, &#039;sweetalert2&#039;];
	$fallback = &#039;pnotify&#039;;
	
	$presenter = config(&#039;larapen.flash.default&#039;);
	$presenter = castToStringOrNull($presenter);
	$presenter = (!empty($presenter) &amp;&amp; in_array($presenter, $supportedPresenters)) ? $presenter : $fallback;
	
	$presenterOptions = (array)config(&quot;larapen.flash.presenters.{$presenter}&quot;, []);
	$viewPath = &quot;helpers.flash.presenters.{$presenter}&quot;;
@endphp
@if (view()-&gt;exists($viewPath))
	@include($viewPath, [&#039;presenterOptions&#039; =&gt; $presenterOptions])
@endif


<hr>
<!-- PEDROO_NEXT_FILE: /ads/resources/views/helpers/flash/presenters/bsmodal.blade.php -->
<!-- PEDROO_NEXT_DIR: /ads/resources/views/helpers/flash/presenters -->

</body>
</html>