<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>/ads/resources/views/front/search/partials/posts/template/list.blade.php</title>
<style>
body { font-family: monospace; white-space: pre; }
</style>
</head>
<body>
@php
	use App\Enums\BootstrapColor;
	
	$posts ??= [];
	$totalPosts ??= 0;
	
	$city ??= null;
	$cat ??= null;
@endphp
@if (!empty($posts) &amp;&amp; $totalPosts &gt; 0)
	&lt;div class=&quot;container px-0 pt-3 list-view&quot;&gt;
		@foreach($posts as $key =&gt; $post)
			@php
				$picturePath = data_get($post, &#039;picture.file_path&#039;);
				$pictureAttr = [
					&#039;class&#039; =&gt; &#039;lazyload img-fluid w-100 h-auto rounded&#039;
				];
				
				$postUrl = urlGen()-&gt;post($post);
				$parentCatUrl = null;
				if (!empty(data_get($post, &#039;category.parent&#039;))) {
					$parentCatUrl = urlGen()-&gt;category(data_get($post, &#039;category.parent&#039;), null, $city);
				}
				$catUrl = urlGen()-&gt;category(data_get($post, &#039;category&#039;), null, $city);
				$locationUrl = urlGen()-&gt;city(data_get($post, &#039;city&#039;), null, $cat);
				
				$borderBottom = !$loop-&gt;last ? &#039; border-bottom pb-3&#039; : &#039;&#039;;
			@endphp
			&lt;div class=&quot;row{{ $borderBottom }} mb-3 d-flex align-items-stretch item-list&quot;&gt;
				{{-- Main Picture --}}
				&lt;div class=&quot;col-sm-2 col-12 d-flex justify-content-center p-0 ps-2 main-image&quot;&gt;
					&lt;div class=&quot;h-auto position-relative&quot;&gt;
						@if (data_get($post, &#039;featured&#039;) == 1)
							@if (!empty(data_get($post, &#039;payment.package&#039;)))
								@if (data_get($post, &#039;payment.package.ribbon&#039;) != &#039;&#039;)
									@php
										$ribbonColor = data_get($post, &#039;payment.package.ribbon&#039;);
										$ribbonColorClass = BootstrapColor::Badge-&gt;getColorClass($ribbonColor);
										$packageShortName = data_get($post, &#039;payment.package.short_name&#039;);
									@endphp
									&lt;span class=&quot;badge rounded-pill {{ $ribbonColorClass }} position-absolute mt-2 ms-2&quot;&gt;
										{{ $packageShortName }}
									&lt;/span&gt;
								@endif
							@endif
						@endif
						
						&lt;div class=&quot;position-absolute bottom-0 end-0 mb-2 me-2 bg-body-secondary opacity-75 small rounded px-1&quot;&gt;
							&lt;i class=&quot;fa-solid fa-camera&quot;&gt;&lt;/i&gt; {{ data_get($post, &#039;count_pictures&#039;) }}
						&lt;/div&gt;
						
						&lt;a href=&quot;{{ $postUrl }}&quot;&gt;
							@php
								$src = data_get($post, &#039;picture.url.medium&#039;);
								$webpSrc = data_get($post, &#039;picture.url.webp.medium&#039;);
								$alt = str(data_get($post, &#039;title&#039;))-&gt;slug();
								echo generateImageHtml($src, $alt, $webpSrc, $pictureAttr);
							@endphp
						&lt;/a&gt;
					&lt;/div&gt;
				&lt;/div&gt;
				
				{{-- Details --}}
				&lt;div class=&quot;col-sm-7 col-12 d-flex flex-column justify-content-between&quot;&gt;
					&lt;div&gt;
						{{-- Title --}}
						&lt;h5 class=&quot;fs-5 fw-normal px-0&quot;&gt;
							&lt;a href=&quot;{{ $postUrl }}&quot; class=&quot;{{ linkClass(&#039;body-emphasis&#039;) }}&quot;&gt;
								{{ str(data_get($post, &#039;title&#039;))-&gt;limit(70) }}
							&lt;/a&gt;
						&lt;/h5&gt;
						
						{{-- Details --}}
						@php
							$showPostInfo = (
								(!config(&#039;settings.listings_list.hide_post_type&#039;) &amp;&amp; config(&#039;settings.listing_form.show_listing_type&#039;))
								|| !config(&#039;settings.listings_list.hide_date&#039;)
								|| !config(&#039;settings.listings_list.hide_category&#039;)
								|| !config(&#039;settings.listings_list.hide_location&#039;)
							);
						@endphp
						@if ($showPostInfo)
							&lt;div class=&quot;container px-0 text-secondary&quot;&gt;
								&lt;ul class=&quot;list-inline mb-0&quot;&gt;
									@if (
										!config(&#039;settings.listings_list.hide_post_type&#039;)
										&amp;&amp; config(&#039;settings.listing_form.show_listing_type&#039;)
									)
										@if (!empty(data_get($post, &#039;postType&#039;)))
											&lt;li class=&quot;list-inline-item&quot;&gt;
												&lt;span class=&quot;badge rounded-pill text-bg-secondary fw-normal&quot;
												      data-bs-toggle=&quot;tooltip&quot;
												      data-bs-placement=&quot;bottom&quot;
												      title=&quot;{{ data_get($post, &#039;postType.label&#039;) }}&quot;
												&gt;
													{{ strtoupper(mb_substr(data_get($post, &#039;postType.label&#039;), 0, 1)) }}
												&lt;/span&gt;
											&lt;/li&gt;
										@endif
									@endif
									@if (!config(&#039;settings.listings_list.hide_date&#039;))
										&lt;li class=&quot;list-inline-item&quot;&gt;
											&lt;i class=&quot;fa-regular fa-clock&quot;&gt;&lt;/i&gt; {!! data_get($post, &#039;created_at_formatted&#039;) !!}
										&lt;/li&gt;
									@endif
									@if (!config(&#039;settings.listings_list.hide_category&#039;))
										&lt;li class=&quot;list-inline-item&quot;&gt;
											&lt;i class=&quot;bi bi-folder&quot;&gt;&lt;/i&gt;&amp;nbsp;
											@if (!empty(data_get($post, &#039;category.parent&#039;)))
												&lt;a href=&quot;{!! $parentCatUrl !!}&quot; class=&quot;{{ linkClass() }}&quot;&gt;
													{{ data_get($post, &#039;category.parent.name&#039;) }}
												&lt;/a&gt;&amp;nbsp;&amp;raquo;&amp;nbsp;
											@endif
											&lt;a href=&quot;{!! $catUrl !!}&quot; class=&quot;{{ linkClass() }}&quot;&gt;
												{{ data_get($post, &#039;category.name&#039;) }}
											&lt;/a&gt;
										&lt;/li&gt;
									@endif
									@if (!config(&#039;settings.listings_list.hide_location&#039;))
										&lt;li class=&quot;list-inline-item&quot;&gt;
											&lt;i class=&quot;bi bi-geo-alt&quot;&gt;&lt;/i&gt;&amp;nbsp;
											&lt;a href=&quot;{!! $locationUrl !!}&quot; class=&quot;{{ linkClass() }}&quot;&gt;
												{{ data_get($post, &#039;city.name&#039;) }}
											&lt;/a&gt; {{ data_get($post, &#039;distance_info&#039;) }}
										&lt;/li&gt;
									@endif
								&lt;/ul&gt;
							&lt;/div&gt;
						@endif
					&lt;/div&gt;
					
					{{-- Reviews Stars --}}
					@if (config(&#039;addons.reviews.installed&#039;))
						@if (view()-&gt;exists(&#039;reviews::ratings-list&#039;))
							@include(&#039;reviews::ratings-list&#039;)
						@endif
					@endif
				&lt;/div&gt;
				
				{{-- Price &amp; Favourite Button --}}
				&lt;div class=&quot;col-sm-3 col-12 text-end text-nowrap d-flex flex-column justify-content-between&quot;&gt;
					&lt;h5 class=&quot;fs-4 fw-bold&quot;&gt;
						{!! data_get($post, &#039;price_formatted&#039;) !!}
					&lt;/h5&gt;
					&lt;div&gt;
						@if (!empty(data_get($post, &#039;payment.package&#039;)))
							@if (data_get($post, &#039;payment.package.has_badge&#039;) == 1)
								&lt;a class=&quot;btn btn-danger btn-xs small make-favorite&quot;&gt;
									&lt;i class=&quot;fa-solid fa-certificate&quot;&gt;&lt;/i&gt; &lt;span&gt;{{ data_get($post, &#039;payment.package.short_name&#039;) }}&lt;/span&gt;
								&lt;/a&gt;&amp;nbsp;
							@endif
						@endif
						@php
							$postId = data_get($post, &#039;id&#039;);
							$savedByLoggedUser = (bool)data_get($post, &#039;p_saved_by_logged_user&#039;);
						@endphp
						@if ($savedByLoggedUser)
							&lt;a class=&quot;btn btn-success btn-xs small make-favorite&quot; id=&quot;{{ $postId }}&quot;&gt;
								&lt;i class=&quot;bi bi-heart-fill&quot;&gt;&lt;/i&gt; &lt;span&gt;{{ trans(&#039;global.Saved&#039;) }}&lt;/span&gt;
							&lt;/a&gt;
						@else
							&lt;a class=&quot;btn btn-outline-secondary btn-xs small make-favorite&quot; id=&quot;{{ $postId }}&quot;&gt;
								&lt;i class=&quot;bi bi-heart&quot;&gt;&lt;/i&gt; &lt;span&gt;{{ trans(&#039;global.Save&#039;) }}&lt;/span&gt;
							&lt;/a&gt;
						@endif
					&lt;/div&gt;
				&lt;/div&gt;
			&lt;/div&gt;
		@endforeach
	&lt;/div&gt;
@else
	&lt;div class=&quot;py-5 text-center w-100&quot;&gt;
		{{ trans(&#039;global.no_result_refine_your_search&#039;) }}
	&lt;/div&gt;
@endif

@section(&#039;after_scripts&#039;)
	@parent
	&lt;script&gt;
		{{-- Favorites Translation --}}
		var lang = {
			labelSavePostSave: &quot;{!! trans(&#039;global.Save listing&#039;) !!}&quot;,
			labelSavePostRemove: &quot;{!! trans(&#039;global.Remove favorite&#039;) !!}&quot;,
			loginToSavePost: &quot;{!! trans(&#039;global.Please log in to save the Listings&#039;) !!}&quot;,
			loginToSaveSearch: &quot;{!! trans(&#039;global.Please log in to save your search&#039;) !!}&quot;
		};
	&lt;/script&gt;
@endsection


<hr>
<!-- PEDROO_NEXT_FILE: /ads/resources/views/front/search/partials/posts/widget/carousel.blade.php -->
<!-- PEDROO_NEXT_DIR: /ads/resources/views/front/search/partials/posts/widget -->

</body>
</html>