<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>/ads/resources/views/auth/login/partials/social.blade.php</title>
<style>
body { font-family: monospace; white-space: pre; }
</style>
</head>
<body>
@php
	use App\Services\Auth\App\Helpers\SocialLogin\SocialLoginButton;
	
	$socialLoginProviders = socialLogin()-&gt;providersForConnection(strict: true);
	$labelType = getSocialLoginButtonType();
	
	$defaultPosition = &#039;top&#039;;
	$position ??= $defaultPosition;
	$position = in_array($position, [&#039;top&#039;, &#039;topWithTitle&#039;, &#039;bottom&#039;]) ? $position : $defaultPosition;
	
	$defaultPage = &#039;login&#039;;
	$page ??= $defaultPage;
	$page = in_array($page, [&#039;login&#039;, &#039;register&#039;, &#039;modal&#039;]) ? $page : $defaultPage;
	
	$topSeparator = ($page == &#039;register&#039;)
		? trans(&#039;auth.register_with_title&#039;)
		: trans(&#039;auth.login_with_title&#039;);
	
	$bottomSeparator = ($page == &#039;register&#039;)
		? trans(&#039;auth.or_register_with&#039;)
		: trans(&#039;auth.or_login_with&#039;);
	$bottomSeparator = ($labelType == SocialLoginButton::LoginWithDefault-&gt;value)
		? trans(&#039;auth.or&#039;)
		: $bottomSeparator;
	
	$boxedCol = (!empty($boxedCol) &amp;&amp; is_numeric($boxedCol)) ? $boxedCol : 12;
@endphp
@if (!empty($socialLoginProviders))
	@php
		$sGutter = &#039;gx-2 gy-2&#039;;
		if (isset($socialCol) &amp;&amp; !empty($socialCol) &amp;&amp; is_numeric($socialCol)) {
			if ($socialCol &gt;= 10) {
				$sGutter = &#039;gx-2 gy-1&#039;;
			}
			$sCol = &#039;col-xl-6 col-lg-6 col-md-6&#039;;
			$sCol = str_replace(&#039;-6&#039;, &#039;-&#039; . $socialCol, $sCol);
		} else {
			$sCol = &#039;col-xl-6 col-lg-6 col-md-6&#039;;
		}
	@endphp
	
	@if ($position == &#039;bottom&#039;)
		&lt;div class=&quot;d-flex align-items-center my-4&quot;&gt;
			&lt;hr class=&quot;flex-grow-1&quot;&gt;
			&lt;span class=&quot;mx-2 text-2 text-muted fw-300&quot;&gt;{{ $bottomSeparator }}&lt;/span&gt;
			&lt;hr class=&quot;flex-grow-1&quot;&gt;
		&lt;/div&gt;
	@endif
	@if ($position == &#039;topWithTitle&#039;)
		&lt;div class=&quot;d-flex align-items-center my-4&quot;&gt;
			&lt;hr class=&quot;flex-grow-1&quot;&gt;
			&lt;span class=&quot;mx-2 text-2 text-muted fw-300&quot;&gt;{{ $topSeparator }}&lt;/span&gt;
			&lt;hr class=&quot;flex-grow-1&quot;&gt;
		&lt;/div&gt;
	@endif
	@if ($page != &#039;modal&#039; &amp;&amp; !in_array($position, [&#039;bottom&#039;, &#039;topWithTitle&#039;]))
		&lt;div class=&quot;d-flex align-items-center my-3&quot;&gt;&lt;/div&gt;
	@endif
	
	&lt;div class=&quot;row mb-3 social-media d-flex justify-content-center {{ $sGutter }}&quot;&gt;
		@foreach($socialLoginProviders as $provider =&gt; $providerData)
			@php
				$btnClass = data_get($providerData, &#039;btnClass&#039;);
				$iconClass = data_get($providerData, &#039;iconClass&#039;);
				$url = data_get($providerData, &#039;url&#039;);
				$label = data_get($providerData, &#039;label&#039;);
				$title = strip_tags($label);
			@endphp
			&lt;div class=&quot;{{ $sCol }} col-sm-12 col-12 d-grid&quot;&gt;
				&lt;div class=&quot;col-xl-12 col-md-12 col-sm-12 col-12 btn {{ $btnClass }}&quot;&gt;
					&lt;a href=&quot;{{ $url }}&quot; title=&quot;{!! $title !!}&quot;&gt;
						&lt;i class=&quot;{{ $iconClass }}&quot;&gt;&lt;/i&gt; {!! $label !!}
					&lt;/a&gt;
				&lt;/div&gt;
			&lt;/div&gt;
		@endforeach
	&lt;/div&gt;
	
	@if ($position == &#039;topWithTitle&#039;)
		&lt;div class=&quot;d-flex align-items-center my-4&quot;&gt;
			&lt;hr class=&quot;flex-grow-1&quot;&gt;
			&lt;span class=&quot;mx-2 text-2 text-muted fw-300&quot;&gt;{{ trans(&#039;auth.or&#039;) }}&lt;/span&gt;
			&lt;hr class=&quot;flex-grow-1&quot;&gt;
		&lt;/div&gt;
	@endif
	@if ($position == &#039;top&#039;)
		&lt;div class=&quot;d-flex align-items-center my-4&quot;&gt;
			&lt;hr class=&quot;flex-grow-1&quot;&gt;
			&lt;span class=&quot;mx-2 text-2 text-muted fw-300&quot;&gt;{{ trans(&#039;auth.or&#039;) }}&lt;/span&gt;
			&lt;hr class=&quot;flex-grow-1&quot;&gt;
		&lt;/div&gt;
	@endif
@endif


<hr>
<!-- PEDROO_NEXT_FILE: /ads/resources/views/auth/password/forgot.blade.php -->
<!-- PEDROO_NEXT_DIR: /ads/resources/views/auth/password -->

</body>
</html>