<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>/ads/resources/views/auth/layouts/js/translations.blade.php</title>
<style>
body { font-family: monospace; white-space: pre; }
</style>
</head>
<body>
{{-- In your Blade template (e.g., layout.blade.php or wherever your scripts are included) --}}
&lt;script&gt;
	@php
		$translations = [
	        &#039;hide_password&#039; =&gt; trans(&#039;auth.hide_password&#039;),
	        &#039;show_password&#039; =&gt; trans(&#039;auth.show_password&#039;),
	        &#039;hide&#039;          =&gt; trans(&#039;auth.hide&#039;),
	        &#039;show&#039;          =&gt; trans(&#039;auth.show&#039;),
	        &#039;verify&#039;        =&gt; trans(&#039;auth.verify&#039;),
	        &#039;submitting&#039;    =&gt; trans(&#039;auth.submitting&#039;),
	    ];
	@endphp
	window.authTranslations = {!! json_encode($translations) !!};
&lt;/script&gt;


<hr>
<!-- PEDROO_NEXT_FILE: /ads/resources/views/auth/layouts/master.blade.php -->
<!-- PEDROO_NEXT_DIR: /ads/resources/views/auth/layouts/partials -->

</body>
</html>