<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>/ads/extras/addons/paypal/resources/views/paypal.blade.php</title>
<style>
body { font-family: monospace; white-space: pre; }
</style>
</head>
<body>
@php
	$baseColClass = isSingleStepFormEnabled() ? &#039;col-md-12 my-4&#039; : &#039;col-md-10 col-sm-12 my-4&#039;;
@endphp
&lt;div class=&quot;row d-none justify-content-center payment-addon&quot; id=&quot;paypalPayment&quot;&gt;
	&lt;div class=&quot;{{ $baseColClass }}&quot;&gt;
		&lt;div class=&quot;row&quot;&gt;
			
			&lt;div class=&quot;col-xl-12 text-center&quot;&gt;
				&lt;img class=&quot;img-fluid&quot;
				     src=&quot;{{ mixStaticFile(url(&#039;cache/addons/paypal/images/payment.png&#039;)) }}&quot;
				     title=&quot;{{ trans(&#039;paypal::messages.payment_with&#039;) }}&quot;
				     alt=&quot;{{ trans(&#039;paypal::messages.payment_with&#039;) }}&quot;
				&gt;
			&lt;/div&gt;
			
			{{-- ... --}}
		
		&lt;/div&gt;
	&lt;/div&gt;
&lt;/div&gt;

@section(&#039;after_scripts&#039;)
	@parent
	&lt;script&gt;
		onDocumentReady((event) =&gt; {
			const params = {hasForm: false, hasLocalAction: false};
			
			loadPaymentGateway(&#039;paypal&#039;, params);
		});
	&lt;/script&gt;
@endsection


<hr>
<!-- PEDROO_NEXT_FILE: /ads/extras/cmd/cache-purge.php -->
<!-- PEDROO_NEXT_DIR: /ads/extras/cmd -->

</body>
</html>