<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>/ads/resources/views/admin/panel/fields/image.blade.php</title>
<style>
body { font-family: monospace; white-space: pre; }
</style>
</head>
<body>
@php
	use Illuminate\Support\Facades\Storage;
	use Illuminate\Support\Number;
	
	$field ??= [];
@endphp
&lt;div data-preview=&quot;#{{ $field[&#039;name&#039;] }}&quot;
	data-aspectRatio=&quot;{{ $field[&#039;aspect_ratio&#039;] ?? 0 }}&quot;
	data-crop=&quot;{{ $field[&#039;crop&#039;] ?? false }}&quot;
	@include(&#039;admin.panel.inc.field_wrapper_attributes&#039;)
&gt;
	&lt;div class=&quot;col-12 text-center p-2 border border-light-subtle rounded-2 h-100&quot;&gt;
		
		&lt;div class=&quot;text-start ms-2&quot;&gt;
			&lt;label class=&quot;form-label fw-bolder&quot;&gt;{!! $field[&#039;label&#039;] !!}&lt;/label&gt;
			@include(&#039;admin.panel.fields.inc.translatable_icon&#039;)
		&lt;/div&gt;
		{{-- Wrap the image or canvas element with a block element (container) --}}
		&lt;div class=&quot;row d-flex justify-content-center mt-3 mb-3&quot;&gt;
			&lt;div class=&quot;col-sm-6 text-center&quot;&gt;
				@php
					$diskName = $field[&#039;disk&#039;] ?? null;
					
					// Get default picture &amp; its URL
					$defaultPicture = config(&#039;larapen.media.picture&#039;);
					$defaultPictureUrl = Storage::disk($diskName)-&gt;url($defaultPicture);
					
					// Get default value (Need to be sent/filled as URL)
					$defaultValue = $field[&#039;default&#039;] ?? null;
					$defaultValue = (!empty($defaultValue) &amp;&amp; is_string($defaultValue)) ? $defaultValue : $defaultPictureUrl;
					
					// Get value (Sent/filled as storage path)
					$value = $field[&#039;value&#039;] ?? null;
					
					// Get the picture&#039;s URL
					$pictureUrl = (!empty($value) &amp;&amp; is_string($value)) ? Storage::disk($diskName)-&gt;url($value) : $defaultValue;
					// $pictureUrl = is_string($value) ? thumbParam($value)-&gt;setOption(&#039;picture-md&#039;)-&gt;url() : $defaultValue;
					$pictureUrl = old($field[&#039;name&#039;], $pictureUrl);
					
					// Get the picture&#039;s URL with prefix path (If filled)
					$prefix = $field[&#039;prefix&#039;] ?? &#039;&#039;;
					$pictureUrl = $prefix . $pictureUrl;
					
					// Get picture display dimensions
					$width = $field[&#039;width&#039;] ?? &#039;auto&#039;;
					$height = $field[&#039;height&#039;] ?? &#039;auto&#039;;
					if (is_numeric($width)) {
						$width = Number::clamp($width, min: 100, max: 800);
					}
					if (is_numeric($height)) {
						$height = Number::clamp($height, min: 100, max: 800);
					}
					$width = is_numeric($width) ? $width . &#039;px&#039; : $width;
					$height = is_numeric($height) ? $height . &#039;px&#039; : $height;
					
					// Dimensions style
					$dimensionStyle = (str_ends_with($width, &#039;px&#039;) ? &#039;max-&#039; : &#039;&#039;)  . &#039;width:&#039; . $width . &#039;;&#039;;
					$dimensionStyle .= (str_ends_with($height, &#039;px&#039;) ? &#039;max-&#039; : &#039;&#039;) . &#039;height:&#039; . $height . &#039;;&#039;;
				@endphp
				&lt;img id=&quot;mainImage&quot; class=&quot;rounded&quot; src=&quot;{{ url($pictureUrl) }}&quot; style=&quot;{!! $dimensionStyle !!}&quot;&gt;
			&lt;/div&gt;
			@if (isset($field[&#039;crop&#039;]) &amp;&amp; $field[&#039;crop&#039;])
				&lt;div class=&quot;col-sm-3 text-center&quot;&gt;
					&lt;div class=&quot;docs-preview clearfix&quot;&gt;
						&lt;div id=&quot;{{ $field[&#039;name&#039;] }}&quot; class=&quot;img-preview preview-lg&quot;&gt;
							&lt;img src=&quot;&quot;
								 style=&quot;display: block; min-width: 0 !important; min-height: 0 !important; max-width: none !important; max-height: none !important; margin-left: -32.875px; margin-top: -18.4922px; transform: none;&quot;
							&gt;
						&lt;/div&gt;
					&lt;/div&gt;
				&lt;/div&gt;
			@endif
		&lt;/div&gt;
		
		&lt;div class=&quot;btn-group&quot;&gt;
			&lt;label class=&quot;btn btn-primary btn-file mb-0&quot;&gt;
				{{ trans(&#039;admin.choose_file&#039;) }}
				&lt;input type=&quot;file&quot;
                        accept=&quot;image/*&quot;
                        id=&quot;uploadImage&quot; @include(&#039;admin.panel.inc.field_attributes&#039;, [&#039;default_class&#039; =&gt; &#039;hide&#039;])
				&gt;
				&lt;input type=&quot;hidden&quot; id=&quot;hiddenImage&quot; name=&quot;{{ $field[&#039;name&#039;] }}&quot;&gt;
			&lt;/label&gt;
			@if (isset($field[&#039;crop&#039;]) &amp;&amp; $field[&#039;crop&#039;])
				&lt;button class=&quot;btn btn-secondary&quot; id=&quot;rotateLeft&quot; type=&quot;button&quot; style=&quot;display: none;&quot;&gt;&lt;i class=&quot;fa-solid fa-rotate-left&quot;&gt;&lt;/i&gt;&lt;/button&gt;
				&lt;button class=&quot;btn btn-secondary&quot; id=&quot;rotateRight&quot; type=&quot;button&quot; style=&quot;display: none;&quot;&gt;&lt;i class=&quot;fa-solid fa-rotate-right&quot;&gt;&lt;/i&gt;&lt;/button&gt;
				&lt;button class=&quot;btn btn-secondary&quot; id=&quot;zoomIn&quot; type=&quot;button&quot; style=&quot;display: none;&quot;&gt;&lt;i class=&quot;fa-solid fa-magnifying-glass-plus&quot;&gt;&lt;/i&gt;&lt;/button&gt;
				&lt;button class=&quot;btn btn-secondary&quot; id=&quot;zoomOut&quot; type=&quot;button&quot; style=&quot;display: none;&quot;&gt;&lt;i class=&quot;fa-solid fa-magnifying-glass-minus&quot;&gt;&lt;/i&gt;&lt;/button&gt;
				&lt;button class=&quot;btn btn-warning&quot; id=&quot;reset&quot; type=&quot;button&quot; style=&quot;display: none;&quot;&gt;&lt;i class=&quot;fa-solid fa-xmark&quot;&gt;&lt;/i&gt;&lt;/button&gt;
			@endif
			&lt;button class=&quot;btn btn-danger&quot; id=&quot;remove&quot; type=&quot;button&quot;&gt;&lt;i class=&quot;fa-regular fa-trash-can&quot;&gt;&lt;/i&gt;&lt;/button&gt;
		&lt;/div&gt;
		
		{{-- HINT --}}
		@if (isset($field[&#039;hint&#039;]))
			&lt;br&gt;
			&lt;div class=&quot;form-text&quot;&gt;{!! $field[&#039;hint&#039;] !!}&lt;/div&gt;
		@endif
		
	&lt;/div&gt;
&lt;/div&gt;


{{-- ########################################## --}}
{{-- Extra CSS and JS for this particular field --}}
{{-- If a field type is shown multiple times on a form, the CSS and JS will only be loaded once --}}
@if ($xPanel-&gt;checkIfFieldIsFirstOfItsType($field, $fields))
    
    {{-- FIELD CSS - will be loaded in the after_styles section --}}
    @push(&#039;crud_fields_styles&#039;)
    {{-- YOUR CSS HERE --}}
    &lt;link href=&quot;{{ asset(&#039;assets/plugins/cropper/dist/cropper.min.css&#039;) }}&quot; rel=&quot;stylesheet&quot; type=&quot;text/css&quot; /&gt;
    &lt;style&gt;
        .hide {
            display: none;
        }
        .image .btn-group {
            margin-top: 10px;
        }
        img {
            max-width: 100%; /* This rule is very important, please do not ignore this! */
        }
        .img-container, .img-preview {
            width: 100%;
            text-align: center;
        }
        .img-preview {
            float: left;
            margin-right: 10px;
            margin-bottom: 10px;
            overflow: hidden;
        }
        .preview-lg {
            width: 263px;
            height: 148px;
        }
        
        .btn-file {
            position: relative;
            overflow: hidden;
        }
        .btn-file input[type=file] {
            position: absolute;
            top: 0;
            right: 0;
            min-width: 100%;
            min-height: 100%;
            font-size: 100px;
            text-align: right;
            filter: alpha(opacity=0);
            opacity: 0;
            outline: none;
            background: white;
            cursor: inherit;
            display: block;
        }
    &lt;/style&gt;
    @endpush
    
    {{-- FIELD JS - will be loaded in the after_scripts section --}}
    @push(&#039;crud_fields_scripts&#039;)
    {{-- YOUR JS HERE --}}
    &lt;script src=&quot;{{ asset(&#039;assets/plugins/cropper/dist/cropper.min.js&#039;) }}&quot;&gt;&lt;/script&gt;
    &lt;script&gt;
	    onDocumentReady((event) =&gt; {
			// Loop through all instances of the image field
			$(&#039;form div.image&#039;).each(function(index){
				// Find DOM elements under this form-group element
				var $mainImage = $(this).find(&#039;#mainImage&#039;);
				var $uploadImage = $(this).find(&quot;#uploadImage&quot;);
				var $hiddenImage = $(this).find(&quot;#hiddenImage&quot;);
				var $rotateLeft = $(this).find(&quot;#rotateLeft&quot;)
				var $rotateRight = $(this).find(&quot;#rotateRight&quot;)
				var $zoomIn = $(this).find(&quot;#zoomIn&quot;)
				var $zoomOut = $(this).find(&quot;#zoomOut&quot;)
				var $reset = $(this).find(&quot;#reset&quot;)
				var $remove = $(this).find(&quot;#remove&quot;)
				// Options either global for all image type fields, or use &#039;data-*&#039; elements for options passed in via the CRUD controller
				var options = {
					viewMode: 2,
					checkOrientation: false,
					autoCropArea: 1,
					responsive: true,
					preview : $(this).attr(&#039;data-preview&#039;),
					aspectRatio : $(this).attr(&#039;data-aspectRatio&#039;)
				};
				var crop = $(this).attr(&#039;data-crop&#039;);
				
				// Hide &#039;Remove&#039; button if there is no image saved
				if (!$mainImage.attr(&#039;src&#039;)){
					$remove.hide();
				}
				// Initialise hidden form input in case we submit with no change
				$hiddenImage.val($mainImage.attr(&#039;src&#039;));
				
				
				// Only initialize cropper plugin if crop is set to true
				if(crop){
					
					$remove.click(function() {
						$mainImage.cropper(&quot;destroy&quot;);
						$mainImage.attr(&#039;src&#039;,&#039;&#039;);
						$hiddenImage.val(&#039;&#039;);
						$rotateLeft.hide();
						$rotateRight.hide();
						$zoomIn.hide();
						$zoomOut.hide();
						$reset.hide();
						$remove.hide();
					});
				} else {
					
					$(this).find(&quot;#remove&quot;).click(function() {
						$mainImage.attr(&#039;src&#039;,&#039;&#039;);
						$hiddenImage.val(&#039;&#039;);
						$remove.hide();
					});
				}
				
				$uploadImage.change(function() {
					var fileReader = new FileReader(),
						files = this.files,
						file;
					
					if (!files.length) {
						return;
					}
					file = files[0];
					
					if (/^image\/\w+$/.test(file.type)) {
						fileReader.readAsDataURL(file);
						fileReader.onload = function () {
							$uploadImage.val(&quot;&quot;);
							if(crop){
								$mainImage.cropper(options).cropper(&quot;reset&quot;, true).cropper(&quot;replace&quot;, this.result);
								// Override form submit to copy canvas to hidden input before submitting
								$(&#039;form&#039;).submit(function() {
									var imageURL = $mainImage.cropper(&#039;getCroppedCanvas&#039;).toDataURL(file.type);
									$hiddenImage.val(imageURL);
									return true; // return false to cancel form action
								});
								$rotateLeft.click(function() {
									$mainImage.cropper(&quot;rotate&quot;, 90);
								});
								$rotateRight.click(function() {
									$mainImage.cropper(&quot;rotate&quot;, -90);
								});
								$zoomIn.click(function() {
									$mainImage.cropper(&quot;zoom&quot;, 0.1);
								});
								$zoomOut.click(function() {
									$mainImage.cropper(&quot;zoom&quot;, -0.1);
								});
								$reset.click(function() {
									$mainImage.cropper(&quot;reset&quot;);
								});
								$rotateLeft.show();
								$rotateRight.show();
								$zoomIn.show();
								$zoomOut.show();
								$reset.show();
								$remove.show();
								
							} else {
								$mainImage.attr(&#039;src&#039;,this.result);
								$hiddenImage.val(this.result);
								$remove.show();
							}
						};
					} else {
						alert(&quot;Please choose an image file.&quot;);
					}
				});
				
			});
		});
    &lt;/script&gt;
    @endpush
@endif
{{-- End of Extra CSS and JS --}}
{{-- ########################################## --}}


<hr>
<!-- PEDROO_NEXT_FILE: /ads/resources/views/admin/panel/fields/inc/translatable_icon.blade.php -->
<!-- PEDROO_NEXT_DIR: /ads/resources/views/admin/panel/fields/inc -->

</body>
</html>