<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>/ads/resources/views/admin/panel/fields/summernote.blade.php</title>
<style>
body { font-family: monospace; white-space: pre; }
</style>
</head>
<body>
{{-- summernote editor --}}
&lt;div @include(&#039;admin.panel.inc.field_wrapper_attributes&#039;) &gt;
    &lt;label class=&quot;form-label fw-bolder&quot;&gt;
        {!! $field[&#039;label&#039;] !!}
        @if (isset($field[&#039;required&#039;]) &amp;&amp; $field[&#039;required&#039;])
            &lt;span class=&quot;text-danger&quot;&gt;*&lt;/span&gt;
        @endif
    &lt;/label&gt;
    @include(&#039;admin.panel.fields.inc.translatable_icon&#039;)
    &lt;textarea
        name=&quot;{{ $field[&#039;name&#039;] }}&quot;
        @include(&#039;admin.panel.inc.field_attributes&#039;, [&#039;default_class&#039; =&gt;  &#039;form-control summernote&#039;])
        &gt;{{ old($field[&#039;name&#039;]) ? old($field[&#039;name&#039;]) : (isset($field[&#039;value&#039;]) ? $field[&#039;value&#039;] : (isset($field[&#039;default&#039;]) ? $field[&#039;default&#039;] : &#039;&#039; )) }}&lt;/textarea&gt;

    {{-- HINT --}}
    @if (isset($field[&#039;hint&#039;]))
        &lt;div class=&quot;form-text&quot;&gt;{!! $field[&#039;hint&#039;] !!}&lt;/div&gt;
    @endif
&lt;/div&gt;


{{-- ########################################## --}}
{{-- Extra CSS and JS for this particular field --}}
{{-- If a field type is shown multiple times on a form, the CSS and JS will only be loaded once --}}
@if ($xPanel-&gt;checkIfFieldIsFirstOfItsType($field, $fields))

    {{-- FIELD CSS - will be loaded in the after_styles section --}}
    @push(&#039;crud_fields_styles&#039;)
        {{-- include summernote css--}}
        &lt;link href=&quot;{{ asset(&#039;assets/plugins/summernote/summernote.css&#039;) }}&quot; rel=&quot;stylesheet&quot;&gt;
    @endpush

    {{-- FIELD JS - will be loaded in the after_scripts section --}}
    @push(&#039;crud_fields_scripts&#039;)
        {{-- include summernote js--}}
        &lt;script src=&quot;{{ asset(&#039;assets/plugins/summernote/summernote.min.js&#039;) }}&quot;&gt;&lt;/script&gt;
        &lt;?php
        $editorLocale = &#039;&#039;;
        if (file_exists(public_path() . &#039;/assets/plugins/summernote/lang/summernote-&#039; . getLangTag(config(&#039;app.locale&#039;)) . &#039;.js&#039;)) {
            $editorLocale = getLangTag(config(&#039;app.locale&#039;));
        }
        if (empty($editorLocale)) {
            if (file_exists(public_path() . &#039;/assets/plugins/summernote/lang/summernote-&#039; . config(&#039;lang.tag&#039;) . &#039;.js&#039;)) {
                $editorLocale = config(&#039;lang.tag&#039;);
            }
        }
        if (empty($editorLocale)) {
            if (file_exists(public_path() . &#039;/assets/plugins/summernote/lang/summernote-&#039; . strtolower(config(&#039;lang.tag&#039;)) . &#039;.js&#039;)) {
                $editorLocale = strtolower(config(&#039;lang.tag&#039;));
            }
        }
        if (empty($editorLocale)) {
            $editorLocale = &#039;en-US&#039;;
        }
        ?&gt;
        @if ($editorLocale != &#039;en-US&#039;)
            &lt;script src=&quot;{{ url(&#039;assets/plugins/summernote/lang/summernote-&#039; . $editorLocale . &#039;.js&#039;) }}&quot; type=&quot;text/javascript&quot;&gt;&lt;/script&gt;
        @endif
        &lt;script&gt;
            onDocumentReady((event) =&gt; {
                $(&#039;.summernote&#039;).summernote({
                    lang: &#039;{{ $editorLocale }}&#039;,
                    tabsize: 2,
                    height: 400,
                    toolbar: [
                        [&#039;style&#039;, [&#039;style&#039;]],
                        [&#039;font&#039;, [&#039;bold&#039;, &#039;underline&#039;, &#039;clear&#039;]],
                        [&#039;color&#039;, [&#039;color&#039;]],
                        [&#039;para&#039;, [&#039;ul&#039;, &#039;ol&#039;, &#039;paragraph&#039;]],
                        [&#039;table&#039;, [&#039;table&#039;]],
                        [&#039;insert&#039;, [&#039;link&#039;]],
                        [&#039;view&#039;, [&#039;fullscreen&#039;, &#039;codeview&#039;]]
                    ]
                });
            });
        &lt;/script&gt;
    @endpush

@endif
{{-- End of Extra CSS and JS --}}
{{-- ########################################## --}}


<hr>
<!-- PEDROO_NEXT_FILE: /ads/resources/views/admin/panel/fields/table.blade.php -->
<!-- PEDROO_NEXT_DIR: /ads/resources/views/admin/panel/fields/inc -->

</body>
</html>