<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>/ads/resources/views/admin/panel/fields/video.blade.php</title>
<style>
body { font-family: monospace; white-space: pre; }
</style>
</head>
<body>
{{-- text input --}}
&lt;?php

$value = old($field[&#039;name&#039;]) ? (old($field[&#039;name&#039;])) : (isset($field[&#039;value&#039;]) ? ($field[&#039;value&#039;]) : (isset($field[&#039;default&#039;]) ? ($field[&#039;default&#039;]) : &#039;&#039; ));

// if attribute casting is used, convert to JSON
if (is_array($value)) {
    $value = json_encode((object)$value);
} elseif (is_object($value)) {
    $value = json_encode($value);
} else {
    $value = $value;
}

?&gt;
&lt;div data-video @include(&#039;admin.panel.inc.field_wrapper_attributes&#039;) &gt;
    &lt;label class=&quot;form-label fw-bolder&quot; for=&quot;{{ $field[&#039;name&#039;] }}_link&quot;&gt;
        {!! $field[&#039;label&#039;] !!}
        @if (isset($field[&#039;required&#039;]) &amp;&amp; $field[&#039;required&#039;])
            &lt;span class=&quot;text-danger&quot;&gt;*&lt;/span&gt;
        @endif
    &lt;/label&gt;
    @include(&#039;admin.panel.fields.inc.translatable_icon&#039;)
    &lt;input class=&quot;video-json&quot; type=&quot;hidden&quot; name=&quot;{{ $field[&#039;name&#039;] }}&quot; value=&quot;{{ $value }}&quot;&gt;
    &lt;div class=&quot;input-group&quot;&gt;
        &lt;input @include(&#039;admin.panel.inc.field_attributes&#039;, [&#039;default_class&#039; =&gt; &#039;video-link form-control&#039;]) type=&quot;text&quot; id=&quot;{{ $field[&#039;name&#039;] }}_link&quot;&gt;
        &lt;span class=&quot;input-group-text video-previewSuffix video-noPadding&quot;&gt;
            &lt;span class=&quot;video-preview&quot;&gt;
                &lt;span class=&quot;video-previewImage&quot;&gt;&lt;/span&gt;
                &lt;a class=&quot;video-previewLink hidden&quot; target=&quot;_blank&quot; href=&quot;&quot;&gt;
                    &lt;i class=&quot;fa video-previewIcon&quot;&gt;&lt;/i&gt;
                &lt;/a&gt;
            &lt;/span&gt;
            &lt;span class=&quot;video-dummy&quot;&gt;
                &lt;a class=&quot;video-previewLink youtube dummy&quot; target=&quot;_blank&quot; href=&quot;&quot;&gt;
                    &lt;i class=&quot;fa-brands fa-youtube video-previewIcon dummy&quot;&gt;&lt;/i&gt;
                &lt;/a&gt;
                &lt;a class=&quot;video-previewLink vimeo dummy&quot; target=&quot;_blank&quot; href=&quot;&quot;&gt;
                    &lt;i class=&quot;fa-brands fa-vimeo video-previewIcon dummy&quot;&gt;&lt;/i&gt;
                &lt;/a&gt;
            &lt;/span&gt;
        &lt;/span&gt;
    &lt;/div&gt;

    {{-- HINT --}}
    @if (isset($field[&#039;hint&#039;]))
        &lt;div class=&quot;form-text&quot;&gt;{!! $field[&#039;hint&#039;] !!}&lt;/div&gt;
    @endif
&lt;/div&gt;

{{-- ########################################## --}}
{{-- Extra CSS and JS for this particular field --}}
{{-- If a field type is shown multiple times on a form, the CSS and JS will only be loaded once --}}
@if ($xPanel-&gt;checkIfFieldIsFirstOfItsType($field, $fields))

    {{-- FIELD CSS - will be loaded in the after_styles section --}}
    @push(&#039;crud_fields_styles&#039;)
    {{-- @push(&#039;crud_fields_styles&#039;)
        {{-- YOUR CSS HERE --}}
        &lt;style media=&quot;screen&quot;&gt;
            .video-previewSuffix {
                border: 0;
                min-width: 68px; }
            .video-noPadding {
                padding: 0; }
            .video-preview {
                display: none; }
            .video-previewLink {
                 color: #fff;
                 display: block;
                 width: 34px; height: 34px;
                 text-align: center;
                 float: left; }
            .video-previewLink.youtube {
                background: #DA2724; }
            .video-previewLink.vimeo {
                background: #00ADEF; }
            .video-previewIcon {
                transform: translateY(10px); }
            .video-previewImage {
                float: left;
                display: block;
                width: 34px; height: 34px;
                background-size: cover;
                background-position: center center; }
        &lt;/style&gt;
    @endpush

    {{-- FIELD JS - will be loaded in the after_scripts section --}}
    @push(&#039;crud_fields_scripts&#039;)
        {{-- YOUR JS HERE --}}
        &lt;script&gt;
            onDocumentReady((event) =&gt; {
                var tryYouTube = function (link) {
                    var id = null;
                    
                    // RegExps for YouTube link forms
                	var youtubeStandardExpr = /^https?:\/\/(www\.)?youtube.com\/watch\?v=([^?&amp;]+)/i; // Group 2 is video ID
                	var youtubeAlternateExpr = /^https?:\/\/(www\.)?youtube.com\/v\/([^\/\?]+)/i; // Group 2 is video ID
                	var youtubeShortExpr = /^https?:\/\/youtu.be\/([^\/]+)/i; // Group 1 is video ID
                	var youtubeEmbedExpr = /^https?:\/\/(www\.)?youtube.com\/embed\/([^\/]+)/i; // Group 2 is video ID

                    var match = link.match(youtubeStandardExpr);

                    if (match != null){
                        id = match[2];
                    }
                    else {
                        match = link.match(youtubeAlternateExpr);

                        if (match != null) {
                            id = match[2];
                        }
                        else {
                            match = link.match(youtubeShortExpr);

                            if (match != null){
                                id = match[1];
                            }
                            else {
                                match = link.match(youtubeEmbedExpr);

                                if (match != null){
                                    id = match[2];
                                }
                            }
                        }
                    }

                    return id;
                };

                var tryVimeo = function( link ){

                    var id = null;
                    var regExp = /(http|https):\/\/(www\.)?vimeo.com\/(\d+)($|\/)/;

                    var match = link.match(regExp);

                    if (match){
                        id = match[3];
                    }

                    return id;
                };

                var fetchYouTube = function( videoId, callback ){

                    var api = &#039;https://www.googleapis.com/youtube/v3/videos?id=&#039;+videoId+&#039;&amp;key=AIzaSyDQa76EpdNPzfeTAoZUut2AnvBA0jkx3FI&amp;part=snippet&#039;;

                    var video = {
                        provider: &#039;youtube&#039;,
                        id: null,
                        title: null,
                        image: null,
                        url: null
                    };

                    $.getJSON(api, function( data ){

                        if (typeof(data.items[0]) != &quot;undefined&quot;) {
                            var v = data.items[0].snippet;

                            video.id = videoId;
                            video.title = v.title;
                            video.image = v.thumbnails.maxres ? v.thumbnails.maxres.url : v.thumbnails.default.url;
                            video.url = &#039;https://www.youtube.com/watch?v=&#039; + video.id;

                            callback(video);
                        }
                    });
                };

                var fetchVimeo = function( videoId, callback ){

                    var api = &#039;http://vimeo.com/api/v2/video/&#039; + videoId + &#039;.json?callback=?&#039;;

                    var video = {
                        provider: &#039;vimeo&#039;,
                        id: null,
                        title: null,
                        image: null,
                        url: null
                    };

                    $.getJSON(api, function( data ){

                        if (typeof(data[0]) != &quot;undefined&quot;) {
                            var v = data[0];

                            video.id = v.id;
                            video.title = v.title;
                            video.image = v.thumbnail_large || v.thumbnail_small;
                            video.url = v.url;

                            callback(video);
                        }
                    });
                };

                var parseVideoLink = function( link, callback ){

                    var response = {success: false, message: &#039;unknown error occured, please try again&#039;, data: [] };

                    try {
                        var parser = document.createElement(&#039;a&#039;);
                    } catch(e){
                        response.message = &#039;Please post a valid youtube/vimeo url&#039;;
                        return response;
                    }


                    var id = tryYouTube(link);

                    if( id ){

                        return fetchYouTube(id, function(video){

                            if( video ){
                                response.success = true;
                                response.message = &#039;video found&#039;;
                                response.data = video;
                            }

                            callback(response);
                        });
                    }
                    else {

                        id = tryVimeo(link);

                        if( id ){

                            return fetchVimeo(id, function(video){

                                if( video ){
                                    response.success = true;
                                    response.message = &#039;video found&#039;;
                                    response.data = video;
                                }

                                callback(response);
                            });
                        }
                    }

                    response.message = &#039;We could not detect a YouTube or Vimeo ID, please try obtain the URL again&#039;
                    return callback(response);
                };

                var updateVideoPreview = function(video, container){

                    var pWrap = container.find(&#039;.video-preview&#039;),
                        pLink = container.find(&#039;.video-previewLink&#039;).not(&#039;.dummy&#039;),
                        pImage = container.find(&#039;.video-previewImage&#039;).not(&#039;dummy&#039;),
                        pIcon  = container.find(&#039;.video-previewIcon&#039;).not(&#039;.dummy&#039;),
                        pSuffix = container.find(&#039;.video-previewSuffix&#039;),
                        pDummy  = container.find(&#039;.video-dummy&#039;);

                    pDummy.hide();

                    pLink
                    .attr(&#039;href&#039;, video.url)
                    .removeClass(&#039;youtube vimeo hidden&#039;)
                    .addClass(video.provider);

                    pImage
                    .css(&#039;backgroundImage&#039;, &#039;url(&#039;+video.image+&#039;)&#039;);

                    pIcon
                    .removeClass(&#039;fa-vimeo fa-youtube&#039;)
                    .addClass(&#039;fa-&#039; + video.provider);
                    pWrap.fadeIn();
                };

                // Loop through all instances of the video field
                $(&quot;[data-video]&quot;).each(function(index){

                    var $this = $(this),
                        jsonField = $this.find(&#039;.video-json&#039;),
                        linkField = $this.find(&#039;.video-link&#039;),
                        pDummy = $this.find(&#039;.video-dummy&#039;),
                        pWrap = $this.find(&#039;.video-preview&#039;);

                        try {
                            var videoJson = JSON.parse(jsonField.val());
                            jsonField.val( JSON.stringify(videoJson) );
                            linkField.val( videoJson.url );
                            updateVideoPreview(videoJson, $this);
                        }
                        catch(e){
                            pDummy.show();
                            pWrap.hide();
                            jsonField.val(&#039;&#039;);
                            linkField.val(&#039;&#039;);
                        }

                    linkField.on(&#039;focus&#039;, function(){
                        linkField.originalState = linkField.val();
                    });

                    linkField.on(&#039;change&#039;, function(){

                        if( linkField.originalState != linkField.val() ){

                            if( linkField.val().length ){

                                videoParsing = true;

                                parseVideoLink( linkField.val(), function( videoJson ){

                                    if( videoJson.success ){
                                        linkField.val( videoJson.data.url );
                                        jsonField.val( JSON.stringify(videoJson.data) );
                                        updateVideoPreview(videoJson.data, $this);
                                    }
                                    else {
                                        pDummy.show();
                                        pWrap.hide();
                                        alert(videoJson.message);
                                    }

                                    videoParsing = false;
                                });
                            }
                            else {
                                videoParsing = false;
                                jsonField.val(&#039;&#039;);
                                $this.find(&#039;.video-preview&#039;).fadeOut();
                                pDummy.show();
                                pWrap.hide();
                            }
                        }
                    });
                });

                var videoParsing = false;

                $(&#039;form&#039;).on(&#039;submit&#039;, function(e){
                    if( videoParsing ){
                        alert(&#039;Video details are still loading, please wait a moment and try again&#039;);
                        e.preventDefault();
                        return false;
                    }
                })
            });
        &lt;/script&gt;

    @endpush
@endif
{{-- End of Extra CSS and JS --}}
{{-- ########################################## --}}


<hr>
<!-- PEDROO_NEXT_FILE: /ads/resources/views/admin/panel/fields/view.blade.php -->
<!-- PEDROO_NEXT_DIR: /ads/resources/views/admin/panel/fields/inc -->

</body>
</html>