<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>/ads/resources/views/front/layouts/partials/tools/facebook-comments.blade.php</title>
<style>
body { font-family: monospace; white-space: pre; }
</style>
</head>
<body>
@php
	$commentsAreDisabledByUser ??= false;
	$areCommentsActivated = (
		config(&#039;settings.listing_page.activation_facebook_comments&#039;)
		&amp;&amp; config(&#039;services.facebook.client_id&#039;)
		&amp;&amp; !$commentsAreDisabledByUser
	);
	$fbClientId = config(&#039;services.facebook.client_id&#039;);
	$locale = config(&#039;lang.iso_locale&#039;, &#039;en_US&#039;);
	
	$userThemePreference ??= &#039;light&#039;;
@endphp
@if ($areCommentsActivated)
	@include(&#039;front.common.spacer&#039;)
	
	&lt;div class=&quot;container mb-4 mt-4&quot;&gt;
		&lt;div id=&quot;fb-root&quot;&gt;&lt;/div&gt;
		&lt;script&gt;
			(function (d, s, id) {
				var js, fjs = d.getElementsByTagName(s)[0];
				if (d.getElementById(id)) return;
				js = d.createElement(s);
				js.id = id;
				js.src = &quot;//connect.facebook.net/{{ $locale }}/sdk.js#xfbml=1&amp;version=v19.0&amp;appId={{ $fbClientId }}&quot;;
				fjs.parentNode.insertBefore(js, fjs);
			}(document, &#039;script&#039;, &#039;facebook-jssdk&#039;));
		&lt;/script&gt;
		&lt;div
				class=&quot;fb-comments&quot;
				data-href=&quot;{{ request()-&gt;url() }}&quot;
				data-width=&quot;100%&quot;
				data-numposts=&quot;5&quot;
				data-colorscheme=&quot;{{ $userThemePreference }}&quot;
		&gt;&lt;/div&gt;
	&lt;/div&gt;
@endif


<hr>
<!-- PEDROO_NEXT_FILE: /ads/resources/views/front/layouts/partials/tools/scroll-cue.blade.php -->
<!-- PEDROO_NEXT_DIR: /ads/resources/views/front/pages -->

</body>
</html>