<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>/ads/resources/views/helpers/flash/client.blade.php</title>
<style>
body { font-family: monospace; white-space: pre; }
</style>
</head>
<body>
@php
	use App\Helpers\Common\JsonUtils;
	
	// PNotify =============================================================
	$pnotifyGlobalOptions = (array)config(&quot;larapen.flash.presenters.pnotify&quot;, []);
	
	// Get PNotify&quot;s defaults options
	$pnotifyDefaultOptions = (array)($pnotifyGlobalOptions[&#039;defaultOptions&#039;] ?? []);
	$pnotifyDefaultOptions[&#039;textTrusted&#039;] = true;
	$pnotifyDefaultOptions[&#039;labels&#039;] = [
		&#039;close&#039;   =&gt; trans(&#039;global.Close&#039;),
		&#039;stick&#039;   =&gt; trans(&#039;global.pin&#039;),
		&#039;unstick&#039; =&gt; trans(&#039;global.unpin&#039;),
	];
	$pnotifyDefaultOptions = JsonUtils::ensureJson($pnotifyDefaultOptions);
	
	// Get PNotify&#039;s default stack
	$pnotifyDefaultStack = (array)($pnotifyGlobalOptions[&#039;defaultStack&#039;] ?? []);
	$pnotifyDefaultStack = JsonUtils::ensureJson($pnotifyDefaultStack);
@endphp

&lt;script&gt;
	onDocumentReady((event) =&gt; {
		{{-- PNotify --}}
		if (typeof PNotify !== &#039;undefined&#039;) {
			/* Load Modules */
			PNotify.defaultModules.set(PNotifyFontAwesome5Fix, {});
			PNotify.defaultModules.set(PNotifyFontAwesome5, {});
			
			/* Configure PNotify custom defaults */
			let defaultStack = {!! $pnotifyDefaultStack !!};
			defaultStack = ensureJsonObject(defaultStack);
			
			let defaultsOptions = {!! $pnotifyDefaultOptions !!};
			defaultsOptions = ensureJsonObject(defaultsOptions);
			defaultsOptions.stack = new PNotify.Stack(defaultStack);
			
			/* Change the PNotify defaults */
			PNotify.defaults = Object.assign(PNotify.defaults, defaultsOptions);
		}
	});
	
	/**
	 * Show a PNotify alert (Using the Stack feature)
	 * @param type
	 * @param message
	 * @param title
	 */
	function pnotifyAlertClient(type, message, title = &#039;&#039;) {
		if (typeof PNotify === &#039;undefined&#039;) {
			return;
		}
		
		const alertParams = {
			text: message,
			type: &#039;info&#039;
		};
		
		switch (type) {
			case &#039;error&#039;:
				alertParams.type = &#039;error&#039;;
				break;
			case &#039;warning&#039;:
				alertParams.type = &#039;notice&#039;;
				break;
			case &#039;notice&#039;:
				alertParams.type = &#039;notice&#039;;
				break;
			case &#039;info&#039;:
				alertParams.type = &#039;info&#039;;
				break;
			case &#039;success&#039;:
				alertParams.type = &#039;success&#039;;
				break;
		}
		
		if (typeof title !== &#039;undefined&#039; &amp;&amp; title !== &#039;&#039; &amp;&amp; title.length &gt; 0) {
			alertParams.title = title;
			alertParams.icon = true;
		}
		
		PNotify.alert(alertParams);
	}
&lt;/script&gt;


<hr>
<!-- PEDROO_NEXT_FILE: /ads/resources/views/helpers/flash/default.blade.php -->
<!-- PEDROO_NEXT_DIR: /ads/resources/views/helpers/flash/presenters -->

</body>
</html>