<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>/resources/views/auth/verify-email.blade.php</title>
<style>
body { font-family: monospace; white-space: pre; }
</style>
</head>
<body>
&lt;x-guest-layout&gt;
    &lt;div class=&quot;mb-4 text-sm text-gray-600&quot;&gt;
        {{ __(&#039;Thanks for signing up! Before getting started, could you verify your email address by clicking on the link we just emailed to you? If you didn\&#039;t receive the email, we will gladly send you another.&#039;) }}
    &lt;/div&gt;

    @if (session(&#039;status&#039;) == &#039;verification-link-sent&#039;)
        &lt;div class=&quot;mb-4 font-medium text-sm text-green-600&quot;&gt;
            {{ __(&#039;A new verification link has been sent to the email address you provided during registration.&#039;) }}
        &lt;/div&gt;
    @endif

    &lt;div class=&quot;mt-4 flex items-center justify-between&quot;&gt;
        &lt;form method=&quot;POST&quot; action=&quot;{{ route(&#039;verification.send&#039;) }}&quot;&gt;
            @csrf

            &lt;div&gt;
                &lt;x-primary-button&gt;
                    {{ __(&#039;Resend Verification Email&#039;) }}
                &lt;/x-primary-button&gt;
            &lt;/div&gt;
        &lt;/form&gt;

        &lt;form method=&quot;POST&quot; action=&quot;{{ route(&#039;logout&#039;) }}&quot;&gt;
            @csrf

            &lt;button type=&quot;submit&quot; class=&quot;underline text-sm text-gray-600 hover:text-gray-900 rounded-md focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500&quot;&gt;
                {{ __(&#039;Log Out&#039;) }}
            &lt;/button&gt;
        &lt;/form&gt;
    &lt;/div&gt;
&lt;/x-guest-layout&gt;


<hr>
<!-- PEDROO_NEXT_FILE: /resources/views/components/application-logo.blade.php -->
<!-- PEDROO_NEXT_DIR: /resources/views/components -->

</body>
</html>