<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>/resources/views/profile/edit.blade.php</title>
<style>
body { font-family: monospace; white-space: pre; }
</style>
</head>
<body>
&lt;x-app-layout&gt;
    &lt;x-slot name=&quot;header&quot;&gt;
        &lt;h2 class=&quot;font-semibold text-xl text-gray-800 leading-tight&quot;&gt;
            {{ __(&#039;Profile&#039;) }}
        &lt;/h2&gt;
    &lt;/x-slot&gt;

    &lt;div class=&quot;py-12&quot;&gt;
        &lt;div class=&quot;max-w-7xl mx-auto sm:px-6 lg:px-8 space-y-6&quot;&gt;
            &lt;div class=&quot;p-4 sm:p-8 bg-white shadow sm:rounded-lg&quot;&gt;
                &lt;div class=&quot;max-w-xl&quot;&gt;
                    @include(&#039;profile.partials.update-profile-information-form&#039;)
                &lt;/div&gt;
            &lt;/div&gt;

            &lt;div class=&quot;p-4 sm:p-8 bg-white shadow sm:rounded-lg&quot;&gt;
                &lt;div class=&quot;max-w-xl&quot;&gt;
                    @include(&#039;profile.partials.update-password-form&#039;)
                &lt;/div&gt;
            &lt;/div&gt;

            &lt;div class=&quot;p-4 sm:p-8 bg-white shadow sm:rounded-lg&quot;&gt;
                &lt;div class=&quot;max-w-xl&quot;&gt;
                    @include(&#039;profile.partials.delete-user-form&#039;)
                &lt;/div&gt;
            &lt;/div&gt;
        &lt;/div&gt;
    &lt;/div&gt;
&lt;/x-app-layout&gt;


<hr>
<!-- PEDROO_NEXT_FILE: /resources/views/profile/partials/delete-user-form.blade.php -->
<!-- PEDROO_NEXT_DIR: /resources/views/profile/partials -->

</body>
</html>