<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>/ads/resources/views/admin/panel/fields/read_images.blade.php</title>
<style>
body { font-family: monospace; white-space: pre; }
</style>
</head>
<body>
{{-- read_images --}}
@php
	$field ??= [];
	
	$entityModel = $field[&#039;value&#039;] ?? null;
	$listingsPicturesLimit = (int)config(&#039;settings.listing_form.pictures_limit&#039;);
	$disk = \Illuminate\Support\Facades\Storage::disk($field[&#039;disk&#039;]);
@endphp
&lt;div @include(&#039;admin.panel.inc.field_wrapper_attributes&#039;) &gt;

	&lt;input type=&quot;hidden&quot; name=&quot;edit_url&quot; value=&quot;{{ request()-&gt;url() }}&quot;&gt;
	&lt;label class=&quot;form-label fw-bolder&quot;&gt;{{ $field[&#039;label&#039;] }}&lt;/label&gt;
	@include(&#039;admin.panel.fields.inc.translatable_icon&#039;)

	&lt;div class=&quot;d-block text-center&quot;&gt;
	@if (!empty($entityModel) &amp;&amp; !$entityModel-&gt;isEmpty())
		@foreach ($entityModel as $entityEntry)
			&lt;div class=&quot;mx-2 my-4 d-inline-block&quot; id=&quot;picture{{ $entityEntry-&gt;id }}&quot;&gt;
				&lt;img src=&quot;{{ $disk-&gt;url($entityEntry-&gt;{$field[&#039;attribute&#039;]}) }}&quot; style=&quot;width:320px; height:auto;&quot;&gt;
				&lt;div class=&quot;mt-2 text-center&quot;&gt;
					&lt;a href=&quot;{{ urlGen()-&gt;adminUrl(&#039;pictures/&#039; . $entityEntry-&gt;id . &#039;/edit&#039;) }}&quot; class=&quot;btn btn-xs btn-secondary&quot;&gt;
						&lt;i class=&quot;fa-regular fa-pen-to-square&quot;&gt;&lt;/i&gt; {{ trans(&#039;admin.Edit&#039;) }}
					&lt;/a&gt;&amp;nbsp;
					&lt;a href=&quot;{{ urlGen()-&gt;adminUrl(&#039;pictures/&#039; . $entityEntry-&gt;id) }}&quot;
					   class=&quot;btn btn-xs btn-danger&quot;
					   data-button-type=&quot;delete&quot;
					   data-id=&quot;{{ $entityEntry-&gt;id }}&quot;
					&gt;
						&lt;i class=&quot;fa-regular fa-trash-can&quot;&gt;&lt;/i&gt; {{ trans(&#039;admin.Delete&#039;) }}
					&lt;/a&gt;
				&lt;/div&gt;
			&lt;/div&gt;
		@endforeach
        @if ($entityModel-&gt;count() &lt; $listingsPicturesLimit)
            &lt;hr class=&quot;border-0 bg-secondary&quot;&gt;&lt;br&gt;
            &lt;a href=&quot;{{ urlGen()-&gt;adminUrl(&#039;pictures/create?post_id=&#039; . request()-&gt;segment(3)) }}&quot; class=&quot;btn btn-xs btn-secondary&quot;&gt;
				&lt;i class=&quot;fa-regular fa-pen-to-square&quot;&gt;&lt;/i&gt; {{ trans(&#039;admin.add&#039;) }} {{ trans(&#039;admin.picture&#039;) }}
			&lt;/a&gt;
			&lt;br&gt;&lt;br&gt;
        @endif
	@else
		&lt;br&gt;{{ trans(&#039;admin.No pictures found&#039;) }}&lt;br&gt;&lt;br&gt;
        &lt;a href=&quot;{{ urlGen()-&gt;adminUrl(&#039;pictures/create?post_id=&#039; . request()-&gt;segment(3)) }}&quot; class=&quot;btn btn-xs btn-secondary&quot;&gt;
			&lt;i class=&quot;fa-regular fa-pen-to-square&quot;&gt;&lt;/i&gt; {{ trans(&#039;admin.add&#039;) }} {{ trans(&#039;admin.picture&#039;) }}
		&lt;/a&gt;
		&lt;br&gt;&lt;br&gt;
	@endif
	&lt;/div&gt;
	&lt;div style=&quot;clear: both;&quot;&gt;&lt;/div&gt;

&lt;/div&gt;

@if ($xPanel-&gt;checkIfFieldIsFirstOfItsType($field, $fields))
    @push(&#039;crud_fields_scripts&#039;)
    &lt;script&gt;
	    onDocumentReady((event) =&gt; {
			$(&quot;[data-button-type=delete]&quot;).click(function (e) {
				e.preventDefault(); /* does not go through with the link. */
				
				var $this = $(this);
				
				Swal.fire({
					position: &#039;top&#039;,
					text: langLayout.confirm.message.question,
					icon: &#039;warning&#039;,
					showCancelButton: true,
					confirmButtonText: langLayout.confirm.button.yes,
					cancelButtonText: langLayout.confirm.button.no
				}).then((result) =&gt; {
					if (result.isConfirmed) {
						$.post({
							type: &#039;DELETE&#039;,
							url: $this.attr(&#039;href&#039;),
							success: function (result) {
								$(&#039;#picture&#039; + $this.data(&#039;id&#039;)).remove();
								
								pnotifyAlertClient(&#039;success&#039;, langLayout.confirm.message.success);
							}
						});
					} else if (result.dismiss === Swal.DismissReason.cancel) {
						pnotifyAlertClient(&#039;info&#039;, langLayout.confirm.message.cancel);
					}
				});
			});
		});
    &lt;/script&gt;
    @endpush
@endif


<hr>
<!-- PEDROO_NEXT_FILE: /ads/resources/views/admin/panel/fields/repeatable.blade.php -->
<!-- PEDROO_NEXT_DIR: /ads/resources/views/admin/panel/fields/inc -->

</body>
</html>