<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>/ads/resources/views/admin/panel/fields/select_multiple.blade.php</title>
<style>
body { font-family: monospace; white-space: pre; }
</style>
</head>
<body>
{{-- select multiple --}}
@php
	$field ??= [];
	
	$entityEntries = $field[&#039;model&#039;]::all();
	
	$fieldValue = $field[&#039;value&#039;] ?? ($field[&#039;default&#039;] ?? null);
	$fieldValue = old($field[&#039;name&#039;], $fieldValue);
	
	// Convert the field value to a collection
	$fieldValue = is_string($fieldValue) ? explode(&#039;,&#039;, $fieldValue) : $fieldValue;
	$fieldValue = is_array($fieldValue) ? collect($fieldValue) : $fieldValue;
	$fieldValue = ($fieldValue instanceof \Illuminate\Support\Collection) ? $fieldValue : collect();
@endphp
&lt;div @include(&#039;admin.panel.inc.field_wrapper_attributes&#039;) &gt;
    &lt;label class=&quot;form-label fw-bolder&quot;&gt;
	    {!! $field[&#039;label&#039;] !!}
	    @if (isset($field[&#039;required&#039;]) &amp;&amp; $field[&#039;required&#039;])
		    &lt;span class=&quot;text-danger&quot;&gt;*&lt;/span&gt;
	    @endif
    &lt;/label&gt;
	@include(&#039;admin.panel.fields.inc.translatable_icon&#039;)
    &lt;select class=&quot;form-control&quot; name=&quot;{{ $field[&#039;name&#039;] }}[]&quot; multiple
        @include(&#039;admin.panel.inc.field_attributes&#039;, [&#039;default_class&#039; =&gt; &#039;form-select&#039;])
    &gt;
    	&lt;option value=&quot;&quot;&gt;-&lt;/option&gt;
		
	    @foreach ($entityEntries as $entityEntry)
			@php
				$fieldValue = $fieldValue-&gt;pluck($entityEntry-&gt;getKeyName(), $entityEntry-&gt;getKeyName())-&gt;toArray();
				$selectedAttr = in_array($entityEntry-&gt;getKey(), $fieldValue) ? &#039; selected&#039; : &#039;&#039;;
			@endphp
		    &lt;option value=&quot;{{ $entityEntry-&gt;getKey() }}&quot;{!! $selectedAttr !!}&gt;
			    {{ $entityEntry-&gt;{$field[&#039;attribute&#039;]} }}
		    &lt;/option&gt;
	    @endforeach
	&lt;/select&gt;
	
    {{-- HINT --}}
    @if (isset($field[&#039;hint&#039;]))
        &lt;div class=&quot;form-text&quot;&gt;{!! $field[&#039;hint&#039;] !!}&lt;/div&gt;
    @endif
&lt;/div&gt;


<hr>
<!-- PEDROO_NEXT_FILE: /ads/resources/views/admin/panel/fields/simditor.blade.php -->
<!-- PEDROO_NEXT_DIR: /ads/resources/views/admin/panel/fields/inc -->

</body>
</html>