<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>/ads/resources/views/front/search/partials/sidebar/cities.blade.php</title>
<style>
body { font-family: monospace; white-space: pre; }
</style>
</head>
<body>
@php
	// Clear Filter Button
	$clearFilterBtn = urlGen()-&gt;getCityFilterClearLink($cat ?? null, $city ?? null);
	
	/*
	 * Check if the City Model exists in the Cities eloquent collection
	 * If it doesn&#039;t exist in the collection,
	 * Then, add it into the Cities eloquent collection
	 */
	if (isset($cities, $city) &amp;&amp; !collect($cities)-&gt;contains($city)) {
		collect($cities)-&gt;push($city)-&gt;toArray();
	}
	
	// Links CSS Class
	$linkClass = linkClass(&#039;body-emphasis&#039;);
@endphp
{{-- City --}}
&lt;div class=&quot;container p-0 vstack gap-2&quot;&gt;
	&lt;h5 class=&quot;border-bottom pb-2 d-flex justify-content-between&quot;&gt;
		&lt;span class=&quot;fw-bold&quot;&gt;{{ trans(&#039;global.locations&#039;) }}&lt;/span&gt; {!! $clearFilterBtn !!}
	&lt;/h5&gt;
	&lt;div&gt;
		&lt;ul class=&quot;mb-0 list-unstyled long-list&quot;&gt;
			@if (!empty($cities))
				@foreach ($cities as $iCity)
					&lt;li class=&quot;py-1&quot;&gt;
						@if (
							(
								isset($city)
								&amp;&amp; data_get($city, &#039;id&#039;) == data_get($iCity, &#039;id&#039;)
							)
							|| request()-&gt;input(&#039;l&#039;) == data_get($iCity, &#039;id&#039;)
							)
							&lt;span class=&quot;fw-bold&quot;&gt;
								{{ data_get($iCity, &#039;name&#039;) }}
								@if (config(&#039;settings.listings_list.count_cities_listings&#039;))
									&amp;nbsp;&lt;span class=&quot;fw-normal&quot;&gt;({{ data_get($iCity, &#039;posts_count&#039;) ?? 0 }})&lt;/span&gt;
								@endif
							&lt;/span&gt;
						@else
							&lt;a href=&quot;{!! urlGen()-&gt;city($iCity, null, $cat ?? null) !!}&quot;
							   class=&quot;{{ $linkClass }}&quot;
							   title=&quot;{{ data_get($iCity, &#039;name&#039;) }}&quot;
							&gt;
								{{ data_get($iCity, &#039;name&#039;) }}
								@if (config(&#039;settings.listings_list.count_cities_listings&#039;))
									&amp;nbsp;&lt;span class=&quot;fw-normal&quot;&gt;({{ data_get($iCity, &#039;posts_count&#039;) ?? 0 }})&lt;/span&gt;
								@endif
							&lt;/a&gt;
						@endif
					&lt;/li&gt;
				@endforeach
			@endif
		&lt;/ul&gt;
	&lt;/div&gt;
&lt;/div&gt;


<hr>
<!-- PEDROO_NEXT_FILE: /ads/resources/views/front/search/partials/sidebar/date.blade.php -->
<!-- PEDROO_NEXT_DIR: /ads/resources/views/front/search/partials/sidebar/categories -->

</body>
</html>