<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>/ads/resources/views/front/post/createOrEdit/partials/category/select.blade.php</title>
<style>
body { font-family: monospace; white-space: pre; }
</style>
</head>
<body>
@php
	$catDisplayType ??= &#039;c_bigIcon_list&#039;;
	
	$apiResult ??= [];
	$totalCategories = (int)data_get($apiResult, &#039;meta.total&#039;, 0);
	$areCategoriesPageable = (!empty(data_get($apiResult, &#039;links.prev&#039;)) || !empty(data_get($apiResult, &#039;links.next&#039;)));
	
	$categories ??= [];
	$category ??= null;
	$hasChildren ??= false;
	$selectedId ??= 0; /* The selected category ID */
	
	$selectionUrl = url(&#039;browsing/categories/select&#039;);
	
	// Links CSS Class
	$linkClass = linkClass();
@endphp
@if (!$hasChildren)
	
	{{-- To append in the form (will replace the category field) --}}
	
	@if (!empty($category))
		@php
			$_catId = data_get($category, &#039;id&#039;);
			$_catName = data_get($category, &#039;name&#039;);
		@endphp
		@if (!empty(data_get($category, &#039;children&#039;)))
			@php
				$_catSelectionUrl = urlBuilder($selectionUrl)-&gt;setParameters([&#039;parentId&#039; =&gt; $_catId])-&gt;toString();
			@endphp
			&lt;a href=&quot;#browseCategories&quot;
			   data-bs-toggle=&quot;modal&quot;
			   class=&quot;modal-cat-link open-selection-url {{ $linkClass }}&quot;
			   data-selection-url=&quot;{{ $_catSelectionUrl }}&quot;
			&gt;
				{{ $_catName }}
			&lt;/a&gt;
		@else
			@php
				$_catParentId = data_get($category, &#039;parent.id&#039;, 0);
				$_catSelectionUrl = urlBuilder($selectionUrl)-&gt;setParameters([&#039;parentId&#039; =&gt; $_catParentId])-&gt;toString();
			@endphp
			{{ $_catName }}&amp;nbsp;
			[ &lt;a href=&quot;#browseCategories&quot;
				 data-bs-toggle=&quot;modal&quot;
				 class=&quot;modal-cat-link open-selection-url {{ $linkClass }}&quot;
				 data-selection-url=&quot;{{ $_catSelectionUrl }}&quot;
			&gt;&lt;i class=&quot;fa-regular fa-pen-to-square&quot;&gt;&lt;/i&gt; {{ trans(&#039;global.Edit&#039;) }}&lt;/a&gt; ]
		@endif
	@else
		&lt;a href=&quot;#browseCategories&quot;
		   data-bs-toggle=&quot;modal&quot;
		   class=&quot;modal-cat-link open-selection-url {{ $linkClass }}&quot;
		   data-selection-url=&quot;{{ $selectionUrl }}&quot;
		&gt;
			{{ trans(&#039;global.select_a_category&#039;) }}
		&lt;/a&gt;
	@endif
	
@else
	
	{{-- To append in the modal (will replace the modal content) --}}

	@if (!empty($category))
		@php
			$_parentId = data_get($category, &#039;parent.id&#039;, 0);
			$_url = urlBuilder($selectionUrl)-&gt;setParameters([&#039;parentId&#039; =&gt; $_parentId])-&gt;toString();
			$_id = data_get($category, &#039;id&#039;);
			$_name = data_get($category, &#039;name&#039;);
		@endphp
		&lt;p&gt;
			&lt;a href=&quot;{!! $_url !!}&quot; class=&quot;btn btn-primary btn-sm modal-cat-link&quot; data-ignore-guard=&quot;true&quot;&gt;
				&lt;i class=&quot;fa-solid fa-reply&quot;&gt;&lt;/i&gt; {{ trans(&#039;global.go_to_parent_categories&#039;) }}
			&lt;/a&gt;&amp;nbsp;
			&lt;strong&gt;{{ $_name }}&lt;/strong&gt;
		&lt;/p&gt;
	@endif
	
	@if (!empty($categories))
		&lt;div class=&quot;container&quot;&gt;
			@if ($catDisplayType == &#039;c_picture_list&#039;)
				
				&lt;div id=&quot;modalCategoryList&quot; class=&quot;row row-cols-lg-6 row-cols-md-4 row-cols-sm-3 row-cols-2 py-1 px-0&quot;&gt;
					@foreach($categories as $key =&gt; $cat)
						@php
							$_id = data_get($cat, &#039;id&#039;);
							$_hasChildren = (!empty(data_get($cat, &#039;children&#039;))) ? 1 : 0;
							$_parentId = data_get($cat, &#039;parent.id&#039;, 0);
							$_hasLink = ($_id != $selectedId || $_hasChildren == 1);
							$_type = data_get($cat, &#039;type&#039;);
							$_imageUrl = data_get($cat, &#039;image_url&#039;);
							$_name = data_get($cat, &#039;name&#039;);
							$_url = urlBuilder($selectionUrl)-&gt;setParameters([&#039;parentId&#039; =&gt; $_id])-&gt;toString();
						@endphp
						&lt;div class=&quot;col px-0 d-flex justify-content-center align-content-stretch&quot;&gt;
							&lt;div class=&quot;text-center justify-content-center w-100 border rounded px-3 py-2 m-1&quot;&gt;
								@if ($_hasLink)
									&lt;a href=&quot;{!! $_url !!}&quot;
									   class=&quot;modal-cat-link {{ $linkClass }}&quot;
									   data-parent-id=&quot;{{ $_parentId }}&quot;
									   data-id=&quot;{{ $_id }}&quot;
									   data-has-children=&quot;{{ $_hasChildren }}&quot;
									   data-type=&quot;{{ $_type }}&quot;
									&gt;
								@endif
								&lt;img src=&quot;{{ $_imageUrl }}&quot; class=&quot;lazyload img-fluid&quot; alt=&quot;{{ $_name }}&quot;&gt;
								&lt;h6 class=&quot;mt-2 fw-bold{{ !$_hasLink ? &#039; text-secondary&#039; : &#039;&#039; }}&quot;&gt;
									{{ $_name }}
								&lt;/h6&gt;
								@if ($_hasLink)
									&lt;/a&gt;
								@endif
							&lt;/div&gt;
						&lt;/div&gt;
					@endforeach
				&lt;/div&gt;
			
			@elseif ($catDisplayType == &#039;c_bigIcon_list&#039;)
			
				&lt;div id=&quot;modalCategoryList&quot; class=&quot;row row-cols-lg-6 row-cols-md-4 row-cols-sm-3 row-cols-2 py-0 px-0&quot;&gt;
					@foreach($categories as $key =&gt; $cat)
						@php
							$_id = data_get($cat, &#039;id&#039;);
							$_hasChildren = (!empty(data_get($cat, &#039;children&#039;))) ? 1 : 0;
							$_parentId = data_get($cat, &#039;parent.id&#039;, 0);
							$_hasLink = ($_id != $selectedId || $_hasChildren == 1);
							$_type = data_get($cat, &#039;type&#039;);
							$_iconClass = data_get($cat, &#039;icon_class&#039;);
							$_name = data_get($cat, &#039;name&#039;);
							$_url = urlBuilder($selectionUrl)-&gt;setParameters([&#039;parentId&#039; =&gt; $_id])-&gt;toString();
						@endphp
						&lt;div class=&quot;col px-0 d-flex justify-content-center align-content-stretch&quot;&gt;
							&lt;div class=&quot;text-center justify-content-center w-100 border rounded px-3 py-2 m-1&quot;&gt;
								@if ($_hasLink)
									&lt;a href=&quot;{!! $_url !!}&quot;
									   class=&quot;modal-cat-link {{ $linkClass }}&quot;
									   data-parent-id=&quot;{{ $_parentId }}&quot;
									   data-id=&quot;{{ $_id }}&quot;
									   data-has-children=&quot;{{ $_hasChildren }}&quot;
									   data-type=&quot;{{ $_type }}&quot;
									&gt;
								@endif
									@if (in_array(config(&#039;settings.listings_list.show_category_icon&#039;), [2, 6, 7, 8]))
										&lt;i class=&quot;{{ $_iconClass ?? &#039;bi bi-folder-fill&#039; }}&quot; style=&quot;font-size: 3rem;&quot;&gt;&lt;/i&gt;
									@endif
									&lt;h6 class=&quot;mt-2 fw-bold{{ !$_hasLink ? &#039; text-secondary&#039; : &#039;&#039; }}&quot;&gt;
										{{ $_name }}
									&lt;/h6&gt;
								@if ($_hasLink)
									&lt;/a&gt;
								@endif
							&lt;/div&gt;
						&lt;/div&gt;
					@endforeach
				&lt;/div&gt;
				
			@else
				
				@php
					$isShowingCategoryIconEnabled = in_array(config(&#039;settings.listings_list.show_category_icon&#039;), [2, 6, 7, 8]);
					
					$listTypes = [&#039;c_border_list&#039; =&gt; &#039;border-bottom pb-2&#039;];
					$borderBottom = $listTypes[$catDisplayType] ?? &#039;&#039;;
					$borderBottom = !empty($borderBottom) ? &#039; &#039; . $borderBottom : &#039;&#039;;
				@endphp
				&lt;ul id=&quot;modalCategoryList&quot; class=&quot;row row-cols-lg-3 row-cols-md-2 row-cols-sm-1 row-cols-1 mt-4 list-unstyled&quot;&gt;
					@foreach ($categories as $key =&gt; $cat)
						@php
							$_catId = data_get($cat, &#039;id&#039;, 0);
							$_catIconClass = $isShowingCategoryIconEnabled ? data_get($cat, &#039;icon_class&#039;, &#039;fa-solid fa-check&#039;) : &#039;&#039;;
							$_catIcon = !empty($_catIconClass) ? &#039;&lt;i class=&quot;&#039; . $_catIconClass . &#039;&quot;&gt;&lt;/i&gt; &#039; : &#039;&#039;;
							$_catName = data_get($cat, &#039;name&#039;, &#039;--&#039;);
							$_catType = data_get($cat, &#039;type&#039;);
							
							$_hasChildren = !empty(data_get($cat, &#039;children&#039;)) ? 1 : 0;
							$_parentId = data_get($cat, &#039;parent.id&#039;, 0);
							$_hasLink = ($_catId != $selectedId || $_hasChildren == 1);
							$_hasLinkClass = !$_hasLink ? &#039; text-secondary fw-bold&#039; : &#039;&#039;;
							
							$_url = urlBuilder($selectionUrl)-&gt;setParameters([&#039;parentId&#039; =&gt; $_catId])-&gt;toString();
						@endphp
						&lt;li class=&quot;col{{ $_hasLinkClass }} my-2 px-2 d-flex justify-content-center align-content-stretch&quot;&gt;
							&lt;div class=&quot;w-100{{ $borderBottom }}&quot;&gt;
								{!! $_catIcon !!}
								@if ($_hasLink)
									&lt;a href=&quot;{!! $_url !!}&quot;
									   class=&quot;modal-cat-link {{ $linkClass }}&quot;
									   data-parent-id=&quot;{{ $_parentId }}&quot;
									   data-id=&quot;{{ $_catId }}&quot;
									   data-has-children=&quot;{{ $_hasChildren }}&quot;
									   data-type=&quot;{{ $_catType }}&quot;
									&gt;
								@endif
									{{ $_catName }}
								@if ($_hasLink)
									&lt;/a&gt;
								@endif
							&lt;/div&gt;
						&lt;/li&gt;
					@endforeach
				&lt;/ul&gt;
			
			@endif
		&lt;/div&gt;
		@if ($totalCategories &gt; 0 &amp;&amp; $areCategoriesPageable)
			@include(&#039;vendor.pagination.api.bootstrap-5&#039;)
		@endif
	@else
		{{ $apiMessage ?? trans(&#039;global.no_categories_found&#039;) }}
	@endif
@endif


<hr>
<!-- PEDROO_NEXT_FILE: /ads/resources/views/front/post/createOrEdit/partials/fields.blade.php -->
<!-- PEDROO_NEXT_DIR: /ads/resources/views/front/post/createOrEdit/singleStep -->

</body>
</html>