<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>/ads/resources/views/front/common/css/front-style.blade.php</title>
<style>
body { font-family: monospace; white-space: pre; }
</style>
</head>
<body>
&lt;style&gt;
/* === CSS Version === */
/* === v{{ config(&#039;version.app&#039;) }} === */

/* === Body === */
@php
	$isFixedTopHeader = (config(&#039;settings.header.fixed_top&#039;) == &#039;1&#039;);
	
	// Logo Max Sizes
	$logoMaxWidth = config(&#039;larapen.media.resize.namedOptions.logo-max.width&#039;, 430);
	$logoMaxHeight = config(&#039;larapen.media.resize.namedOptions.logo-max.height&#039;, 80);
	if (!empty(config(&#039;settings.header.height&#039;))) {
		$logoMaxHeight = forceToInt(config(&#039;settings.header.height&#039;), $logoMaxHeight);
	}
	
	// Logo Sizes
	$logoWidth = forceToInt(config(&#039;settings.header.logo_width&#039;), 216);
	$logoHeight = forceToInt(config(&#039;settings.header.logo_height&#039;), 40);
	if (config(&#039;settings.header.logo_aspect_ratio&#039;)) {
		if ($logoHeight &lt;= $logoWidth) {
			$logoWidth = &#039;auto&#039;;
			$logoHeight = $logoHeight . &#039;px&#039;;
		} else {
			$logoWidth = $logoWidth . &#039;px&#039;;
			$logoHeight = &#039;auto&#039;;
		}
	} else {
		$logoWidth = $logoWidth . &#039;px&#039;;
		$logoHeight = $logoHeight . &#039;px&#039;;
	}
@endphp
.main-logo {
	width: {{ $logoWidth }};
	height: {{ $logoHeight }};
	max-width: {{ $logoMaxWidth }}px !important;
	max-height: {{ $logoMaxHeight }}px !important;
}
@if (!empty(config(&#039;settings.style.page_width&#039;)))
	@php
		$pageWidth = forceToInt(config(&#039;settings.style.page_width&#039;)) . &#039;px&#039;;
	@endphp
	@media (min-width: 1200px) {
		.container {
			max-width: {{ $pageWidth }};
		}
	}
@endif
@if (
	!empty(config(&#039;settings.style.body_background_color&#039;))
	|| !empty(config(&#039;settings.style.body_background_image_path&#039;))
)
	body.bg-body {
		@if (!empty(config(&#039;settings.style.body_background_color&#039;)))
			background-color: {{ config(&#039;settings.style.body_background_color&#039;) }} !important;
		@endif
		@if (!empty(config(&#039;settings.style.body_background_image_url&#039;)))
			background-image: url({{ config(&#039;settings.style.body_background_image_url&#039;) }});
			
			@if (!empty(config(&#039;settings.style.body_background_image_position&#039;)))
				background-position: {{ config(&#039;settings.style.body_background_image_position&#039;) }};
			@endif
			@if (!empty(config(&#039;settings.style.body_background_image_size&#039;)))
				background-size: {{ config(&#039;settings.style.body_background_image_size&#039;) }};
			@endif
			@if (!empty(config(&#039;settings.style.body_background_image_repeat&#039;)))
				background-repeat: {{ config(&#039;settings.style.body_background_image_repeat&#039;) }};
			@endif
			@if (!empty(config(&#039;settings.style.body_background_image_attachment&#039;)))
				background-attachment: {{ config(&#039;settings.style.body_background_image_attachment&#039;) }};
			@endif
			@if (config(&#039;settings.style.body_background_image_animation&#039;) == &#039;1&#039;)
				animation: zoom-bg-image 20s infinite alternate;
			@endif
		@endif
	}
@endif
@if (!empty(config(&#039;settings.style.body_text_color&#039;)))
	body.text-body-emphasis {
		color: {{ config(&#039;settings.style.body_text_color&#039;) }} !important;
	}
@endif

@if (!empty(config(&#039;settings.style.body_background_color&#039;)) || !empty(config(&#039;settings.style.body_background_image_path&#039;)))
	main {
		background-color: rgba(0, 0, 0, 0);
	}
@endif
@if (!empty(config(&#039;settings.style.title_color&#039;)))
	.skin h1,
	.skin h2,
	.skin h3,
	.skin h4,
	.skin h5,
	.skin h6 {
		color: {{ config(&#039;settings.style.title_color&#039;) }};
	}
@endif
@if (!empty(config(&#039;settings.style.link_color&#039;)))
	.skin a,
	.skin .link-color {
		color: {{ config(&#039;settings.style.link_color&#039;) }};
	}
@endif
@if (!empty(config(&#039;settings.style.link_hover_color&#039;)))
	.skin a:hover,
	.skin a:focus {
		color: {{ config(&#039;settings.style.link_hover_color&#039;) }};
	}
@endif
@if (!empty(config(&#039;settings.style.progress_background_color&#039;)))
	.skin .pace .pace-progress {
		background: {{ config(&#039;settings.style.progress_background_color&#039;) }} none repeat scroll 0 0;
	}
@endif

/* === Header === */
/* ... */

/* === Footer === */
@if (!empty(config(&#039;settings.footer.background_color&#039;)))
	footer &gt; div.bg-body-tertiary {
		background: {{ config(&#039;settings.footer.background_color&#039;) }} !important;
	}
@endif
@if (!empty(config(&#039;settings.footer.border_top_width&#039;)))
	@php
		$footerBorderTopSize = forceToInt(config(&#039;settings.footer.border_top_width&#039;)) . &#039;px&#039;;
	@endphp
	footer &gt; div.bg-body-tertiary {
		border-top-width: {{ $footerBorderTopSize }} !important;
		border-top-style: solid !important;
	}
@endif
@if (!empty(config(&#039;settings.footer.border_top_color&#039;)))
	footer &gt; div.bg-body-tertiary {
		border-top-color: {{ config(&#039;settings.footer.border_top_color&#039;) }} !important;
	}
@endif
@if (!empty(config(&#039;settings.footer.text_color&#039;)))
	footer &gt; div {
		color: {{ config(&#039;settings.footer.text_color&#039;) }};
	}
@endif
@if (!empty(config(&#039;settings.footer.title_color&#039;)))
	footer h1, footer h2, footer h3, footer h4, footer h5, footer h6 {
		color: {{ config(&#039;settings.footer.title_color&#039;) }};
	}
@endif
@if (!empty(config(&#039;settings.footer.link_color&#039;)))
	footer a.link-body-emphasis,
	footer a.link-primary {
		color: {{ config(&#039;settings.footer.link_color&#039;) }} !important;
	}
@endif
@if (!empty(config(&#039;settings.footer.link_hover_color&#039;)))
	footer a.link-body-emphasis:hover,
	footer a.link-body-emphasis:focus,
	footer a.link-primary:hover,
	footer a.link-primary:focus {
		color: {{ config(&#039;settings.footer.link_hover_color&#039;) }} !important;
	}
@endif
@if (!empty(config(&#039;settings.footer.inside_line_border_color&#039;)))
	.payment-method-logo {
		border-top-color: {{ config(&#039;settings.footer.inside_line_border_color&#039;) }};
	}
@endif
&lt;/style&gt;


<hr>
<!-- PEDROO_NEXT_FILE: /ads/resources/views/front/common/js/document.blade.php -->
<!-- PEDROO_NEXT_DIR: /ads/resources/views/front/common/js -->

</body>
</html>