<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>/ads/resources/views/admin/dashboard/stats-boxes.blade.php</title>
<style>
body { font-family: monospace; white-space: pre; }
</style>
</head>
<body>
&lt;div class=&quot;row&quot;&gt;
	@if (isset($countUnactivatedPosts))
		&lt;div class=&quot;col-lg-3 col-6&quot;&gt;
			
			&lt;div class=&quot;card border-0 bg-orange shadow&quot;&gt;
				&lt;div class=&quot;card-body&quot;&gt;
					&lt;div class=&quot;row py-1&quot;&gt;
						&lt;div class=&quot;col-8 d-flex align-items-center&quot;&gt;
							&lt;div&gt;
								&lt;h2 class=&quot;fw-light&quot;&gt;
									&lt;a href=&quot;{{ urlGen()-&gt;adminUrl(&#039;posts?active=2&#039;) }}&quot; class=&quot;text-white&quot; style=&quot;font-weight: bold;&quot;&gt;
									{{ $countUnactivatedPosts }}
									&lt;/a&gt;
								&lt;/h2&gt;
								&lt;h6 class=&quot;text-white&quot;&gt;
									&lt;a href=&quot;{{ urlGen()-&gt;adminUrl(&#039;posts?active=2&#039;) }}&quot; class=&quot;text-white&quot;&gt;
									{{ trans(&#039;admin.Unactivated listings&#039;) }}
									&lt;/a&gt;
								&lt;/h6&gt;
							&lt;/div&gt;
						&lt;/div&gt;
						&lt;div class=&quot;col-4 d-flex align-items-center justify-content-end&quot;&gt;
							&lt;span class=&quot;text-white display-6&quot;&gt;
								&lt;a href=&quot;{{ urlGen()-&gt;adminUrl(&#039;posts?active=2&#039;) }}&quot; class=&quot;text-white&quot;&gt;
								&lt;i class=&quot;fa-regular fa-pen-to-square&quot;&gt;&lt;/i&gt;
								&lt;/a&gt;
							&lt;/span&gt;
						&lt;/div&gt;
					&lt;/div&gt;
				&lt;/div&gt;
			&lt;/div&gt;
			
		&lt;/div&gt;
	@endif
	
	@if (isset($countActivatedPosts))
		&lt;div class=&quot;col-lg-3 col-6&quot;&gt;
			
			&lt;div class=&quot;card border-0 text-bg-success shadow&quot;&gt;
				&lt;div class=&quot;card-body&quot;&gt;
					&lt;div class=&quot;row py-1&quot;&gt;
						&lt;div class=&quot;col-8 d-flex align-items-center&quot;&gt;
							&lt;div&gt;
								&lt;h2 class=&quot;fw-light&quot;&gt;
									&lt;a href=&quot;{{ urlGen()-&gt;adminUrl(&#039;posts?active=1&#039;) }}&quot; class=&quot;text-white&quot; style=&quot;font-weight: bold;&quot;&gt;
									{{ $countActivatedPosts }}
									&lt;/a&gt;
								&lt;/h2&gt;
								&lt;h6 class=&quot;text-white&quot;&gt;
									&lt;a href=&quot;{{ urlGen()-&gt;adminUrl(&#039;posts?active=1&#039;) }}&quot; class=&quot;text-white&quot;&gt;
									{{ trans(&#039;admin.Activated listings&#039;) }}
									&lt;/a&gt;
								&lt;/h6&gt;
							&lt;/div&gt;
						&lt;/div&gt;
						&lt;div class=&quot;col-4 d-flex align-items-center justify-content-end&quot;&gt;
							&lt;span class=&quot;text-white display-6&quot;&gt;
								&lt;a href=&quot;{{ urlGen()-&gt;adminUrl(&#039;posts?active=1&#039;) }}&quot; class=&quot;text-white&quot;&gt;
								&lt;i class=&quot;fa-regular fa-circle-check&quot;&gt;&lt;/i&gt;
								&lt;/a&gt;
							&lt;/span&gt;
						&lt;/div&gt;
					&lt;/div&gt;
				&lt;/div&gt;
			&lt;/div&gt;
			
		&lt;/div&gt;
	@endif
	
	@if (isset($countUsers))
		&lt;div class=&quot;col-lg-3 col-6&quot;&gt;
			
			&lt;div class=&quot;card border-0 text-bg-info shadow&quot;&gt;
				&lt;div class=&quot;card-body&quot;&gt;
					&lt;div class=&quot;row py-1&quot;&gt;
						&lt;div class=&quot;col-8 d-flex align-items-center&quot;&gt;
							&lt;div&gt;
								&lt;h2 class=&quot;fw-light&quot;&gt;
									&lt;a href=&quot;{{ urlGen()-&gt;adminUrl(&#039;users&#039;) }}&quot; class=&quot;text-white&quot; style=&quot;font-weight: bold;&quot;&gt;
									{{ $countUsers }}
									&lt;/a&gt;
								&lt;/h2&gt;
								&lt;h6 class=&quot;text-white&quot;&gt;
									&lt;a href=&quot;{{ urlGen()-&gt;adminUrl(&#039;users&#039;) }}&quot; class=&quot;text-white&quot;&gt;
									{{ mb_ucfirst(trans(&#039;admin.users&#039;)) }}
									&lt;/a&gt;
								&lt;/h6&gt;
							&lt;/div&gt;
						&lt;/div&gt;
						&lt;div class=&quot;col-4 d-flex align-items-center justify-content-end&quot;&gt;
							&lt;span class=&quot;text-white display-6&quot;&gt;
								&lt;a href=&quot;{{ urlGen()-&gt;adminUrl(&#039;users&#039;) }}&quot; class=&quot;text-white&quot;&gt;
								&lt;i class=&quot;fa-regular fa-circle-user&quot;&gt;&lt;/i&gt;
								&lt;/a&gt;
							&lt;/span&gt;
						&lt;/div&gt;
					&lt;/div&gt;
				&lt;/div&gt;
			&lt;/div&gt;
			
		&lt;/div&gt;
	@endif
	
	@if (isset($countCountries))
		&lt;div class=&quot;col-lg-3 col-6&quot;&gt;
			
			&lt;div class=&quot;card border-0 text-bg-dark text-white shadow&quot;&gt;
				&lt;div class=&quot;card-body&quot;&gt;
					&lt;div class=&quot;row py-1&quot;&gt;
						&lt;div class=&quot;col-8 d-flex align-items-center&quot;&gt;
							&lt;div&gt;
								&lt;h2 class=&quot;fw-light&quot;&gt;
									&lt;a href=&quot;{{ urlGen()-&gt;adminUrl(&#039;countries&#039;) }}&quot; class=&quot;text-white&quot; style=&quot;font-weight: bold;&quot;&gt;
									{{ $countCountries }}
									&lt;/a&gt;
								&lt;/h2&gt;
								&lt;h6 class=&quot;text-white&quot;&gt;
									&lt;a href=&quot;{{ urlGen()-&gt;adminUrl(&#039;countries&#039;) }}&quot; class=&quot;text-white&quot;&gt;
									{{ trans(&#039;admin.Activated countries&#039;) }}
									&lt;/a&gt;
									&lt;span class=&quot;badge bg-body-secondary text-dark&quot;
										  data-bs-placement=&quot;bottom&quot;
										  data-bs-toggle=&quot;tooltip&quot;
										  type=&quot;button&quot;
										  title=&quot;{!! trans(&#039;admin.launch_your_website_for_several_countries&#039;) . &#039; &#039; . trans(&#039;admin.disabling_or_removing_a_country_info&#039;) !!}&quot;
									&gt;
										{{ trans(&#039;admin.Help&#039;) }} &lt;i class=&quot;fa-regular fa-life-ring&quot;&gt;&lt;/i&gt;
									&lt;/span&gt;
								&lt;/h6&gt;
							&lt;/div&gt;
						&lt;/div&gt;
						&lt;div class=&quot;col-4 d-flex align-items-center justify-content-end&quot;&gt;
							&lt;span class=&quot;text-white display-6&quot;&gt;
								&lt;a href=&quot;{{ urlGen()-&gt;adminUrl(&#039;countries&#039;) }}&quot; class=&quot;text-white&quot;&gt;
								&lt;i class=&quot;fa-solid fa-globe&quot;&gt;&lt;/i&gt;
								&lt;/a&gt;
							&lt;/span&gt;
						&lt;/div&gt;
					&lt;/div&gt;
				&lt;/div&gt;
			&lt;/div&gt;
			
		&lt;/div&gt;
	@endif
&lt;/div&gt;

@push(&#039;dashboard_styles&#039;)
@endpush

@push(&#039;dashboard_scripts&#039;)
@endpush


<hr>
<!-- PEDROO_NEXT_FILE: /ads/resources/views/admin/js/menu-item.blade.php -->
<!-- PEDROO_NEXT_DIR: /ads/resources/views/admin/dashboard/charts -->

</body>
</html>