<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>/ads/resources/views/helpers/titles/title-3.blade.php</title>
<style>
body { font-family: monospace; white-space: pre; }
</style>
</head>
<body>
@php
	$title ??= &#039;Page Title&#039;;
	$titleClass ??= &#039;h1 mb-0&#039;;
	$titleStyle ??= null;
	$linesWrapperClass ??= &#039;mb-4&#039;;
	$line1Class ??= &#039;w-50 border-2 border-dark opacity-75 mt-0 mb-2&#039;;
	$line2Class ??= &#039;w-25 border-2 border-dark opacity-75 mt-0&#039;;
	
	$titleClass = !empty($titleClass) ? &#039; &#039; . $titleClass : &#039;&#039;;
	$titleStyle = !empty($titleStyle) ? &#039; style=&quot;&#039; . $titleStyle . &#039;&quot;&#039; : &#039;&#039;;
	$linesWrapperClass = !empty($linesWrapperClass) ? &#039; &#039; . $linesWrapperClass : &#039;&#039;;
@endphp
&lt;h1 class=&quot;text-center{{ $titleClass }}&quot;{!! $titleStyle !!}&gt;
	{!! $title !!}
&lt;/h1&gt;
&lt;div class=&quot;d-flex flex-column align-items-center{{ $linesWrapperClass }}&quot;&gt;
	&lt;hr class=&quot;{{ $line1Class }}&quot;&gt;
	&lt;hr class=&quot;{{ $line2Class }}&quot;&gt;
&lt;/div&gt;


<hr>
<!-- PEDROO_NEXT_FILE: /ads/resources/views/helpers/titles/title-4.blade.php -->
<!-- PEDROO_NEXT_DIR: /ads/resources/views/scribe -->

</body>
</html>