<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>/ads/resources/views/helpers/titles/title-5.blade.php</title>
<style>
body { font-family: monospace; white-space: pre; }
</style>
</head>
<body>
@php
	$wrapperClass ??= &#039;my-4&#039;;
	$title ??= &#039;Section Title&#039;;
	$titleClass ??= &#039;px-3 m-0 text-muted small text-uppercase&#039;;
	$titleStyle ??= null;
	$lineClass ??= &#039;border-top&#039;;
	
	$wrapperClass = !empty($wrapperClass) ? &#039; &#039; . $wrapperClass : &#039;&#039;;
	$titleStyle = !empty($titleStyle) ? &#039; style=&quot;&#039; . $titleStyle . &#039;&quot;&#039; : &#039;&#039;;
	$lineClass = !empty($lineClass) ? &#039; &#039; . $lineClass : &#039;&#039;;
@endphp
&lt;div class=&quot;d-flex align-items-center{{ $wrapperClass }}&quot;&gt;
	&lt;div class=&quot;flex-grow-1{{ $lineClass }}&quot;&gt;&lt;/div&gt;
	&lt;h2 class=&quot;{{ $titleClass }}&quot;{!! $titleStyle !!}&gt;
		{!! $title !!}
	&lt;/h2&gt;
	&lt;div class=&quot;flex-grow-1{{ $lineClass }}&quot;&gt;&lt;/div&gt;
&lt;/div&gt;


<hr>
<!-- PEDROO_NEXT_FILE: /ads/resources/views/scribe/index.blade.php -->
<!-- PEDROO_NEXT_DIR: /ads/resources/views/scribe -->

</body>
</html>