<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>/ads/resources/views/helpers/titles/title-4.blade.php</title>
<style>
body { font-family: monospace; white-space: pre; }
</style>
</head>
<body>
@php
	$title ??= &#039;Page Title&#039;;
	$titleClass ??= &#039;h1 mb-1&#039;;
	$titleStyle ??= null;
	$bottomWrapperClass ??= &#039;mb-4&#039;;
	$subTitle ??= &#039;&lt;i class=&quot;bi bi-star-fill&quot;&gt;&lt;/i&gt;&#039;; // ★ | Section Title
	$subTitleClass ??= &#039;fs-3 px-3 text-primary&#039;;
	$subTitleStyle ??= null;
	$lineClass ??= &#039;border-1 border-secondary opacity-25&#039;;
	
	$titleClass = !empty($titleClass) ? &#039; &#039; . $titleClass : &#039;&#039;;
	$titleStyle = !empty($titleStyle) ? &#039; style=&quot;&#039; . $titleStyle . &#039;&quot;&#039; : &#039;&#039;;
	$bottomWrapperClass = !empty($bottomWrapperClass) ? &#039; &#039; . $bottomWrapperClass : &#039;&#039;;
	$subTitleStyle = !empty($subTitleStyle) ? &#039; style=&quot;&#039; . $subTitleStyle . &#039;&quot;&#039; : &#039;&#039;;
	$lineClass = !empty($lineClass) ? &#039; &#039; . $lineClass : &#039;&#039;;
@endphp
&lt;h1 class=&quot;text-center{{ $titleClass }}&quot;{!! $titleStyle !!}&gt;
	{!! $title !!}
&lt;/h1&gt;
&lt;div class=&quot;d-flex align-items-center justify-content-center{{ $bottomWrapperClass }}&quot;&gt;
	&lt;hr class=&quot;flex-grow-1{{ $lineClass }}&quot;&gt;
	&lt;span class=&quot;{{ $subTitleClass }}&quot;&gt;{!! $subTitle !!}&lt;/span&gt;
	&lt;hr class=&quot;flex-grow-1{{ $lineClass }}&quot;&gt;
&lt;/div&gt;


<hr>
<!-- PEDROO_NEXT_FILE: /ads/resources/views/helpers/titles/title-5.blade.php -->
<!-- PEDROO_NEXT_DIR: /ads/resources/views/scribe -->

</body>
</html>