<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>/ads/resources/views/front/post/createOrEdit/singleStep/partials/packages.blade.php</title>
<style>
body { font-family: monospace; white-space: pre; }
</style>
</head>
<body>
@php
	$packages ??= collect();
	$paymentMethods ??= collect();
	
	$selectedPackage ??= null;
	$currentPackagePrice = $selectedPackage-&gt;price ?? 0;
	$noPackageOrPremiumOneSelected ??= true;
	
	$titlePaddingX = isSingleStepFormEnabled() ? &#039; px-2&#039; : &#039;&#039;;
@endphp
@if ($paymentMethods-&gt;count() &gt; 0 &amp;&amp; $noPackageOrPremiumOneSelected)
	@if (!empty($selectedPackage))
		
		&lt;div class=&quot;my-4 col-md-12&quot;&gt;
			&lt;h5 class=&quot;w-100 mb-0 fw-bold fs-5 border rounded p-2&quot;&gt;
				&lt;i class=&quot;bi bi-wallet&quot;&gt;&lt;/i&gt; {{ trans(&#039;global.Payment&#039;) }}
			&lt;/h5&gt;
		&lt;/div&gt;
		
		&lt;div class=&quot;col-md-12 mb-4&quot;&gt;
			&lt;div class=&quot;container bg-body rounded p-2&quot;&gt;
				
				&lt;div class=&quot;row&quot;&gt;
					&lt;div class=&quot;col-sm-12&quot;&gt;
						
						&lt;div class=&quot;form-group mb-0&quot;&gt;
							@include(&#039;front.payment.packages.selected&#039;)
						&lt;/div&gt;
						
					&lt;/div&gt;
				&lt;/div&gt;
				
			&lt;/div&gt;
		&lt;/div&gt;
		
	@else
	
		@if ($packages-&gt;count() &gt; 0)
			&lt;div class=&quot;my-4 col-md-12&quot;&gt;
				&lt;h5 class=&quot;w-100 mb-0 fw-bold fs-5 border rounded p-2&quot;&gt;
					&lt;i class=&quot;bi bi-box&quot;&gt;&lt;/i&gt; {{ trans(&#039;global.Packages&#039;) }}
				&lt;/h5&gt;
			&lt;/div&gt;
			
			&lt;div class=&quot;col-md-12 mb-4&quot;&gt;
				&lt;div class=&quot;container bg-body rounded p-2&quot;&gt;
					
					&lt;div class=&quot;row&quot;&gt;
						&lt;div class=&quot;col-sm-12&quot;&gt;
							@include(&#039;front.payment.packages&#039;)
						&lt;/div&gt;
					&lt;/div&gt;
					
				&lt;/div&gt;
			&lt;/div&gt;
		@endif
		
	@endif
@endif

@section(&#039;after_styles&#039;)
	@parent
@endsection

@section(&#039;after_scripts&#039;)
	@parent
	&lt;script&gt;
		const packageType = &#039;promotion&#039;;
		const formType = &#039;singleStep&#039;;
		const isCreationFormPage = {{ request()-&gt;segment(1) == &#039;create&#039; ? &#039;true&#039; : &#039;false&#039; }};
	&lt;/script&gt;
	@include(&#039;front.common.js.payment-js&#039;)
@endsection


<hr>
<!-- PEDROO_NEXT_FILE: /ads/resources/views/front/post/partials/notification.blade.php -->
<!-- PEDROO_NEXT_DIR: /ads/resources/views/front/post/partials -->

</body>
</html>