<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>/ads/resources/views/helpers/forms/fields/datetime.blade.php</title>
<style>
body { font-family: monospace; white-space: pre; }
</style>
</head>
<body>
{{-- html5 datetime input --}}
@php
	$layout ??= &#039;default&#039;; // default, horizontal
	$isHorizontal = $layout === &#039;horizontal&#039;;
	$colLabel ??= &#039;col-md-3&#039;;
    $colField ??= &#039;col-md-9&#039;;
	
	$viewName = &#039;datetime&#039;;
	$type = &#039;datetime-local&#039;;
	$label ??= null;
	$id ??= null;
	$name ??= null;
	$value ??= null;
	$default ??= null;
	$required ??= false;
	$hint ??= null;
	
	$dotSepName = arrayFieldToDotNotation($name);
	$id = !empty($id) ? $id : str_replace(&#039;.&#039;, &#039;-&#039;, $dotSepName);
	
	$value = $value ?? ($default ?? null);
	$value = old($dotSepName, $value);
	
	// If the column has been cast to Carbon or Date (using attribute casting),
	// Get the value as a date string
	$value = ($value instanceof \Carbon\Carbon) ? $value-&gt;toDateTimeString() : $value;
	
	try {
		$date = new \DateTime($value, new \DateTimeZone(&#039;UTC&#039;));
		$value = $date-&gt;format(&#039;Y-m-d\TH:i:s&#039;);
	} catch (Exception $e) {
		$value = date(&#039;Y-m-d\TH:i:s&#039;, strtotime($value));
	}
@endphp
&lt;div @include(&#039;helpers.forms.attributes.field-wrapper&#039;)&gt;
	@include(&#039;helpers.forms.partials.label&#039;)
	
	@if ($isHorizontal)
		&lt;div class=&quot;{{ $colField }}&quot;&gt;
			@endif
			
			&lt;input
					type=&quot;datetime-local&quot;
					name=&quot;{{ $name }}&quot;
					value=&quot;{{ $value }}&quot;
					@include(&#039;helpers.forms.attributes.field&#039;)
			&gt;
			
			@include(&#039;helpers.forms.partials.hint&#039;)
			@include(&#039;helpers.forms.partials.validation&#039;)
			
			@if ($isHorizontal)
		&lt;/div&gt;
	@endif
&lt;/div&gt;
@include(&#039;helpers.forms.partials.newline&#039;)


<hr>
<!-- PEDROO_NEXT_FILE: /ads/resources/views/helpers/forms/fields/email.blade.php -->
<!-- PEDROO_NEXT_DIR: /ads/resources/views/helpers/forms/partials -->

</body>
</html>