<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>/ads/resources/views/helpers/forms/fields/icon-picker.blade.php</title>
<style>
body { font-family: monospace; white-space: pre; }
</style>
</head>
<body>
{{-- icon picker input --}}
@php
	$layout ??= &#039;default&#039;; // default, horizontal
	$isHorizontal = $layout === &#039;horizontal&#039;;
	$colLabel ??= &#039;col-md-3&#039;;
    $colField ??= &#039;col-md-9&#039;;
	
	$viewName = &#039;icon-picker&#039;;
	$type = &#039;iconpicker&#039;;
	$label ??= null;
	$id ??= null;
	$name ??= null;
	$value ??= null;
	$default ??= null;
	$required ??= false;
	$hint ??= null;
	
	$pluginOptions ??= [];
	
	$iconSet = $pluginOptions[&#039;iconSet&#039;] ?? &#039;fontawesome6&#039;;
	$iconVersion = $pluginOptions[&#039;iconVersion&#039;] ?? &#039;lastest&#039;;
	$searchText = $pluginOptions[&#039;searchText&#039;] ?? &#039;Search icon&#039;;
	$iconSetArray = $pluginOptions[&#039;iconSetArray&#039;] ?? [ // Supported Icons Fonts
		&#039;bootstrapfontawesome&#039;,
		&#039;bootstrapicons&#039;,
		&#039;elusiveicons&#039;,
		&#039;flagicon&#039;,
		&#039;fontawesome4&#039;,
		&#039;fontawesome5&#039;,
		&#039;fontawesome6&#039;,
		&#039;glyphicon&#039;, // Bootstrap 3
		&#039;ionicons&#039;,
		&#039;mapicons&#039;,
		&#039;materialdesign&#039;,
		&#039;octicons&#039;,
		&#039;typicons&#039;,
		&#039;weathericons&#039;,
	];
	
	$dotSepName = arrayFieldToDotNotation($name);
	$id = !empty($id) ? $id : str_replace(&#039;.&#039;, &#039;-&#039;, $dotSepName);
	
	$value = $value ?? ($default ?? null);
	$value = old($dotSepName, $value);
	
	// Options Integrity
	$iconSet = in_array($iconSet, $iconSetArray) ? $iconSet : &#039;fontawesome6&#039;;
	$iconVersion = !empty($iconVersion) ? $iconVersion : &#039;lastest&#039;;
	$searchText = !empty($searchText) ? $searchText : &#039;Search icon&#039;;
@endphp
&lt;div @include(&#039;helpers.forms.attributes.field-wrapper&#039;)&gt;
	@include(&#039;helpers.forms.partials.label&#039;)
	
	@if ($isHorizontal)
		&lt;div class=&quot;{{ $colField }}&quot;&gt;
			@endif
			
			&lt;div&gt;
				&lt;button class=&quot;btn btn-secondary&quot;
				        role=&quot;iconpicker&quot;
				        data-icon=&quot;{{ $value }}&quot;
				        data-iconset=&quot;{{ $iconSet }}&quot;
				        data-iconset-version=&quot;{{ $iconVersion }}&quot;
				        data-search-text=&quot;{{ $searchText }}&quot;
				&gt;&lt;/button&gt;
				&lt;input
						type=&quot;hidden&quot;
						name=&quot;{{ $name }}&quot;
						value=&quot;{{ $value }}&quot;
						@include(&#039;helpers.forms.attributes.field&#039;)
				&gt;
			&lt;/div&gt;
			
			@include(&#039;helpers.forms.partials.hint&#039;)
			@include(&#039;helpers.forms.partials.validation&#039;)
			
			@if ($isHorizontal)
		&lt;/div&gt;
	@endif
&lt;/div&gt;
@include(&#039;helpers.forms.partials.newline&#039;)

@php
	$viewName = str($viewName)-&gt;replace(&#039;-&#039;, &#039;_&#039;)-&gt;toString();
@endphp

@if ($iconSet == &#039;bootstrapfontawesome&#039;)
	
	@pushonce(&quot;{$viewName}_helper_styles&quot;)
		&lt;link rel=&quot;stylesheet&quot; href=&quot;{{ asset(&#039;assets/fonts/bootstrapicons/1.13.1/css/bootstrap-icons.css&#039;) }}&quot;/&gt;
		&lt;link rel=&quot;stylesheet&quot; href=&quot;{{ asset(&#039;assets/fonts/fontawesome6/6.5.2/css/all.min.css&#039;) }}&quot;/&gt;
	@endpushonce
	@pushonce(&quot;{$viewName}_helper_scripts&quot;)
		&lt;script type=&quot;text/javascript&quot; src=&quot;{{ asset(&#039;assets/plugins/bootstrap-iconpicker/js/iconset/iconset-bootstrapfontawesome-all.js&#039;) }}&quot;&gt;&lt;/script&gt;
	@endpushonce

@elseif ($iconSet == &#039;bootstrapicons&#039;)
	
	@pushonce(&quot;{$viewName}_helper_styles&quot;)
		&lt;link rel=&quot;stylesheet&quot; href=&quot;{{ asset(&#039;assets/fonts/bootstrapicons/1.13.1/css/bootstrap-icons.css&#039;) }}&quot;/&gt;
	@endpushonce
	@pushonce(&quot;{$viewName}_helper_scripts&quot;)
		&lt;script type=&quot;text/javascript&quot; src=&quot;{{ asset(&#039;assets/plugins/bootstrap-iconpicker/js/iconset/iconset-bootstrapicons-all.js&#039;) }}&quot;&gt;&lt;/script&gt;
	@endpushonce

@elseif ($iconSet == &#039;elusiveicons&#039;)
	
	@pushonce(&quot;{$viewName}_helper_styles&quot;)
		&lt;link rel=&quot;stylesheet&quot; href=&quot;{{ asset(&#039;assets/fonts/elusiveicons/2.0.0/css/elusive-icons.min.css&#039;) }}&quot;/&gt;
	@endpushonce
	@pushonce(&quot;{$viewName}_helper_scripts&quot;)
		&lt;script type=&quot;text/javascript&quot; src=&quot;{{ asset(&#039;assets/plugins/bootstrap-iconpicker/js/iconset/iconset-elusiveicons-all.js&#039;) }}&quot;&gt;&lt;/script&gt;
	@endpushonce

@elseif ($iconSet == &#039;flagicon&#039;)
	
	@pushonce(&quot;{$viewName}_helper_styles&quot;)
		&lt;link rel=&quot;stylesheet&quot; href=&quot;{{ asset(&#039;assets/fonts/flagicon/3.5.0/css/flag-icon.min.css&#039;) }}&quot;/&gt;
	@endpushonce
	@pushonce(&quot;{$viewName}_helper_scripts&quot;)
		&lt;script type=&quot;text/javascript&quot; src=&quot;{{ asset(&#039;assets/plugins/bootstrap-iconpicker/js/iconset/iconset-flagicon-all.js&#039;) }}&quot;&gt;&lt;/script&gt;
	@endpushonce

@elseif ($iconSet == &#039;fontawesome4&#039;)
	
	@pushonce(&quot;{$viewName}_helper_styles&quot;)
		&lt;link rel=&quot;stylesheet&quot; href=&quot;{{ asset(&#039;assets/fonts/fontawesome4/4.7.0/css/font-awesome.min.css&#039;) }}&quot;/&gt;
	@endpushonce
	@pushonce(&quot;{$viewName}_helper_scripts&quot;)
		&lt;script type=&quot;text/javascript&quot; src=&quot;{{ asset(&#039;assets/plugins/bootstrap-iconpicker/js/iconset/iconset-fontawesome4-all.js&#039;) }}&quot;&gt;&lt;/script&gt;
	@endpushonce

@elseif ($iconSet == &#039;fontawesome5&#039;)
	
	@pushonce(&quot;{$viewName}_helper_styles&quot;)
		&lt;link rel=&quot;stylesheet&quot; href=&quot;{{ asset(&#039;assets/fonts/fontawesome5/5.15.4/css/all.min.css&#039;) }}&quot;/&gt;
	@endpushonce
	@pushonce(&quot;{$viewName}_helper_scripts&quot;)
		&lt;script type=&quot;text/javascript&quot; src=&quot;{{ asset(&#039;assets/plugins/bootstrap-iconpicker/js/iconset/iconset-fontawesome5-all.js&#039;) }}&quot;&gt;&lt;/script&gt;
	@endpushonce

@elseif ($iconSet == &#039;fontawesome6&#039;)
	
	@pushonce(&quot;{$viewName}_helper_styles&quot;)
		&lt;link rel=&quot;stylesheet&quot; href=&quot;{{ asset(&#039;assets/fonts/fontawesome6/6.5.2/css/all.min.css&#039;) }}&quot;/&gt;
	@endpushonce
	@pushonce(&quot;{$viewName}_helper_scripts&quot;)
		&lt;script type=&quot;text/javascript&quot; src=&quot;{{ asset(&#039;assets/plugins/bootstrap-iconpicker/js/iconset/iconset-fontawesome6-all.js&#039;) }}&quot;&gt;&lt;/script&gt;
	@endpushonce

@elseif ($iconSet == &#039;glyphicon&#039;)
	
	@pushonce(&quot;{$viewName}_helper_scripts&quot;)
		&lt;script type=&quot;text/javascript&quot; src=&quot;{{ asset(&#039;assets/plugins/bootstrap-iconpicker/js/iconset/iconset-glyphicon-all.js&#039;) }}&quot;&gt;&lt;/script&gt;
	@endpushonce

@elseif ($iconSet == &#039;ionicons&#039;)
	
	@pushonce(&quot;{$viewName}_helper_styles&quot;)
		&lt;link rel=&quot;stylesheet&quot; href=&quot;{{ asset(&#039;assets/fonts/ionicons/2.0.1/css/ionicons.min.css&#039;) }}&quot;/&gt;
	@endpushonce
	@pushonce(&quot;{$viewName}_helper_scripts&quot;)
		&lt;script type=&quot;text/javascript&quot; src=&quot;{{ asset(&#039;assets/plugins/bootstrap-iconpicker/js/iconset/iconset-ionicons-all.js&#039;) }}&quot;&gt;&lt;/script&gt;
	@endpushonce

@elseif ($iconSet == &#039;mapicons&#039;)
	
	@pushonce(&quot;{$viewName}_helper_styles&quot;)
		&lt;link rel=&quot;stylesheet&quot; href=&quot;{{ asset(&#039;assets/fonts/mapicons/2.1.0/css/map-icons.min.css&#039;) }}&quot;/&gt;
	@endpushonce
	@pushonce(&quot;{$viewName}_helper_scripts&quot;)
		&lt;script type=&quot;text/javascript&quot; src=&quot;{{ asset(&#039;assets/plugins/bootstrap-iconpicker/js/iconset/iconset-mapicons-all.js&#039;) }}&quot;&gt;&lt;/script&gt;
	@endpushonce

@elseif ($iconSet == &#039;materialdesign&#039;)
	
	@pushonce(&quot;{$viewName}_helper_styles&quot;)
		&lt;link rel=&quot;stylesheet&quot; href=&quot;{{ asset(&#039;assets/fonts/materialdesign/2.2.0/css/material-design-iconic-font.min.css&#039;) }}&quot;/&gt;
	@endpushonce
	@pushonce(&quot;{$viewName}_helper_scripts&quot;)
		&lt;script type=&quot;text/javascript&quot; src=&quot;{{ asset(&#039;assets/plugins/bootstrap-iconpicker/js/iconset/iconset-materialdesign-all.js&#039;) }}&quot;&gt;&lt;/script&gt;
	@endpushonce

@elseif ($iconSet == &#039;octicons&#039;)
	
	@pushonce(&quot;{$viewName}_helper_styles&quot;)
		&lt;link rel=&quot;stylesheet&quot; href=&quot;{{ asset(&#039;assets/fonts/octicons/4.4.0/css/octicons.min.css&#039;) }}&quot;/&gt;
	@endpushonce
	@pushonce(&quot;{$viewName}_helper_scripts&quot;)
		&lt;script type=&quot;text/javascript&quot; src=&quot;{{ asset(&#039;assets/plugins/bootstrap-iconpicker/js/iconset/iconset-octicons-all.js&#039;) }}&quot;&gt;&lt;/script&gt;
	@endpushonce

@elseif ($iconSet == &#039;typicons&#039;)
	
	@pushonce(&quot;{$viewName}_helper_styles&quot;)
		&lt;link rel=&quot;stylesheet&quot; href=&quot;{{ asset(&#039;assets/fonts/typicons/2.0.9/css/typicons.min.css&#039;) }}&quot;/&gt;
	@endpushonce
	@pushonce(&quot;{$viewName}_helper_scripts&quot;)
		&lt;script type=&quot;text/javascript&quot; src=&quot;{{ asset(&#039;assets/plugins/bootstrap-iconpicker/js/iconset/iconset-typicons-all.js&#039;) }}&quot;&gt;&lt;/script&gt;
	@endpushonce

@elseif ($iconSet == &#039;weathericons&#039;)
	
	@pushonce(&quot;{$viewName}_helper_styles&quot;)
		&lt;link rel=&quot;stylesheet&quot; href=&quot;{{ asset(&#039;assets/fonts/weathericons/2.0.10/css/weather-icons.min.css&#039;) }}&quot;/&gt;
	@endpushonce
	@pushonce(&quot;{$viewName}_helper_scripts&quot;)
		&lt;script type=&quot;text/javascript&quot; src=&quot;{{ asset(&#039;assets/plugins/bootstrap-iconpicker/js/iconset/iconset-weathericons-all.js&#039;) }}&quot;&gt;&lt;/script&gt;
	@endpushonce

@else
	
	@pushonce(&quot;{$viewName}_helper_styles&quot;)
		&lt;link rel=&quot;stylesheet&quot; href=&quot;{{ asset(&#039;assets/fonts/fontawesome6/6.5.2/css/all.min.css&#039;) }}&quot;/&gt;
	@endpushonce
	@pushonce(&quot;{$viewName}_helper_scripts&quot;)
		&lt;script type=&quot;text/javascript&quot; src=&quot;{{ asset(&#039;assets/plugins/bootstrap-iconpicker/js/iconset/iconset-fontawesome6-all.js&#039;) }}&quot;&gt;&lt;/script&gt;
	@endpushonce

@endif

{{-- FIELD EXTRA CSS  --}}
@pushonce(&quot;{$viewName}_helper_styles&quot;)
	{{-- Iconpicker --}}
	&lt;link rel=&quot;stylesheet&quot; href=&quot;{{ asset(&#039;assets/plugins/bootstrap-iconpicker/css/bootstrap-iconpicker.css&#039;) }}&quot;/&gt;
@endpushonce

{{-- FIELD EXTRA JS --}}
@pushonce(&quot;{$viewName}_helper_scripts&quot;)
	&lt;script type=&quot;text/javascript&quot; src=&quot;{{ asset(&#039;assets/plugins/bootstrap-iconpicker/bootstrap/4.1.3/js/bootstrap.bundle.min.js&#039;) }}&quot;&gt;&lt;/script&gt;
	{{-- Iconpicker Bundle --}}
	&lt;script type=&quot;text/javascript&quot; src=&quot;{{ asset(&#039;assets/plugins/bootstrap-iconpicker/js/bootstrap-iconpicker.js&#039;) }}&quot;&gt;&lt;/script&gt;
	
	{{-- Iconpicker - set hidden input value --}}
	&lt;script&gt;
		onDocumentReady((event) =&gt; {
			$(&#039;button[role=iconpicker]&#039;).on(&#039;change&#039;, function (e) {
				$(this).siblings(&#039;input[type=hidden]&#039;).val(e.icon);
			});
		});
	&lt;/script&gt;
@endpushonce


<hr>
<!-- PEDROO_NEXT_FILE: /ads/resources/views/helpers/forms/fields/image.blade.php -->
<!-- PEDROO_NEXT_DIR: /ads/resources/views/helpers/forms/partials -->

</body>
</html>