<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>/ads/resources/views/helpers/forms/fields/upload-multiple.blade.php</title>
<style>
body { font-family: monospace; white-space: pre; }
</style>
</head>
<body>
{{-- upload multiple input --}}
@php
	use App\Helpers\Common\Files\Storage\StorageDisk;
	use Illuminate\Support\Facades\Storage;
	
	$layout ??= &#039;default&#039;; // default, horizontal
	$isHorizontal = $layout === &#039;horizontal&#039;;
	$colLabel ??= &#039;col-md-3&#039;;
    $colField ??= &#039;col-md-9&#039;;
	
	$viewName = &#039;upload-multiple&#039;;
	$type = &#039;file&#039;;
	$label ??= null;
	$id ??= null;
	$name ??= null;
	$value ??= [];
	$default ??= [];
	$required ??= false;
	$attributes ??= [];
	
	$attributes = array_merge($attributes, [&#039;multiple&#039; =&gt; true]);
	$diskName ??= StorageDisk::getDiskName();
	
	$dotSepName = arrayFieldToDotNotation($name);
	$id = !empty($id) ? $id : str_replace(&#039;.&#039;, &#039;-&#039;, $dotSepName);
	
	$value = $value ?? ($default ?? []);
	// $value = old($dotSepName, $value);
	
	if (!empty($value) &amp;&amp; is_array($value)) {
		$value = collect($value)
			-&gt;map(function ($path) use ($diskName) {
				$url = rescue(fn () =&gt; Storage::disk($diskName)-&gt;url($path));
				return [
					&#039;path&#039; =&gt; $path,
					&#039;url&#039;  =&gt; $url,
				];
			})-&gt;toArray();
	}
@endphp
&lt;div @include(&#039;helpers.forms.attributes.field-wrapper&#039;)&gt;
	@include(&#039;helpers.forms.partials.label&#039;)
	
	@if ($isHorizontal)
		&lt;div class=&quot;{{ $colField }}&quot;&gt;
			@endif
			
			{{-- Show the file name and a &quot;Clear&quot; button on EDIT form --}}
			@if (!empty($value))
				&lt;div class=&quot;well well-sm file-preview-container&quot;&gt;
					@foreach($value as $key =&gt; $file)
						@php
							$url = $file[&#039;url&#039;] ?? null;
							$path = $file[&#039;path&#039;] ?? null;
						@endphp
						&lt;div class=&quot;file-preview&quot;&gt;
							&lt;a target=&quot;_blank&quot; href=&quot;{{ $url }}&quot;&gt;{{ $path }}&lt;/a&gt;
							&lt;a id=&quot;{{ $name }}_{{ $key }}_clear_button&quot;
								href=&quot;#&quot;
								class=&quot;btn btn-secondary btn-xs float-end file-clear-button&quot;
								title=&quot;Clear file&quot;
								data-filename=&quot;{{ $path }}&quot;
							&gt;&lt;i class=&quot;fa-solid fa-xmark&quot;&gt;&lt;/i&gt;&lt;/a&gt;
							&lt;div class=&quot;clearfix&quot;&gt;&lt;/div&gt;
						&lt;/div&gt;
					@endforeach
				&lt;/div&gt;
			@endif
			
			{{-- Show the file picker on CREATE form. --}}
			&lt;input name=&quot;{{ $name }}[]&quot; type=&quot;hidden&quot; value=&quot;&quot;&gt;
			&lt;input
					type=&quot;file&quot;
					id=&quot;{{ $name }}-file-input&quot;
					name=&quot;{{ $name }}[]&quot;
					value=&quot;&quot;
					@include(&#039;helpers.forms.attributes.field&#039;, [&#039;attributes&#039; =&gt; $attributes])
			&gt;
			
			@include(&#039;helpers.forms.partials.hint&#039;)
			@include(&#039;helpers.forms.partials.validation&#039;)
			
			@if ($isHorizontal)
		&lt;/div&gt;
	@endif
&lt;/div&gt;
@include(&#039;helpers.forms.partials.newline&#039;)

@php
	$viewName = str($viewName)-&gt;replace(&#039;-&#039;, &#039;_&#039;)-&gt;toString();
@endphp

{{-- FIELD EXTRA JS --}}
{{-- push things in the after_scripts section --}}
@push(&quot;{$viewName}_helper_scripts&quot;)
	&lt;script&gt;
		var fieldName = &#039;{{ $name }}&#039;;
		var fileInputSelector = `#${fieldName}-file-input`;
		
		$(&quot;.file-clear-button&quot;).click(function (e) {
			e.preventDefault();
			
			const container = $(this).parent().parent();
			const parent = $(this).parent();
			
			/* Remove the filename and button */
			parent.remove();
			
			/* If the file container is empty, remove it */
			if ($.trim(container.html()) === &#039;&#039;) {
				container.remove();
			}
			
			const filename = $(this).data(&#039;filename&#039;);
			const clearFieldEl = $(`&lt;input type=&quot;hidden&quot; name=&quot;clear_${fieldName}[]&quot; value=&quot;${filename}&quot;&gt;`);
			clearFieldEl.insertAfter(fileInputSelector);
		});
		
		$(fileInputSelector).change(function () {
			console.log($(this).val());
			/* Remove the hidden input, so that the setXAttribute method is no longer triggered */
			$(this).next(&#039;input[type=hidden]&#039;).remove();
		});
	&lt;/script&gt;
@endpush


<hr>
<!-- PEDROO_NEXT_FILE: /ads/resources/views/helpers/forms/fields/upload.blade.php -->
<!-- PEDROO_NEXT_DIR: /ads/resources/views/helpers/forms/partials -->

</body>
</html>