<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>/ads/resources/views/admin/dashboard/latest-users.blade.php</title>
<style>
body { font-family: monospace; white-space: pre; }
</style>
</head>
<body>
@php
	$authUser ??= null;
@endphp
@if (doesUserHavePermission($authUser, &#039;admin.user.view&#039;) || userHasSuperAdminPermissions())
	&lt;div class=&quot;col-lg-6 col-md-12&quot;&gt;
		&lt;div class=&quot;card rounded-0 border-0 border-top border-primary shadow-sm&quot;&gt;
			&lt;div class=&quot;card-body&quot;&gt;
				
				&lt;div class=&quot;d-md-flex&quot;&gt;
					&lt;div&gt;
						&lt;h4 class=&quot;card-title fw-bold&quot;&gt;
							&lt;span class=&quot;lstick d-inline-block align-middle&quot;&gt;&lt;/span&gt;{{ trans(&#039;admin.Latest Users&#039;) }}
						&lt;/h4&gt;
					&lt;/div&gt;
					&lt;div class=&quot;ms-auto&quot;&gt;
						&lt;a href=&quot;{{ urlGen()-&gt;adminUrl(&#039;users&#039;) }}&quot; class=&quot;btn btn-sm btn-primary rounded shadow float-end ms-1&quot;&gt;
							{{ trans(&#039;admin.View All Users&#039;) }}
						&lt;/a&gt;
					&lt;/div&gt;
				&lt;/div&gt;
				
				&lt;div class=&quot;table-responsive mt-md-3 mt-5 no-wrap&quot;&gt;
					&lt;table class=&quot;table v-middle mb-0&quot;&gt;
						&lt;thead&gt;
						&lt;tr&gt;
							&lt;th class=&quot;border-0&quot;&gt;{{ trans(&#039;admin.ID&#039;) }}&lt;/th&gt;
							&lt;th class=&quot;border-0&quot;&gt;{{ trans(&#039;admin.Name&#039;) }}&lt;/th&gt;
							&lt;th class=&quot;border-0&quot;&gt;{{ mb_ucfirst(trans(&#039;admin.country&#039;)) }}&lt;/th&gt;
							&lt;th class=&quot;border-0&quot;&gt;{{ trans(&#039;admin.Status&#039;) }}&lt;/th&gt;
							&lt;th class=&quot;border-0&quot;&gt;{{ trans(&#039;admin.Date&#039;) }}&lt;/th&gt;
						&lt;/tr&gt;
						&lt;/thead&gt;
						&lt;tbody&gt;
						@if ($latestUsers-&gt;count() &gt; 0)
							@foreach($latestUsers as $user)
								&lt;tr&gt;
									&lt;td class=&quot;td-nowrap&quot;&gt;
										&lt;a href=&quot;{{ urlGen()-&gt;adminUrl(&#039;users/&#039; . $user-&gt;id . &#039;/edit&#039;) }}&quot;&gt;{{ $user-&gt;id }}&lt;/a&gt;
									&lt;/td&gt;
									&lt;td&gt;
										@php
											$url = urlGen()-&gt;adminUrl(&#039;users/&#039; . $user-&gt;id . &#039;/edit&#039;);
										@endphp
										{!! linkStrLimit($url, $user-&gt;name, 35) !!}
									&lt;/td&gt;
									&lt;td class=&quot;td-nowrap&quot;&gt;{!! getCountryFlag($user) !!}&lt;/td&gt;
									&lt;td class=&quot;td-nowrap&quot;&gt;
										@if (isVerifiedUser($user))
											&lt;span class=&quot;badge bg-success fw-normal&quot;&gt;{{ trans(&#039;admin.Activated&#039;) }}&lt;/span&gt;
										@else
											&lt;span class=&quot;badge bg-warning text-white fw-normal&quot;&gt;{{ trans(&#039;admin.Unactivated&#039;) }}&lt;/span&gt;
										@endif
									&lt;/td&gt;
									&lt;td class=&quot;td-nowrap&quot;&gt;
										&lt;div class=&quot;sparkbar&quot; data-color=&quot;#00a65a&quot; data-height=&quot;20&quot;&gt;
											{!! \App\Helpers\Common\Date::format($user-&gt;created_at, &#039;datetime&#039;) !!}
										&lt;/div&gt;
									&lt;/td&gt;
								&lt;/tr&gt;
							@endforeach
						@else
							&lt;tr&gt;
								&lt;td colspan=&quot;5&quot;&gt;
									{{ trans(&#039;admin.No users found&#039;) }}
								&lt;/td&gt;
							&lt;/tr&gt;
						@endif
						&lt;/tbody&gt;
					&lt;/table&gt;
				&lt;/div&gt;
			
			&lt;/div&gt;
		&lt;/div&gt;
	&lt;/div&gt;
@endif

@push(&#039;dashboard_styles&#039;)
	&lt;style&gt;
		.td-nowrap {
			width: 10px;
			white-space: nowrap;
		}
	&lt;/style&gt;
@endpush

@push(&#039;dashboard_scripts&#039;)
@endpush


<hr>
<!-- PEDROO_NEXT_FILE: /ads/resources/views/admin/dashboard/stats-boxes.blade.php -->
<!-- PEDROO_NEXT_DIR: /ads/resources/views/admin/dashboard/charts -->

</body>
</html>