<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>/ads/resources/views/helpers/titles/title-2.blade.php</title>
<style>
body { font-family: monospace; white-space: pre; }
</style>
</head>
<body>
@php
	$title ??= &#039;Page Title&#039;;
	$titleClass ??= &#039;fs-1 fw-bold mb-2&#039;;
	$titleStyle ??= null;
	$lineClass ??= &#039;border-4 border-secondary opacity-75 mb-5&#039;;
	$defaultLineWidth = 80;
	$lineWidth ??= $defaultLineWidth;
	
	$titleClass = !empty($titleClass) ? &#039; &#039; . $titleClass : &#039;&#039;;
	$titleStyle = !empty($titleStyle) ? &#039; style=&quot;&#039; . $titleStyle . &#039;&quot;&#039; : &#039;&#039;;
	$lineClass = !empty($lineClass) ? &#039; &#039; . $lineClass : &#039;&#039;;
	$lineWidth = (!empty($lineWidth) &amp;&amp; is_integer($lineWidth)) ? $lineWidth : $defaultLineWidth;
@endphp
&lt;h1 class=&quot;text-center{{ $titleClass }}&quot;{!! $titleStyle !!}&gt;
	{!! $title !!}
&lt;/h1&gt;
&lt;hr class=&quot;mx-auto{{ $lineClass }}&quot; style=&quot;max-width: {{ $lineWidth }}px;&quot;&gt;


<hr>
<!-- PEDROO_NEXT_FILE: /ads/resources/views/helpers/titles/title-3.blade.php -->
<!-- PEDROO_NEXT_DIR: /ads/resources/views/scribe -->

</body>
</html>