<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>/ads/resources/views/helpers/titles/title-1.blade.php</title>
<style>
body { font-family: monospace; white-space: pre; }
</style>
</head>
<body>
@php
	$wrapperClass ??= &#039;mb-4&#039;;
	$title ??= &#039;Page Title&#039;;
	$titleClass ??= &#039;mb-0 me-3&#039;;
	$titleStyle ??= null;
	$lineClass ??= &#039;border-1 opacity-25&#039;;
	$rightContent ??= &#039;&lt;i class=&quot;bi bi-asterisk ms-3&quot;&gt;&lt;/i&gt;&#039;;
	
	$wrapperClass = !empty($wrapperClass) ? &#039; &#039; . $wrapperClass : &#039;&#039;;
	$titleClass = !empty($titleClass) ? &#039; &#039; . $titleClass : &#039;&#039;;
	$titleStyle = !empty($titleStyle) ? &#039; style=&quot;&#039; . $titleStyle . &#039;&quot;&#039; : &#039;&#039;;
	$lineClass = !empty($lineClass) ? &#039; &#039; . $lineClass : &#039;&#039;;
@endphp
&lt;div class=&quot;d-flex align-items-center{{ $wrapperClass }}&quot;&gt;
	&lt;h1 class=&quot;{{ $titleClass }}&quot;{!! $titleStyle !!}&gt;
		{!! $title !!}
	&lt;/h1&gt;
	&lt;div class=&quot;flex-grow-1&quot;&gt;
		&lt;hr class=&quot;border{{ $lineClass }}&quot;&gt;
	&lt;/div&gt;
	{!! $rightContent !!}
&lt;/div&gt;


<hr>
<!-- PEDROO_NEXT_FILE: /ads/resources/views/helpers/titles/title-2.blade.php -->
<!-- PEDROO_NEXT_DIR: /ads/resources/views/scribe -->

</body>
</html>