<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>/ads/resources/views/admin/addons.blade.php</title>
<style>
body { font-family: monospace; white-space: pre; }
</style>
</head>
<body>
@extends(&#039;admin.layouts.master&#039;)

@section(&#039;after_styles&#039;)
    {{-- Ladda Buttons (loading buttons) --}}
    &lt;link href=&quot;{{ asset(&#039;assets/plugins/ladda/ladda-themeless.min.css&#039;) }}&quot; rel=&quot;stylesheet&quot; type=&quot;text/css&quot; /&gt;
@endsection

@section(&#039;header&#039;)
	&lt;div class=&quot;row page-titles&quot;&gt;
		&lt;div class=&quot;col-md-6 col-12 align-self-center&quot;&gt;
			&lt;h3 class=&quot;mb-0 fw-bold&quot;&gt;
				{{ trans(&#039;admin.Addons&#039;) }}
			&lt;/h3&gt;
		&lt;/div&gt;
		&lt;div class=&quot;col-md-6 col-12 align-self-center d-none d-md-flex justify-content-end&quot;&gt;
			&lt;ol class=&quot;breadcrumb mb-0 p-0 bg-transparent&quot;&gt;
				&lt;li class=&quot;breadcrumb-item&quot;&gt;&lt;a href=&quot;{{ urlGen()-&gt;adminUrl() }}&quot;&gt;{{ trans(&#039;admin.dashboard&#039;) }}&lt;/a&gt;&lt;/li&gt;
				&lt;li class=&quot;breadcrumb-item active d-flex align-items-center&quot;&gt;{{ trans(&#039;admin.Addons&#039;) }}&lt;/li&gt;
			&lt;/ol&gt;
		&lt;/div&gt;
	&lt;/div&gt;
@endsection

@section(&#039;content&#039;)
    {{-- Default box --}}
	&lt;div class=&quot;row&quot;&gt;
		&lt;div class=&quot;col-12&quot;&gt;
			
			&lt;div class=&quot;card border-0&quot;&gt;
				&lt;div class=&quot;card-header border-bottom&quot;&gt;
					&lt;h4 class=&quot;mb-0&quot;&gt;{{ trans(&#039;admin.existing_addons&#039;) }}&lt;/h4&gt;
				&lt;/div&gt;
				
				&lt;div class=&quot;card-body&quot;&gt;
					&lt;table class=&quot;table table-hover table-condensed&quot;&gt;
						&lt;thead&gt;
						&lt;tr&gt;
							&lt;th&gt;#&lt;/th&gt;
							&lt;th&gt;{{ trans(&#039;admin.Name&#039;) }}&lt;/th&gt;
							&lt;th&gt;{{ trans(&#039;admin.Description&#039;) }}&lt;/th&gt;
							&lt;th class=&quot;text-end&quot;&gt;{{ trans(&#039;admin.Version&#039;) }}&lt;/th&gt;
							&lt;th class=&quot;text-end&quot;&gt;{{ mb_ucfirst(trans(&#039;admin.options&#039;)) }}&lt;/th&gt;
							&lt;th class=&quot;text-end&quot;&gt;{{ trans(&#039;admin.actions&#039;) }}&lt;/th&gt;
						&lt;/tr&gt;
						&lt;/thead&gt;
						&lt;tbody&gt;
						@foreach ($addons as $key =&gt; $addon)
							@php
								$isCodeRequired = !empty($addon-&gt;item_id);
								$installWithoutCodeUrl = urlGen()-&gt;adminUrl(&#039;addons/&#039; . $addon-&gt;name . &#039;/install&#039;);
								$installWithCodeUrl = urlGen()-&gt;adminUrl(&#039;addons/&#039; . $addon-&gt;name . &#039;/install/code&#039;);
								$installUrl = $isCodeRequired ? $installWithCodeUrl : $installWithoutCodeUrl;
								$uninstallUrl = urlGen()-&gt;adminUrl(&#039;addons/&#039; . $addon-&gt;name . &#039;/uninstall&#039;);
								$deleteUrl = urlGen()-&gt;adminUrl(&#039;addons/&#039; . $addon-&gt;name . &#039;/delete&#039;);
							@endphp
							&lt;tr&gt;
								&lt;th scope=&quot;row&quot;&gt;{{ $loop-&gt;iteration }}&lt;/th&gt;
								&lt;td&gt;{!! $addon-&gt;formatted_name !!}&lt;/td&gt;
								&lt;td&gt;{{ $addon-&gt;description }}&lt;/td&gt;
								&lt;td class=&quot;text-end&quot;&gt;{{ $addon-&gt;version }}&lt;/td&gt;
								&lt;td class=&quot;text-end&quot;&gt;
									@if ($addon-&gt;has_installer)
										@if ($addon-&gt;installed &amp;&amp; $addon-&gt;activated)
											@if (!empty($addon-&gt;options))
												@foreach($addon-&gt;options as $option)
													@continue(!isset($option-&gt;url))
													@php
														$opBtnClass = !empty($option-&gt;btnClass) ? $option-&gt;btnClass : &#039;btn-light&#039;;
														$opIconClass = !empty($option-&gt;iClass) ? $option-&gt;iClass : &#039;fa-solid fa-gear&#039;;
														$opName = !empty($option-&gt;name) ? $option-&gt;name : trans(&#039;admin.Configure&#039;);
													@endphp
													&lt;a class=&quot;btn btn-xs {{ $opBtnClass }}&quot; href=&quot;{{ $option-&gt;url }}&quot;&gt;
														&lt;i class=&quot;{{ $opIconClass }}&quot;&gt;&lt;/i&gt; {{ $opName }}
													&lt;/a&gt;
												@endforeach
											@else
												-
											@endif
										@else
											-
										@endif
									@endif
								&lt;/td&gt;
								&lt;td class=&quot;text-end&quot;&gt;
									@if ($addon-&gt;is_compatible)
										@if ($addon-&gt;has_installer)
											@if ($addon-&gt;installed)
												@if ($addon-&gt;activated)
													&lt;a class=&quot;btn btn-xs btn-success btn-uninstall confirm-simple-action&quot; href=&quot;{{ $uninstallUrl }}&quot;&gt;
														&lt;i class=&quot;fa-solid fa-toggle-on&quot;&gt;&lt;/i&gt; {{ trans(&#039;admin.Uninstall&#039;) }}
													&lt;/a&gt;
												@else
													&lt;a class=&quot;btn btn-xs btn-danger btn-install&quot;
													   data-name=&quot;{!! $addon-&gt;display_name !!}&quot;
													   data-is-code-required=&quot;{{ (int)$isCodeRequired }}&quot;
													   href=&quot;{{ $installUrl }}&quot;
													&gt;
														&lt;i class=&quot;fa-solid fa-lock&quot;&gt;&lt;/i&gt; {{ trans(&#039;admin.Activate&#039;) }}
													&lt;/a&gt;
													&lt;a class=&quot;btn btn-xs btn-warning btn-uninstall confirm-simple-action&quot; href=&quot;{{ $uninstallUrl }}&quot;&gt;
														&lt;i class=&quot;fa-solid fa-toggle-on&quot;&gt;&lt;/i&gt; {{ trans(&#039;admin.Uninstall&#039;) }}
													&lt;/a&gt;
												@endif
											@else
												&lt;a class=&quot;btn btn-xs btn-light btn-install&quot;
												   data-name=&quot;{!! $addon-&gt;display_name !!}&quot;
												   data-is-code-required=&quot;{{ (int)$isCodeRequired }}&quot;
												   href=&quot;{{ $installUrl }}&quot;
												&gt;
													&lt;i class=&quot;fa-solid fa-toggle-off&quot;&gt;&lt;/i&gt; {{ trans(&#039;admin.Install&#039;) }}
												&lt;/a&gt;
											@endif
										@endif
									@else
										@php
											$toolTip = &#039;data-bs-toggle=&quot;tooltip&quot; title=&quot;&#039; . $addon-&gt;compatibility_hint . &#039;&quot;&#039;;
										@endphp
										&lt;a class=&quot;btn btn-xs btn-warning&quot; href=&quot;#&quot; {!! $toolTip !!}&gt;
											&lt;i class=&quot;fa-solid fa-triangle-exclamation&quot;&gt;&lt;/i&gt; {{ $addon-&gt;compatibility ?? &#039;--&#039; }}
										&lt;/a&gt;
									@endif
									{{--
									&lt;a class=&quot;btn btn-xs btn-danger&quot; data-button-type=&quot;delete&quot; href=&quot;{{ $deleteUrl }}&quot;&gt;
										&lt;i class=&quot;fa-regular fa-trash-can&quot;&gt;&lt;/i&gt; {{ trans(&#039;admin.delete&#039;) }}
									&lt;/a&gt;
									--}}
								&lt;/td&gt;
							&lt;/tr&gt;
						@endforeach
						&lt;/tbody&gt;
					&lt;/table&gt;
				&lt;/div&gt;
			&lt;/div&gt;

        &lt;/div&gt;
    &lt;/div&gt;
	
	{{-- Install using purchase code --}}
	&lt;div class=&quot;modal fade&quot; id=&quot;purchaseCodeModal&quot; tabindex=&quot;-1&quot; role=&quot;dialog&quot;&gt;
		&lt;div class=&quot;modal-dialog&quot;&gt;
			&lt;div class=&quot;modal-content&quot;&gt;
				
				&lt;div class=&quot;modal-header&quot;&gt;
					&lt;h4 class=&quot;modal-title&quot;&gt;{{ trans(&#039;admin.Addon&#039;) }}&lt;/h4&gt;
					&lt;button type=&quot;button&quot; class=&quot;btn-close&quot; data-bs-dismiss=&quot;modal&quot; aria-label=&quot;{{ trans(&#039;global.Close&#039;) }}&quot;&gt;&lt;/button&gt;
				&lt;/div&gt;
				
				&lt;form role=&quot;form&quot; method=&quot;POST&quot; action=&quot;&quot;&gt;
					{!! csrf_field() !!}
				
					&lt;div class=&quot;modal-body&quot;&gt;
					
						@if (isset($errors) &amp;&amp; $errors-&gt;any() &amp;&amp; old(&#039;purchaseCodeForm&#039;)==&#039;1&#039;)
							&lt;div class=&quot;alert alert-danger&quot;&gt;
								&lt;ul class=&quot;list list-check mb-0&quot;&gt;
									@foreach($errors-&gt;all() as $error)
										&lt;li&gt;{!! $error !!}&lt;/li&gt;
									@endforeach
								&lt;/ul&gt;
							&lt;/div&gt;
						@endif
						
						{{-- purchase_code --}}
						@php
							$purchaseCodeError = (isset($errors) &amp;&amp; $errors-&gt;has(&#039;purchase_code_valid&#039;)) ? &#039; is-invalid&#039; : &#039;&#039;;
						@endphp
						&lt;div class=&quot;mb-3 required{{ $purchaseCodeError }}&quot;&gt;
							&lt;label for=&quot;purchase_code&quot; class=&quot;control-label&quot;&gt;{{ trans(&#039;admin.Purchase Code&#039;) }}&lt;/label&gt;
							&lt;input id=&quot;purchaseCode&quot;
							       name=&quot;purchase_code&quot;
							       class=&quot;form-control required&quot;
							       placeholder=&quot;{{ trans(&#039;admin.purchase_code_placeholder&#039;) }}&quot;
							       value=&quot;{{ old(&#039;purchase_code&#039;) }}&quot;
							&gt;
							&lt;div class=&quot;form-text&quot;&gt;
								{!! trans(&#039;admin.find_my_purchase_code&#039;, [&#039;purchaseCodeFindingUrl&#039; =&gt; config(&#039;larapen.core.purchaseCodeFindingUrl&#039;)]) !!}
							&lt;/div&gt;
						&lt;/div&gt;
						
						&lt;input type=&quot;hidden&quot; name=&quot;displayName&quot;&gt;
						&lt;input type=&quot;hidden&quot; name=&quot;installUrl&quot;&gt;
						&lt;input type=&quot;hidden&quot; name=&quot;purchaseCodeForm&quot; value=&quot;1&quot;&gt;
					&lt;/div&gt;
					
					&lt;div class=&quot;modal-footer&quot;&gt;
						&lt;button type=&quot;submit&quot; class=&quot;btn btn-primary&quot; id=&quot;btnSubmit&quot;&gt;{{ trans(&#039;admin.Install&#039;) }}&lt;/button&gt;
						&lt;button type=&quot;button&quot; class=&quot;btn btn-light float-start&quot; data-bs-dismiss=&quot;modal&quot;&gt;{{ trans(&#039;global.Close&#039;) }}&lt;/button&gt;
					&lt;/div&gt;
				&lt;/form&gt;
				
			&lt;/div&gt;
		&lt;/div&gt;
	&lt;/div&gt;

@endsection

@section(&#039;after_scripts&#039;)
    {{-- Ladda Buttons (loading buttons) --}}
    &lt;script src=&quot;{{ asset(&#039;assets/plugins/ladda/spin.js&#039;) }}&quot;&gt;&lt;/script&gt;
    &lt;script src=&quot;{{ asset(&#039;assets/plugins/ladda/ladda.js&#039;) }}&quot;&gt;&lt;/script&gt;
	
    &lt;script&gt;
	    onDocumentReady((event) =&gt; {
        	
        	/* Installation: Display the Purchase Code Form */
			const installBtnEls = document.querySelectorAll(&#039;.btn-install&#039;);
			if (installBtnEls.length &gt; 0) {
				installBtnEls.forEach((element) =&gt; {
					element.addEventListener(&#039;click&#039;, (e) =&gt; {
						e.preventDefault(); /* Prevents submission or reloading */
						
						const thisEl = (e.target.tagName.toLowerCase() === &#039;i&#039;)
							? e.target.parentElement
							: e.target;
						
						/* Clear form existing data */
						clearFormData();
						
						/* Retrieve form data */
						let displayName = thisEl.dataset.name;
						let installUrl = thisEl.getAttribute(&#039;href&#039;);
						let isCodeRequired = thisEl.dataset.isCodeRequired;
						isCodeRequired = (isCodeRequired === 1 || isCodeRequired === &#039;1&#039;);
						
						if (isCodeRequired) {
							return showInstallationForm(displayName, installUrl);
						} else {
							Swal.fire({
								text: langLayout.confirm.message.question,
								icon: &#039;warning&#039;,
								showCancelButton: true,
								confirmButtonText: langLayout.confirm.button.yes,
								cancelButtonText: langLayout.confirm.button.no
							}).then((result) =&gt; {
								if (result.isConfirmed) {
									
									redirect(installUrl);
									
								} else if (result.dismiss === Swal.DismissReason.cancel) {
									jsAlert(langLayout.confirm.message.cancel, &#039;info&#039;);
								}
							});
						}
						
						return false;
					});
				});
			}
			
		    /* Installation: Submit the Purchase Code Form */
			const submitBtnEl = document.getElementById(&#039;btnSubmit&#039;);
			if (submitBtnEl) {
				submitBtnEl.addEventListener(&#039;click&#039;, (e) =&gt; {
					e.preventDefault(); /* Prevents submission or reloading */
					
					const formEl = document.querySelector(&#039;#purchaseCodeModal form&#039;);
					if (formEl) {
						formEl.submit();
					}
					
					return false;
				});
			}
			
	        @if (isset($errors) &amp;&amp; $errors-&gt;any())
				@if ($errors-&gt;any() &amp;&amp; old(&#039;purchaseCodeForm&#039;)==&#039;1&#039;)
					let displayName = &#039;{!! old(&#039;displayName&#039;) !!}&#039;;
					let installUrl = &#039;{!! old(&#039;installUrl&#039;) !!}&#039;;
					showInstallationForm(displayName, installUrl);
				@endif
			@endif
			
        });
	    
	    function showInstallationForm(displayName, installUrl) {
		    /* Set the modal title */
			const modalTitleEl = document.querySelector(&#039;#purchaseCodeModal h4.modal-title&#039;);
			if (modalTitleEl) {
				modalTitleEl.innerHTML = displayName;
			}
		    /* Set the displayName input value */
		    const displayNameEl = document.querySelector(&#039;#purchaseCodeModal [name=&quot;displayName&quot;]&#039;);
			if (displayNameEl) {
				displayNameEl.value = displayName;
			}
		    /* Set the form action attribute */
		    const formEl = document.querySelector(&#039;#purchaseCodeModal form&#039;);
			if (formEl) {
				formEl.setAttribute(&#039;action&#039;, installUrl);
			}
		    /* Set the installUrl input value */
		    const installUrlEl = document.querySelector(&#039;#purchaseCodeModal [name=&quot;installUrl&quot;]&#039;);
			if (installUrlEl) {
				installUrlEl.value = installUrl;
			}
		    
		    /* Open Modal */
		    const modalEl = document.getElementById(&#039;purchaseCodeModal&#039;);
			if (modalEl) {
				const modal = new bootstrap.Modal(modalEl, {});
				modal.show();
			}
		
		    return false;
	    }
	    
	    function clearFormData() {
		    /* Clear the modal title */
		    const modalTitleEl = document.querySelector(&#039;#purchaseCodeModal h4.modal-title&#039;);
			if (modalTitleEl) {
				modalTitleEl.innerHTML = &#039;&#039;;
			}
		    /* Clear the displayName input value */
		    const displayNameEl = document.querySelector(&#039;#purchaseCodeModal [name=&quot;displayName&quot;]&#039;);
			if (displayNameEl) {
				displayNameEl.value = &#039;&#039;;
			}
		    /* Clear the form action attribute */
		    const formEl = document.querySelector(&#039;#purchaseCodeModal form&#039;);
			if (formEl) {
				formEl.setAttribute(&#039;action&#039;, &#039;&#039;);
			}
		    /* Clear the installUrl input value */
		    const installUrlEl = document.querySelector(&#039;#purchaseCodeModal [name=&quot;installUrl&quot;]&#039;);
			if (installUrlEl) {
				installUrlEl.value = &#039;&#039;;
			}
		    /* Clear and hide the alert message */
		    const alertEl = document.querySelector(&#039;#purchaseCodeModal .alert.alert-danger&#039;);
			if (alertEl) {
				alertEl.innerHTML = &#039;&#039;;
				alertEl.style.display = &#039;none&#039;;
			}
		    /* Clear the purchase code input value */
		    const purchaseCodeField = document.querySelector(&#039;#purchaseCodeModal [name=&quot;purchase_code&quot;]&#039;);
			if (purchaseCodeField) {
				purchaseCodeField.value = &#039;&#039;;
				
				/* Remove the is-invalid class from the parent div */
				const parentPurchaseCodeField = purchaseCodeField.closest(&#039;div.input-group&#039;);
				if (parentPurchaseCodeField) {
					parentPurchaseCodeField.classList.remove(&#039;is-invalid&#039;);
				}
			}
	    }
    &lt;/script&gt;
@endsection


<hr>
<!-- PEDROO_NEXT_FILE: /ads/resources/views/admin/backup.blade.php -->
<!-- PEDROO_NEXT_DIR: /ads/resources/views/admin/dashboard -->

</body>
</html>