<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>/ads/resources/views/front/payment/packages.blade.php</title>
<style>
body { font-family: monospace; white-space: pre; }
</style>
</head>
<body>
@php
	$packageType ??= null;
	$packages ??= collect();
	$paymentMethods ??= collect();
	
	$payment ??= [];
	$upcomingPayment ??= [];
	$package ??= []; // Selected package
	$selectedPackageId = data_get($package, &#039;id&#039;, data_get($payment, &#039;package.id&#039;, 0));
	
	$isPayabilityActivated = (
		!empty($packageType)
		&amp;&amp; isset($packages, $paymentMethods)
		&amp;&amp; $packages-&gt;count() &gt; 0
		&amp;&amp; $paymentMethods-&gt;count() &gt; 0
	);
	
	$doesPaymentExist = (
		!empty($payment)
		&amp;&amp; !empty(data_get($payment, &#039;package&#039;))
		&amp;&amp; !empty(data_get($payment, &#039;paymentMethod&#039;))
	);
	
	$tableHover = isSingleStepFormEnabled() ? &#039;&#039; : &#039; table-hover&#039;;
	$tdPadding = isSingleStepFormEnabled() ? &#039; py-3 px-0&#039; : &#039; p-3&#039;;
@endphp
@if ($isPayabilityActivated)
	&lt;div class=&quot;col-12 pb-0&quot;&gt;
		&lt;h3&gt;
			@if ($packageType == &#039;promotion&#039;)
				&lt;i class=&quot;fa-solid fa-certificate icon-color-1&quot;&gt;&lt;/i&gt; {{ trans(&#039;global.promote_your_listing&#039;) }}
			@else
				&lt;i class=&quot;fa-solid fa-certificate icon-color-1&quot;&gt;&lt;/i&gt; {{ trans(&#039;global.upgrade_your_subscription&#039;) }}
			@endif
		&lt;/h3&gt;
		&lt;p&gt;
			{{ ($packageType == &#039;promotion&#039;) ? trans(&#039;global.promo_packages_hint&#039;) : trans(&#039;global.subs_packages_hint&#039;) }}
		&lt;/p&gt;
		@php
			$packageIdError = (isset($errors) &amp;&amp; $errors-&gt;has(&#039;package_id&#039;)) ? &#039; is-invalid&#039; : &#039;&#039;;
		@endphp
		&lt;div class=&quot;w-100 mb-0&quot;&gt;
			&lt;table id=&quot;packagesTable&quot; class=&quot;table{{ $tableHover }} checkboxtable mb-0&quot;&gt;
				@foreach ($packages as $package)
					@php
						$packageDisabledAttr = &#039;&#039;;
						$badge = &#039;&#039;;
						if ($doesPaymentExist) {
							if ($package-&gt;price &gt; 0) {
								if ($package-&gt;currency_code == data_get($payment, &#039;package.currency_code&#039;)) {
									if ($package-&gt;price &lt; data_get($payment, &#039;package.price&#039;)) {
										$badge = &#039; &lt;span class=&quot;badge bg-warning&quot;&gt;&#039; . trans(&#039;global.downgrade&#039;) . &#039;&lt;/span&gt;&#039;;
									}
									if ($package-&gt;price &gt; data_get($payment, &#039;package.price&#039;)) {
										$badge = &#039; &lt;span class=&quot;badge bg-success&quot;&gt;&#039; . trans(&#039;global.upgrade&#039;) . &#039;&lt;/span&gt;&#039;;
									}
									if ($package-&gt;price === data_get($payment, &#039;package.price&#039;)) {
										$badge = &#039;&#039;;
									}
								} else {
									$badge = &#039;&#039;;
								}
							} else {
								$packageDisabledAttr = &#039; disabled&#039;;
								$badge = &#039; &lt;span class=&quot;badge bg-danger&quot;&gt;&#039; . trans(&#039;global.not_available&#039;) . &#039;&lt;/span&gt;&#039;;
							}
							
							if ($package-&gt;id == data_get($payment, &#039;package.id&#039;)) {
								$badge = &#039; &lt;span class=&quot;badge bg-secondary&quot;&gt;&#039; . trans(&#039;global.current&#039;) . &#039;&lt;/span&gt;&#039;;
								if (data_get($payment, &#039;active&#039;) == 0) {
									$badge .= &#039; &lt;span class=&quot;badge bg-info&quot;&gt;&#039; . trans(&#039;global.payment_pending&#039;) . &#039;&lt;/span&gt;&#039;;
								} else {
									$badge .= &#039; &lt;span class=&quot;badge bg-info&quot;&gt;&#039; . data_get($payment, &#039;expiry_info&#039;) . &#039;&lt;/span&gt;&#039;;
								}
							}
						} else {
							if ($package-&gt;price &gt; 0) {
								$badge = &#039; &lt;span class=&quot;badge bg-success&quot;&gt;&#039; . trans(&#039;global.upgrade&#039;) . &#039;&lt;/span&gt;&#039;;
							}
						}
					@endphp
					&lt;tr&gt;
						&lt;td class=&quot;text-start align-middle{{ $tdPadding }}&quot;&gt;
							@php
								$packageCheckedAttr = (old(&#039;package_id&#039;, $selectedPackageId) == $package-&gt;id)
														? &#039; checked&#039;
														: (($package-&gt;price == 0) ? &#039; checked&#039; : &#039;&#039;);
							@endphp
							&lt;div class=&quot;form-check&quot;&gt;
								&lt;input class=&quot;form-check-input package-selection{{ $packageIdError }}&quot;
									   type=&quot;radio&quot;
									   name=&quot;package_id&quot;
									   id=&quot;packageId-{{ $package-&gt;id }}&quot;
									   value=&quot;{{ $package-&gt;id }}&quot;
									   data-name=&quot;{{ $package-&gt;name }}&quot;
									   data-currency-symbol=&quot;{{ $package-&gt;currency-&gt;symbol }}&quot;
									   data-currency-in-left=&quot;{{ $package-&gt;currency-&gt;in_left }}&quot;
										{{ $packageCheckedAttr }} {{ $packageDisabledAttr }}
								&gt;
								&lt;label class=&quot;form-check-label mb-0{{ $packageIdError }}&quot;&gt;
									&lt;strong class=&quot;&quot;
											data-bs-placement=&quot;right&quot;
											data-bs-toggle=&quot;tooltip&quot;
											title=&quot;{!! $package-&gt;description_string !!}&quot;
									&gt;{!! $package-&gt;name . $badge !!} &lt;/strong&gt;
								&lt;/label&gt;
							&lt;/div&gt;
						&lt;/td&gt;
						&lt;td class=&quot;text-end align-middle{{ $tdPadding }}&quot;&gt;
							&lt;p id=&quot;price-{{ $package-&gt;id }}&quot; class=&quot;mb-0&quot;&gt;
								@if ($package-&gt;currency-&gt;in_left == 1)
									&lt;span class=&quot;price-currency&quot;&gt;{!! $package-&gt;currency-&gt;symbol !!}&lt;/span&gt;
								@endif
								&lt;span class=&quot;price-int&quot;&gt;{{ $package-&gt;price }}&lt;/span&gt;
								@if ($package-&gt;currency-&gt;in_left == 0)
									&lt;span class=&quot;price-currency&quot;&gt;{!! $package-&gt;currency-&gt;symbol !!}&lt;/span&gt;
								@endif
							&lt;/p&gt;
						&lt;/td&gt;
					&lt;/tr&gt;
				@endforeach
				
				&lt;tr&gt;
					&lt;td class=&quot;text-start align-middle{{ $tdPadding }}&quot;&gt;
						@include(&#039;front.payment.payment-methods&#039;)
					&lt;/td&gt;
					&lt;td class=&quot;text-end align-middle{{ $tdPadding }}&quot;&gt;
						&lt;p class=&quot;mb-0&quot;&gt;
							&lt;strong&gt;
								{{ trans(&#039;global.Payable Amount&#039;) }}:
								&lt;span class=&quot;price-currency amount-currency currency-in-left&quot; style=&quot;display: none;&quot;&gt;&lt;/span&gt;
								&lt;span class=&quot;payable-amount&quot;&gt;0&lt;/span&gt;
								&lt;span class=&quot;price-currency amount-currency currency-in-right&quot; style=&quot;display: none;&quot;&gt;&lt;/span&gt;
							&lt;/strong&gt;
						&lt;/p&gt;
					&lt;/td&gt;
				&lt;/tr&gt;
				
				@if ($doesPaymentExist)
					&lt;tr&gt;
						&lt;td class=&quot;text-start align-middle{{ $tdPadding }}&quot; colspan=&quot;2&quot;&gt;
							{{-- accept_package_renewal --}}
							@include(&#039;helpers.forms.fields.checkbox&#039;, [
								&#039;label&#039;    =&gt; trans(&#039;global.accept_package_renewal_label&#039;),
								&#039;id&#039;       =&gt; &#039;acceptPackageRenewal&#039;,
								&#039;name&#039;     =&gt; &#039;accept_package_renewal&#039;,
								&#039;required&#039; =&gt; false,
								&#039;value&#039;    =&gt; null,
								&#039;hint&#039;     =&gt; trans(&#039;global.accept_package_renewal_hint&#039;, [&#039;date&#039; =&gt; data_get($upcomingPayment, &#039;period_start_formatted&#039;)]),
							])
						&lt;/td&gt;
					&lt;/tr&gt;
				@endif
				
			&lt;/table&gt;
		&lt;/div&gt;
	&lt;/div&gt;
	
	@include(&#039;front.payment.payment-methods.plugins&#039;)

@endif


<hr>
<!-- PEDROO_NEXT_FILE: /ads/resources/views/front/payment/packages/selected.blade.php -->
<!-- PEDROO_NEXT_DIR: /ads/resources/views/front/payment/packages -->

</body>
</html>