<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>/ads/resources/views/front/account/partials/header.blade.php</title>
<style>
body { font-family: monospace; white-space: pre; }
</style>
</head>
<body>
@php
	$headerTitle ??= trans(&#039;global.overview&#039;);
	$userName = $authUser-&gt;name ?? &#039;--&#039;;
	$userPhotoUrl = $authUser-&gt;photo_url ?? config(&#039;larapen.media.avatar&#039;);
	$photoSize = &#039;60px&#039;;
	$photoStyle = &quot;max-width: $photoSize; max-height: $photoSize; width: $photoSize; height: $photoSize;&quot;;
@endphp
&lt;div class=&quot;container border rounded bg-body-tertiary p-4 p-lg-3 p-md-2 mb-4&quot;&gt;
	&lt;div class=&quot;row d-flex align-items-center&quot;&gt;
		&lt;div class=&quot;col-lg-8 col-md-12 d-flex justify-content-star flex-column justify-content-center&quot;&gt;
			&lt;h3 class=&quot;p-0 fw-bold&quot;&gt;
				{!! $headerTitle !!}
			&lt;/h3&gt;
			&lt;div&gt;{!! Breadcrumb::render() !!}&lt;/div&gt;
		&lt;/div&gt;
		&lt;div class=&quot;col-lg-4 col-md-12 d-flex justify-content-lg-end hidden-md&quot;&gt;
			&lt;h5 class=&quot;p-0 mb-0&quot;&gt;
				{{ $userName }}&amp;nbsp;
				&lt;img id=&quot;userImg&quot; class=&quot;rounded-circle border&quot; src=&quot;{{ $userPhotoUrl }}&quot; alt=&quot;user&quot; style=&quot;{!! $photoStyle !!}&quot;&gt;
			&lt;/h5&gt;
		&lt;/div&gt;
	&lt;/div&gt;
&lt;/div&gt;


<hr>
<!-- PEDROO_NEXT_FILE: /ads/resources/views/front/account/partials/linked-accounts.blade.php -->
<!-- PEDROO_NEXT_DIR: /ads/resources/views/front/account/saved-searches -->

</body>
</html>