<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>/ads/resources/views/front/account/partials/linked-accounts.blade.php</title>
<style>
body { font-family: monospace; white-space: pre; }
</style>
</head>
<body>
@php
	$authUserIsAdmin ??= false;
	$providers ??= [];
@endphp
&lt;div class=&quot;col-12&quot;&gt;
	&lt;div class=&quot;card&quot;&gt;
		&lt;div class=&quot;card-header&quot;&gt;
			&lt;h5 class=&quot;card-title mb-0&quot;&gt;
				{{ trans(&#039;auth.connected_accounts&#039;) }}
			&lt;/h5&gt;
		&lt;/div&gt;
		&lt;div class=&quot;card-body&quot;&gt;
			@if (!empty($providers))
				&lt;form action=&quot;{{ urlGen()-&gt;accountLinkedAccounts() }}&quot; method=&quot;POST&quot;&gt;
					{!! csrf_field() !!}
					&lt;input name=&quot;_method&quot; type=&quot;hidden&quot; value=&quot;DELETE&quot;&gt;
					&lt;table class=&quot;table&quot;&gt;
						&lt;thead&gt;
						&lt;tr&gt;
							&lt;th scope=&quot;col&quot; style=&quot;width: 10%&quot;&gt;#&lt;/th&gt;
							&lt;th scope=&quot;col&quot; style=&quot;width: 40%&quot;&gt;{{ trans(&#039;auth.service&#039;) }}&lt;/th&gt;
							&lt;th scope=&quot;col&quot; style=&quot;width: 40%&quot;&gt;{{ trans(&#039;global.Date&#039;) }}&lt;/th&gt;
							&lt;th scope=&quot;col&quot; style=&quot;width: 10%&quot;&gt;{{ trans(&#039;global.action&#039;) }}&lt;/th&gt;
						&lt;/tr&gt;
						&lt;/thead&gt;
						&lt;tbody&gt;
						@foreach($providers as $provider =&gt; $providerData)
							@php
								$btnClass = data_get($providerData, &#039;btnClass&#039;);
								$iconClass = data_get($providerData, &#039;iconClass&#039;);
								$url = data_get($providerData, &#039;url&#039;);
								$name = data_get($providerData, &#039;name&#039;);
								$label = data_get($providerData, &#039;label&#039;);
								$title = strip_tags($label);
								$isConnected = data_get($providerData, &#039;isConnected&#039;);
								$connectedAt = data_get($providerData, &#039;connectedAt&#039;);
								
								$name = $isConnected ? $label : &#039;&lt;strong&gt;&#039; . $name . &#039;&lt;/strong&gt;&#039;;
								// $actionBtnLabel = $isConnected ? trans(&#039;auth.disconnect&#039;) : trans(&#039;auth.connect&#039;);
								$actionBtnLabel = trans(&#039;auth.disconnect&#039;);
								$disableClass = !$isConnected ? &#039; disabled&#039; : &#039;&#039;;
							@endphp
							&lt;tr&gt;
								&lt;th scope=&quot;row&quot;&gt;
									&lt;i class=&quot;{{ $iconClass }}&quot;&gt;&lt;/i&gt;
								&lt;/th&gt;
								&lt;td&gt;{!! $name !!}&lt;/td&gt;
								&lt;td&gt;{!! $connectedAt !!}&lt;/td&gt;
								&lt;td&gt;
									&lt;a href=&quot;{{ urlGen()-&gt;accountDisconnectLinkedAccount($provider) }}&quot;
									   class=&quot;btn btn-sm btn-secondary{{ $disableClass }}&quot;
									&gt;
										{{ $actionBtnLabel }}
									&lt;/a&gt;
								&lt;/td&gt;
							&lt;/tr&gt;
						@endforeach
						&lt;/tbody&gt;
					&lt;/table&gt;
				&lt;/form&gt;
			@else
				&lt;idv class=&quot;row m-5&quot;&gt;
					&lt;div class=&quot;col-12 text-muted fs-6 d-flex justify-content-center&quot;&gt;
						{{ trans(&#039;auth.no_connected_accounts&#039;) }}
					&lt;/div&gt;
				&lt;/idv&gt;
			@endif
		&lt;/div&gt;
	&lt;/div&gt;
&lt;/div&gt;


<hr>
<!-- PEDROO_NEXT_FILE: /ads/resources/views/front/account/partials/overview-stats.blade.php -->
<!-- PEDROO_NEXT_DIR: /ads/resources/views/front/account/saved-searches -->

</body>
</html>