<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>/ads/resources/views/front/layouts/partials/social/horizontal.blade.php</title>
<style>
body { font-family: monospace; white-space: pre; }
</style>
</head>
<body>
@if (isSocialSharesEnabled())
	@php
		$socialMedias = [
			&#039;facebook&#039; =&gt; [
				&#039;name&#039;      =&gt; &#039;Facebook&#039;,
				&#039;iconClass&#039; =&gt; &#039;fa-brands fa-square-facebook&#039;,
				&#039;linkClass&#039; =&gt; &#039;facebook&#039;,
			],
			&#039;twitter&#039; =&gt; [
				&#039;name&#039;      =&gt; &#039;X (Twitter)&#039;,
				&#039;iconClass&#039; =&gt; &#039;fa-brands fa-square-x-twitter&#039;,
				&#039;linkClass&#039; =&gt; &#039;x-twitter&#039;,
			],
			&#039;linkedin&#039; =&gt; [
				&#039;name&#039;      =&gt; &#039;LinkedIn&#039;,
				&#039;iconClass&#039; =&gt; &#039;fa-brands fa-linkedin&#039;,
				&#039;linkClass&#039; =&gt; &#039;linkedin&#039;,
			],
			&#039;whatsapp&#039; =&gt; [
				&#039;name&#039;      =&gt; &#039;WhatsApp&#039;,
				&#039;iconClass&#039; =&gt; &#039;fa-brands fa-square-whatsapp&#039;,
				&#039;linkClass&#039; =&gt; &#039;whatsapp&#039;,
			],
			&#039;telegram&#039; =&gt; [
				&#039;name&#039;      =&gt; &#039;Telegram&#039;,
				&#039;iconClass&#039; =&gt; &#039;fa-brands fa-telegram&#039;,
				&#039;linkClass&#039; =&gt; &#039;telegram&#039;,
			],
			&#039;snapchat&#039; =&gt; [
				&#039;name&#039;      =&gt; &#039;Snapchat&#039;,
				&#039;iconClass&#039; =&gt; &#039;fa-brands fa-square-snapchat&#039;,
				&#039;linkClass&#039; =&gt; &#039;snapchat&#039;,
			],
			&#039;messenger&#039; =&gt; [
				&#039;name&#039;      =&gt; &#039;Facebook Messenger&#039;,
				&#039;iconClass&#039; =&gt; &#039;fa-brands fa-facebook-messenger&#039;,
				&#039;linkClass&#039; =&gt; &#039;messenger&#039;,
				&#039;data&#039;      =&gt; [
					&#039;fb-app-id&#039; =&gt; config(&#039;settings.social_share.facebook_app_id&#039;),
				],
			],
			&#039;pinterest&#039; =&gt; [
				&#039;name&#039;      =&gt; &#039;Pinterest&#039;,
				&#039;iconClass&#039; =&gt; &#039;fa-brands fa-square-pinterest&#039;,
				&#039;linkClass&#039; =&gt; &#039;pinterest&#039;,
			],
			&#039;vk&#039; =&gt; [
				&#039;name&#039;      =&gt; &#039;VK (VKontakte)&#039;,
				&#039;iconClass&#039; =&gt; &#039;fa-brands fa-vk&#039;,
				&#039;linkClass&#039; =&gt; &#039;vk&#039;,
			],
			&#039;tumblr&#039; =&gt; [
				&#039;name&#039;      =&gt; &#039;Tumblr&#039;,
				&#039;iconClass&#039; =&gt; &#039;fa-brands fa-square-tumblr&#039;,
				&#039;linkClass&#039; =&gt; &#039;tumblr&#039;,
			],
		];
	@endphp
	&lt;div class=&quot;social-media social-share text-center my-4 mx-0&quot;&gt;
		&lt;span class=&quot;text-secondary text-opacity-25&quot; data-bs-toggle=&quot;tooltip&quot; title=&quot;{{ trans(&#039;global.share_on_social_media&#039;) }}&quot;&gt;
			&lt;i class=&quot;fa-solid fa-share&quot;&gt;&lt;/i&gt;
		&lt;/span&gt;
		@foreach($socialMedias as $key =&gt; $item)
			@php
				$name = $item[&#039;name&#039;] ?? &#039;--&#039;;
				$iconClass = $item[&#039;iconClass&#039;] ?? &#039;&#039;;
				$linkClass = $item[&#039;linkClass&#039;] ?? &#039;&#039;;
				
				$data = $item[&#039;data&#039;] ?? [];
				$dataAttr = &#039;&#039;;
				if (!empty($data) &amp;&amp; is_array($data)) {
					$dataAttr .= &#039; &#039;;
					$dataAttr .= collect($data)
						-&gt;map(fn ($v, $k) =&gt; &#039;data-&#039; . $k . &#039;=&quot;&#039; . $v . &#039;&quot;&#039;)
						-&gt;join(&#039; &#039;);
				}
			@endphp
			@if (isSocialSharesEnabled($key))
				&lt;a class=&quot;{{ $linkClass }} text-decoration-none&quot; title=&quot;{{ trans(&#039;global.share_on&#039;, [&#039;media&#039; =&gt; $name]) }}&quot;{!! $dataAttr !!}&gt;
					&lt;i class=&quot;{{ $iconClass }}&quot;&gt;&lt;/i&gt;
				&lt;/a&gt;
			@endif
		@endforeach
	&lt;/div&gt;
@endif


<hr>
<!-- PEDROO_NEXT_FILE: /ads/resources/views/front/layouts/partials/tools/facebook-comments.blade.php -->
<!-- PEDROO_NEXT_DIR: /ads/resources/views/front/layouts/partials/tools -->

</body>
</html>