<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>/ads/resources/views/admin/layouts/partials/sidebar/tableData-settings.blade.php</title>
<style>
body { font-family: monospace; white-space: pre; }
</style>
</head>
<body>
@php
	$authUser ??= null;
@endphp
@if (doesUserHavePermission($authUser, &#039;admin.language.view&#039;) || userHasSuperAdminPermissions())
	&lt;li class=&quot;sidebar-item&quot;&gt;
		&lt;a href=&quot;{{ urlGen()-&gt;adminUrl(&#039;languages&#039;) }}&quot; class=&quot;sidebar-link&quot;&gt;
			&lt;i class=&quot;mdi mdi-adjust&quot;&gt;&lt;/i&gt;
			&lt;span class=&quot;hide-menu&quot;&gt;{{ trans(&#039;admin.languages&#039;) }}&lt;/span&gt;
		&lt;/a&gt;
	&lt;/li&gt;
@endif
@if (doesUserHavePermission($authUser, &#039;admin.menu.view&#039;) || userHasSuperAdminPermissions())
	&lt;li class=&quot;sidebar-item&quot;&gt;
		&lt;a href=&quot;{{ urlGen()-&gt;adminUrl(&#039;menus&#039;) }}&quot; class=&quot;sidebar-link&quot;&gt;
			&lt;i class=&quot;mdi mdi-adjust&quot;&gt;&lt;/i&gt;
			&lt;span class=&quot;hide-menu&quot;&gt;{{ trans(&#039;menu.menus&#039;) }}&lt;/span&gt;
		&lt;/a&gt;
	&lt;/li&gt;
@endif
@if (doesUserHavePermission($authUser, &#039;admin.section.view&#039;) || userHasSuperAdminPermissions())
	&lt;li class=&quot;sidebar-item&quot;&gt;
		&lt;a href=&quot;#collapseHomepage&quot;
		   class=&quot;sidebar-link has-arrow&quot;
		   data-bs-toggle=&quot;collapse&quot;
		   aria-expanded=&quot;false&quot;
		   aria-controls=&quot;collapseHomepage&quot;
		&gt;
			&lt;i class=&quot;mdi mdi-adjust&quot;&gt;&lt;/i&gt; &lt;span class=&quot;hide-menu&quot;&gt;{{ trans(&#039;admin.homepage&#039;) }}&lt;/span&gt;
		&lt;/a&gt;
		&lt;ul class=&quot;collapse second-level&quot; id=&quot;collapseHomepage&quot;&gt;
			&lt;li class=&quot;sidebar-item&quot;&gt;
				&lt;a href=&quot;{{ urlGen()-&gt;adminUrl(&#039;homepage/presets&#039;) }}&quot; class=&quot;sidebar-link&quot;&gt;
					&lt;i class=&quot;mdi mdi-adjust&quot;&gt;&lt;/i&gt;
					&lt;span class=&quot;hide-menu&quot;&gt;{{ trans(&#039;admin.presets&#039;) }}&lt;/span&gt;
				&lt;/a&gt;
			&lt;/li&gt;
			&lt;li class=&quot;sidebar-item&quot;&gt;
				&lt;a href=&quot;{{ urlGen()-&gt;adminUrl(&#039;homepage/sections&#039;) }}&quot; class=&quot;sidebar-link&quot;&gt;
					&lt;i class=&quot;mdi mdi-adjust&quot;&gt;&lt;/i&gt;
					&lt;span class=&quot;hide-menu&quot;&gt;{{ trans(&#039;admin.sections&#039;) }}&lt;/span&gt;
				&lt;/a&gt;
			&lt;/li&gt;
			&lt;li class=&quot;sidebar-item&quot;&gt;&amp;nbsp;&lt;/li&gt;
		&lt;/ul&gt;
	&lt;/li&gt;
@endif
@if (doesUserHavePermission($authUser, &#039;admin.meta-tag.view&#039;) || userHasSuperAdminPermissions())
	&lt;li class=&quot;sidebar-item&quot;&gt;
		&lt;a href=&quot;{{ urlGen()-&gt;adminUrl(&#039;meta-tags&#039;) }}&quot; class=&quot;sidebar-link&quot;&gt;
			&lt;i class=&quot;mdi mdi-adjust&quot;&gt;&lt;/i&gt;
			&lt;span class=&quot;hide-menu&quot;&gt;{{ trans(&#039;admin.meta tags&#039;) }}&lt;/span&gt;
		&lt;/a&gt;
	&lt;/li&gt;
@endif
@if (doesUserHavePermission($authUser, &#039;admin.package.view&#039;)|| userHasSuperAdminPermissions())
	&lt;li class=&quot;sidebar-item&quot;&gt;
		&lt;a href=&quot;#collapsePackages&quot;
		   class=&quot;sidebar-link has-arrow&quot;
		   data-bs-toggle=&quot;collapse&quot;
		   aria-expanded=&quot;false&quot;
		   aria-controls=&quot;collapsePackages&quot;
		&gt;
			&lt;i class=&quot;mdi mdi-adjust&quot;&gt;&lt;/i&gt; &lt;span class=&quot;hide-menu&quot;&gt;{{ trans(&#039;admin.packages&#039;) }}&lt;/span&gt;
		&lt;/a&gt;
		&lt;ul class=&quot;collapse second-level&quot; id=&quot;collapsePackages&quot;&gt;
			&lt;li class=&quot;sidebar-item&quot;&gt;
				&lt;a href=&quot;{{ urlGen()-&gt;adminUrl(&#039;packages/promotion&#039;) }}&quot; class=&quot;sidebar-link&quot;&gt;
					&lt;i class=&quot;mdi mdi-adjust&quot;&gt;&lt;/i&gt;
					&lt;span class=&quot;hide-menu&quot;&gt;{{ trans(&#039;admin.promotion&#039;) }}&lt;/span&gt;
				&lt;/a&gt;
			&lt;/li&gt;
			&lt;li class=&quot;sidebar-item&quot;&gt;
				&lt;a href=&quot;{{ urlGen()-&gt;adminUrl(&#039;packages/subscription&#039;) }}&quot; class=&quot;sidebar-link&quot;&gt;
					&lt;i class=&quot;mdi mdi-adjust&quot;&gt;&lt;/i&gt;
					&lt;span class=&quot;hide-menu&quot;&gt;{{ trans(&#039;admin.subscription&#039;) }}&lt;/span&gt;
				&lt;/a&gt;
			&lt;/li&gt;
			&lt;li class=&quot;sidebar-item&quot;&gt;&amp;nbsp;&lt;/li&gt;
		&lt;/ul&gt;
	&lt;/li&gt;
@endif
@if (doesUserHavePermission($authUser, &#039;admin.payment-method.view&#039;) || userHasSuperAdminPermissions())
	&lt;li class=&quot;sidebar-item&quot;&gt;
		&lt;a href=&quot;{{ urlGen()-&gt;adminUrl(&#039;payment-methods&#039;) }}&quot; class=&quot;sidebar-link&quot;&gt;
			&lt;i class=&quot;mdi mdi-adjust&quot;&gt;&lt;/i&gt;
			&lt;span class=&quot;hide-menu&quot;&gt;{{ trans(&#039;admin.payment methods&#039;) }}&lt;/span&gt;
		&lt;/a&gt;
	&lt;/li&gt;
@endif
@if (doesUserHavePermission($authUser, &#039;admin.advertising.view&#039;) || userHasSuperAdminPermissions())
	&lt;li class=&quot;sidebar-item&quot;&gt;
		&lt;a href=&quot;{{ urlGen()-&gt;adminUrl(&#039;advertisings&#039;) }}&quot; class=&quot;sidebar-link&quot;&gt;
			&lt;i class=&quot;mdi mdi-adjust&quot;&gt;&lt;/i&gt;
			&lt;span class=&quot;hide-menu&quot;&gt;{{ trans(&#039;admin.advertising&#039;) }}&lt;/span&gt;
		&lt;/a&gt;
	&lt;/li&gt;
@endif
@if (
	doesUserHavePermission($authUser, &#039;admin.country.view&#039;)
	|| doesUserHavePermission($authUser, &#039;admin.currency.view&#039;)
	|| userHasSuperAdminPermissions()
)
	&lt;li class=&quot;sidebar-item&quot;&gt;
		&lt;a href=&quot;#collapseInternational&quot;
		   class=&quot;sidebar-link has-arrow&quot;
		   data-bs-toggle=&quot;collapse&quot;
		   aria-expanded=&quot;false&quot;
		   aria-controls=&quot;collapseInternational&quot;
		&gt;
			&lt;i class=&quot;fa-solid fa-globe&quot;&gt;&lt;/i&gt; &lt;span class=&quot;hide-menu&quot;&gt;{{ trans(&#039;admin.international&#039;) }}&lt;/span&gt;
		&lt;/a&gt;
		&lt;ul class=&quot;collapse second-level&quot; id=&quot;collapseInternational&quot;&gt;
			@if (doesUserHavePermission($authUser, &#039;admin.country.view&#039;) || userHasSuperAdminPermissions())
				&lt;li class=&quot;sidebar-item&quot;&gt;
					&lt;a href=&quot;{{ urlGen()-&gt;adminUrl(&#039;countries&#039;) }}&quot; class=&quot;sidebar-link&quot;&gt;
						&lt;i class=&quot;mdi mdi-adjust&quot;&gt;&lt;/i&gt;
						&lt;span class=&quot;hide-menu&quot;&gt;{{ trans(&#039;admin.countries&#039;) }}&lt;/span&gt;
					&lt;/a&gt;
				&lt;/li&gt;
			@endif
			@if (doesUserHavePermission($authUser, &#039;admin.currency.view&#039;) || userHasSuperAdminPermissions())
				&lt;li class=&quot;sidebar-item&quot;&gt;
					&lt;a href=&quot;{{ urlGen()-&gt;adminUrl(&#039;currencies&#039;) }}&quot; class=&quot;sidebar-link&quot;&gt;
						&lt;i class=&quot;mdi mdi-adjust&quot;&gt;&lt;/i&gt;
						&lt;span class=&quot;hide-menu&quot;&gt;{{ trans(&#039;admin.currencies&#039;) }}&lt;/span&gt;
					&lt;/a&gt;
				&lt;/li&gt;
			@endif
			&lt;li class=&quot;sidebar-item&quot;&gt;&amp;nbsp;&lt;/li&gt;
		&lt;/ul&gt;
	&lt;/li&gt;
@endif
@if (doesUserHavePermission($authUser, &#039;admin.blacklist.view&#039;) || userHasSuperAdminPermissions())
	&lt;li class=&quot;sidebar-item&quot;&gt;
		&lt;a href=&quot;{{ urlGen()-&gt;adminUrl(&#039;blacklists&#039;) }}&quot; class=&quot;sidebar-link&quot;&gt;
			&lt;i class=&quot;mdi mdi-adjust&quot;&gt;&lt;/i&gt;
			&lt;span class=&quot;hide-menu&quot;&gt;{{ trans(&#039;admin.blacklist&#039;) }}&lt;/span&gt;
		&lt;/a&gt;
	&lt;/li&gt;
@endif
@if (doesUserHavePermission($authUser, &#039;admin.report-type.view&#039;) || userHasSuperAdminPermissions())
	&lt;li class=&quot;sidebar-item&quot;&gt;
		&lt;a href=&quot;{{ urlGen()-&gt;adminUrl(&#039;report-types&#039;) }}&quot; class=&quot;sidebar-link&quot;&gt;
			&lt;i class=&quot;mdi mdi-adjust&quot;&gt;&lt;/i&gt;
			&lt;span class=&quot;hide-menu&quot;&gt;{{ trans(&#039;admin.report types&#039;) }}&lt;/span&gt;
		&lt;/a&gt;
	&lt;/li&gt;
@endif


<hr>
<!-- PEDROO_NEXT_FILE: /ads/resources/views/admin/panel/buttons/line/delete.blade.php -->
<!-- PEDROO_NEXT_DIR: /ads/resources/views/admin/panel -->

</body>
</html>