<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>/ads/resources/views/front/layouts/partials/navs/languages.blade.php</title>
<style>
body { font-family: monospace; white-space: pre; }
</style>
</head>
<body>
@php
	/*
	 * The languages selection nav-item view variables are also used in the languages modal view
	 * available at: ../modal/languages.blade.php
	 */
	 
	$countries ??= collect();
	$showCountryFlagNextLang = (config(&#039;settings.localization.show_country_flag&#039;) == &#039;in_next_lang&#039;);
	
	$showCountrySpokenLang = config(&#039;settings.localization.show_country_spoken_languages&#039;);
	$showCountrySpokenLang = str_starts_with($showCountrySpokenLang, &#039;active&#039;);
	$supportedLanguages = $showCountrySpokenLang ? getCountrySpokenLanguages() : getSupportedLanguages();
	
	$supportedLanguagesExist = (count($supportedLanguages) &gt; 1);
	$isLangOrCountryCanBeSelected = ($supportedLanguagesExist || $showCountryFlagNextLang);
	
	// Check if the Multi-Countries selection is enabled
	$multiCountryIsEnabled = false;
	$multiCountryLabel = &#039;&#039;;
	if ($showCountryFlagNextLang) {
		if (!empty(config(&#039;country.code&#039;))) {
			if ($countries-&gt;count() &gt; 1) {
				$multiCountryIsEnabled = true;
			}
		}
	}
	
	$countryName = config(&#039;country.name&#039;);
	$countryFlag32Url = config(&#039;country.flag32_url&#039;);
	
	$countryFlagImg = $showCountryFlagNextLang
		? &#039;&lt;img class=&quot;flag-icon&quot; src=&quot;&#039; . $countryFlag32Url . &#039;&quot; alt=&quot;&#039; . $countryName . &#039;&quot;&gt;&#039;
		: null;
	
	// Links CSS Class
	$defaultLinkColorClass ??= linkClass(&#039;body-emphasis&#039;);
	$defaultLinkColorClass = !empty($defaultLinkColorClass) ? &#039; &#039; . trim($defaultLinkColorClass) : &#039;&#039;;
	
	$defaultHeaderItemShadowClass ??= &#039;&#039;;
	$itemShadowClass = !empty($defaultHeaderItemShadowClass) ? &#039; &#039; . trim($defaultHeaderItemShadowClass) : &#039;&#039;;
@endphp

@if ($isLangOrCountryCanBeSelected)
	&lt;li class=&quot;nav-item dropdown&quot;&gt;
		&lt;a href=&quot;#selectLanguage&quot;
		   class=&quot;nav-link dropdown-toggle{{ $defaultLinkColorClass . $itemShadowClass }}&quot;
		   role=&quot;button&quot;
		   data-bs-toggle=&quot;modal&quot;
		&gt;
			@if (!empty($countryFlagImg))
				&lt;span&gt;
					{!! $countryFlagImg !!}&lt;span class=&quot;d-none d-xl-inline-block ms-0 ms-xl-1&quot;&gt;{{ strtoupper(config(&#039;app.locale&#039;)) }}&lt;/span&gt;
				&lt;/span&gt;
			@else
				&lt;span&gt;&lt;i class=&quot;bi bi-translate&quot;&gt;&lt;/i&gt;&lt;/span&gt;
			@endif
			&lt;span class=&quot;d-inline-block d-xl-none ms-1&quot;&gt;{{ trans(&#039;global.language&#039;) }}&lt;/span&gt;
		&lt;/a&gt;
	&lt;/li&gt;
@endif

@section(&#039;modal_languages&#039;)
	@include(&#039;front.layouts.partials.modal.languages&#039;)
@endsection


<hr>
<!-- PEDROO_NEXT_FILE: /ads/resources/views/front/layouts/partials/navs/menus/footer.blade.php -->
<!-- PEDROO_NEXT_DIR: /ads/resources/views/front/layouts/partials/navs/menus -->

</body>
</html>