<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>/ads/resources/views/front/layouts/partials/navs/themes.blade.php</title>
<style>
body { font-family: monospace; white-space: pre; }
</style>
</head>
<body>
@php
	use App\Enums\ThemePreference;
@endphp
@if (isSettingsAppDarkModeEnabled() || isAdminPanelRoute())
	@php
		$showIconOnly ??= false;
		
		// Get all themes
		$userThemes = getFormattedThemes();
		
		// Get selected theme
		$defaultTheme = isSettingsAppSystemThemeEnabled()
			? ThemePreference::SYSTEM-&gt;value
			: ThemePreference::LIGHT-&gt;value;
		$defaultThemeLabel = isSettingsAppSystemThemeEnabled()
			? ThemePreference::SYSTEM-&gt;label()
			: ThemePreference::LIGHT-&gt;label();
		$selectedTheme = getThemePreference() ?? $defaultTheme;
		$selectedThemeLabel = getFormattedThemes(theme: $selectedTheme, iconOnly: $showIconOnly)[&#039;label&#039;] ?? $defaultThemeLabel;
		$selectedThemeForcedLabel = getFormattedThemes(theme: $selectedTheme)[&#039;label&#039;] ?? $defaultThemeLabel;
		
		// Tag &amp; CSS Classes
		$dropdownTag ??= &#039;div&#039;;
		$dropdownClass ??= &#039;&#039;;
		$buttonClass ??= &#039;&#039;; // btn btn-secondary
		$menuAlignment ??= &#039;&#039;; // dropdown-menu-end
		
		$dropdownTag = in_array($dropdownTag, [&#039;div&#039;, &#039;li&#039;, &#039;span&#039;, &#039;p&#039;]) ? $dropdownTag : &#039;div&#039;;
		$dropdownClass = !empty($dropdownClass) ? &#039; &#039; . $dropdownClass : &#039;&#039;;
		$menuAlignment = !empty($menuAlignment) ? &#039; &#039; . $menuAlignment : &#039;&#039;;
		
		$defaultLinkColorClass ??= linkClass(&#039;body-emphasis&#039;);
		$defaultLinkColorClass = !empty($defaultLinkColorClass) ? &#039; &#039; . trim($defaultLinkColorClass) : &#039;&#039;;
		
		$defaultHeaderItemShadowClass ??= &#039;&#039;;
		$itemShadowClass = !empty($defaultHeaderItemShadowClass) ? &#039; &#039; . trim($defaultHeaderItemShadowClass) : &#039;&#039;;
	@endphp
	@if (!empty($userThemes))
		&lt;{{ $dropdownTag }} id=&quot;themeSwitcher&quot; class=&quot;dropdown{{ $dropdownClass }}&quot;&gt;
			&lt;a href=&quot;#&quot;
			   data-theme=&quot;{{ $selectedTheme }}&quot;
			   class=&quot;{{ $buttonClass }} dropdown-toggle{{ $defaultLinkColorClass . $itemShadowClass }}&quot;
			   role=&quot;button&quot;
			   data-bs-toggle=&quot;dropdown&quot;
			   aria-expanded=&quot;false&quot;
			&gt;
				&lt;span class=&quot;large-screen d-none d-xl-inline-block&quot;&gt;{!! $selectedThemeLabel !!}&lt;/span&gt;
				&lt;span class=&quot;small-screen d-inline-block d-xl-none ms-1&quot;&gt;{!! $selectedThemeForcedLabel !!}&lt;/span&gt;
			&lt;/a&gt;
			
			&lt;ul id=&quot;themesNavDropdown&quot; class=&quot;dropdown-menu shadow-sm{{ $menuAlignment }}&quot;&gt;
				@foreach($userThemes as $key =&gt; $label)
					@php
						$activeClass = ($selectedTheme == $key) ? &#039; active&#039; : &#039;&#039;;
					@endphp
					&lt;li&gt;
						&lt;a href=&quot;&quot;
						   data-csrf-token=&quot;{{ csrf_token() }}&quot;
						   data-theme=&quot;{{ $key }}&quot;
						   data-user-id=&quot;{{ $authUser-&gt;id ?? null }}&quot;
						   class=&quot;dropdown-item{{ $activeClass }}&quot;
						&gt;
							{!! $label[&#039;label&#039;] ?? &#039;&#039; !!}
						&lt;/a&gt;
					&lt;/li&gt;
				@endforeach
			&lt;/ul&gt;
		&lt;/{{ $dropdownTag }}&gt;
	@endif
@endif


<hr>
<!-- PEDROO_NEXT_FILE: /ads/resources/views/front/layouts/partials/social/horizontal.blade.php -->
<!-- PEDROO_NEXT_DIR: /ads/resources/views/front/layouts/partials/navs/menus -->

</body>
</html>