<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>/ads/resources/views/front/layouts/partials/modal/error.blade.php</title>
<style>
body { font-family: monospace; white-space: pre; }
</style>
</head>
<body>
{{-- Show AJAX Errors (for JS) --}}
&lt;div class=&quot;modal fade&quot; id=&quot;errorModal&quot; tabindex=&quot;-1&quot; aria-labelledby=&quot;errorModalLabel&quot; aria-hidden=&quot;true&quot;&gt;
	&lt;div class=&quot;modal-dialog modal-lg&quot;&gt;
		&lt;div class=&quot;modal-content&quot;&gt;
			
			&lt;div class=&quot;modal-header px-3&quot;&gt;
				&lt;h4 class=&quot;modal-title fs-5 fw-bold&quot; id=&quot;errorModalLabel&quot;&gt;
					{{ trans(&#039;global.error_found&#039;) }}
				&lt;/h4&gt;
				
				&lt;button type=&quot;button&quot; class=&quot;btn-close&quot; data-bs-dismiss=&quot;modal&quot; aria-label=&quot;{{ trans(&#039;global.Close&#039;) }}&quot;&gt;&lt;/button&gt;
			&lt;/div&gt;
			
			&lt;div class=&quot;modal-body&quot;&gt;
				&lt;div class=&quot;row&quot;&gt;
					&lt;div id=&quot;errorModalBody&quot; class=&quot;col-12&quot;&gt;
						...
					&lt;/div&gt;
				&lt;/div&gt;
			&lt;/div&gt;
			
			&lt;div class=&#039;modal-footer&#039;&gt;
				&lt;button type=&quot;button&quot; class=&quot;btn btn-primary&quot; data-bs-dismiss=&quot;modal&quot;&gt;{{ trans(&#039;global.Close&#039;) }}&lt;/button&gt;
			&lt;/div&gt;
			
		&lt;/div&gt;
	&lt;/div&gt;
&lt;/div&gt;

@section(&#039;after_scripts&#039;)
	@parent
@endsection


<hr>
<!-- PEDROO_NEXT_FILE: /ads/resources/views/front/layouts/partials/modal/languages.blade.php -->
<!-- PEDROO_NEXT_DIR: /ads/resources/views/front/layouts/partials/modal/location -->

</body>
</html>