<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>/ads/resources/views/front/layouts/partials/modal/location.blade.php</title>
<style>
body { font-family: monospace; white-space: pre; }
</style>
</head>
<body>
@php
	$admin ??= null;
	$city ??= null;
	
	$adminType = config(&#039;country.admin_type&#039;, 0);
	$relAdminType = (in_array($adminType, [&#039;1&#039;, &#039;2&#039;])) ? $adminType : 1;
	$adminCode = data_get($city, &#039;subadmin&#039; . $relAdminType . &#039;_code&#039;) ?? data_get($admin, &#039;code&#039;) ?? 0;
	
	$inputs = request()-&gt;all();
	$currSearch = base64_encode(serialize($inputs));
@endphp
{{-- Modal Select City --}}
&lt;div class=&quot;modal fade&quot; id=&quot;browseLocations&quot; tabindex=&quot;-1&quot; aria-labelledby=&quot;browseLocationsLabel&quot; aria-hidden=&quot;true&quot;&gt;
	&lt;div class=&quot;modal-dialog modal-lg modal-dialog-scrollable&quot;&gt;
		&lt;div class=&quot;modal-content&quot;&gt;
			
			&lt;div class=&quot;modal-header px-3&quot;&gt;
				&lt;h4 class=&quot;modal-title fs-5 fw-bold&quot; id=&quot;browseLocationsLabel&quot;&gt;
					&lt;i class=&quot;fa-regular fa-map&quot;&gt;&lt;/i&gt; {{ trans(&#039;global.select_a_location&#039;) }}
				&lt;/h4&gt;
				
				&lt;button type=&quot;button&quot; class=&quot;btn-close&quot; data-bs-dismiss=&quot;modal&quot; aria-label=&quot;{{ trans(&#039;global.Close&#039;) }}&quot;&gt;&lt;/button&gt;
			&lt;/div&gt;
			
			&lt;div class=&quot;modal-body&quot;&gt;
				&lt;div class=&quot;row&quot;&gt;
					&lt;div class=&quot;col-12&quot;&gt;
						&lt;div id=&quot;locationsTitle&quot; class=&quot;mb-3&quot;&gt;
							{!! trans(&#039;global.locations_in_country&#039;, [&#039;country&#039; =&gt; config(&#039;country.name&#039;)]) !!}
						&lt;/div&gt;
						
						&lt;div class=&quot;col-12 border-bottom p-0 pb-3 mb-3&quot;&gt;
							&lt;form id=&quot;locationsModalForm&quot; method=&quot;POST&quot;&gt;
								@csrf
								
								&lt;input type=&quot;hidden&quot; id=&quot;modalCountryChanged&quot; name=&quot;country_changed&quot; value=&quot;0&quot;&gt;
								&lt;input type=&quot;hidden&quot; id=&quot;modalTriggerName&quot; name=&quot;trigger_name&quot; value=&quot;&quot;&gt;
								&lt;input type=&quot;hidden&quot; id=&quot;modalUrl&quot; name=&quot;url&quot; value=&quot;&quot;&gt;
								&lt;input type=&quot;hidden&quot; id=&quot;modalAdminType&quot; name=&quot;admin_type&quot; value=&quot;{{ $adminType }}&quot;&gt;
								&lt;input type=&quot;hidden&quot; id=&quot;modalAdminCode&quot; name=&quot;admin_code&quot; value=&quot;&quot;&gt;
								&lt;input type=&quot;hidden&quot; id=&quot;currSearch&quot; name=&quot;curr_search&quot; value=&quot;{!! $currSearch !!}&quot;&gt;
								
								&lt;div class=&quot;row g-3&quot;&gt;
									&lt;div class=&quot;col-sm-12 col-md-11 col-lg-10&quot;&gt;
										&lt;div class=&quot;input-group position-relative d-inline-flex align-items-center&quot;&gt;
											&lt;input type=&quot;text&quot;
												   id=&quot;modalQuery&quot;
												   name=&quot;query&quot;
												   class=&quot;form-control input-md&quot;
												   placeholder=&quot;{{ trans(&#039;global.search_a_location&#039;) }}&quot;
												   aria-label=&quot;{{ trans(&#039;global.search_a_location&#039;) }}&quot;
												   value=&quot;&quot;
												   autocomplete=&quot;off&quot;
											&gt;
											&lt;span class=&quot;input-group-text&quot;&gt;
												&lt;i id=&quot;modalQueryClearBtn&quot; class=&quot;bi bi-x-lg&quot; style=&quot;cursor: pointer;&quot;&gt;&lt;/i&gt;
											&lt;/span&gt;
										&lt;/div&gt;
									&lt;/div&gt;
									&lt;div class=&quot;col-sm-12 col-md-3 col-lg-2 d-grid&quot;&gt;
										&lt;button id=&quot;modalQuerySearchBtn&quot; class=&quot;btn btn-primary&quot;&gt; {{ trans(&#039;global.find&#039;) }} &lt;/button&gt;
									&lt;/div&gt;
								&lt;/div&gt;
							&lt;/form&gt;
						&lt;/div&gt;
					&lt;/div&gt;
					
					&lt;div class=&quot;col-12&quot; id=&quot;locationsList&quot;&gt;&lt;/div&gt;
				&lt;/div&gt;
			&lt;/div&gt;
			
		&lt;/div&gt;
	&lt;/div&gt;
&lt;/div&gt;

@section(&#039;after_scripts&#039;)
	@parent
	&lt;script&gt;
		{{-- Modal Default Admin1 Code --}}
		var defaultAdminType = &#039;{{ $adminType }}&#039;;
		var defaultAdminCode = &#039;{{ $adminCode }}&#039;;
	&lt;/script&gt;
	&lt;script src=&quot;{{ url(&#039;assets/js/app/browse.locations.js&#039;) . vTime() }}&quot;&gt;&lt;/script&gt;
@endsection


<hr>
<!-- PEDROO_NEXT_FILE: /ads/resources/views/front/layouts/partials/modal/location/admins.blade.php -->
<!-- PEDROO_NEXT_DIR: /ads/resources/views/front/layouts/partials/modal/location -->

</body>
</html>