<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>/ads/resources/views/front/post/show/partials/details/fields-values.blade.php</title>
<style>
body { font-family: monospace; white-space: pre; }
</style>
</head>
<body>
@php
	$customFields ??= [];
@endphp
@if (!empty($customFields))
	&lt;div class=&quot;row gx-1 gy-1 mt-3&quot;&gt;
		&lt;div class=&quot;col-12&quot;&gt;
			&lt;div class=&quot;row mb-3&quot;&gt;
				&lt;div class=&quot;col-12&quot;&gt;
					&lt;h4 class=&quot;p-0 fs-5&quot;&gt;
						&lt;i class=&quot;bi bi-journal-plus&quot;&gt;&lt;/i&gt; {{ trans(&#039;global.Additional Details&#039;) }}
					&lt;/h4&gt;
				&lt;/div&gt;
			&lt;/div&gt;
		&lt;/div&gt;
		
		&lt;div class=&quot;col-12&quot;&gt;
			&lt;div class=&quot;row gx-1 gy-1&quot;&gt;
				@foreach($customFields as $field)
					@php
						$fieldType = data_get($field, &#039;type&#039;);
						$fieldName = data_get($field, &#039;name&#039;);
						$fieldValue = data_get($field, &#039;value&#039;);
					@endphp
					@if (is_array($fieldValue))
						@if (count($fieldValue) &gt; 0)
							&lt;div class=&quot;col-12&quot;&gt;
								&lt;div class=&quot;row bg-body-tertiary rounded py-2 mx-0&quot;&gt;
									&lt;div class=&quot;col-12 mb-2 fw-bolder&quot;&gt;{{ $fieldName }}:&lt;/div&gt;
									&lt;div class=&quot;row&quot;&gt;
										@foreach($fieldValue as $valueItem)
											&lt;div class=&quot;col-sm-4 col-6 py-2&quot;&gt;
												&lt;i class=&quot;fa-solid fa-check&quot;&gt;&lt;/i&gt; {{ $valueItem }}
											&lt;/div&gt;
										@endforeach
									&lt;/div&gt;
								&lt;/div&gt;
							&lt;/div&gt;
						@endif
					@else
						@if (is_string($fieldValue) || is_numeric($fieldValue) || is_bool($fieldValue))
							@if ($fieldType == &#039;file&#039;)
								&lt;div class=&quot;col-12&quot;&gt;
									&lt;div class=&quot;row bg-body-tertiary rounded py-2 mx-0&quot;&gt;
										&lt;div class=&quot;col-6 fw-bolder&quot;&gt;{{ $fieldName }}&lt;/div&gt;
										&lt;div class=&quot;col-6 text-sm-end text-start&quot;&gt;
											&lt;a class=&quot;btn btn-secondary&quot; href=&quot;{{ $fieldValue }}&quot; target=&quot;_blank&quot;&gt;
												&lt;i class=&quot;fa-solid fa-paperclip&quot;&gt;&lt;/i&gt; {{ trans(&#039;global.Download&#039;) }}
											&lt;/a&gt;
										&lt;/div&gt;
									&lt;/div&gt;
								&lt;/div&gt;
							@elseif ($fieldType == &#039;video&#039;)
								&lt;div class=&quot;col-12&quot;&gt;
									&lt;div class=&quot;row bg-body-tertiary rounded py-2 mx-0&quot;&gt;
										&lt;div class=&quot;col-12 fw-bolder&quot;&gt;{{ $fieldName }}:&lt;/div&gt;
										&lt;div class=&quot;col-12 d-flex justify-content-center embed-responsive embed-responsive-16by9&quot;&gt;
											{!! $fieldValue !!}
										&lt;/div&gt;
									&lt;/div&gt;
								&lt;/div&gt;
							@else
								&lt;div class=&quot;col-sm-6 col-12&quot;&gt;
									&lt;div class=&quot;row bg-body-tertiary rounded py-2 mx-0&quot;&gt;
										&lt;div class=&quot;col-6 fw-bolder&quot;&gt;{{ $fieldName }}&lt;/div&gt;
										&lt;div class=&quot;col-6 text-sm-end text-start&quot;&gt;
											{!! $fieldValue !!}
										&lt;/div&gt;
									&lt;/div&gt;
								&lt;/div&gt;
							@endif
						@endif
					@endif
				@endforeach
			&lt;/div&gt;
		&lt;/div&gt;
	&lt;/div&gt;
@endif


<hr>
<!-- PEDROO_NEXT_FILE: /ads/resources/views/front/post/show/partials/pictures-slider.blade.php -->
<!-- PEDROO_NEXT_DIR: /ads/resources/views/front/post/show/partials/pictures-slider -->

</body>
</html>