<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>/ads/resources/views/front/post/show/partials/details.blade.php</title>
<style>
body { font-family: monospace; white-space: pre; }
</style>
</head>
<body>
@php
	$authUser = auth()-&gt;check() ? auth()-&gt;user() : null;
	$authUserId = !empty($authUser) ? $authUser-&gt;getAuthIdentifier() : 0;
	
	$post ??= [];
@endphp
&lt;div class=&quot;items-details&quot;&gt;
	&lt;div class=&quot;row&quot;&gt;
		&lt;div class=&quot;col-12&quot;&gt;
			{{-- Tab navs --}}
			&lt;ul class=&quot;nav nav-tabs&quot; id=&quot;itemsDetailsTabs&quot; role=&quot;tablist&quot;&gt;
				&lt;li class=&quot;nav-item&quot; role=&quot;presentation&quot;&gt;
					&lt;button class=&quot;nav-link active&quot;
							id=&quot;item-details-tab&quot;
							data-bs-toggle=&quot;tab&quot;
							data-bs-target=&quot;#item-details&quot;
							type=&quot;button&quot;
							role=&quot;tab&quot;
							aria-controls=&quot;item-details&quot;
							aria-selected=&quot;true&quot;
					&gt;
						&lt;span class=&quot;fs-5 fw-bold&quot;&gt;{{ trans(&#039;global.listing_details&#039;) }}&lt;/span&gt;
					&lt;/button&gt;
				&lt;/li&gt;
				@if (config(&#039;addons.reviews.installed&#039;))
					@php
						$reviewLabel = config(&#039;addons.reviews.name&#039;);
					@endphp
					&lt;li class=&quot;nav-item&quot; role=&quot;presentation&quot;&gt;
						&lt;button class=&quot;nav-link&quot;
								id=&quot;item-{{ $reviewLabel }}-tab&quot;
								data-bs-toggle=&quot;tab&quot;
								data-bs-target=&quot;#item-{{ $reviewLabel }}&quot;
								type=&quot;button&quot;
								role=&quot;tab&quot;
								aria-controls=&quot;item-{{ $reviewLabel }}&quot;
								aria-selected=&quot;false&quot;
						&gt;
							&lt;span class=&quot;fs-5 fw-bold&quot;&gt;
								{{ trans(&#039;reviews::messages.Reviews&#039;) }} ({{ data_get($post, &#039;rating_count&#039;, 0) }})
							&lt;/span&gt;
						&lt;/button&gt;
					&lt;/li&gt;
				@endif
			&lt;/ul&gt;
			
			{{-- Tab panes --}}
			&lt;div class=&quot;tab-content border border-top-0 rounded-bottom bg-body p-3 mb-3&quot; id=&quot;itemsDetailsTabsContent&quot;&gt;
				&lt;div class=&quot;tab-pane show active&quot; id=&quot;item-details&quot; role=&quot;tabpanel&quot; aria-labelledby=&quot;item-details-tab&quot; tabindex=&quot;0&quot;&gt;
					&lt;div class=&quot;row pb-3&quot;&gt;
						&lt;div class=&quot;items-details-info col-md-12 col-sm-12 col-12 text-wrap from-wysiwyg&quot;&gt;
							
							&lt;div class=&quot;row border-bottom pb-2 mb-3&quot;&gt;
								{{-- Location --}}
								&lt;div class=&quot;col-md-6 col-sm-6 col-6&quot;&gt;
									&lt;h4 class=&quot;p-0 fs-5 fw-normal&quot;&gt;
										&lt;span class=&quot;fw-bold&quot;&gt;&lt;i class=&quot;bi bi-geo-alt&quot;&gt;&lt;/i&gt; {{ trans(&#039;global.location&#039;) }}: &lt;/span&gt;
										&lt;span&gt;
											&lt;a href=&quot;{!! urlGen()-&gt;city(data_get($post, &#039;city&#039;)) !!}&quot; class=&quot;{{ linkClass() }}&quot;&gt;
												{{ data_get($post, &#039;city.name&#039;) }}
											&lt;/a&gt;
										&lt;/span&gt;
									&lt;/h4&gt;
								&lt;/div&gt;
								
								{{-- Price / Salary --}}
								&lt;div class=&quot;col-md-6 col-sm-6 col-6 text-end&quot;&gt;
									&lt;h4 class=&quot;p-0 fs-5 fw-normal&quot;&gt;
										&lt;span class=&quot;fw-bold&quot;&gt;
											{{ data_get($post, &#039;price_label&#039;) }}
										&lt;/span&gt;
										&lt;span&gt;
											{!! data_get($post, &#039;price_formatted&#039;) !!}
											@if (data_get($post, &#039;negotiable&#039;) == 1)
												&lt;small class=&quot;badge rounded-pill text-bg-info&quot;&gt; {{ trans(&#039;global.negotiable&#039;) }}&lt;/small&gt;
											@endif
										&lt;/span&gt;
									&lt;/h4&gt;
								&lt;/div&gt;
							&lt;/div&gt;
							
							{{-- Description --}}
							&lt;div class=&quot;row&quot;&gt;
								&lt;div class=&quot;col-12 detail-line-content&quot;&gt;
									{!! data_get($post, &#039;description&#039;) !!}
								&lt;/div&gt;
							&lt;/div&gt;
							
							{{-- Custom Fields --}}
							@include(&#039;front.post.show.partials.details.fields-values&#039;)
							
							{{-- Tags --}}
							@if (!empty(data_get($post, &#039;tags&#039;)))
								&lt;div class=&quot;row mt-3&quot;&gt;
									&lt;div class=&quot;col-12&quot;&gt;
										&lt;h4 class=&quot;p-0 my-3 fs-5&quot;&gt;&lt;i class=&quot;bi bi-tags&quot;&gt;&lt;/i&gt; {{ trans(&#039;global.Tags&#039;) }}:&lt;/h4&gt;
										@foreach(data_get($post, &#039;tags&#039;) as $iTag)
											&lt;span class=&quot;d-inline-block border border-inverse bg-body-tertiary rounded-1 py-1 px-2 my-1 me-1&quot;&gt;
												&lt;a href=&quot;{{ urlGen()-&gt;tag($iTag) }}&quot; class=&quot;{{ linkClass() }}&quot;&gt;
													{{ $iTag }}
												&lt;/a&gt;
											&lt;/span&gt;
										@endforeach
									&lt;/div&gt;
								&lt;/div&gt;
							@endif
							
							{{-- Actions --}}
							@if (empty($authUserId) || $authUserId != data_get($post, &#039;user_id&#039;))
								&lt;div class=&quot;row mt-4 fs-1 text-center&quot;&gt;
									&lt;div class=&quot;col-4&quot;&gt;
										@if (!empty($authUser))
											@if ($authUserId == data_get($post, &#039;user_id&#039;))
												&lt;a href=&quot;{{ urlGen()-&gt;editPost($post) }}&quot; class=&quot;{{ linkClass() }}&quot;&gt;
													&lt;i class=&quot;fa-regular fa-pen-to-square&quot; data-bs-toggle=&quot;tooltip&quot; title=&quot;{{ trans(&#039;global.Edit&#039;) }}&quot;&gt;&lt;/i&gt;
												&lt;/a&gt;
											@else
												{!! genEmailContactBtn($post, false, true) !!}
											@endif
										@else
											{!! genEmailContactBtn($post, false, true) !!}
										@endif
									&lt;/div&gt;
									@if (isVerifiedPost($post))
										&lt;div class=&quot;col-4&quot;&gt;
											@php
												$postId = data_get($post, &#039;id&#039;);
												$savedByLoggedUser = (bool)data_get($post, &#039;p_saved_by_logged_user&#039;);
											@endphp
											&lt;a class=&quot;make-favorite {{ linkClass() }}&quot; id=&quot;{{ $postId }}&quot; href=&quot;javascript:void(0)&quot;&gt;
												@if ($savedByLoggedUser)
													&lt;i class=&quot;bi bi-heart-fill&quot; data-bs-toggle=&quot;tooltip&quot; title=&quot;{{ trans(&#039;global.Remove favorite&#039;) }}&quot;&gt;&lt;/i&gt;
												@else
													&lt;i class=&quot;bi bi-heart&quot; data-bs-toggle=&quot;tooltip&quot; title=&quot;{{ trans(&#039;global.Save listing&#039;) }}&quot;&gt;&lt;/i&gt;
												@endif
											&lt;/a&gt;
										&lt;/div&gt;
										&lt;div class=&quot;col-4&quot;&gt;
											&lt;a href=&quot;{{ urlGen()-&gt;reportPost($post) }}&quot; class=&quot;{{ linkClass() }}&quot;&gt;
												&lt;i class=&quot;fa-regular fa-flag&quot; data-bs-toggle=&quot;tooltip&quot; title=&quot;{{ trans(&#039;global.Report abuse&#039;) }}&quot;&gt;&lt;/i&gt;
											&lt;/a&gt;
										&lt;/div&gt;
									@endif
								&lt;/div&gt;
							@endif
						&lt;/div&gt;
					
					&lt;/div&gt;
				&lt;/div&gt;
				
				@if (config(&#039;addons.reviews.installed&#039;))
					@if (view()-&gt;exists(&#039;reviews::comments&#039;))
						@include(&#039;reviews::comments&#039;)
					@endif
				@endif
			&lt;/div&gt;
		&lt;/div&gt;
		
		&lt;div class=&quot;col-12&quot;&gt;
			&lt;div class=&quot;hstack gap-3 text-start&quot;&gt;
				@if (!empty($authUser))
					@if ($authUserId == data_get($post, &#039;user_id&#039;))
						&lt;a class=&quot;btn btn-outline-primary&quot; href=&quot;{{ urlGen()-&gt;editPost($post) }}&quot;&gt;
							&lt;i class=&quot;fa-regular fa-pen-to-square&quot;&gt;&lt;/i&gt; {{ trans(&#039;global.Edit&#039;) }}
						&lt;/a&gt;
					@else
						{!! genPhoneNumberBtn($post) !!}
						{!! genEmailContactBtn($post) !!}
					@endif
				@else
					{!! genPhoneNumberBtn($post) !!}
					{!! genEmailContactBtn($post) !!}
				@endif
			&lt;/div&gt;
		&lt;/div&gt;
	&lt;/div&gt;
&lt;/div&gt;

@section(&#039;after_scripts&#039;)
	@parent
	&lt;script&gt;
		onDocumentReady((event) =&gt; {
			/*...*/
		});
	&lt;/script&gt;
@endsection


<hr>
<!-- PEDROO_NEXT_FILE: /ads/resources/views/front/post/show/partials/details/fields-values.blade.php -->
<!-- PEDROO_NEXT_DIR: /ads/resources/views/front/post/show/partials/details -->

</body>
</html>