<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>/ads/resources/views/front/post/show/partials/pictures-slider.blade.php</title>
<style>
body { font-family: monospace; white-space: pre; }
</style>
</head>
<body>
@php
	$post ??= [];
	$titleSlug = str(data_get($post, &#039;title&#039;))-&gt;slug();
	
	$price = data_get($post, &#039;price_formatted&#039;);
	
	$picturesSliderPath = &#039;front.post.show.partials.pictures-slider.&#039;;
	$defaultPicturesSlider = &#039;swiper-horizontal&#039;;
	$picturesSlider = $picturesSliderPath . config(&#039;settings.listing_page.pictures_slider&#039;, $defaultPicturesSlider);
@endphp

@if (view()-&gt;exists($picturesSlider))
	@include($picturesSlider)
@else
	@php
		$defaultPicturesSlider = $picturesSliderPath . $defaultPicturesSlider;
	@endphp
	@if (view()-&gt;exists($defaultPicturesSlider))
		@include($defaultPicturesSlider)
	@endif
@endif

@section(&#039;after_styles&#039;)
	@parent
	&lt;link href=&quot;{{ url(&#039;assets/plugins/swipebox/1.5.2/css/swipebox.css&#039;) }}&quot; rel=&quot;stylesheet&quot;/&gt;
	@if (config(&#039;lang.direction&#039;) == &#039;rtl&#039;)
		&lt;style&gt;
			html.swipebox-html {
				overflow: hidden !important;
			}
			html.swipebox-html #swipebox-overlay {
				direction: ltr;
			}
		&lt;/style&gt;
	@endif
@endsection
@section(&#039;after_scripts&#039;)
	@parent
	&lt;script src=&quot;{{ url(&#039;assets/plugins/swipebox/1.5.2/js/jquery.swipebox.js&#039;) }}&quot;&gt;&lt;/script&gt;
	&lt;script&gt;
		onDocumentReady((event) =&gt; {
			
			let documentBody = $(document.body);
			
			{{-- Navigate to the Swipebox next img when clicking on the current img --}}
			documentBody.on(&#039;click touchend&#039;, &#039;#swipebox-slider .current img&#039;, function() {
				let clickedEl = $(this).get(0);
				if (clickedEl === undefined || clickedEl.nodeName === undefined) {
					return false;
				}
				
				if (strToLower(clickedEl.nodeName) === &#039;img&#039;) {
					$(&#039;#swipebox-next&#039;).click();
				}
				
				return false;
			});
			
			{{-- Closing the Swipebox modal on click on the background --}}
			documentBody.on(&#039;click touchend&#039;, &#039;#swipebox-slider .current&#039;, function() {
				let clickedEl = $(this).get(0);
				if (clickedEl === undefined || clickedEl.nodeName === undefined) {
					return false;
				}
				
				if (strToLower(clickedEl.nodeName) !== &#039;img&#039;) {
					$(&#039;#swipebox-close&#039;).click();
				}
			});
			
		});
		
		/**
		 * Get the swipebox items
		 *
		 * @param imgSrcArray
		 * @param title
		 * @returns {*}
		 */
		function formatImgSrcArrayForSwipebox(imgSrcArray, title = &#039;Title&#039;) {
			return map(imgSrcArray, function(imgSrc, index) {
				return { href:imgSrc, title:title };
			});
		}
		
		/**
		 * Get full size src of all pictures
		 *
		 * @param wrapperSelector
		 * @param currentSrc
		 * @returns {*[]}
		 */
		function getFullSizeSrcOfAllImg(wrapperSelector, currentSrc) {
			let allEl = document.querySelectorAll(wrapperSelector);
			
			let imgSrcArray = [getFullSizeSrc(currentSrc)];
			
			forEach(allEl, function(el, index) {
				if (el.src !== currentSrc) {
					imgSrcArray.push(getFullSizeSrc(el.src));
				}
			});
			
			return imgSrcArray;
		}
		
		/**
		 * Get the current picture&#039;s full size source
		 *
		 * @param imgSrc
		 * @returns {*}
		 */
		function getFullSizeSrc(imgSrc) {
			const regexList = [
				/thumbnails\/(\d+)x(\d+)-/i,
				/thumb\/(\d+)x(\d+)-/i,
				/thumb-(\d+)x(\d+)-/i {{-- Old: file prefix --}}
			];
			
			for (let i = 0; i &lt; regexList.length; i++) {
				let regex = regexList[i];
				imgSrc = imgSrc.replace(regex, &#039;&#039;);
			}
			
			return imgSrc;
		}
	&lt;/script&gt;
@endsection


<hr>
<!-- PEDROO_NEXT_FILE: /ads/resources/views/front/post/show/partials/pictures-slider/bootstrap-carousel.blade.php -->
<!-- PEDROO_NEXT_DIR: /ads/resources/views/front/post/show/partials/details -->

</body>
</html>