<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>/ads/resources/views/front/post/show/partials/security-tips.blade.php</title>
<style>
body { font-family: monospace; white-space: pre; }
</style>
</head>
<body>
&lt;div class=&quot;modal fade&quot; id=&quot;securityTips&quot; tabindex=&quot;-1&quot; role=&quot;dialog&quot; aria-labelledby=&quot;exampleModalLabel&quot; aria-hidden=&quot;true&quot;&gt;
	&lt;div class=&quot;modal-dialog modal-lg&quot; role=&quot;document&quot;&gt;
		&lt;div class=&quot;modal-content&quot;&gt;
			
			&lt;div class=&quot;modal-header px-3&quot;&gt;
				&lt;h5 class=&quot;modal-title fs-5 fw-bold&quot; id=&quot;securityTipsLabel&quot;&gt;
					{{ trans(&#039;global.phone_number&#039;) }}
				&lt;/h5&gt;
				
				&lt;button type=&quot;button&quot; class=&quot;btn-close&quot; data-bs-dismiss=&quot;modal&quot; aria-label=&quot;{{ trans(&#039;global.Close&#039;) }}&quot;&gt;&lt;/button&gt;
			&lt;/div&gt;
			
			@php
				$phoneModal = &#039;&#039;;
				$phoneModalLink = &#039;&#039;;
				// If the &#039;hide_phone_number&#039; option is disabled, append phone number in modal
				if (config(&#039;settings.listing_page.hide_phone_number&#039;) == &#039;&#039;) {
					if (isset($post, $post-&gt;phone)) {
						$phoneModal = $post-&gt;phone;
						$phoneModalLink = &#039;tel:&#039; . $post-&gt;phone;
					}
				}
			@endphp
			
			&lt;div class=&quot;modal-body&quot;&gt;
				&lt;div class=&quot;row&quot;&gt;
					&lt;div class=&quot;col-12 text-center&quot;&gt;
						&lt;div id=&quot;phoneModal&quot; class=&quot;p-4 border-2 border-danger bg-body-tertiary rounded h2 fw-bold text-primary&quot;&gt;
							{{ $phoneModal }}
						&lt;/div&gt;
					&lt;/div&gt;
					&lt;div class=&quot;col-12 mt-4&quot;&gt;
						&lt;h3 class=&quot;text-danger fw-bold&quot;&gt;
							&lt;i class=&quot;fa-solid fa-triangle-exclamation&quot;&gt;&lt;/i&gt; {!! trans(&#039;global.security_tips_title&#039;) !!}
						&lt;/h3&gt;
					&lt;/div&gt;
					&lt;div class=&quot;col-12&quot;&gt;
						{!! trans(&#039;global.security_tips_text&#039;, [&#039;appName&#039; =&gt; config(&#039;app.name&#039;)]) !!}
					&lt;/div&gt;
				&lt;/div&gt;
			&lt;/div&gt;
			
			&lt;div class=&quot;modal-footer&quot;&gt;
				&lt;a id=&quot;phoneModalLink&quot; href=&quot;{{ $phoneModalLink }}&quot; class=&quot;btn btn-primary&quot;&gt;
					&lt;i class=&quot;fa-solid fa-mobile-screen-button&quot;&gt;&lt;/i&gt; {{ trans(&#039;global.call_now&#039;) }}
				&lt;/a&gt;
				&lt;button type=&quot;button&quot; class=&quot;btn btn-secondary&quot; data-bs-dismiss=&quot;modal&quot;&gt;{{ trans(&#039;global.Close&#039;) }}&lt;/button&gt;
			&lt;/div&gt;
			
		&lt;/div&gt;
	&lt;/div&gt;
&lt;/div&gt;


<hr>
<!-- PEDROO_NEXT_FILE: /ads/resources/views/front/post/show/partials/sidebar.blade.php -->
<!-- PEDROO_NEXT_DIR: /ads/resources/views/front/post/show/partials/details -->

</body>
</html>