<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>/ads/resources/views/admin/backup.blade.php</title>
<style>
body { font-family: monospace; white-space: pre; }
</style>
</head>
<body>
@extends(&#039;admin.layouts.master&#039;)

@section(&#039;after_styles&#039;)
	{{-- Ladda Buttons (loading buttons) --}}
	&lt;link href=&quot;{{ asset(&#039;assets/plugins/ladda/ladda-themeless.min.css&#039;) }}&quot; rel=&quot;stylesheet&quot; type=&quot;text/css&quot;/&gt;
@endsection

@section(&#039;header&#039;)
	&lt;div class=&quot;row page-titles&quot;&gt;
		&lt;div class=&quot;col-md-6 col-12 align-self-center&quot;&gt;
			&lt;h2 class=&quot;mb-0&quot;&gt;
				{{ trans(&#039;admin.backup&#039;) }}
			&lt;/h2&gt;
		&lt;/div&gt;
		&lt;div class=&quot;col-md-6 col-12 align-self-center d-none d-md-flex justify-content-end&quot;&gt;
			&lt;ol class=&quot;breadcrumb mb-0 p-0 bg-transparent&quot;&gt;
				&lt;li class=&quot;breadcrumb-item&quot;&gt;&lt;a href=&quot;{{ urlGen()-&gt;adminUrl() }}&quot;&gt;{{ trans(&#039;admin.dashboard&#039;) }}&lt;/a&gt;&lt;/li&gt;
				&lt;li class=&quot;breadcrumb-item active d-flex align-items-center&quot;&gt;{{ trans(&#039;admin.backup&#039;) }}&lt;/li&gt;
			&lt;/ol&gt;
		&lt;/div&gt;
	&lt;/div&gt;
@endsection

@section(&#039;content&#039;)
	&lt;div class=&quot;row&quot;&gt;
		&lt;div class=&quot;col-12&quot;&gt;
			
			&lt;div class=&quot;card&quot;&gt;
				&lt;div class=&quot;card-body&quot;&gt;
					&lt;h3 class=&quot;card-title&quot;&gt;
						&lt;i class=&quot;fa-regular fa-circle-question&quot;&gt;&lt;/i&gt; {{ trans(&#039;admin.Help&#039;) }}
					&lt;/h3&gt;
					&lt;p class=&quot;card-text&quot;&gt;{!! trans(&#039;admin.help_backup&#039;, [&#039;backupLocalStorage&#039; =&gt; relativeAppPath(storage_path(&#039;backups&#039;))]) !!}&lt;/p&gt;
				&lt;/div&gt;
			&lt;/div&gt;
			
			&lt;div class=&quot;card border-0&quot;&gt;
				&lt;div class=&quot;card-body text-center&quot;&gt;
					
					&lt;button id=&quot;create-new-backup-button&quot;
					        href=&quot;{{ urlGen()-&gt;adminUrl(&#039;backups/create&#039;) }}&quot;
					        class=&quot;btn btn-success shadow ladda-button backup-button&quot;
					        data-style=&quot;zoom-in&quot;
					&gt;
						&lt;span class=&quot;ladda-label&quot;&gt;
							&lt;i class=&quot;fa-solid fa-download&quot;&gt;&lt;/i&gt; {{ trans(&#039;admin.create_a_new_backup_all&#039;) }}
						&lt;/span&gt;
					&lt;/button&gt;
					
					&lt;button id=&quot;create-new-backup-button1&quot;
					        href=&quot;{{ urlGen()-&gt;adminUrl(&#039;backups/create&#039;).&#039;?type=database&#039; }}&quot;
					        class=&quot;btn btn-primary shadow ladda-button backup-button&quot;
					        data-style=&quot;zoom-in&quot;
					&gt;
						&lt;span class=&quot;ladda-label&quot;&gt;
							&lt;i class=&quot;fa-solid fa-database&quot;&gt;&lt;/i&gt; {{ trans(&#039;admin.create_a_new_backup_database&#039;) }}
						&lt;/span&gt;
					&lt;/button&gt;
					
					&lt;button id=&quot;create-new-backup-button3&quot;
					        href=&quot;{{ urlGen()-&gt;adminUrl(&#039;backups/create&#039;).&#039;?type=languages&#039; }}&quot;
					        class=&quot;btn btn-info shadow ladda-button backup-button&quot;
					        data-style=&quot;zoom-in&quot;
					&gt;
						&lt;span class=&quot;ladda-label&quot;&gt;
							&lt;i class=&quot;fa-solid fa-globe&quot;&gt;&lt;/i&gt; {{ trans(&#039;admin.create_a_new_backup_languages&#039;) }}
						&lt;/span&gt;
					&lt;/button&gt;
					
					&lt;button id=&quot;create-new-backup-button2&quot;
					        href=&quot;{{ urlGen()-&gt;adminUrl(&#039;backups/create&#039;).&#039;?type=files&#039; }}&quot;
					        class=&quot;btn btn-warning shadow text-white ladda-button backup-button&quot;
					        data-style=&quot;zoom-in&quot;
					&gt;
						&lt;span class=&quot;ladda-label&quot;&gt;
							&lt;i class=&quot;fa-regular fa-copy&quot;&gt;&lt;/i&gt; {{ trans(&#039;admin.create_a_new_backup_files&#039;) }}
						&lt;/span&gt;
					&lt;/button&gt;
					
					&lt;button id=&quot;create-new-backup-button4&quot;
					        href=&quot;{{ urlGen()-&gt;adminUrl(&#039;backups/create&#039;).&#039;?type=app&#039; }}&quot;
					        class=&quot;btn btn-danger shadow ladda-button backup-button&quot;
					        data-style=&quot;zoom-in&quot;
					&gt;
						&lt;span class=&quot;ladda-label&quot;&gt;
							&lt;i class=&quot;fa-solid fa-industry&quot;&gt;&lt;/i&gt; {{ trans(&#039;admin.create_a_new_backup_app&#039;) }}
						&lt;/span&gt;
					&lt;/button&gt;
					
					@php
						$backupSetting = \App\Models\Setting::where(&#039;name&#039;, &#039;backup&#039;)-&gt;first([&#039;id&#039;]);
					@endphp
					@if (!empty($backupSetting))
						&lt;a href=&quot;{{ urlGen()-&gt;adminUrl(&#039;settings/&#039; . $backupSetting-&gt;id . &#039;/edit&#039;) }}&quot; class=&quot;btn btn-secondary shadow mb-3&quot;&gt;
							&lt;i class=&quot;fa-solid fa-gear&quot;&gt;&lt;/i&gt; {{ trans(&#039;admin.backup_more_options&#039;) }}
						&lt;/a&gt;
					@endif
				
				&lt;/div&gt;
			&lt;/div&gt;
			
			&lt;div class=&quot;card border-0&quot;&gt;
				&lt;div class=&quot;card-header border-bottom&quot;&gt;
					&lt;h3 class=&quot;card-title&quot;&gt;{{ trans(&#039;admin.existing_backups&#039;) }}:&lt;/h3&gt;
				&lt;/div&gt;
				&lt;div class=&quot;card-body&quot;&gt;
					&lt;table class=&quot;table table-hover table-condensed&quot;&gt;
						&lt;thead&gt;
						&lt;tr&gt;
							&lt;th&gt;#&lt;/th&gt;
							&lt;th&gt;{{ trans(&#039;admin.location&#039;) }}&lt;/th&gt;
							&lt;th&gt;{{ trans(&#039;admin.date&#039;) }}&lt;/th&gt;
							&lt;th class=&quot;text-end&quot;&gt;{{ trans(&#039;admin.file_size&#039;) }}&lt;/th&gt;
							&lt;th class=&quot;text-end&quot;&gt;{{ trans(&#039;admin.actions&#039;) }}&lt;/th&gt;
						&lt;/tr&gt;
						&lt;/thead&gt;
						&lt;tbody&gt;
						@foreach ($backups as $k =&gt; $b)
							@php
								$lastModified = $b[&#039;last_modified&#039;] ?? time();
								$lastModified = \Illuminate\Support\Carbon::createFromTimeStamp($lastModified);
								$lastModified = \App\Helpers\Common\Date::format($lastModified, &#039;backup&#039;);
							@endphp
							&lt;tr&gt;
								&lt;th scope=&quot;row&quot;&gt;{{ $k+1 }}&lt;/th&gt;
								&lt;td&gt;{{ $b[&#039;disk&#039;] }}&lt;/td&gt;
								&lt;td&gt;{{ $lastModified }}&lt;/td&gt;
								&lt;td class=&quot;text-end&quot;&gt;{{ round((int)$b[&#039;file_size&#039;]/1048576, 2).&#039; MB&#039; }}&lt;/td&gt;
								&lt;td class=&quot;text-end&quot;&gt;
									@if ($b[&#039;download&#039;])
										&lt;a class=&quot;btn btn-xs btn-secondary&quot;
										   href=&quot;{{ urlGen()-&gt;adminUrl(&#039;backups/download/&#039;) }}?disk={{ $b[&#039;disk&#039;] }}&amp;path={{ urlencode($b[&#039;file_path&#039;]) }}&amp;file_name={{ urlencode($b[&#039;file_name&#039;]) }}&quot;
										&gt;
											&lt;i class=&quot;fa-solid fa-cloud-arrow-down&quot;&gt;&lt;/i&gt; {{ trans(&#039;admin.download&#039;) }}
										&lt;/a&gt;
									@endif
									&lt;a class=&quot;btn btn-xs btn-danger&quot;
									   data-button-type=&quot;delete&quot;
									   href=&quot;{{ urlGen()-&gt;adminUrl(&#039;backups/delete/&#039;) }}?disk={{ $b[&#039;disk&#039;] }}&amp;path={{ urlencode($b[&#039;file_name&#039;]) }}&quot;
									&gt;
										&lt;i class=&quot;fa-regular fa-trash-can&quot;&gt;&lt;/i&gt; {{ trans(&#039;admin.delete&#039;) }}
									&lt;/a&gt;
								&lt;/td&gt;
							&lt;/tr&gt;
						@endforeach
						&lt;/tbody&gt;
					&lt;/table&gt;
				
				&lt;/div&gt;
			&lt;/div&gt;
		
		&lt;/div&gt;
	&lt;/div&gt;

@endsection

@section(&#039;after_scripts&#039;)
	{{-- Ladda Buttons (loading buttons) --}}
	&lt;script src=&quot;{{ asset(&#039;assets/plugins/ladda/spin.js&#039;) }}&quot;&gt;&lt;/script&gt;
	&lt;script src=&quot;{{ asset(&#039;assets/plugins/ladda/ladda.js&#039;) }}&quot;&gt;&lt;/script&gt;
	
	&lt;script&gt;
		onDocumentReady((event) =&gt; {
			/* Capture the Create new backup button */
			let backupBtnEl = $(&#039;.backup-button&#039;);
			backupBtnEl.click(function (e) {
				e.preventDefault();
				
				if (isDemoDomain()) {
					return false;
				}
				
				var buttonIdSelector = &#039;#&#039; + $(this).attr(&#039;id&#039;);
				var createBackupUrl = $(this).attr(&#039;href&#039;);
				
				/* Create a new instance of ladda for the specified button */
				var l = Ladda.create(document.querySelector(buttonIdSelector));
				
				/* Start loading */
				l.start();
				
				/* Will display a progress bar for 10% of the button width */
				l.setProgress(0.3);
				
				setTimeout(function () {
					l.setProgress(0.6);
				}, 2000);
				
				/* Do the backup through ajax */
				let ajax = $.ajax({
					url: createBackupUrl,
					type: &#039;PUT&#039;
				});
				ajax.done(function (xhr) {
					l.setProgress(0.9);
					
					/* Show an alert with the result */
					if (xhr.indexOf(&#039;failed&#039;) &gt;= 0) {
						new PNotify.alert({
							title: &quot;{{ trans(&#039;admin.create_warning_title&#039;) }}&quot;,
							text: &quot;{{ trans(&#039;admin.create_warning_message&#039;) }}&quot;,
							type: &quot;notice&quot;
						});
						
						/* Stop loading */
						l.setProgress(1);
						l.stop();
						
						return false;
					} else {
						new PNotify.alert({
							title: &quot;{{ trans(&#039;admin.create_confirmation_title&#039;) }}&quot;,
							text: &quot;{{ trans(&#039;admin.create_confirmation_message&#039;) }}&quot;,
							type: &quot;success&quot;
						});
					}
					
					/* Stop loading */
					l.setProgress(1);
					l.stop();
					
					/* refresh the page to show the new file */
					setTimeout(function () {
						location.reload();
					}, 3000);
				});
				ajax.fail(function (xhr) {
					l.setProgress(0.9);
					
					/* Show an alert with the result */
					let message = getErrorMessageFromXhr(xhr);
					if (message !== null) {
						pnotifyAlertClient(&#039;error&#039;, message);
					}
					
					/* Stop loading */
					l.stop();
				});
			});
			
			/* Capture the delete button */
			let deleteBtnEl = $(&#039;[data-button-type=delete]&#039;);
			deleteBtnEl.click(function (e) {
				e.preventDefault();
				
				if (isDemoDomain()) {
					return false;
				}
				
				let deleteButton = $(this);
				let deleteUrl = $(this).attr(&#039;href&#039;);
				
				Swal.fire({
					position: &#039;top&#039;,
					text: langLayout.confirm.message.question,
					icon: &#039;warning&#039;,
					showCancelButton: true,
					confirmButtonText: langLayout.confirm.button.yes,
					cancelButtonText: langLayout.confirm.button.no
				}).then((result) =&gt; {
					if (result.isConfirmed) {
						
						let ajax = $.ajax({
							url: deleteUrl,
							type: &#039;DELETE&#039;
						});
						ajax.done(function (xhr) {
							/* Show an alert with the result */
							pnotifyAlertClient(&#039;success&#039;, langLayout.confirm.message.success);
							
							/* delete the row from the table */
							deleteButton.parentsUntil(&#039;tr&#039;).parent().remove();
						});
						ajax.fail(function (xhr) {
							let message = getErrorMessageFromXhr(xhr);
							if (message !== null) {
								pnotifyAlertClient(&#039;error&#039;, message);
							}
						});
						
					} else if (result.dismiss === Swal.DismissReason.cancel) {
						
						pnotifyAlertClient(&#039;info&#039;, langLayout.confirm.message.cancel);
						
					}
				});
				
			});
		});
	&lt;/script&gt;
@endsection


<hr>
<!-- PEDROO_NEXT_FILE: /ads/resources/views/admin/dashboard.blade.php -->
<!-- PEDROO_NEXT_DIR: /ads/resources/views/admin/dashboard -->

</body>
</html>