<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>/ads/resources/views/admin/dashboard.blade.php</title>
<style>
body { font-family: monospace; white-space: pre; }
</style>
</head>
<body>
@extends(&#039;admin.layouts.master&#039;)

@section(&#039;header&#039;)
	&lt;div class=&quot;row page-titles&quot;&gt;
		&lt;div class=&quot;col-md-5 col-12 align-self-center&quot;&gt;
			&lt;h3 class=&quot;mb-0&quot;&gt;
				{{ trans(&#039;admin.dashboard&#039;) }}
				&lt;small&gt;
					{!! trans(&#039;admin.first_page_you_see&#039;, [
						&#039;appName&#039;    =&gt; config(&#039;app.name&#039;),
						&#039;appVersion&#039; =&gt; config(&#039;version.env&#039;, config(&#039;version.app&#039;))
					]) !!}
				&lt;/small&gt;
			&lt;/h3&gt;
		&lt;/div&gt;
		&lt;div class=&quot;col-md-7 col-12 align-self-center d-none d-md-flex justify-content-end&quot;&gt;
			&lt;ol class=&quot;breadcrumb mb-0 p-0 bg-transparent&quot;&gt;
				&lt;li class=&quot;breadcrumb-item&quot;&gt;&lt;a href=&quot;{{ urlGen()-&gt;adminUrl() }}&quot;&gt;{!! config(&#039;app.name&#039;) !!}&lt;/a&gt;&lt;/li&gt;
				&lt;li class=&quot;breadcrumb-item active d-flex align-items-center&quot;&gt;{{ trans(&#039;admin.dashboard&#039;) }}&lt;/li&gt;
			&lt;/ol&gt;
		&lt;/div&gt;
	&lt;/div&gt;
@endsection

@section(&#039;content&#039;)
    &lt;div class=&quot;row&quot;&gt;
        &lt;div class=&quot;col-12&quot;&gt;
        
			{{-- Small Boxes (Stats Boxes) --}}
			@include(&#039;admin.dashboard.stats-boxes&#039;)
	
			&lt;div class=&quot;row&quot;&gt;
				
				{{-- Posts Chart --}}
				@includeIf(&#039;admin.dashboard.charts.&#039; . $chartsType[&#039;provider&#039;] . &#039;.&#039; . $chartsType[&#039;type&#039;] . &#039;.latest-posts&#039;)
				
				{{-- Users Chart --}}
				@includeIf(&#039;admin.dashboard.charts.&#039; . $chartsType[&#039;provider&#039;] . &#039;.&#039; . $chartsType[&#039;type&#039;] . &#039;.latest-users&#039;)
				
				{{-- Latest Listings --}}
				@include(&#039;admin.dashboard.latest-posts&#039;)
				
				{{-- Latest Users --}}
				@include(&#039;admin.dashboard.latest-users&#039;)
				
				{{-- Posts Chart (ChartJs) --}}
				@include(&#039;admin.dashboard.charts.chartjs.pie.posts-per-country&#039;)
				
				{{-- Posts Chart (ChartJs) --}}
				@include(&#039;admin.dashboard.charts.chartjs.pie.users-per-country&#039;)
				
			&lt;/div&gt;
			
        &lt;/div&gt;
    &lt;/div&gt;
@endsection

{{-- Define blade stacks so css and js can be pushed from the fields to these sections. --}}
@section(&#039;after_styles&#039;)
	&lt;link rel=&quot;stylesheet&quot; href=&quot;{{ asset(&#039;assets/plugins/morris/0.5.1/morris.css&#039;) }}&quot;&gt;
	
	&lt;!-- DASHBOARD LIST CONTENT - dashboard_styles stack --&gt;
	@stack(&#039;dashboard_styles&#039;)
	
	&lt;style&gt;
		/* Bootstrap tooltip need to be in single line */
		{{-- B4 (xs: &lt; 576px | sm: &gt;= 576px | md &gt;= 768px | lg &gt;= 992px | xl: &gt;= 1200px) --}}
		@media (min-width: 992px) {
			.tooltip-inner {
				white-space: nowrap;
				max-width: none;
			}
		}
	&lt;/style&gt;
@endsection

@section(&#039;after_scripts&#039;)
	&lt;script src=&quot;{{ asset(&#039;assets/plugins/raphael/raphael.min.js&#039;) }}&quot;&gt;&lt;/script&gt;
	&lt;script src=&quot;{{ asset(&#039;assets/plugins/morris/morris.min.js&#039;) }}&quot;&gt;&lt;/script&gt;
	&lt;script src=&quot;{{ asset(&#039;assets/plugins/chartjs/2.7.2/Chart.js&#039;) }}&quot;&gt;&lt;/script&gt;
	
	&lt;!-- DASHBOARD LIST CONTENT - dashboard_scripts stack --&gt;
	@stack(&#039;dashboard_scripts&#039;)
@endsection


<hr>
<!-- PEDROO_NEXT_FILE: /ads/resources/views/admin/dashboard/charts/chartjs/pie/posts-per-country.blade.php -->
<!-- PEDROO_NEXT_DIR: /ads/resources/views/admin/dashboard -->

</body>
</html>