<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>/ads/resources/views/admin/translations.blade.php</title>
<style>
body { font-family: monospace; white-space: pre; }
</style>
</head>
<body>
@extends(&#039;admin.layouts.master&#039;)

@section(&#039;header&#039;)
	&lt;div class=&quot;row page-titles&quot;&gt;
		&lt;div class=&quot;col-md-5 col-12 align-self-center&quot;&gt;
			&lt;h3 class=&quot;mb-0&quot;&gt;
				&lt;a href=&quot;{{ urlGen()-&gt;adminUrl(&#039;languages&#039;) }}&quot; class=&quot;btn btn-primary shadow&quot;&gt;
					&lt;i class=&quot;fa-solid fa-arrow-left&quot;&gt;&lt;/i&gt;&amp;nbsp;{{ mb_ucfirst(trans(&#039;admin.languages&#039;)) }}
				&lt;/a&gt;&amp;nbsp;
				{{ trans(&#039;admin.translate&#039;) }} &lt;span class=&quot;text-lowercase&quot;&gt;{{ trans(&#039;admin.site_texts&#039;) }}&lt;/span&gt;
			&lt;/h3&gt;
		&lt;/div&gt;
		&lt;div class=&quot;col-md-7 col-12 align-self-center d-none d-md-flex justify-content-end&quot;&gt;
			&lt;ol class=&quot;breadcrumb mb-0 p-0 bg-transparent&quot;&gt;
				&lt;li class=&quot;breadcrumb-item&quot;&gt;&lt;a href=&quot;{{ urlGen()-&gt;adminUrl() }}&quot;&gt;{{ trans(&#039;admin.dashboard&#039;) }}&lt;/a&gt;&lt;/li&gt;
				&lt;li class=&quot;breadcrumb-item&quot;&gt;&lt;a href=&quot;{{ url($xPanel-&gt;route) }}&quot; class=&quot;text-capitalize&quot;&gt;{!! $xPanel-&gt;entityNamePlural !!}&lt;/a&gt;&lt;/li&gt;
				&lt;li class=&quot;breadcrumb-item active d-flex align-items-center&quot;&gt;{{ trans(&#039;admin.edit&#039;) }} {{ trans(&#039;admin.texts&#039;) }}&lt;/li&gt;
			&lt;/ol&gt;
		&lt;/div&gt;
	&lt;/div&gt;
@endsection

@section(&#039;content&#039;)
	&lt;div class=&quot;row&quot;&gt;
		&lt;div class=&quot;col-12&quot;&gt;
			
			&lt;div class=&quot;card rounded-0 border-0 border-top border-primary&quot;&gt;
				&lt;div class=&quot;card-header border-bottom&quot;&gt;
					&lt;h3 class=&quot;mb-0&quot;&gt;{{ ucfirst(trans(&#039;admin.language&#039;)) }}:
						@foreach ($languages as $lang)
							@if ($currentLang == $lang-&gt;code)
								{{{ $lang-&gt;name }}}
							@endif
						@endforeach
						&lt;small&gt;
							&amp;nbsp; {{ trans(&#039;admin.switch_to&#039;) }}: &amp;nbsp;
							&lt;select name=&quot;language_switch&quot; id=&quot;language_switch&quot;&gt;
							@foreach ($languages as $lang)
								&lt;option value=&quot;{{ urlGen()-&gt;adminUrl(&#039;languages/texts/&#039; . $lang-&gt;code) }}&quot; {{ $currentLang == $lang-&gt;code ? &#039;selected&#039; : &#039;&#039;}}&gt;
									{{ $lang-&gt;name }}
								&lt;/option&gt;
							@endforeach
							&lt;/select&gt;
						&lt;/small&gt;
					&lt;/h3&gt;
				&lt;/div&gt;
				
				&lt;div class=&quot;card-body&quot;&gt;
					
					&lt;p&gt;&lt;em&gt;{!! trans(&#039;admin.rules_text&#039;) !!}&lt;/em&gt;&lt;/p&gt;
					
					&lt;nav class=&quot;navbar navbar-expand-lg navbar-light bg-body-tertiary rounded px-3&quot;&gt;
						&lt;a class=&quot;navbar-brand&quot; href=&quot;#&quot;&gt;{{ trans(&#039;admin.Files&#039;) }}:&lt;/a&gt;
						&lt;button class=&quot;navbar-toggler&quot;
								type=&quot;button&quot;
								data-bs-toggle=&quot;collapse&quot;
								data-bs-target=&quot;#navbarNav&quot;
								aria-controls=&quot;navbarNav&quot;
								aria-expanded=&quot;false&quot;
								aria-label=&quot;Toggle navigation&quot;
						&gt;
							&lt;span class=&quot;navbar-toggler-icon&quot;&gt;&lt;/span&gt;
						&lt;/button&gt;
						&lt;div class=&quot;collapse navbar-collapse&quot; id=&quot;navbarNav&quot;&gt;
							&lt;ul class=&quot;navbar-nav&quot;&gt;
							@foreach ($langFiles as $file)
								&lt;li class=&quot;nav-item{{ $file[&#039;active&#039;] ? &#039; active&#039; : &#039;&#039; }}&quot;&gt;
									&lt;a class=&quot;nav-link&quot; href=&quot;{{ $file[&#039;url&#039;] }}&quot;&gt;
										{{ $file[&#039;name&#039;] }}
										@if ($file[&#039;active&#039;])
											&lt;span class=&quot;sr-only&quot;&gt;(current)&lt;/span&gt;
										@endif
									&lt;/a&gt;
								&lt;/li&gt;
							@endforeach
							&lt;/ul&gt;
						&lt;/div&gt;
					&lt;/nav&gt;
					
					&lt;div class=&quot;row&quot;&gt;
						&lt;div class=&quot;col-12 lang-inputs&quot;&gt;
							&lt;div class=&quot;card mt-3 border&quot;&gt;
							@if (!empty($fileArray))
								{{ html()-&gt;form(&#039;POST&#039;, urlGen()-&gt;adminUrl(&#039;languages/texts/&#039; . $currentLang . &#039;/&#039; . $currentFile))
										-&gt;id(&#039;lang-form&#039;)
										-&gt;class(&#039;form-horizontal&#039;)
										-&gt;data(&#039;required&#039;, trans(&#039;admin.fields_required&#039;))
										-&gt;open() }}
								{{ html()-&gt;button(&#039;&lt;i class=&quot;fa-regular fa-floppy-disk&quot;&gt;&lt;/i&gt; &#039; . trans(&#039;admin.save&#039;), &#039;submit&#039;)
										-&gt;class(&#039;btn btn-primary shadow submit float-end me-2&#039;)
										-&gt;style(&#039;margin-top: 10px;&#039;) }}
								&lt;div class=&quot;card-body&quot;&gt;
									&lt;div class=&quot;row&quot;&gt;
										&lt;div class=&quot;col-sm-2 text-end&quot;&gt;
											&lt;h4 class=&quot;fw-bold&quot;&gt;
												{{ trans(&#039;admin.key&#039;) }}
											&lt;/h4&gt;
										&lt;/div&gt;
										&lt;div class=&quot;col-md-5&quot;&gt;
											&lt;h4 class=&quot;fw-bold&quot;&gt;
												{{ trans(&#039;admin.language_text&#039;, [&#039;language_name&#039; =&gt; $browsingLangObj-&gt;name]) }}
											&lt;/h4&gt;
										&lt;/div&gt;
										&lt;div class=&quot;col-sm-10 col-md-5&quot;&gt;
											&lt;h4 class=&quot;fw-bold&quot;&gt;
												{{ trans(&#039;admin.language_translation&#039;, [&#039;language_name&#039; =&gt; $currentLangObj-&gt;name]) }}
											&lt;/h4&gt;
										&lt;/div&gt;
									&lt;/div&gt;
								&lt;/div&gt;
								&lt;div class=&quot;card-body&quot;&gt;
									{!! $langFile-&gt;displayInputs($fileArray) !!}
								&lt;/div&gt;
								&lt;div class=&quot;card-footer text-center&quot;&gt;
									{{ html()-&gt;button(&#039;&lt;i class=&quot;fa-regular fa-floppy-disk&quot;&gt;&lt;/i&gt; &#039; . trans(&#039;admin.save&#039;), &#039;submit&#039;)
										-&gt;class(&#039;btn btn-primary shadow submit&#039;) }}
								&lt;/div&gt;
								{{ html()-&gt;form()-&gt;close() }}
							@else
								&lt;div class=&quot;card-body&quot;&gt;
									&lt;em&gt;{{ trans(&#039;admin.empty_file&#039;) }}&lt;/em&gt;
								&lt;/div&gt;
							@endif
							&lt;/div&gt;
						&lt;/div&gt;
					&lt;/div&gt;
					
				&lt;/div&gt;
			&lt;/div&gt;
	  
		&lt;/div&gt;
	&lt;/div&gt;
@endsection

@section(&#039;after_scripts&#039;)
	&lt;script&gt;
		onDocumentReady((event) =&gt; {
			$(&#039;#language_switch&#039;).change(function() {
				window.location.href = $(this).val();
			})
		});
	&lt;/script&gt;
@endsection


<hr>
<!-- PEDROO_NEXT_FILE: /ads/resources/views/auth/layouts/css/skin.blade.php -->
<!-- PEDROO_NEXT_DIR: /ads/resources/views/admin/dashboard -->

</body>
</html>