<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>/ads/resources/views/front/layouts/partials/header.blade.php</title>
<style>
body { font-family: monospace; white-space: pre; }
</style>
</head>
<body>
@php
	$countries ??= collect();
	
	// Search parameters
	$queryString = request()-&gt;getQueryString();
	$queryString = !empty($queryString) ? &#039;?&#039; . $queryString : &#039;&#039;;
	
	$showCountryFlagNextLogo = (config(&#039;settings.localization.show_country_flag&#039;) == &#039;in_next_logo&#039;);
	
	// Check if the Multi-Countries selection is enabled
	$multiCountryIsEnabled = false;
	$multiCountryLabel = &#039;&#039;;
	if ($showCountryFlagNextLogo) {
		if (!empty(config(&#039;country.code&#039;))) {
			if ($countries-&gt;count() &gt; 1) {
				$multiCountryIsEnabled = true;
				$multiCountryLabel = &#039;title=&quot;&#039; . trans(&#039;global.select_country&#039;) . &#039;&quot;&#039;;
			}
		}
	}
	
	// Country
	$countryName = config(&#039;country.name&#039;);
	$countryFlag24Url = config(&#039;country.flag24_url&#039;);
	$countryFlag32Url = config(&#039;country.flag32_url&#039;);
	
	// Logo
	$logoFactoryUrl = config(&#039;larapen.media.logo-factory&#039;);
	$logoDarkUrl = config(&#039;settings.app.logo_dark_url&#039;, $logoFactoryUrl);
	$logoLightUrl = config(&#039;settings.app.logo_light_url&#039;, $logoFactoryUrl);
	$logoAlt = strtolower(config(&#039;settings.app.name&#039;));
	$logoWidth = (int)config(&#039;settings.upload.img_resize_logo_width&#039;, 454);
	$logoHeight = (int)config(&#039;settings.upload.img_resize_logo_height&#039;, 80);
	$logoStyle = &quot;max-width:{$logoWidth}px !important; max-height:{$logoHeight}px !important; width:auto !important;&quot;;
	
	// Logo Label
	$logoLabel = &#039;&#039;;
	if ($multiCountryIsEnabled) {
		$logoLabel = config(&#039;settings.app.name&#039;) . (!empty($countryName) ? &#039; &#039; . $countryName : &#039;&#039;);
	}
	
	// User Menu
	$authUser = auth()-&gt;check() ? auth()-&gt;user() : null;
	$userMenu ??= collect();
	
	// Theme Preference (light/dark/system)
	$showIconOnly ??= false;
	
	// Fallback Navbar Parameters
	$fallbackHeight = 80;
	$fallbackNavbarClass = &#039;fixed-top navbar-sticky bg-body-tertiary border-bottom&#039;;
	$fallbackContainerClass = &#039;container&#039;;
	$textShadowClass = &#039;text-shadow&#039;;
	
	$defaultHeight = forceToInt(config(&#039;settings.header.default_height&#039;), $fallbackHeight);
	$defaultStyle = &quot;min-height: {$defaultHeight}px&quot;;
@endphp
@php
	// Navbar Parameters
	$isDefaultHeaderAnimationEnabled = (config(&#039;settings.header.default_animation&#039;) == &#039;1&#039;);
	$isFixedHeaderEnabled = (config(&#039;settings.header.fixed_top&#039;) == &#039;1&#039;);
	$navbarFixedHeightOffset = config(&#039;settings.header.fixed_height_offset&#039;);
	$navbarFixedHeightOffset = (!empty($navbarFixedHeightOffset) &amp;&amp; is_numeric($navbarFixedHeightOffset)) ? $navbarFixedHeightOffset : &#039;null&#039;;
	
	$isDefaultHeaderDarkThemeEnabled = (config(&#039;settings.header.default_dark&#039;) == &#039;1&#039;);
	$defaultCssClasses = config(&#039;settings.header.default_css_classes&#039;);
	$defaultCssClasses = !empty($defaultCssClasses) ? $defaultCssClasses : $fallbackNavbarClass;
	$defaultContainerCssClasses = config(&#039;settings.header.default_container_css_classes&#039;);
	$defaultContainerCssClasses = !empty($defaultContainerCssClasses) ? $defaultContainerCssClasses : $fallbackContainerClass;
	$defaultBgColor = config(&#039;settings.header.default_background_color&#039;);
	$defaultBorderColor = config(&#039;settings.header.default_border_color&#039;);
	$defaultLinkColorClass = config(&#039;settings.header.default_link_color_class&#039;);
	$defaultLinkColorClass = !empty($defaultLinkColorClass) ? &quot; $defaultLinkColorClass&quot; : &#039;&#039;;
	$defaultLinkColor = config(&#039;settings.header.default_link_color&#039;);
	$defaultLinkHoverColor = config(&#039;settings.header.default_link_hover_color&#039;);
	$defaultTextColorClass = config(&#039;settings.header.default_text_color_class&#039;);
	$defaultTextColorClass = !empty($defaultTextColorClass) ? &quot; $defaultTextColorClass&quot; : &#039;&#039;;
	$defaultTextColor = config(&#039;settings.header.default_text_color&#039;);
	$isDefaultHeaderItemShadowEnabled = (config(&#039;settings.header.default_item_shadow&#039;) == &#039;1&#039;);
	
	$isFixedHeaderDarkThemeEnabled = (config(&#039;settings.header.fixed_dark&#039;) == &#039;1&#039;);
	$fixedHeight = forceToInt(config(&#039;settings.header.fixed_height&#039;), $defaultHeight);
	$fixedCssClasses = config(&#039;settings.header.fixed_css_classes&#039;);
	$fixedContainerCssClasses = config(&#039;settings.header.fixed_container_css_classes&#039;);
	$fixedContainerCssClasses = !empty($fixedContainerCssClasses) ? $fixedContainerCssClasses : $fallbackContainerClass;
	$fixedBgColor = config(&#039;settings.header.fixed_background_color&#039;);
	$fixedBorderColor = config(&#039;settings.header.fixed_border_color&#039;);
	$fixedLinkClass = config(&#039;settings.header.fixed_link_color_class&#039;);
	$fixedLinkColor = config(&#039;settings.header.fixed_link_color&#039;);
	$fixedLinkHoverColor = config(&#039;settings.header.fixed_link_hover_color&#039;);
	$fixedTextColorClass = config(&#039;settings.header.fixed_text_color_class&#039;);
	$fixedTextColor = config(&#039;settings.header.fixed_text_color&#039;);
	$isFixedHeaderItemShadowEnabled = (config(&#039;settings.header.static_item_shadow&#039;) == &#039;1&#039;);
	
	$defaultExpandedBgColorClass = config(&#039;settings.header.default_expanded_background_color_class&#039;);
	$defaultExpandedLinkColorClass = config(&#039;settings.header.default_expanded_link_color_class&#039;);
	$defaultExpandedTextColorClass = config(&#039;settings.header.default_expanded_text_color_class&#039;);
	
	// Other Navbar Vars
	$defaultHeaderThemeAttr = $isDefaultHeaderDarkThemeEnabled ? &#039; data-bs-theme=&quot;dark&quot;&#039; : &#039;&#039;;
	$defaultHeaderItemShadowClass = $isDefaultHeaderItemShadowEnabled ? &quot; {$textShadowClass}&quot; : &#039;&#039;;
@endphp
@pushonce(&#039;before_scripts_stack&#039;)
	&lt;script&gt;
		if (typeof window.headerOptions === &#039;undefined&#039;) {
			window.headerOptions = {};
		}
		window.headerOptions = {
			animationEnabled: {{ $isDefaultHeaderAnimationEnabled ? &#039;true&#039; : &#039;false&#039; }},
			navbarHeightOffset: {{ $navbarFixedHeightOffset }},
			default: {
				darkThemeEnabled: {{ $isDefaultHeaderDarkThemeEnabled ? &#039;true&#039; : &#039;false&#039; }},
				height: {{ $defaultHeight }},
				cssClasses: &#039;{{ $defaultCssClasses }}&#039;,
				containerCssClasses: &#039;{{ $defaultContainerCssClasses }}&#039;,
				bgColor: &#039;{{ $defaultBgColor }}&#039;,
				borderColor: &#039;{{ $defaultBorderColor }}&#039;,
				linkColorClass: &#039;{{ $defaultLinkColorClass }}&#039;,
				linkColor: &#039;{{ $defaultLinkColor }}&#039;,
				linkHoverColor: &#039;{{ $defaultLinkHoverColor }}&#039;,
				textColorClass: &#039;{{ $defaultTextColorClass }}&#039;,
				textColor: &#039;{{ $defaultTextColor }}&#039;,
				itemShadowClass: &#039;{{ $isDefaultHeaderItemShadowEnabled ? $textShadowClass : &#039;&#039; }}&#039;,
			},
			fixed: {
				enabled: {{ $isFixedHeaderEnabled ? &#039;true&#039; : &#039;false&#039; }},
				darkThemeEnabled: {{ $isFixedHeaderDarkThemeEnabled ? &#039;true&#039; : &#039;false&#039; }},
				height: {{ $fixedHeight }},
				cssClasses: &#039;{{ $fixedCssClasses }}&#039;,
				containerCssClasses: &#039;{{ $fixedContainerCssClasses }}&#039;,
				bgColor: &#039;{{ $fixedBgColor }}&#039;,
				borderColor: &#039;{{ $fixedBorderColor }}&#039;,
				linkColorClass: &#039;{{ $fixedLinkClass }}&#039;,
				linkColor: &#039;{{ $fixedLinkColor }}&#039;,
				linkHoverColor: &#039;{{ $fixedLinkHoverColor }}&#039;,
				textColorClass: &#039;{{ $fixedTextColorClass }}&#039;,
				textColor: &#039;{{ $fixedTextColor }}&#039;,
				itemShadowClass: &#039;{{ $isFixedHeaderItemShadowEnabled ? $textShadowClass : &#039;&#039; }}&#039;,
			},
			expandedBgColorClass: &#039;{{ $defaultExpandedBgColorClass }}&#039;,
			expandedLinkColorClass: &#039;{{ $defaultExpandedLinkColorClass }}&#039;,
			expandedTextColorClass: &#039;{{ $defaultExpandedTextColorClass }}&#039;,
		};
	&lt;/script&gt;
@endpushonce
&lt;header{!! $defaultHeaderThemeAttr !!}&gt;
	&lt;nav class=&quot;navbar {{ $defaultCssClasses }} navbar-expand-xl&quot; role=&quot;navigation&quot; id=&quot;mainNavbar&quot; style=&quot;{{ $defaultStyle }}&quot;&gt;
		&lt;div class=&quot;{{ $defaultContainerCssClasses }}&quot; id=&quot;mainNavbarContainer&quot;&gt;
			
			{{-- Logo --}}
			&lt;a href=&quot;{{ url(&#039;/&#039;) }}&quot; class=&quot;navbar-brand logo logo-title&quot;&gt;
				&lt;img src=&quot;{{ $logoDarkUrl }}&quot;
				     alt=&quot;{{ $logoAlt }}&quot;
				     class=&quot;main-logo dark-logo&quot;
				     data-bs-placement=&quot;bottom&quot;
				     data-bs-toggle=&quot;tooltip&quot;
				     title=&quot;{!! $logoLabel !!}&quot;
				     style=&quot;{!! $logoStyle !!}&quot;
				/&gt;
				&lt;img src=&quot;{{ $logoLightUrl }}&quot;
				     alt=&quot;{{ $logoAlt }}&quot;
				     class=&quot;main-logo light-logo&quot;
				     data-bs-placement=&quot;bottom&quot;
				     data-bs-toggle=&quot;tooltip&quot;
				     title=&quot;{!! $logoLabel !!}&quot;
				     style=&quot;{!! $logoStyle !!}&quot;
				/&gt;
			&lt;/a&gt;
			
			{{-- Toggle Nav (Mobile) --}}
			&lt;button class=&quot;navbar-toggler float-end&quot;
			        type=&quot;button&quot;
			        data-bs-toggle=&quot;collapse&quot;
			        data-bs-target=&quot;#navbarNav&quot;
			        aria-controls=&quot;navbarNav&quot;
			        aria-expanded=&quot;false&quot;
			        aria-label=&quot;Toggle navigation&quot;
			&gt;
				&lt;span class=&quot;navbar-toggler-icon&quot;&gt;&lt;/span&gt;
			&lt;/button&gt;
			
			&lt;div class=&quot;collapse navbar-collapse&quot; id=&quot;navbarNav&quot;&gt;
				&lt;ul class=&quot;navbar-nav me-md-auto&quot;&gt;
					{{-- Country Flag --}}
					@if ($showCountryFlagNextLogo)
						@if (!empty($countryFlag32Url))
							&lt;li class=&quot;nav-item flag-menu country-flag mb-xl-0 mb-2&quot;
							    data-bs-toggle=&quot;tooltip&quot;
							    data-bs-placement=&quot;{{ (config(&#039;lang.direction&#039;) == &#039;rtl&#039;) ? &#039;bottom&#039; : &#039;right&#039; }}&quot; {!! $multiCountryLabel !!}
							&gt;
								@if ($multiCountryIsEnabled)
									&lt;a class=&quot;nav-link p-0 {{ $defaultLinkColorClass }}&quot; data-bs-toggle=&quot;modal&quot; data-bs-target=&quot;#selectCountry&quot; style=&quot;cursor: pointer;&quot;&gt;
										&lt;img class=&quot;flag-icon mt-1&quot; src=&quot;{{ $countryFlag32Url }}&quot; alt=&quot;{{ $countryName }}&quot;&gt;
										&lt;i class=&quot;bi bi-chevron-down float-end mt-1 mx-2&quot;&gt;&lt;/i&gt;
									&lt;/a&gt;
								@else
									&lt;a class=&quot;nav-link p-0&quot; style=&quot;cursor: default;&quot;&gt;
										&lt;img class=&quot;flag-icon&quot; src=&quot;{{ $countryFlag32Url }}&quot; alt=&quot;{{ $countryName }}&quot;&gt;
									&lt;/a&gt;
								@endif
							&lt;/li&gt;
						@endif
					@endif
				&lt;/ul&gt;
				
				&lt;ul class=&quot;navbar-nav ms-auto&quot;&gt;
					@include(&#039;front.layouts.partials.navs.menus.header&#039;)
					
					{{-- Currency Exchange Dropdown --}}
					@if (config(&#039;addons.currencyexchange.installed&#039;))
						@include(&#039;currencyexchange::select-currency&#039;)
					@endif
					
					{{-- Dark/Light Mode Dropdown --}}
					@if (isSettingsAppDarkModeEnabled())
						@include(&#039;front.layouts.partials.navs.themes&#039;, [
							&#039;dropdownTag&#039;    =&gt; &#039;li&#039;,
							&#039;dropdownClass&#039;  =&gt; &#039;nav-item&#039;,
							&#039;buttonClass&#039;    =&gt; &#039;nav-link&#039;,
							&#039;menuAlignment&#039;  =&gt; &#039;dropdown-menu-end&#039;,
							&#039;showIconOnly&#039;   =&gt; $showIconOnly,
							&#039;linkColorClass&#039; =&gt; $defaultLinkColorClass,
						])
					@endif
					
					{{-- Languages Dropdown/Modal Link --}}
					@include(&#039;front.layouts.partials.navs.languages&#039;)
					
				&lt;/ul&gt;
			&lt;/div&gt;
		
		&lt;/div&gt;
	&lt;/nav&gt;
&lt;/header&gt;


<hr>
<!-- PEDROO_NEXT_FILE: /ads/resources/views/front/layouts/partials/lite/footer.blade.php -->
<!-- PEDROO_NEXT_DIR: /ads/resources/views/front/layouts/partials/advertising -->

</body>
</html>