<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>/ads/resources/views/front/layouts/partials/modal/countries.blade.php</title>
<style>
body { font-family: monospace; white-space: pre; }
</style>
</head>
<body>
@php
	$modalSize ??= &#039;modal-xl&#039;;
	$itemClass ??= &#039;&#039;;
	
	$countries ??= collect();
	$countryFlagShape = config(&#039;settings.localization.country_flag_shape&#039;);
	
	// Languages Selection Modal vars
	$showCountryFlagNextLang = (config(&#039;settings.localization.show_country_flag&#039;) == &#039;in_next_lang&#039;);
	// Check if the Multi-Countries selection is enabled
	$multiCountryIsEnabled = false;
	if ($showCountryFlagNextLang) {
		if (!empty(config(&#039;country.code&#039;))) {
			if ($countries-&gt;count() &gt; 1) {
				$multiCountryIsEnabled = true;
			}
		}
	}
@endphp
{{-- Countries List --}}
&lt;div class=&quot;modal fade&quot; id=&quot;selectCountry&quot; tabindex=&quot;-1&quot; aria-labelledby=&quot;selectCountryLabel&quot; aria-hidden=&quot;true&quot;&gt;
	&lt;div class=&quot;modal-dialog {{ $modalSize }} modal-dialog-scrollable&quot;&gt;
		&lt;div class=&quot;modal-content&quot;&gt;
			
			&lt;div class=&quot;modal-header px-3&quot;&gt;
				&lt;h4 class=&quot;modal-title fs-5 fw-bold&quot; id=&quot;selectCountryLabel&quot;&gt;
					&lt;i class=&quot;bi bi-geo-alt&quot;&gt;&lt;/i&gt; {{ trans(&#039;global.select_country&#039;) }}
				&lt;/h4&gt;
				
				&lt;button type=&quot;button&quot; class=&quot;btn-close&quot; data-bs-dismiss=&quot;modal&quot; aria-label=&quot;{{ trans(&#039;global.Close&#039;) }}&quot;&gt;&lt;/button&gt;
			&lt;/div&gt;
			
			{{-- style=&quot;max-height: 495px; min-height: 140px;&quot; --}}
			{{-- style=&quot;max-height: 405px; min-height: 110px;&quot; --}}
			&lt;div class=&quot;modal-body&quot; style=&quot;max-height: 495px; min-height: 140px;&quot;&gt;
				&lt;div id=&quot;modalCountryList&quot; class=&quot;row row-cols-xl-4 row-cols-lg-3 row-cols-2 px-lg-1 px-md-1 px-sm-3 px-3&quot;&gt;
					
					@if ($countries-&gt;isNotEmpty())
						@foreach ($countries as $code =&gt; $country)
							&lt;div class=&quot;col d-flex align-items-center my-1 {{ $itemClass }}&quot;&gt;
								@php
									$countryUrl = dmUrl($country, &#039;/&#039;, true, !config(&#039;addons.domainmapping.installed&#039;));
									$countryName = $country-&gt;get(&#039;name&#039;);
									$countryNameLimited = str($countryName)-&gt;limit(21)-&gt;toString();
								@endphp
								@if ($countryFlagShape == &#039;rectangle&#039;)
									&lt;img src=&quot;{{ mixStaticFile(url(&#039;images/blank.gif&#039;)) }}&quot;
										 class=&quot;flag flag-{{ $country-&gt;get(&#039;icode&#039;) }} me-2&quot;
									     alt=&quot;{{ $countryNameLimited }}&quot;
									&gt;
								@else
									&lt;img src=&quot;{{ $country-&gt;get(&#039;flag16_url&#039;) }}&quot;
									     class=&quot;me-2&quot;
									     alt=&quot;{{ $countryNameLimited }}&quot;
									&gt;
								@endif
								&lt;a href=&quot;{{ $countryUrl }}&quot;
								   class=&quot;link-primary text-decoration-none&quot;
								   data-bs-toggle=&quot;tooltip&quot;
								   data-bs-custom-class=&quot;modal-tooltip&quot;
								   title=&quot;{{ $countryName }}&quot;
								&gt;
									{{ $countryNameLimited }}
								&lt;/a&gt;
							&lt;/div&gt;
						@endforeach
					@endif
					
				&lt;/div&gt;
			&lt;/div&gt;
			
			@if ($showCountryFlagNextLang &amp;&amp; $multiCountryIsEnabled)
				&lt;div class=&quot;modal-footer auth-login-register&quot;&gt;
					&lt;button class=&quot;btn btn-sm btn-primary rounded-pill px-4&quot; data-bs-target=&quot;#selectLanguage&quot; data-bs-toggle=&quot;modal&quot;&gt;
						&lt;i class=&quot;bi bi-translate&quot;&gt;&lt;/i&gt;  {{ mb_ucfirst(trans(&#039;admin.languages&#039;)) }}
					&lt;/button&gt;
				&lt;/div&gt;
			@endif
			
		&lt;/div&gt;
	&lt;/div&gt;
&lt;/div&gt;


<hr>
<!-- PEDROO_NEXT_FILE: /ads/resources/views/front/layouts/partials/modal/error.blade.php -->
<!-- PEDROO_NEXT_DIR: /ads/resources/views/front/layouts/partials/modal/location -->

</body>
</html>