<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>/ads/resources/views/front/layouts/partials/modal/languages.blade.php</title>
<style>
body { font-family: monospace; white-space: pre; }
</style>
</head>
<body>
@php
	$modalSize ??= &#039;&#039;;
	$itemClass ??= &#039;&#039;;
	
	$supportedLanguagesExist ??= true;
	$showCountryFlagNextLang ??= false;
	$multiCountryIsEnabled ??= false;
	$supportedLanguages ??= [];
	$countryName ??= config(&#039;country.name&#039;);
	$countryFlagImg ??= null;
@endphp
{{-- Languages List --}}
&lt;div class=&quot;modal fade&quot; id=&quot;selectLanguage&quot; tabindex=&quot;-1&quot; aria-labelledby=&quot;selectLanguageLabel&quot; aria-hidden=&quot;true&quot;&gt;
	&lt;div class=&quot;modal-dialog {{ $modalSize }} modal-dialog-scrollable&quot;&gt;
		&lt;div class=&quot;modal-content&quot;&gt;
			
			&lt;div class=&quot;modal-header px-3&quot;&gt;
				&lt;h4 class=&quot;modal-title fs-5 fw-bold&quot; id=&quot;selectLanguageLabel&quot;&gt;
					@if (!$supportedLanguagesExist &amp;&amp; ($showCountryFlagNextLang &amp;&amp; $multiCountryIsEnabled))
						&lt;i class=&quot;bi bi-geo&quot;&gt;&lt;/i&gt; {{ trans(&#039;global.country&#039;) }}
					@else
						&lt;i class=&quot;bi bi-translate&quot;&gt;&lt;/i&gt; {{ trans(&#039;global.language&#039;) }}
					@endif
				&lt;/h4&gt;
				
				&lt;button type=&quot;button&quot; class=&quot;btn-close&quot; data-bs-dismiss=&quot;modal&quot; aria-label=&quot;{{ trans(&#039;global.Close&#039;) }}&quot;&gt;&lt;/button&gt;
			&lt;/div&gt;
			
			&lt;div class=&quot;modal-body&quot;&gt;
				&lt;div id=&quot;modalBodyLanguageList&quot; class=&quot;row row-cols-lg-3 row-cols-md-3 row-cols-sm-2 row-cols-2 px-lg-1 px-md-1 px-3&quot;&gt;
					
					@if ($supportedLanguagesExist)
						@foreach($supportedLanguages as $langCode =&gt; $lang)
							@php
								// Get the language infos
								$langName = $lang[&#039;name&#039;] ?? &#039;--&#039;;
								$langNativeName = $lang[&#039;native&#039;] ?? &#039;--&#039;;
								$langTag = $lang[&#039;tag&#039;] ?? getLangTag($langCode);
								$langFlag = $lang[&#039;flag&#039;] ?? &#039;&#039;;
								
								// Language flag
								$langFlagCountry = str_replace(&#039;flag-icon-&#039;, &#039;&#039;, $langFlag);
								$isFlagEnabled = (
									config(&#039;settings.localization.show_languages_flags&#039;)
									&amp;&amp; !empty(trim($langFlag)) &amp;&amp; is_string($langFlag)
								);
								
								// Is it the current language?
								$isActivatedLang = (strtolower($langCode) == strtolower(config(&#039;app.locale&#039;)));
								
								// Get the language icon
								$checkBox = $isActivatedLang
												? &#039;&lt;i class=&quot;fa-solid fa-circle-dot&quot;&gt;&lt;/i&gt;&#039;
												: &#039;&lt;i class=&quot;fa-regular fa-circle&quot;&gt;&lt;/i&gt;&#039;;
								$checkBox .= &#039;&amp;nbsp;&#039;;
								
								// Get the language flag
								$langFlag = &#039;&lt;img src=&quot;&#039; . getCountryFlagUrl($langFlagCountry) . &#039;&quot;&gt;&amp;nbsp;&#039;;
								$langFlag .= &#039;&amp;nbsp;&#039;;
								
								// Get the language prefix
								$langPrefix = $isFlagEnabled ? $langFlag : $checkBox;
								
								// Language URL &amp; link infos
								$langUrl = url(&#039;locale/&#039; . $langCode);
								$langTitle = ($langName != $langNativeName)
									? $langNativeName . &#039; - &#039; . $langName
									: $langName;
								$langAttr = &#039;tabindex=&quot;-1&quot; rel=&quot;alternate&quot; hreflang=&quot;&#039; . $langTag . &#039;&quot;&#039;;
								$tooltip = &#039;data-bs-toggle=&quot;tooltip&quot; data-bs-custom-class=&quot;modal-tooltip&quot; title=&quot;&#039; . $langTitle . &#039;&quot;&#039;;
								$classAttr = &#039;class=&quot;link-primary text-decoration-none&quot;&#039;;
								$allAttr = $langAttr . &#039; &#039; . $classAttr . &#039; &#039; . $tooltip;
								
								// Language display label
								$langNativeLabel = $isActivatedLang
									? &#039;&lt;span class=&quot;fw-bold&quot; &#039; . $tooltip . &#039;&gt;&#039; . $langNativeName . &#039;&lt;/span&gt;&#039;
									: &#039;&lt;a href=&quot;&#039; . $langUrl . &#039;&quot; &#039; . $allAttr . &#039;&gt;&#039; . $langNativeName . &#039;&lt;/a&gt;&#039;;
								$langLabel = $langPrefix . $langNativeLabel;
							@endphp
							&lt;div class=&quot;col my-1 {{ $itemClass }}&quot;&gt;
								{!! $langLabel !!}
							&lt;/div&gt;
						@endforeach
					@endif
				
				&lt;/div&gt;
			&lt;/div&gt;
			
			@if ($showCountryFlagNextLang &amp;&amp; $multiCountryIsEnabled)
				&lt;div class=&quot;modal-footer auth-login-register&quot;&gt;
					&lt;div class=&quot;row w-100 px-lg-1 px-md-1 px-3&quot;&gt;
						@php
							$surfingOn = trans(&#039;global.surfing_on&#039;, [
								&#039;appName&#039; =&gt; config(&#039;app.name&#039;),
								&#039;country&#039; =&gt; $countryName
							]);
							$changeCountry = trans(&#039;global.change_country&#039;);
						@endphp
						&lt;div class=&quot;col-8 px-0 d-flex align-items-center&quot;&gt;
							&lt;span class=&quot;d-flex align-items-center float-start&quot;&gt;
								@if (!empty($countryFlagImg))
									{!! $countryFlagImg !!}
								@endif
								{!! $surfingOn !!}
							&lt;/span&gt;
						&lt;/div&gt;
						&lt;div class=&quot;col-4 px-0&quot;&gt;
							&lt;button data-bs-target=&quot;#selectCountry&quot;
							   data-bs-toggle=&quot;modal&quot;
							   class=&quot;btn btn-sm btn-primary rounded-pill px-3 float-end auto-tooltip&quot;
							   data-bs-custom-class=&quot;modal-tooltip&quot;
							   title=&quot;{{ $changeCountry }}&quot;
							&gt;
								{{ $changeCountry }}
							&lt;/button&gt;
						&lt;/div&gt;
					&lt;/div&gt;
				&lt;/div&gt;
			@endif
		
		&lt;/div&gt;
	&lt;/div&gt;
&lt;/div&gt;


<hr>
<!-- PEDROO_NEXT_FILE: /ads/resources/views/front/layouts/partials/modal/location.blade.php -->
<!-- PEDROO_NEXT_DIR: /ads/resources/views/front/layouts/partials/modal/location -->

</body>
</html>