<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>/ads/resources/views/admin/layouts/partials/header.blade.php</title>
<style>
body { font-family: monospace; white-space: pre; }
</style>
</head>
<body>
@php
	$authUser = auth()-&gt;user();
	$photoUrl = $authUser-&gt;photo_url ?? &#039;/images/user.png&#039;;
	
	$navbarTheme = (config(&#039;settings.style.admin_navbar_bg&#039;) == &#039;skin6&#039;) ? &#039;navbar-light&#039; : &#039;navbar-dark&#039;;
	$appName = strtolower(config(&#039;settings.app.name&#039;));
	$logoFactoryUrl = config(&#039;larapen.media.logo-factory&#039;);
	$logoDarkUrl = config(&#039;settings.app.logo_dark_url&#039;, $logoFactoryUrl);
	$logoLightUrl = config(&#039;settings.app.logo_light_url&#039;, $logoFactoryUrl);
	
	// Theme Preference (light/dark/system)
	$showIconOnly ??= false;
@endphp
&lt;header class=&quot;topbar&quot;&gt;
	&lt;nav class=&quot;navbar top-navbar navbar-expand-md {{ $navbarTheme }}&quot;&gt;
		
		&lt;div class=&quot;navbar-header&quot;&gt;
			
			{{-- This is for the sidebar toggle which is visible on mobile only --}}
			&lt;a class=&quot;nav-toggler waves-effect waves-light d-block d-md-none&quot; href=&quot;javascript:void(0)&quot;&gt;
				&lt;i class=&quot;fa-solid fa-bars&quot;&gt;&lt;/i&gt;
			&lt;/a&gt;
			
			{{-- Logo --}}
			&lt;a class=&quot;navbar-brand&quot; href=&quot;{{ url(&#039;/&#039;) }}&quot; target=&quot;_blank&quot;&gt;
				{{-- Logo text --}}
				&lt;span class=&quot;logo-text m-auto&quot;&gt;
					&lt;img src=&quot;{{ $logoDarkUrl }}&quot;
					     alt=&quot;{{ $appName }}&quot;
					     class=&quot;dark-logo img-fluid&quot;
					     style=&quot;width:auto; height:auto; max-width:200px; max-height:40px;&quot;
					/&gt;
					&lt;img src=&quot;{{ $logoLightUrl }}&quot;
					     alt=&quot;{{ $appName }}&quot;
					     class=&quot;light-logo img-fluid&quot;
					     style=&quot;width:auto; height:auto; max-width:200px; max-height:40px;&quot;
					/&gt;
				&lt;/span&gt;
			&lt;/a&gt;
			
			{{-- Toggle which is visible on mobile only --}}
			&lt;a class=&quot;topbartoggler d-block d-md-none waves-effect waves-light&quot;
			   href=&quot;javascript:void(0)&quot;
			   data-bs-toggle=&quot;collapse&quot;
			   data-bs-target=&quot;#navbarSupportedContent&quot;
			   aria-controls=&quot;navbarSupportedContent&quot;
			   aria-expanded=&quot;false&quot;
			   aria-label=&quot;Toggle navigation&quot;
			&gt;
				&lt;i class=&quot;bi bi-three-dots&quot;&gt;&lt;/i&gt;
			&lt;/a&gt;
			
		&lt;/div&gt;
		
		&lt;div class=&quot;navbar-collapse collapse&quot; id=&quot;navbarSupportedContent&quot;&gt;
			{{-- Toggle and nav items --}}
			&lt;ul class=&quot;navbar-nav me-auto&quot;&gt;
				&lt;li class=&quot;nav-item&quot;&gt;
					&lt;a class=&quot;nav-link sidebartoggler d-none d-md-block waves-effect waves-dark&quot; href=&quot;javascript:void(0)&quot;&gt;
						&lt;i class=&quot;bi bi-layout-sidebar&quot;&gt;&lt;/i&gt;
					&lt;/a&gt;
				&lt;/li&gt;
			&lt;/ul&gt;
			
			{{-- Right side toggle and nav items --}}
			&lt;ul class=&quot;navbar-nav justify-content-end&quot;&gt;
				{{-- Theme Switcher --}}
				@include(&#039;front.layouts.partials.navs.themes&#039;, [
					&#039;dropdownTag&#039;   =&gt; &#039;li&#039;,
					&#039;dropdownClass&#039; =&gt; &#039;nav-item&#039;,
					&#039;buttonClass&#039;   =&gt; &#039;nav-link waves-effect waves-dark&#039;,
					&#039;menuAlignment&#039; =&gt; &#039;dropdown-menu-end&#039;,
					&#039;showIconOnly&#039;  =&gt; $showIconOnly,
				])
				
				{{-- Profile --}}
				&lt;li class=&quot;nav-item dropdown&quot;&gt;
					&lt;a class=&quot;nav-link dropdown-toggle waves-effect waves-dark&quot;
					   href=&quot;&quot;
					   data-bs-toggle=&quot;dropdown&quot;
					   aria-haspopup=&quot;true&quot;
					   aria-expanded=&quot;false&quot;
					&gt;
						&lt;img src=&quot;{{ $photoUrl }}&quot;
							 alt=&quot;Administrator&quot;
							 width=&quot;30&quot;
							 class=&quot;profile-pic rounded-circle&quot;
						/&gt;
					&lt;/a&gt;
					&lt;div class=&quot;dropdown-menu dropdown-menu-end user-dd&quot;&gt;
						&lt;div class=&quot;d-flex no-block align-items-center p-3 bg-primary text-white mb-2&quot;&gt;
							&lt;div class=&quot;&quot;&gt;
								&lt;img src=&quot;{{ $photoUrl }}&quot; alt=&quot;Administrator&quot; class=&quot;rounded-circle&quot; width=&quot;60&quot;&gt;
							&lt;/div&gt;
							&lt;div class=&quot;ms-2&quot;&gt;
								&lt;h4 class=&quot;mb-0 text-white&quot;&gt;{{ $authUser-&gt;name ?? &#039;Administrator&#039; }}&lt;/h4&gt;
								&lt;p class=&quot;mb-0&quot;&gt;{{ $authUser-&gt;email ?? &#039;--&#039; }}&lt;/p&gt;
							&lt;/div&gt;
						&lt;/div&gt;
						&lt;a class=&quot;dropdown-item&quot; href=&quot;{{ urlGen()-&gt;adminUrl(&#039;account&#039;) }}&quot;&gt;
							&lt;i data-feather=&quot;user&quot; class=&quot;feather-sm text-info me-1 ms-1&quot;&gt;&lt;/i&gt; {{ trans(&#039;admin.my_account&#039;) }}
						&lt;/a&gt;
						&lt;div class=&quot;dropdown-divider&quot;&gt;&lt;/div&gt;
						&lt;a class=&quot;dropdown-item&quot; href=&quot;{{ urlGen()-&gt;signOut() }}&quot;&gt;
							&lt;i data-feather=&quot;log-out&quot; class=&quot;feather-sm text-danger me-1 ms-1&quot;&gt;&lt;/i&gt; {{ trans(&#039;admin.logout&#039;) }}
						&lt;/a&gt;
					&lt;/div&gt;
				&lt;/li&gt;
			&lt;/ul&gt;
		&lt;/div&gt;
		
	&lt;/nav&gt;
&lt;/header&gt;


<hr>
<!-- PEDROO_NEXT_FILE: /ads/resources/views/admin/layouts/partials/maintenance.blade.php -->
<!-- PEDROO_NEXT_DIR: /ads/resources/views/admin/layouts/partials/sidebar -->

</body>
</html>