<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>/ads/resources/views/admin/layouts/partials/maintenance.blade.php</title>
<style>
body { font-family: monospace; white-space: pre; }
</style>
</head>
<body>
&lt;div class=&quot;modal fade&quot; id=&quot;maintenanceMode&quot;&gt;
	&lt;div class=&quot;modal-dialog modal-lg&quot;&gt;
		&lt;div class=&quot;modal-content&quot;&gt;
			&lt;div class=&quot;modal-header&quot;&gt;
				&lt;h4 class=&quot;modal-title&quot;&gt;{{ trans(&#039;admin.Maintenance Mode&#039;) }}&lt;/h4&gt;
				&lt;button type=&quot;button&quot; class=&quot;btn-close&quot; data-bs-dismiss=&quot;modal&quot; aria-label=&quot;{{ trans(&#039;global.Close&#039;) }}&quot;&gt;&lt;/button&gt;
			&lt;/div&gt;
			
			&lt;form role=&quot;form&quot; method=&quot;POST&quot; action=&quot;{{ urlGen()-&gt;adminUrl(&#039;actions/maintenance/down&#039;) }}&quot;&gt;
				{!! csrf_field() !!}
				
				&lt;div class=&quot;modal-body&quot;&gt;
					
					@if (isset($errors) &amp;&amp; $errors-&gt;any() &amp;&amp; old(&#039;maintenanceForm&#039;)==&#039;1&#039;)
						&lt;div class=&quot;alert alert-danger ms-0 me-0 mb-5&quot;&gt;
							@foreach ($errors-&gt;all() as $error)
								{{ $error }}&lt;br&gt;
							@endforeach
						&lt;/div&gt;
					@endif
					
					@php
						if (isset($errors)) {
							$messageHasError = $errors-&gt;has(&#039;message&#039;);
							$messageRowError = $messageHasError ? &#039; has-danger&#039; : &#039;&#039;;
							$messageFieldError = $messageHasError ? &#039; form-control-danger&#039; : &#039;&#039;;
							$messageError = $errors-&gt;first(&#039;message&#039;);
						}
					@endphp
					&lt;div class=&quot;form-group required{{ $messageRowError ?? &#039;&#039; }}&quot;&gt;
						&lt;label for=&quot;message&quot; class=&quot;control-label&quot;&gt;
							{{ trans(&#039;global.Message&#039;) }} &lt;span class=&quot;text-count&quot;&gt;({{ trans(&#039;global.number_max&#039;, [&#039;number&#039; =&gt; 500]) }})&lt;/span&gt;
						&lt;/label&gt;
						&lt;textarea id=&quot;message&quot;
						          name=&quot;message&quot;
						          class=&quot;form-control required{{ $messageFieldError ?? &#039;&#039; }}&quot;
						          placeholder=&quot;{{ trans(&#039;admin.Be right back&#039;) }}&quot;
						          rows=&quot;3&quot;
						&gt;{{ old(&#039;message&#039;) }}&lt;/textarea&gt;
					&lt;/div&gt;
					@if (isset($messageHasError) &amp;&amp; $messageHasError)
						&lt;div class=&quot;invalid-feedback&quot;&gt;{{ $messageError ?? &#039;&#039; }}&lt;/div&gt;
					@endif
					
					&lt;input type=&quot;hidden&quot; name=&quot;maintenanceForm&quot; value=&quot;1&quot;&gt;
				&lt;/div&gt;
				
				&lt;div class=&quot;modal-footer&quot;&gt;
					&lt;button type=&quot;submit&quot; class=&quot;btn btn-primary&quot;&gt;{{ trans(&#039;admin.Put in Maintenance Mode&#039;) }}&lt;/button&gt;
					&lt;button type=&quot;button&quot; class=&quot;btn btn-light float-start&quot; data-bs-dismiss=&quot;modal&quot;&gt;{{ trans(&#039;global.Close&#039;) }}&lt;/button&gt;
				&lt;/div&gt;
			&lt;/form&gt;
		&lt;/div&gt;
	&lt;/div&gt;
&lt;/div&gt;


<hr>
<!-- PEDROO_NEXT_FILE: /ads/resources/views/admin/layouts/partials/sidebar.blade.php -->
<!-- PEDROO_NEXT_DIR: /ads/resources/views/admin/layouts/partials/sidebar -->

</body>
</html>