<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>/ads/resources/views/admin/layouts/partials/sidebar.blade.php</title>
<style>
body { font-family: monospace; white-space: pre; }
</style>
</head>
<body>
@if (auth()-&gt;check())
	@php
		$authUser = auth()-&gt;user();
		
		// Get addons admin menu
		$addonsMenu = &#039;&#039;;
		$addons = addon_installed_list();
		if (!empty($addons)) {
			foreach($addons as $addon) {
				if (method_exists($addon-&gt;class, &#039;getAdminMenu&#039;)) {
					$addonsMenu .= call_user_func($addon-&gt;class . &#039;::getAdminMenu&#039;);
				}
			}
		}
	@endphp
	&lt;style&gt;
		#adminSidebar ul li span {
			text-transform: capitalize;
		}
	&lt;/style&gt;
	&lt;aside class=&quot;left-sidebar&quot; id=&quot;adminSidebar&quot;&gt;
		{{-- Sidebar scroll --}}
		&lt;div class=&quot;scroll-sidebar&quot;&gt;
			{{-- Sidebar navigation --}}
			&lt;nav class=&quot;sidebar-nav&quot;&gt;
				&lt;ul id=&quot;sidebarnav&quot;&gt;
					&lt;li class=&quot;sidebar-item user-profile&quot;&gt;
						&lt;a class=&quot;sidebar-link has-arrow waves-effect waves-dark&quot; href=&quot;javascript:void(0)&quot; aria-expanded=&quot;false&quot;&gt;
							&lt;img src=&quot;{{ $authUser-&gt;photo_url ?? &#039;/images/user.png&#039; }}&quot; alt=&quot;Administrator&quot;&gt;
							&lt;span class=&quot;hide-menu&quot;&gt;{{ $authUser-&gt;name ?? &#039;Administrator&#039; }}&lt;/span&gt;
						&lt;/a&gt;
						&lt;ul aria-expanded=&quot;false&quot; class=&quot;collapse first-level&quot;&gt;
							&lt;li class=&quot;sidebar-item&quot;&gt;
								&lt;a href=&quot;{{ urlGen()-&gt;adminUrl(&#039;account&#039;) }}&quot; class=&quot;sidebar-link p-0&quot;&gt;
									&lt;i class=&quot;mdi mdi-adjust&quot;&gt;&lt;/i&gt;
									&lt;span class=&quot;hide-menu&quot;&gt;{{ trans(&#039;admin.my_account&#039;) }}&lt;/span&gt;
								&lt;/a&gt;
							&lt;/li&gt;
							&lt;li class=&quot;sidebar-item&quot;&gt;
								&lt;a href=&quot;{{ urlGen()-&gt;signOut() }}&quot; class=&quot;sidebar-link p-0&quot;&gt;
									&lt;i class=&quot;mdi mdi-adjust&quot;&gt;&lt;/i&gt;
									&lt;span class=&quot;hide-menu&quot;&gt;{{ trans(&#039;admin.logout&#039;) }}&lt;/span&gt;
								&lt;/a&gt;
							&lt;/li&gt;
						&lt;/ul&gt;
					&lt;/li&gt;
					
					&lt;li class=&quot;sidebar-item&quot;&gt;
						&lt;a href=&quot;{{ urlGen()-&gt;adminUrl(&#039;dashboard&#039;) }}&quot; class=&quot;sidebar-link waves-effect waves-dark&quot;&gt;
							&lt;i data-feather=&quot;home&quot; class=&quot;feather-icon&quot;&gt;&lt;/i&gt; &lt;span class=&quot;hide-menu&quot;&gt;{{ trans(&#039;admin.dashboard&#039;) }}&lt;/span&gt;
						&lt;/a&gt;
					&lt;/li&gt;
					@if (
						doesUserHavePermission($authUser, &#039;admin.post.view&#039;)
						|| doesUserHavePermission($authUser, &#039;admin.category.view&#039;)
						|| doesUserHavePermission($authUser, &#039;admin.picture.view&#039;)
						|| doesUserHavePermission($authUser, &#039;admin.field.view&#039;)
						|| userHasSuperAdminPermissions()
					)
						&lt;li class=&quot;sidebar-item&quot;&gt;
							&lt;a href=&quot;#collapseListings&quot;
							   class=&quot;sidebar-link has-arrow waves-effect waves-dark&quot;
							   data-bs-toggle=&quot;collapse&quot;
							   aria-expanded=&quot;false&quot;
							   aria-controls=&quot;collapseListings&quot;
							&gt;
								&lt;i data-feather=&quot;list&quot;&gt;&lt;/i&gt; &lt;span class=&quot;hide-menu&quot;&gt;{{ trans(&#039;admin.listings&#039;) }}&lt;/span&gt;
							&lt;/a&gt;
							&lt;ul class=&quot;collapse first-level&quot; id=&quot;collapseListings&quot;&gt;
								@if (doesUserHavePermission($authUser, &#039;admin.post.view&#039;) || userHasSuperAdminPermissions())
									&lt;li class=&quot;sidebar-item&quot;&gt;
										&lt;a href=&quot;{{ urlGen()-&gt;adminUrl(&#039;posts&#039;) }}&quot; class=&quot;sidebar-link&quot;&gt;
											&lt;i class=&quot;mdi mdi-adjust&quot;&gt;&lt;/i&gt;
											&lt;span class=&quot;hide-menu&quot;&gt;{{ trans(&#039;admin.list&#039;) }}&lt;/span&gt;
										&lt;/a&gt;
									&lt;/li&gt;
								@endif
								@if (doesUserHavePermission($authUser, &#039;admin.category.view&#039;) || userHasSuperAdminPermissions())
									&lt;li class=&quot;sidebar-item&quot;&gt;
										&lt;a href=&quot;{{ urlGen()-&gt;adminUrl(&#039;categories&#039;) }}&quot; class=&quot;sidebar-link&quot;&gt;
											&lt;i class=&quot;mdi mdi-adjust&quot;&gt;&lt;/i&gt;
											&lt;span class=&quot;hide-menu&quot;&gt;{{ trans(&#039;admin.categories&#039;) }}&lt;/span&gt;
										&lt;/a&gt;
									&lt;/li&gt;
								@endif
								@if (doesUserHavePermission($authUser, &#039;admin.picture.view&#039;) || userHasSuperAdminPermissions())
									&lt;li class=&quot;sidebar-item&quot;&gt;
										&lt;a href=&quot;{{ urlGen()-&gt;adminUrl(&#039;pictures&#039;) }}&quot; class=&quot;sidebar-link&quot;&gt;
											&lt;i class=&quot;mdi mdi-adjust&quot;&gt;&lt;/i&gt;
											&lt;span class=&quot;hide-menu&quot;&gt;{{ trans(&#039;admin.pictures&#039;) }}&lt;/span&gt;
										&lt;/a&gt;
									&lt;/li&gt;
								@endif
								@if (doesUserHavePermission($authUser, &#039;admin.field.view&#039;) || userHasSuperAdminPermissions())
									&lt;li class=&quot;sidebar-item&quot;&gt;
										&lt;a href=&quot;{{ urlGen()-&gt;adminUrl(&#039;custom-fields&#039;) }}&quot; class=&quot;sidebar-link&quot;&gt;
											&lt;i class=&quot;mdi mdi-adjust&quot;&gt;&lt;/i&gt;
											&lt;span class=&quot;hide-menu&quot;&gt;{{ trans(&#039;admin.custom fields&#039;) }}&lt;/span&gt;
										&lt;/a&gt;
									&lt;/li&gt;
								@endif
							&lt;/ul&gt;
						&lt;/li&gt;
					@endif
					
					@if (
						doesUserHavePermission($authUser, &#039;admin.user.view&#039;)
						|| doesUserHavePermission($authUser, &#039;admin.role.view&#039;)
						|| doesUserHavePermission($authUser, &#039;admin.permission.view&#039;)
						|| userHasSuperAdminPermissions()
					)
						&lt;li  class=&quot;sidebar-item&quot;&gt;
							&lt;a href=&quot;#collapseUsers&quot;
							   class=&quot;sidebar-link has-arrow waves-effect waves-dark&quot;
							   data-bs-toggle=&quot;collapse&quot;
							   aria-expanded=&quot;false&quot;
							   aria-controls=&quot;collapseUsers&quot;
							&gt;
								&lt;i data-feather=&quot;users&quot; class=&quot;feather-icon&quot;&gt;&lt;/i&gt; &lt;span class=&quot;hide-menu&quot;&gt;{{ trans(&#039;admin.users&#039;) }}&lt;/span&gt;
							&lt;/a&gt;
							&lt;ul class=&quot;collapse first-level&quot; id=&quot;collapseUsers&quot;&gt;
								@if (doesUserHavePermission($authUser, &#039;admin.user.view&#039;) || userHasSuperAdminPermissions())
									&lt;li class=&quot;sidebar-item&quot;&gt;
										&lt;a href=&quot;{{ urlGen()-&gt;adminUrl(&#039;users&#039;) }}&quot; class=&quot;sidebar-link&quot;&gt;
											&lt;i class=&quot;mdi mdi-adjust&quot;&gt;&lt;/i&gt;
											&lt;span class=&quot;hide-menu&quot;&gt;{{ trans(&#039;admin.list&#039;) }}&lt;/span&gt;
										&lt;/a&gt;
									&lt;/li&gt;
								@endif
								@if (doesUserHavePermission($authUser, &#039;admin.role.view&#039;) || userHasSuperAdminPermissions())
									&lt;li class=&quot;sidebar-item&quot;&gt;
										&lt;a href=&quot;{{ urlGen()-&gt;adminUrl(&#039;roles&#039;) }}&quot; class=&quot;sidebar-link&quot;&gt;
											&lt;i class=&quot;mdi mdi-adjust&quot;&gt;&lt;/i&gt;
											&lt;span class=&quot;hide-menu&quot;&gt;{{ trans(&#039;admin.roles&#039;) }}&lt;/span&gt;
										&lt;/a&gt;
									&lt;/li&gt;
								@endif
								@if (doesUserHavePermission($authUser, &#039;admin.permission.view&#039;) || userHasSuperAdminPermissions())
									&lt;li class=&quot;sidebar-item&quot;&gt;
										&lt;a href=&quot;{{ urlGen()-&gt;adminUrl(&#039;permissions&#039;) }}&quot; class=&quot;sidebar-link&quot;&gt;
											&lt;i class=&quot;mdi mdi-adjust&quot;&gt;&lt;/i&gt;
											&lt;span class=&quot;hide-menu&quot;&gt;{{ trans(&#039;admin.permissions&#039;) }}&lt;/span&gt;
										&lt;/a&gt;
									&lt;/li&gt;
								@endif
							&lt;/ul&gt;
						&lt;/li&gt;
					@endif
					
					@if (
						doesUserHavePermission($authUser, &#039;admin.payment.view&#039;)
						|| userHasSuperAdminPermissions()
					)
						&lt;li class=&quot;sidebar-item&quot;&gt;
							&lt;a href=&quot;#collapsePayments&quot;
							   class=&quot;sidebar-link has-arrow waves-effect waves-dark&quot;
							   data-bs-toggle=&quot;collapse&quot;
							   aria-expanded=&quot;false&quot;
							   aria-controls=&quot;collapsePayments&quot;
							&gt;
								&lt;i data-feather=&quot;dollar-sign&quot; class=&quot;feather-icon&quot;&gt;&lt;/i&gt; &lt;span class=&quot;hide-menu&quot;&gt;{{ trans(&#039;admin.payments&#039;) }}&lt;/span&gt;
							&lt;/a&gt;
							&lt;ul class=&quot;collapse first-level&quot; id=&quot;collapsePayments&quot;&gt;
								&lt;li class=&quot;sidebar-item&quot;&gt;
									&lt;a href=&quot;{{ urlGen()-&gt;adminUrl(&#039;payments/promotion&#039;) }}&quot; class=&quot;sidebar-link&quot;&gt;
										&lt;i class=&quot;mdi mdi-adjust&quot;&gt;&lt;/i&gt;
										&lt;span class=&quot;hide-menu&quot;&gt;{{ trans(&#039;admin.promotions&#039;) }}&lt;/span&gt;
									&lt;/a&gt;
								&lt;/li&gt;
								&lt;li class=&quot;sidebar-item&quot;&gt;
									&lt;a href=&quot;{{ urlGen()-&gt;adminUrl(&#039;payments/subscription&#039;) }}&quot; class=&quot;sidebar-link&quot;&gt;
										&lt;i class=&quot;mdi mdi-adjust&quot;&gt;&lt;/i&gt;
										&lt;span class=&quot;hide-menu&quot;&gt;{{ trans(&#039;admin.subscriptions&#039;) }}&lt;/span&gt;
									&lt;/a&gt;
								&lt;/li&gt;
							&lt;/ul&gt;
						&lt;/li&gt;
					@endif
					@if (doesUserHavePermission($authUser, &#039;admin.page.view&#039;) || userHasSuperAdminPermissions())
						&lt;li class=&quot;sidebar-item&quot;&gt;
							&lt;a href=&quot;{{ urlGen()-&gt;adminUrl(&#039;pages&#039;) }}&quot; class=&quot;sidebar-link&quot;&gt;
								&lt;i data-feather=&quot;book-open&quot; class=&quot;feather-icon&quot;&gt;&lt;/i&gt; &lt;span class=&quot;hide-menu&quot;&gt;{{ trans(&#039;admin.pages&#039;) }}&lt;/span&gt;
							&lt;/a&gt;
						&lt;/li&gt;
					@endif
					{!! $addonsMenu !!}
					
					{{-- ======================================= --}}
					@if (
						doesUserHavePermission($authUser, &#039;admin.setting.view&#039;)
						|| doesUserHavePermission($authUser, &#039;admin.language.view&#039;)
						|| doesUserHavePermission($authUser, &#039;admin.section.view&#039;)
						|| doesUserHavePermission($authUser, &#039;admin.meta-tag.view&#039;)
						|| doesUserHavePermission($authUser, &#039;admin.package.view&#039;)
						|| doesUserHavePermission($authUser, &#039;admin.payment-method.view&#039;)
						|| doesUserHavePermission($authUser, &#039;admin.advertising.view&#039;)
						|| doesUserHavePermission($authUser, &#039;admin.country.view&#039;)
						|| doesUserHavePermission($authUser, &#039;admin.currency.view&#039;)
						|| doesUserHavePermission($authUser, &#039;admin.blacklist.view&#039;)
						|| doesUserHavePermission($authUser, &#039;admin.report-type.view&#039;)
						|| userHasSuperAdminPermissions()
					)
						&lt;li class=&quot;nav-small-cap&quot;&gt;
							&lt;i class=&quot;mdi mdi-dots-horizontal&quot;&gt;&lt;/i&gt;
							&lt;span class=&quot;hide-menu&quot;&gt;{{ trans(&#039;admin.configuration&#039;) }}&lt;/span&gt;
						&lt;/li&gt;
						
						@if (
							doesUserHavePermission($authUser, &#039;admin.setting.view&#039;)
							|| doesUserHavePermission($authUser, &#039;admin.language.view&#039;)
							|| doesUserHavePermission($authUser, &#039;admin.section.view&#039;)
							|| doesUserHavePermission($authUser, &#039;admin.meta-tag.view&#039;)
							|| doesUserHavePermission($authUser, &#039;admin.package.view&#039;)
							|| doesUserHavePermission($authUser, &#039;admin.payment-method.view&#039;)
							|| doesUserHavePermission($authUser, &#039;admin.advertising.view&#039;)
							|| doesUserHavePermission($authUser, &#039;admin.country.view&#039;)
							|| doesUserHavePermission($authUser, &#039;admin.currency.view&#039;)
							|| doesUserHavePermission($authUser, &#039;admin.blacklist.view&#039;)
							|| doesUserHavePermission($authUser, &#039;admin.report-type.view&#039;)
							|| userHasSuperAdminPermissions()
						)
							&lt;li class=&quot;sidebar-item&quot;&gt;
								&lt;a href=&quot;#collapseSettings&quot;
								   class=&quot;has-arrow sidebar-link&quot;
								   data-bs-toggle=&quot;collapse&quot;
								   aria-expanded=&quot;false&quot;
								   aria-controls=&quot;collapseSettings&quot;
								&gt;
									&lt;i data-feather=&quot;settings&quot; class=&quot;feather-icon&quot;&gt;&lt;/i&gt;
									&lt;span class=&quot;hide-menu&quot;&gt;{{ trans(&#039;admin.settings&#039;) }}&lt;/span&gt;
								&lt;/a&gt;
								&lt;ul class=&quot;collapse first-level&quot; id=&quot;collapseSettings&quot;&gt;
									@include(&#039;admin.layouts.partials.sidebar.general-settings&#039;)
									@include(&#039;admin.layouts.partials.sidebar.tableData-settings&#039;)
								&lt;/ul&gt;
							&lt;/li&gt;
						@endif
					@endif
					
					@if (doesUserHavePermission($authUser, &#039;admin.addon.view&#039;) || userHasSuperAdminPermissions())
						&lt;li class=&quot;sidebar-item&quot;&gt;
							&lt;a href=&quot;{{ urlGen()-&gt;adminUrl(&#039;addons&#039;) }}&quot; class=&quot;sidebar-link&quot;&gt;
								&lt;i data-feather=&quot;package&quot; class=&quot;feather-icon&quot;&gt;&lt;/i&gt; &lt;span class=&quot;hide-menu&quot;&gt;{{ trans(&#039;admin.addons&#039;) }}&lt;/span&gt;
							&lt;/a&gt;
						&lt;/li&gt;
					@endif
					@if (doesUserHavePermission($authUser, &#039;admin.clear-cache&#039;) || userHasSuperAdminPermissions())
						&lt;li class=&quot;sidebar-item&quot;&gt;
							&lt;a href=&quot;{{ urlGen()-&gt;adminUrl(&#039;actions/heavy/clear-cache&#039;) }}&quot; class=&quot;sidebar-link confirm-simple-action&quot;&gt;
								&lt;i data-feather=&quot;refresh-cw&quot; class=&quot;feather-icon&quot;&gt;&lt;/i&gt; &lt;span class=&quot;hide-menu&quot;&gt;{{ trans(&#039;admin.clear cache&#039;) }}&lt;/span&gt;
							&lt;/a&gt;
						&lt;/li&gt;
					@endif
					@if (doesUserHavePermission($authUser, &#039;admin.backup.view&#039;) || userHasSuperAdminPermissions())
						&lt;li class=&quot;sidebar-item&quot;&gt;
							&lt;a href=&quot;{{ urlGen()-&gt;adminUrl(&#039;backups&#039;) }}&quot; class=&quot;sidebar-link&quot;&gt;
								&lt;i data-feather=&quot;hard-drive&quot; class=&quot;feather-icon&quot;&gt;&lt;/i&gt; &lt;span class=&quot;hide-menu&quot;&gt;{{ trans(&#039;admin.backups&#039;) }}&lt;/span&gt;
							&lt;/a&gt;
						&lt;/li&gt;
					@endif
					
					@if (
						doesUserHavePermission($authUser, &#039;admin.maintenance&#039;) ||
						userHasSuperAdminPermissions()
					)
						@if (app()-&gt;isDownForMaintenance())
							@if (doesUserHavePermission($authUser, &#039;admin.maintenance&#039;) || userHasSuperAdminPermissions())
								&lt;li class=&quot;sidebar-item&quot;&gt;
									&lt;a href=&quot;{{ urlGen()-&gt;adminUrl(&#039;actions/maintenance/up&#039;) }}&quot;
									   data-bs-toggle=&quot;tooltip&quot;
									   title=&quot;{{ trans(&#039;admin.Leave Maintenance Mode&#039;) }}&quot;
									   class=&quot;sidebar-link confirm-simple-action&quot;
									&gt;
										&lt;i data-feather=&quot;toggle-right&quot;&gt;&lt;/i&gt; &lt;span class=&quot;hide-menu&quot;&gt;{{ trans(&#039;admin.Live Mode&#039;) }}&lt;/span&gt;
									&lt;/a&gt;
								&lt;/li&gt;
							@endif
						@else
							@if (doesUserHavePermission($authUser, &#039;admin.maintenance&#039;) || userHasSuperAdminPermissions())
								&lt;li class=&quot;sidebar-item&quot;&gt;
									&lt;a href=&quot;#maintenanceMode&quot;
									   data-bs-toggle=&quot;modal&quot;
									   title=&quot;{{ trans(&#039;admin.Put in Maintenance Mode&#039;) }}&quot;
									   class=&quot;sidebar-link&quot;
									&gt;
										&lt;i data-feather=&quot;toggle-left&quot;&gt;&lt;/i&gt; &lt;span class=&quot;hide-menu&quot;&gt;{{ trans(&#039;admin.Maintenance&#039;) }}&lt;/span&gt;
									&lt;/a&gt;
								&lt;/li&gt;
							@endif
						@endif
					@endif
					@if (doesUserHavePermission($authUser, &#039;admin.system-info.view&#039;) || userHasSuperAdminPermissions())
						&lt;li class=&quot;sidebar-item&quot;&gt;
							&lt;a href=&quot;{{ urlGen()-&gt;adminUrl(&#039;system&#039;) }}&quot; class=&quot;sidebar-link&quot;&gt;
								&lt;i data-feather=&quot;alert-circle&quot;&gt;&lt;/i&gt; &lt;span class=&quot;hide-menu&quot;&gt;{{ trans(&#039;admin.system_info&#039;) }}&lt;/span&gt;
							&lt;/a&gt;
						&lt;/li&gt;
					@endif
					
					@if (userHasSuperAdminPermissions())
						&lt;li class=&quot;sidebar-item&quot;&gt;
							&lt;a href=&quot;{{ url(&#039;docs/api&#039;) }}&quot; target=&quot;_blank&quot; class=&quot;sidebar-link&quot;&gt;
								&lt;i data-feather=&quot;book&quot; class=&quot;feather-icon&quot;&gt;&lt;/i&gt; &lt;span class=&quot;hide-menu&quot;&gt;{{ trans(&#039;admin.api_docs&#039;) }}&lt;/span&gt;
							&lt;/a&gt;
						&lt;/li&gt;
					@endif
					
				&lt;/ul&gt;
			&lt;/nav&gt;
			
		&lt;/div&gt;
		
	&lt;/aside&gt;
@endif


<hr>
<!-- PEDROO_NEXT_FILE: /ads/resources/views/admin/layouts/partials/sidebar/general-settings.blade.php -->
<!-- PEDROO_NEXT_DIR: /ads/resources/views/admin/layouts/partials/sidebar -->

</body>
</html>