<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>/ads/resources/views/admin/system/index.blade.php</title>
<style>
body { font-family: monospace; white-space: pre; }
</style>
</head>
<body>
@extends(&#039;admin.layouts.master&#039;)

@section(&#039;header&#039;)
	&lt;div class=&quot;row page-titles&quot;&gt;
		&lt;div class=&quot;col-md-6 col-12 align-self-center&quot;&gt;
			&lt;h2 class=&quot;mb-0&quot;&gt;
				{{ trans(&#039;admin.system_info&#039;) }}
			&lt;/h2&gt;
		&lt;/div&gt;
		&lt;div class=&quot;col-md-6 col-12 align-self-center d-none d-md-flex justify-content-end&quot;&gt;
			&lt;ol class=&quot;breadcrumb mb-0 p-0 bg-transparent&quot;&gt;
				&lt;li class=&quot;breadcrumb-item&quot;&gt;&lt;a href=&quot;{{ urlGen()-&gt;adminUrl() }}&quot;&gt;{{ trans(&#039;admin.dashboard&#039;) }}&lt;/a&gt;&lt;/li&gt;
				&lt;li class=&quot;breadcrumb-item active d-flex align-items-center&quot;&gt;{{ trans(&#039;admin.system&#039;) }}&lt;/li&gt;
			&lt;/ol&gt;
		&lt;/div&gt;
	&lt;/div&gt;
@endsection

@section(&#039;content&#039;)
	
	&lt;div class=&quot;row&quot;&gt;
		
		{{-- System Info --}}
		&lt;div class=&quot;col-12&quot;&gt;
			&lt;div class=&quot;card border-0&quot;&gt;
				&lt;div class=&quot;card-header border-bottom&quot;&gt;
					&lt;h3 class=&quot;card-title&quot;&gt;&lt;i class=&quot;bi bi-info-circle&quot;&gt;&lt;/i&gt; {{ trans(&#039;admin.system&#039;) }}&lt;/h3&gt;
				&lt;/div&gt;
				
				&lt;div class=&quot;card-body&quot;&gt;
					&lt;div class=&quot;row&quot;&gt;
						&lt;div class=&quot;col-md-12&quot;&gt;
							@foreach ($systemInfo as $key =&gt; $item)
								&lt;div class=&quot;row mt-2 mb-2&quot;&gt;
									&lt;div class=&quot;col-xl-2 col-lg-3 col-md-3 col-4 fw-bolder&quot;&gt;
										{!! $item[&#039;name&#039;] !!}
									&lt;/div&gt;
									&lt;div class=&quot;col-xl-10 col-lg-9 col-md-9 col-8&quot;&gt;
										{!! $item[&#039;value&#039;] !!}
									&lt;/div&gt;
								&lt;/div&gt;
							@endforeach
						&lt;/div&gt;
					&lt;/div&gt;
				&lt;/div&gt;
			&lt;/div&gt;
		&lt;/div&gt;
		
		{{-- Database Info --}}
		&lt;div class=&quot;col-12&quot;&gt;
			&lt;div class=&quot;card border-0&quot;&gt;
				&lt;div class=&quot;card-header border-bottom&quot;&gt;
					&lt;h3 class=&quot;card-title&quot;&gt;&lt;i class=&quot;bi bi-database&quot;&gt;&lt;/i&gt; {{ trans(&#039;admin.database&#039;) }}&lt;/h3&gt;
				&lt;/div&gt;
				
				&lt;div class=&quot;card-body&quot;&gt;
					&lt;div class=&quot;row&quot;&gt;
						&lt;div class=&quot;col-md-12&quot;&gt;
							@foreach ($databaseInfo as $key =&gt; $item)
								&lt;div class=&quot;row mt-2 mb-2&quot;&gt;
									&lt;div class=&quot;col-xl-2 col-lg-3 col-md-3 col-4 fw-bolder&quot;&gt;
										{!! $item[&#039;name&#039;] !!}
									&lt;/div&gt;
									&lt;div class=&quot;col-xl-10 col-lg-9 col-md-9 col-8&quot;&gt;
										{!! $item[&#039;value&#039;] !!}
									&lt;/div&gt;
								&lt;/div&gt;
							@endforeach
						&lt;/div&gt;
					&lt;/div&gt;
				&lt;/div&gt;
			&lt;/div&gt;
		&lt;/div&gt;
		
		{{-- Server Requirements --}}
		&lt;div class=&quot;col-6&quot;&gt;
			&lt;div class=&quot;card border-0&quot;&gt;
				&lt;div class=&quot;card-header border-bottom&quot;&gt;
					&lt;h3 class=&quot;card-title&quot;&gt;&lt;i class=&quot;bi bi-exclamation-triangle&quot;&gt;&lt;/i&gt; {{ trans(&#039;messages.requirements&#039;) }}&lt;/h3&gt;
				&lt;/div&gt;
				
				&lt;div class=&quot;card-body pt-0 pb-0&quot;&gt;
					&lt;div class=&quot;row&quot;&gt;
						&lt;div class=&quot;col-md-12&quot;&gt;
							&lt;ul class=&quot;system-info&quot;&gt;
								@foreach ($components as $key =&gt; $item)
									&lt;li class=&quot;d-flex align-items-start&quot;&gt;
										&lt;div class=&quot;d-flex align-items-center&quot;&gt;
											@if ($item[&#039;isOk&#039;])
												&lt;i class=&quot;bi bi-check text-success&quot;&gt;&lt;/i&gt;
											@else
												&lt;i class=&quot;bi bi-x text-danger&quot;&gt;&lt;/i&gt;
											@endif
										&lt;/div&gt;
										&lt;div class=&quot;row d-flex align-items-center&quot;&gt;
											&lt;h5 class=&quot;col-12 title-5 fw-bolder&quot;&gt;
												{{ $item[&#039;name&#039;] }}
											&lt;/h5&gt;
											&lt;p class=&quot;col-12&quot;&gt;
												{!! ($item[&#039;isOk&#039;]) ? $item[&#039;success&#039;] : $item[&#039;warning&#039;] !!}
											&lt;/p&gt;
										&lt;/div&gt;
									&lt;/li&gt;
								@endforeach
							&lt;/ul&gt;
						&lt;/div&gt;
					&lt;/div&gt;
				&lt;/div&gt;
			&lt;/div&gt;
		&lt;/div&gt;
		
		{{-- Files Permissions --}}
		&lt;div class=&quot;col-6&quot;&gt;
			&lt;div class=&quot;card border-0&quot;&gt;
				&lt;div class=&quot;card-header border-bottom&quot;&gt;
					&lt;h3 class=&quot;card-title&quot;&gt;&lt;i class=&quot;bi bi-folder2-open&quot;&gt;&lt;/i&gt; {{ trans(&#039;messages.permissions&#039;) }}&lt;/h3&gt;
				&lt;/div&gt;
				
				&lt;div class=&quot;card-body pt-0 pb-0&quot;&gt;
					&lt;div class=&quot;row&quot;&gt;
						&lt;div class=&quot;col-md-12&quot;&gt;
							&lt;ul class=&quot;system-info&quot;&gt;
								@foreach ($permissions as $key =&gt; $item)
									&lt;li class=&quot;d-flex align-items-start&quot;&gt;
										&lt;div class=&quot;d-flex align-items-center&quot;&gt;
											@if ($item[&#039;isOk&#039;])
												&lt;i class=&quot;bi bi-check text-success&quot;&gt;&lt;/i&gt;
											@else
												&lt;i class=&quot;bi bi-x text-danger&quot;&gt;&lt;/i&gt;
											@endif
										&lt;/div&gt;
										&lt;div class=&quot;row d-flex align-items-center&quot;&gt;
											&lt;h5 class=&quot;col-12 title-5 fw-bolder&quot;&gt;
												{{ relativeAppPath($item[&#039;name&#039;]) }}
											&lt;/h5&gt;
											&lt;p class=&quot;col-12&quot;&gt;
												{!! ($item[&#039;isOk&#039;]) ? $item[&#039;success&#039;] : $item[&#039;warning&#039;] !!}
											&lt;/p&gt;
										&lt;/div&gt;
									&lt;/li&gt;
								@endforeach
							&lt;/ul&gt;
						&lt;/div&gt;
					&lt;/div&gt;
				&lt;/div&gt;
			&lt;/div&gt;
		&lt;/div&gt;
		
		@php
			$imageFormats ??= [];
			$gdFormats = $imageFormats[&#039;gd&#039;] ?? [];
			$imagickFormats = $imageFormats[&#039;imagick&#039;] ?? [];
			
			$gdDriver = \Intervention\Image\Drivers\Gd\Driver::class;
			$imagickDriver = \Intervention\Image\Drivers\Imagick\Driver::class;
			$driver = config(&#039;image.driver&#039;);
			
			$defaultDriverText = trans(&#039;admin.default_image_driver&#039;);
			
			$gbBadge = ($driver == $gdDriver) ? $defaultDriverText : &#039;&#039;;
			$gbBadge = !empty($gbBadge) ? &#039; &lt;span class=&quot;badge bg-secondary&quot;&gt;&#039; . $gbBadge . &#039;&lt;/span&gt;&#039; : &#039;&#039;;
			
			$imagickBadge = ($driver == $imagickDriver) ? $defaultDriverText : &#039;&#039;;
			$imagickBadge = !empty($imagickBadge) ? &#039; &lt;span class=&quot;badge bg-secondary&quot;&gt;&#039; . $imagickBadge . &#039;&lt;/span&gt;&#039; : &#039;&#039;;
		@endphp
		
		{{-- PHP GD Extension Formats --}}
		@if (!empty($gdFormats))
			&lt;div class=&quot;col-6&quot;&gt;
				&lt;div class=&quot;card border-0&quot;&gt;
					&lt;div class=&quot;card-header border-bottom&quot;&gt;
						&lt;h3 class=&quot;card-title&quot;&gt;
							&lt;i class=&quot;bi bi-info-circle&quot;&gt;&lt;/i&gt; {!! trans(&#039;admin.image_gd_formats&#039;) . $gbBadge !!}
						&lt;/h3&gt;
					&lt;/div&gt;
					
					&lt;div class=&quot;card-body pt-0 pb-0&quot;&gt;
						&lt;div class=&quot;row&quot;&gt;
							&lt;div class=&quot;col-md-12&quot;&gt;
								&lt;ul class=&quot;system-info&quot;&gt;
									@foreach ($gdFormats as $key =&gt; $item)
										&lt;li class=&quot;d-flex align-items-start&quot;&gt;
											&lt;div class=&quot;d-flex align-items-center&quot;&gt;
												@if ($item[&#039;isOk&#039;])
													&lt;i class=&quot;bi bi-check text-success&quot;&gt;&lt;/i&gt;
												@else
													&lt;i class=&quot;bi bi-x text-danger&quot;&gt;&lt;/i&gt;
												@endif
											&lt;/div&gt;
											&lt;div class=&quot;row d-flex align-items-center&quot;&gt;
												&lt;h5 class=&quot;col-12 title-5 fw-bolder&quot;&gt;
													{{ $item[&#039;name&#039;] }}
												&lt;/h5&gt;
												&lt;p class=&quot;col-12&quot;&gt;
													{!! ($item[&#039;isOk&#039;]) ? $item[&#039;success&#039;] : $item[&#039;warning&#039;] !!}
												&lt;/p&gt;
											&lt;/div&gt;
										&lt;/li&gt;
									@endforeach
								&lt;/ul&gt;
							&lt;/div&gt;
						&lt;/div&gt;
					&lt;/div&gt;
				&lt;/div&gt;
			&lt;/div&gt;
		@endif
		
		{{-- PHP Imagick Extension Formats --}}
		@if (!empty($imagickFormats))
			&lt;div class=&quot;col-6&quot;&gt;
				&lt;div class=&quot;card border-0&quot;&gt;
					&lt;div class=&quot;card-header border-bottom&quot;&gt;
						&lt;h3 class=&quot;card-title&quot;&gt;
							&lt;i class=&quot;bi bi-info-circle&quot;&gt;&lt;/i&gt; {!! trans(&#039;admin.image_imagick_formats&#039;) . $imagickBadge !!}
						&lt;/h3&gt;
					&lt;/div&gt;
					
					&lt;div class=&quot;card-body pt-0 pb-0&quot;&gt;
						&lt;div class=&quot;row&quot;&gt;
							&lt;div class=&quot;col-md-12&quot;&gt;
								&lt;ul class=&quot;system-info&quot;&gt;
									@foreach ($imagickFormats as $key =&gt; $item)
										&lt;li class=&quot;d-flex align-items-start&quot;&gt;
											&lt;div class=&quot;d-flex align-items-center&quot;&gt;
												@if ($item[&#039;isOk&#039;])
													&lt;i class=&quot;bi bi-check text-success&quot;&gt;&lt;/i&gt;
												@else
													&lt;i class=&quot;bi bi-x text-danger&quot;&gt;&lt;/i&gt;
												@endif
											&lt;/div&gt;
											&lt;div class=&quot;row d-flex align-items-center&quot;&gt;
												&lt;h5 class=&quot;col-12 title-5 fw-bolder&quot;&gt;
													{{ $item[&#039;name&#039;] }}
												&lt;/h5&gt;
												&lt;p class=&quot;col-12&quot;&gt;
													{!! ($item[&#039;isOk&#039;]) ? $item[&#039;success&#039;] : $item[&#039;warning&#039;] !!}
												&lt;/p&gt;
											&lt;/div&gt;
										&lt;/li&gt;
									@endforeach
								&lt;/ul&gt;
							&lt;/div&gt;
						&lt;/div&gt;
					&lt;/div&gt;
				&lt;/div&gt;
			&lt;/div&gt;
		@endif
		
	&lt;/div&gt;

@endsection

@section(&#039;after_styles&#039;)
	@parent
	&lt;style&gt;
		/* SYSTEM INFO */
		ul.system-info {
			padding-left: 0;
		}
		ul.system-info li:first-child {
			border-top: 0;
			padding-top: 20px;
		}
		ul.system-info li:last-child {
			border-bottom: 0;
			margin-bottom: 0;
		}
		ul.system-info li {
			border-bottom: 1px solid #ddd;
			clear: both;
			list-style: outside none none;
			margin-bottom: 20px;
		}
		ul.system-info li i {
			color: #7324bc;
			float: left;
			font-size: 30px;
			max-height: 70px;
			margin-right: 20px;
			margin-top: 5px;
		}
	&lt;/style&gt;
@endsection

@section(&#039;after_scripts&#039;)
	@parent
@endsection


<hr>
<!-- PEDROO_NEXT_FILE: /ads/resources/views/admin/system/phpinfo.blade.php -->
<!-- PEDROO_NEXT_DIR: /ads/resources/views/auth -->

</body>
</html>