<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>/ads/resources/views/front/post/show/partials/sidebar.blade.php</title>
<style>
body { font-family: monospace; white-space: pre; }
</style>
</head>
<body>
@php
	$authUser = auth()-&gt;check() ? auth()-&gt;user() : null;
	$authUserId = !empty($authUser) ? $authUser-&gt;getAuthIdentifier() : 0;
	
	$post ??= [];
	$user ??= [];
	$countPackages ??= 0;
	$countPaymentMethods ??= 0;
	
	$isPostOwner = (!empty($authUserId) &amp;&amp; $authUserId == data_get($post, &#039;user_id&#039;));
	
	// Google Maps
	$isMapEnabled = (config(&#039;settings.listing_page.show_listing_on_googlemap&#039;) == &#039;1&#039;);
	$useGeocodingApi = (config(&#039;settings.other.google_maps_integration_type&#039;) == &#039;geocoding&#039;);
	$mapsJavascriptApiKey = config(&#039;services.google_maps_platform.maps_javascript_api_key&#039;);
	$mapsEmbedApiKey = config(&#039;services.google_maps_platform.maps_embed_api_key&#039;);
	$geocodingApiKey = config(&#039;services.google_maps_platform.geocoding_api_key&#039;);
	$useAsyncGeocoding = (config(&#039;settings.other.use_async_geocoding&#039;) == &#039;1&#039;);
	
	$mapsEmbedApiKey ??= $mapsJavascriptApiKey;
	$geocodingApiKey ??= $mapsJavascriptApiKey;
	$geocodingApiKey = $useAsyncGeocoding ? $geocodingApiKey : $mapsJavascriptApiKey;
	
	$mapHeight = 250;
	$city = data_get($post, &#039;city&#039;, []);
	$geoMapAddress = getItemAddressForMap($city);
	
	$mapsEmbedApiUrl = getGoogleMapsEmbedApiUrl($mapsEmbedApiKey, $geoMapAddress);
	$geocodingApiUrl = getGoogleMapsApiUrl($geocodingApiKey, $useAsyncGeocoding);
	
	$linkClass = linkClass();
@endphp
&lt;aside class=&quot;vstack gap-md-4 gap-3&quot;&gt;
	&lt;div class=&quot;card&quot;&gt;
		@if ($isPostOwner)
			&lt;div class=&quot;card-header fw-bold&quot;&gt;
				{{ trans(&#039;global.Manage Listing&#039;) }}
			&lt;/div&gt;
		@endif
		&lt;div class=&quot;card-body&quot;&gt;
			{{-- Author Info (for Guests &amp; Non-Owner Users) --}}
			@if (!$isPostOwner)
				&lt;div class=&quot;container p-0 border-bottom pb-3 mb-3&quot;&gt;
					&lt;div class=&quot;row&quot;&gt;
						&lt;div class=&quot;col-md-4&quot;&gt;
							&lt;img src=&quot;{{ data_get($post, &#039;user_photo_url&#039;) }}&quot; class=&quot;img-fluid rounded&quot; alt=&quot;{{ data_get($post, &#039;contact_name&#039;) }}&quot;&gt;
						&lt;/div&gt;
						&lt;div class=&quot;col-md-8 vstack gap-1&quot;&gt;
							&lt;small class=&quot;text-secondary&quot;&gt;{{ trans(&#039;global.Posted by&#039;) }}&lt;/small&gt;
							&lt;span class=&quot;fs-6 fw-bold&quot;&gt;
							@if (!empty($user))
								&lt;a href=&quot;{{ urlGen()-&gt;user($user) }}&quot; class=&quot;{{ $linkClass }}&quot;&gt;
									{{ data_get($post, &#039;contact_name&#039;) }}
								&lt;/a&gt;
								@else
									{{ data_get($post, &#039;contact_name&#039;) }}
								@endif
							&lt;/span&gt;
							
							@if (config(&#039;addons.reviews.installed&#039;))
								@if (view()-&gt;exists(&#039;reviews::ratings-user&#039;))
									@include(&#039;reviews::ratings-user&#039;)
								@endif
							@endif
						&lt;/div&gt;
					&lt;/div&gt;
				&lt;/div&gt;
			@endif
			
			{{-- Author Additional Info (for Guests &amp; Non-Owner Users) --}}
			@php
				$evActionClass = &#039;border-top-0&#039;;
			@endphp
			@if (!$isPostOwner)
				&lt;div class=&quot;container p-0 mb-3 text-secondary small&quot;&gt;
					&lt;div class=&quot;row my-2&quot;&gt;
						&lt;div class=&quot;col-6 text-start&quot;&gt;
							&lt;i class=&quot;bi bi-geo-alt&quot;&gt;&lt;/i&gt; {{ trans(&#039;global.location&#039;) }}
						&lt;/div&gt;
						&lt;div class=&quot;col-6 text-end&quot;&gt;
							&lt;a href=&quot;{!! urlGen()-&gt;city(data_get($post, &#039;city&#039;)) !!}&quot; class=&quot;{{ $linkClass }}&quot;&gt;
								{{ data_get($post, &#039;city.name&#039;) }}
							&lt;/a&gt;
						&lt;/div&gt;
					&lt;/div&gt;
					@if (!config(&#039;settings.listing_page.hide_date&#039;))
						@if (!empty($user) &amp;&amp; !empty(data_get($user, &#039;created_at_formatted&#039;)))
							&lt;div class=&quot;row my-2&quot;&gt;
								&lt;div class=&quot;col-6 text-start&quot;&gt;
									&lt;i class=&quot;bi bi-person-check&quot;&gt;&lt;/i&gt; {{ trans(&#039;global.Joined&#039;) }}
								&lt;/div&gt;
								&lt;div class=&quot;col-6 text-end&quot;&gt;
									&lt;span&gt;{!! data_get($user, &#039;created_at_formatted&#039;) !!}&lt;/span&gt;
								&lt;/div&gt;
							&lt;/div&gt;
						@endif
					@endif
				&lt;/div&gt;
				@php
					$evActionClass = &#039;border-top pt-3&#039;;
				@endphp
			@endif
			
			{{-- Actions Buttons --}}
			&lt;div class=&quot;container p-0 {{ $evActionClass }} d-grid gap-2&quot;&gt;
				{{-- Actions Buttons (for Logged-in Users) --}}
				@if (!empty($authUser))
					@if ($isPostOwner)
						{{-- Actions Buttons (for Owner Author) --}}
						&lt;a href=&quot;{{ urlGen()-&gt;editPost($post) }}&quot; class=&quot;btn btn-primary&quot;&gt;
							&lt;i class=&quot;fa-regular fa-pen-to-square&quot;&gt;&lt;/i&gt; {{ trans(&#039;global.Update the details&#039;) }}
						&lt;/a&gt;
						@if (isMultipleStepsFormEnabled())
							&lt;a href=&quot;{{ url(&#039;posts/&#039; . data_get($post, &#039;id&#039;) . &#039;/photos&#039;) }}&quot; class=&quot;btn btn-secondary&quot;&gt;
								&lt;i class=&quot;fa-solid fa-camera&quot;&gt;&lt;/i&gt; {{ trans(&#039;global.Update Photos&#039;) }}
							&lt;/a&gt;
							@if ($countPackages &gt; 0 &amp;&amp; $countPaymentMethods &gt; 0)
								&lt;a href=&quot;{{ url(&#039;posts/&#039; . data_get($post, &#039;id&#039;) . &#039;/payment&#039;) }}&quot; class=&quot;btn btn-success&quot;&gt;
									&lt;i class=&quot;fa-regular fa-circle-check&quot;&gt;&lt;/i&gt; {{ trans(&#039;global.Make It Premium&#039;) }}
								&lt;/a&gt;
							@endif
						@endif
						@if (empty(data_get($post, &#039;archived_at&#039;)) &amp;&amp; isVerifiedPost($post))
							&lt;a href=&quot;{{ url(urlGen()-&gt;getAccountBasePath() . &#039;/posts/list/&#039; . data_get($post, &#039;id&#039;) . &#039;/offline&#039;) }}&quot;
							   class=&quot;btn btn-warning confirm-simple-action&quot;
							&gt;
								&lt;i class=&quot;fa-solid fa-eye-slash&quot;&gt;&lt;/i&gt; {{ trans(&#039;global.put_it_offline&#039;) }}
							&lt;/a&gt;
						@endif
						@if (!empty(data_get($post, &#039;archived_at&#039;)))
							&lt;a href=&quot;{{ url(urlGen()-&gt;getAccountBasePath() . &#039;/posts/archived/&#039; . data_get($post, &#039;id&#039;) . &#039;/repost&#039;) }}&quot;
							   class=&quot;btn btn-info confirm-simple-action&quot;
							&gt;
								&lt;i class=&quot;fa-solid fa-recycle&quot;&gt;&lt;/i&gt; {{ trans(&#039;global.re_post_it&#039;) }}
							&lt;/a&gt;
						@endif
					@else
						{{-- Actions Buttons (for Non-Owner Users) --}}
						{!! genPhoneNumberBtn($post, true) !!}
						{!! genEmailContactBtn($post, true) !!}
					@endif
					
					{{-- Actions Buttons (for Admin Users Only) --}}
					@php
						try {
							if (doesUserHavePermission($authUser, \App\Models\Permission::getStaffPermissions())) {
								$btnUrl = urlGen()-&gt;adminUrl(&#039;blacklists/add&#039;) . &#039;?&#039;;
								$btnQs = (!empty(data_get($post, &#039;email&#039;))) ? &#039;email=&#039; . data_get($post, &#039;email&#039;) : &#039;&#039;;
								$btnQs = (!empty($btnQs)) ? $btnQs . &#039;&amp;&#039; : $btnQs;
								$btnQs = (!empty(data_get($post, &#039;phone&#039;))) ? $btnQs . &#039;phone=&#039; . data_get($post, &#039;phone&#039;) : $btnQs;
								$btnUrl = $btnUrl . $btnQs;
								
								if (!isDemoDomain($btnUrl)) {
									$btnText = trans(&#039;admin.ban_the_user&#039;);
									$btnHint = $btnText;
									if (!empty(data_get($post, &#039;email&#039;)) &amp;&amp; !empty(data_get($post, &#039;phone&#039;))) {
										$btnHint = trans(&#039;admin.ban_the_user_email_and_phone&#039;, [
											&#039;email&#039; =&gt; data_get($post, &#039;email&#039;),
											&#039;phone&#039; =&gt; data_get($post, &#039;phone&#039;),
										]);
									} else {
										if (!empty(data_get($post, &#039;email&#039;))) {
											$btnHint = trans(&#039;admin.ban_the_user_email&#039;, [&#039;email&#039; =&gt; data_get($post, &#039;email&#039;)]);
										}
										if (!empty(data_get($post, &#039;phone&#039;))) {
											$btnHint = trans(&#039;admin.ban_the_user_phone&#039;, [&#039;phone&#039; =&gt; data_get($post, &#039;phone&#039;)]);
										}
									}
									$tooltip = &#039; data-bs-toggle=&quot;tooltip&quot; data-bs-placement=&quot;bottom&quot; title=&quot;&#039; . $btnHint . &#039;&quot;&#039;;
									
									$btnOut = &#039;&lt;a href=&quot;&#039;. $btnUrl .&#039;&quot; class=&quot;btn btn-outline-danger confirm-simple-action&quot;&#039;. $tooltip .&#039;&gt;&#039;;
									$btnOut .= $btnText;
									$btnOut .= &#039;&lt;/a&gt;&#039;;
									
									echo $btnOut;
								}
							}
						} catch (\Throwable $e) {}
					@endphp
				@else
					{{-- Actions Buttons (for Guests) --}}
					{!! genPhoneNumberBtn($post, true) !!}
					{!! genEmailContactBtn($post, true) !!}
				@endif
			&lt;/div&gt;
		&lt;/div&gt;
	&lt;/div&gt;
	
	{{-- Google Maps --}}
	@if ($isMapEnabled)
		&lt;div class=&quot;card&quot;&gt;
			&lt;div class=&quot;card-header fw-bold&quot;&gt;
				{{ trans(&#039;global.location_map&#039;) }}
			&lt;/div&gt;
			&lt;div class=&quot;card-body text-start p-0&quot;&gt;
				&lt;div class=&quot;posts-googlemaps&quot;&gt;
					@if ($useGeocodingApi)
						&lt;div id=&quot;googleMaps&quot; style=&quot;width: 100%; height: {{ $mapHeight }}px;&quot;&gt;&lt;/div&gt;
					@else
						&lt;iframe id=&quot;googleMaps&quot;
						        width=&quot;100%&quot;
						        height=&quot;{{ $mapHeight }}&quot;
						        src=&quot;{{ $mapsEmbedApiUrl }}&quot;
						        loading=&quot;lazy&quot;
						        style=&quot;border:0;&quot;
						        allowfullscreen
						&gt;&lt;/iframe&gt;
					@endif
				&lt;/div&gt;
			&lt;/div&gt;
		&lt;/div&gt;
	@endif
	
	{{-- Social Media Sharing --}}
	@if (isVerifiedPost($post))
		@include(&#039;front.layouts.partials.social.horizontal&#039;)
	@endif
	
	{{-- Safety Tips --}}
	@php
		$tips = [
			trans(&#039;global.Meet seller at a public place&#039;),
			trans(&#039;global.Check the item before you buy&#039;),
			trans(&#039;global.Pay only after collecting the item&#039;),
		];
	@endphp
	&lt;div class=&quot;card&quot;&gt;
		&lt;div class=&quot;card-header fw-bold&quot;&gt;
			{{ trans(&#039;global.Safety Tips for Buyers&#039;) }}
		&lt;/div&gt;
		&lt;div class=&quot;card-body text-start&quot;&gt;
			&lt;ul class=&quot;list-unstyled&quot;&gt;
				@foreach($tips as $tip)
					&lt;li&gt;&lt;i class=&quot;bi bi-check-lg&quot;&gt;&lt;/i&gt; {{ $tip }}&lt;/li&gt;
				@endforeach
			&lt;/ul&gt;
			@php
				$tipsLinkAttributes = getUrlPageByType(&#039;tips&#039;);
			@endphp
			@if (!str_contains($tipsLinkAttributes, &#039;href=&quot;#&quot;&#039;) &amp;&amp; !str_contains($tipsLinkAttributes, &#039;href=&quot;&quot;&#039;))
				&lt;p&gt;
					&lt;a class=&quot;float-end {{ $linkClass }}&quot; {!! $tipsLinkAttributes !!}&gt;
						{{ trans(&#039;global.Know more&#039;) }} &lt;i class=&quot;fa-solid fa-angles-right&quot;&gt;&lt;/i&gt;
					&lt;/a&gt;
				&lt;/p&gt;
			@endif
		&lt;/div&gt;
	&lt;/div&gt;
&lt;/aside&gt;

@section(&#039;after_scripts&#039;)
	@parent
	@if ($isMapEnabled)
		@if ($useGeocodingApi)
			{{-- Google Geocoding API script --}}
			@if (!empty($geocodingApiUrl))
				&lt;script async defer src=&quot;{{ $geocodingApiUrl }}&quot;&gt;&lt;/script&gt;
			@endif
			
			{{-- JS code to append the map --}}
			&lt;script&gt;
				var geocodingApiKey = &#039;{{ $geocodingApiKey }}&#039;;
				var locationAddress = &#039;{{ $geoMapAddress }}&#039;;
				var locationMapElId = &#039;googleMaps&#039;;
				var locationMapId = &#039;{{ generateUniqueCode(16) }}&#039;;
			&lt;/script&gt;
			@if ($useAsyncGeocoding)
				&lt;script src=&quot;{{ url(&#039;assets/js/app/google-maps-async.js&#039;) }}&quot;&gt;&lt;/script&gt;
			@else
				&lt;script src=&quot;{{ url(&#039;assets/js/app/google-maps.js&#039;) }}&quot;&gt;&lt;/script&gt;
			@endif
		@endif
	@endif
@endsection


<hr>
<!-- PEDROO_NEXT_FILE: /ads/resources/views/front/search/partials/breadcrumbs.blade.php -->
<!-- PEDROO_NEXT_DIR: /ads/resources/views/front/post/show/partials/details -->

</body>
</html>