<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>/ads/resources/views/front/account/messenger/threads/pagination.blade.php</title>
<style>
body { font-family: monospace; white-space: pre; }
</style>
</head>
<body>
@php
    $apiResult ??= [];
	$isPageable = (!empty(data_get($apiResult, &#039;links.prev&#039;)) || !empty(data_get($apiResult, &#039;links.next&#039;)));
	$paginator = data_get($apiResult, &#039;links&#039;);
@endphp
@if ($isPageable)
    &lt;div class=&quot;btn-group btn-group-sm ms-2&quot;&gt;
        {{-- Previous Page Link --}}
        @if (!data_get($apiResult, &#039;links.prev&#039;))
            &lt;button type=&quot;button&quot; class=&quot;btn btn-secondary disabled&quot; aria-disabled=&quot;true&quot;&gt;
                &lt;span class=&quot;fa-solid fa-arrow-left&quot;&gt;&lt;/span&gt;
            &lt;/button&gt;
        @else
            &lt;a class=&quot;btn btn-secondary&quot; href=&quot;{{ data_get($paginator, &#039;prev&#039;) }}&quot; rel=&quot;prev&quot;&gt;
                &lt;span class=&quot;fa-solid fa-arrow-left&quot;&gt;&lt;/span&gt;
            &lt;/a&gt;
        @endif
        
        {{-- Next Page Link --}}
        @if (data_get($paginator, &#039;next&#039;))
            &lt;a class=&quot;btn btn-secondary&quot; href=&quot;{{ data_get($paginator, &#039;next&#039;) }}&quot; rel=&quot;next&quot;&gt;
                &lt;span class=&quot;fa-solid fa-arrow-right&quot;&gt;&lt;/span&gt;
            &lt;/a&gt;
        @else
            &lt;button type=&quot;button&quot; class=&quot;btn btn-secondary disabled&quot; aria-disabled=&quot;true&quot;&gt;
                &lt;span class=&quot;fa-solid fa-arrow-right&quot;&gt;&lt;/span&gt;
            &lt;/button&gt;
        @endif
    &lt;/div&gt;
@endif


<hr>
<!-- PEDROO_NEXT_FILE: /ads/resources/views/front/account/messenger/threads/thread.blade.php -->
<!-- PEDROO_NEXT_DIR: /ads/resources/views/front/account/partials -->

</body>
</html>