<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>/ads/resources/views/front/search/partials/sidebar/categories/root.blade.php</title>
<style>
body { font-family: monospace; white-space: pre; }
</style>
</head>
<body>
{{-- Category --}}
@if (!empty($cats))
	@php
		// dd($cats);
		$countPostsPerCat ??= [];
		$linkClass = linkClass(&#039;body-emphasis&#039;);
	@endphp
	&lt;div id=&quot;catsList&quot;&gt;
		&lt;div class=&quot;container p-0 vstack gap-2&quot;&gt;
			&lt;h5 class=&quot;border-bottom pb-2 d-flex justify-content-between&quot;&gt;
				&lt;span class=&quot;fw-bold&quot;&gt;{{ trans(&#039;global.all_categories&#039;) }}&lt;/span&gt; {!! $clearFilterBtn ?? &#039;&#039; !!}
			&lt;/h5&gt;
			&lt;ul class=&quot;mb-0 list-unstyled&quot;&gt;
				@foreach ($cats as $iCat)
					&lt;li class=&quot;py-1&quot;&gt;
						@if (isset($cat) &amp;&amp; data_get($iCat, &#039;id&#039;) == data_get($cat, &#039;id&#039;))
							&lt;span class=&quot;fw-bold&quot;&gt;
								@if (in_array(config(&#039;settings.listings_list.show_category_icon&#039;), [4, 5, 6, 8]))
									&lt;i class=&quot;{{ data_get($iCat, &#039;icon_class&#039;) ?? &#039;bi bi-folder-fill&#039; }}&quot;&gt;&lt;/i&gt;
								@endif
								{{ data_get($iCat, &#039;name&#039;) }}
								@if (config(&#039;settings.listings_list.count_categories_listings&#039;))
									&amp;nbsp;&lt;span class=&quot;fw-normal&quot;&gt;({{ $countPostsPerCat[data_get($iCat, &#039;id&#039;)][&#039;total&#039;] ?? 0 }})&lt;/span&gt;
								@endif
							&lt;/span&gt;
						@else
							&lt;a href=&quot;{{ urlGen()-&gt;category($iCat, null, $city ?? null) }}&quot;
							   class=&quot;{{ $linkClass }}&quot;
							   title=&quot;{{ data_get($iCat, &#039;name&#039;) }}&quot;
							&gt;
								&lt;span&gt;
									@if (in_array(config(&#039;settings.listings_list.show_category_icon&#039;), [4, 5, 6, 8]))
										&lt;i class=&quot;{{ data_get($iCat, &#039;icon_class&#039;) ?? &#039;bi bi-folder-fill&#039; }}&quot;&gt;&lt;/i&gt;
									@endif
									{{ data_get($iCat, &#039;name&#039;) }}
								&lt;/span&gt;
								@if (config(&#039;settings.listings_list.count_categories_listings&#039;))
									&amp;nbsp;&lt;span class=&quot;fw-normal&quot;&gt;({{ $countPostsPerCat[data_get($iCat, &#039;id&#039;)][&#039;total&#039;] ?? 0 }})&lt;/span&gt;
								@endif
							&lt;/a&gt;
						@endif
					&lt;/li&gt;
				@endforeach
			&lt;/ul&gt;
		&lt;/div&gt;
	&lt;/div&gt;
@endif


<hr>
<!-- PEDROO_NEXT_FILE: /ads/resources/views/front/search/partials/sidebar/cities.blade.php -->
<!-- PEDROO_NEXT_DIR: /ads/resources/views/front/sections -->

</body>
</html>