<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>/resources/views/layouts/navigation.blade.php</title>
<style>
body { font-family: monospace; white-space: pre; }
</style>
</head>
<body>
&lt;nav x-data=&quot;{ open: false }&quot; class=&quot;bg-white border-b border-gray-100&quot;&gt;
    &lt;!-- Primary Navigation Menu --&gt;
    &lt;div class=&quot;max-w-7xl mx-auto px-4 sm:px-6 lg:px-8&quot;&gt;
        &lt;div class=&quot;flex justify-between h-16&quot;&gt;
            &lt;div class=&quot;flex&quot;&gt;
                &lt;!-- Logo --&gt;
                &lt;div class=&quot;shrink-0 flex items-center&quot;&gt;
                    &lt;a href=&quot;{{ route(&#039;dashboard&#039;) }}&quot;&gt;
                        &lt;x-application-logo class=&quot;block h-9 w-auto fill-current text-gray-800&quot; /&gt;
                    &lt;/a&gt;
                &lt;/div&gt;

                &lt;!-- Navigation Links --&gt;
                &lt;div class=&quot;hidden space-x-8 sm:-my-px sm:ms-10 sm:flex&quot;&gt;
                    &lt;x-nav-link :href=&quot;route(&#039;dashboard&#039;)&quot; :active=&quot;request()-&gt;routeIs(&#039;dashboard&#039;)&quot;&gt;
                        {{ __(&#039;Dashboard&#039;) }}
                    &lt;/x-nav-link&gt;
                &lt;/div&gt;
            &lt;/div&gt;

            &lt;!-- Settings Dropdown --&gt;
            &lt;div class=&quot;hidden sm:flex sm:items-center sm:ms-6&quot;&gt;
                &lt;x-dropdown align=&quot;right&quot; width=&quot;48&quot;&gt;
                    &lt;x-slot name=&quot;trigger&quot;&gt;
                        &lt;button class=&quot;inline-flex items-center px-3 py-2 border border-transparent text-sm leading-4 font-medium rounded-md text-gray-500 bg-white hover:text-gray-700 focus:outline-none transition ease-in-out duration-150&quot;&gt;
                            &lt;div&gt;{{ Auth::user()-&gt;name }}&lt;/div&gt;

                            &lt;div class=&quot;ms-1&quot;&gt;
                                &lt;svg class=&quot;fill-current h-4 w-4&quot; xmlns=&quot;http://www.w3.org/2000/svg&quot; viewBox=&quot;0 0 20 20&quot;&gt;
                                    &lt;path fill-rule=&quot;evenodd&quot; d=&quot;M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z&quot; clip-rule=&quot;evenodd&quot; /&gt;
                                &lt;/svg&gt;
                            &lt;/div&gt;
                        &lt;/button&gt;
                    &lt;/x-slot&gt;

                    &lt;x-slot name=&quot;content&quot;&gt;
                        &lt;x-dropdown-link :href=&quot;route(&#039;profile.edit&#039;)&quot;&gt;
                            {{ __(&#039;Profile&#039;) }}
                        &lt;/x-dropdown-link&gt;

                        &lt;!-- Authentication --&gt;
                        &lt;form method=&quot;POST&quot; action=&quot;{{ route(&#039;logout&#039;) }}&quot;&gt;
                            @csrf

                            &lt;x-dropdown-link :href=&quot;route(&#039;logout&#039;)&quot;
                                    onclick=&quot;event.preventDefault();
                                                this.closest(&#039;form&#039;).submit();&quot;&gt;
                                {{ __(&#039;Log Out&#039;) }}
                            &lt;/x-dropdown-link&gt;
                        &lt;/form&gt;
                    &lt;/x-slot&gt;
                &lt;/x-dropdown&gt;
            &lt;/div&gt;

            &lt;!-- Hamburger --&gt;
            &lt;div class=&quot;-me-2 flex items-center sm:hidden&quot;&gt;
                &lt;button @click=&quot;open = ! open&quot; class=&quot;inline-flex items-center justify-center p-2 rounded-md text-gray-400 hover:text-gray-500 hover:bg-gray-100 focus:outline-none focus:bg-gray-100 focus:text-gray-500 transition duration-150 ease-in-out&quot;&gt;
                    &lt;svg class=&quot;h-6 w-6&quot; stroke=&quot;currentColor&quot; fill=&quot;none&quot; viewBox=&quot;0 0 24 24&quot;&gt;
                        &lt;path :class=&quot;{&#039;hidden&#039;: open, &#039;inline-flex&#039;: ! open }&quot; class=&quot;inline-flex&quot; stroke-linecap=&quot;round&quot; stroke-linejoin=&quot;round&quot; stroke-width=&quot;2&quot; d=&quot;M4 6h16M4 12h16M4 18h16&quot; /&gt;
                        &lt;path :class=&quot;{&#039;hidden&#039;: ! open, &#039;inline-flex&#039;: open }&quot; class=&quot;hidden&quot; stroke-linecap=&quot;round&quot; stroke-linejoin=&quot;round&quot; stroke-width=&quot;2&quot; d=&quot;M6 18L18 6M6 6l12 12&quot; /&gt;
                    &lt;/svg&gt;
                &lt;/button&gt;
            &lt;/div&gt;
        &lt;/div&gt;
    &lt;/div&gt;

    &lt;!-- Responsive Navigation Menu --&gt;
    &lt;div :class=&quot;{&#039;block&#039;: open, &#039;hidden&#039;: ! open}&quot; class=&quot;hidden sm:hidden&quot;&gt;
        &lt;div class=&quot;pt-2 pb-3 space-y-1&quot;&gt;
            &lt;x-responsive-nav-link :href=&quot;route(&#039;dashboard&#039;)&quot; :active=&quot;request()-&gt;routeIs(&#039;dashboard&#039;)&quot;&gt;
                {{ __(&#039;Dashboard&#039;) }}
            &lt;/x-responsive-nav-link&gt;
        &lt;/div&gt;

        &lt;!-- Responsive Settings Options --&gt;
        &lt;div class=&quot;pt-4 pb-1 border-t border-gray-200&quot;&gt;
            &lt;div class=&quot;px-4&quot;&gt;
                &lt;div class=&quot;font-medium text-base text-gray-800&quot;&gt;{{ Auth::user()-&gt;name }}&lt;/div&gt;
                &lt;div class=&quot;font-medium text-sm text-gray-500&quot;&gt;{{ Auth::user()-&gt;email }}&lt;/div&gt;
            &lt;/div&gt;

            &lt;div class=&quot;mt-3 space-y-1&quot;&gt;
                &lt;x-responsive-nav-link :href=&quot;route(&#039;profile.edit&#039;)&quot;&gt;
                    {{ __(&#039;Profile&#039;) }}
                &lt;/x-responsive-nav-link&gt;

                &lt;!-- Authentication --&gt;
                &lt;form method=&quot;POST&quot; action=&quot;{{ route(&#039;logout&#039;) }}&quot;&gt;
                    @csrf

                    &lt;x-responsive-nav-link :href=&quot;route(&#039;logout&#039;)&quot;
                            onclick=&quot;event.preventDefault();
                                        this.closest(&#039;form&#039;).submit();&quot;&gt;
                        {{ __(&#039;Log Out&#039;) }}
                    &lt;/x-responsive-nav-link&gt;
                &lt;/form&gt;
            &lt;/div&gt;
        &lt;/div&gt;
    &lt;/div&gt;
&lt;/nav&gt;


<hr>
<!-- PEDROO_NEXT_FILE: /resources/views/pedroo/console.blade.php -->
<!-- PEDROO_NEXT_DIR: /resources/views/pedroo -->

</body>
</html>