<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>/storage/framework/views/d775cb844658458403592c6a4a12a70c.php</title>
<style>
body { font-family: monospace; white-space: pre; }
</style>
</head>
<body>
&lt;?php $__env-&gt;startSection(&#039;title&#039;, __(&#039;Not Found&#039;)); ?&gt;
&lt;?php $__env-&gt;startSection(&#039;code&#039;, &#039;404&#039;); ?&gt;
&lt;?php $__env-&gt;startSection(&#039;message&#039;, __(&#039;Not Found&#039;)); ?&gt;

&lt;?php echo $__env-&gt;make(&#039;errors::minimal&#039;, array_diff_key(get_defined_vars(), [&#039;__data&#039; =&gt; 1, &#039;__path&#039; =&gt; 1]))-&gt;render(); ?&gt;&lt;?php /**PATH /var/www/pedroo/vendor/laravel/framework/src/Illuminate/Foundation/Exceptions/views/404.blade.php ENDPATH**/ ?&gt;

<hr>
<!-- PEDROO_NEXT_FILE: /storage/logs/laravel.log -->
<!-- PEDROO_NEXT_DIR: /storage/logs -->

</body>
</html>