<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>/ads/resources/views/front/account/partials/preferences.blade.php</title>
<style>
body { font-family: monospace; white-space: pre; }
</style>
</head>
<body>
@php
	use App\Helpers\Common\Date\TimeZoneManager;
	
	$authUserIsAdmin ??= false;
@endphp
&lt;div class=&quot;col-12&quot;&gt;
	&lt;div class=&quot;card&quot;&gt;
		&lt;div class=&quot;card-header&quot;&gt;
			&lt;h5 class=&quot;card-title mb-0&quot;&gt;
				{{ trans(&#039;global.Settings&#039;) }}
			&lt;/h5&gt;
		&lt;/div&gt;
		&lt;div class=&quot;card-body&quot;&gt;
			&lt;div class=&quot;row d-flex justify-content-center&quot;&gt;
				&lt;div class=&quot;col-xl-7 col-lg-8 col-md-10 col-sm-12&quot;&gt;
					&lt;form name=&quot;settings&quot;
					      action=&quot;{{ urlGen()-&gt;accountPreferences() }}&quot;
					      method=&quot;POST&quot;
					      enctype=&quot;multipart/form-data&quot;
					      role=&quot;form&quot;
					&gt;
						@csrf
						@method(&#039;PUT&#039;)
						
						&lt;input name=&quot;panel&quot; type=&quot;hidden&quot; value=&quot;settings&quot;&gt;
						&lt;input name=&quot;user_id&quot; type=&quot;hidden&quot; value=&quot;{{ $authUser-&gt;getAuthIdentifier() }}&quot;&gt;
						
						&lt;div class=&quot;row&quot;&gt;
							@if (config(&#039;settings.listing_page.activation_facebook_comments&#039;) &amp;&amp; config(&#039;services.facebook.client_id&#039;))
								{{-- disable_comments --}}
								@include(&#039;helpers.forms.fields.checkbox&#039;, [
									&#039;label&#039;    =&gt; trans(&#039;global.disable_comments_on_listings&#039;),
									&#039;id&#039;       =&gt; &#039;disableComments&#039;,
									&#039;name&#039;     =&gt; &#039;disable_comments&#039;,
									&#039;required&#039; =&gt; false,
									&#039;value&#039;    =&gt; $authUser-&gt;disable_comments ?? null,
								])
							@endif
							
							@if ($authUser-&gt;accept_terms != 1)
								{{-- accept_terms --}}
								@include(&#039;helpers.forms.fields.checkbox&#039;, [
									&#039;label&#039;    =&gt; trans(&#039;global.accept_terms_label&#039;, [&#039;attributes&#039; =&gt; getUrlPageByType(&#039;terms&#039;)]),
									&#039;id&#039;       =&gt; &#039;acceptTerms&#039;,
									&#039;name&#039;     =&gt; &#039;accept_terms&#039;,
									&#039;required&#039; =&gt; true,
									&#039;value&#039;    =&gt; $authUser-&gt;accept_terms ?? null,
								])
								
								&lt;input type=&quot;hidden&quot; name=&quot;user_accept_terms&quot; value=&quot;{{ (int)($authUser-&gt;accept_terms ?? 0) }}&quot;&gt;
							@endif
							
							{{-- accept_marketing_offers --}}
							@include(&#039;helpers.forms.fields.checkbox&#039;, [
								&#039;label&#039;    =&gt; trans(&#039;global.accept_marketing_offers_label&#039;),
								&#039;id&#039;       =&gt; &#039;acceptMarketingOffers&#039;,
								&#039;name&#039;     =&gt; &#039;accept_marketing_offers&#039;,
								&#039;required&#039; =&gt; false,
								&#039;value&#039;    =&gt; $authUser-&gt;accept_marketing_offers ?? null,
							])
							
							{{-- time_zone --}}
							@php
								$tzOptions = TimeZoneManager::getTimeZones();
								$tzOptions = collect($tzOptions)
									-&gt;map(fn($item, $key) =&gt; [&#039;value&#039; =&gt; $key, &#039;text&#039;  =&gt; $item])
									-&gt;toArray();
								
								$tzHint = $authUserIsAdmin
									? trans(&#039;global.admin_preferred_time_zone_info&#039;, [
										&#039;frontTz&#039; =&gt; config(&#039;country.time_zone&#039;),
										&#039;country&#039; =&gt; config(&#039;country.name&#039;),
										&#039;adminTz&#039; =&gt; config(&#039;app.timezone&#039;),
									])
									: trans(&#039;global.preferred_time_zone_info&#039;, [
										&#039;frontTz&#039; =&gt; config(&#039;country.time_zone&#039;),
										&#039;country&#039; =&gt; config(&#039;country.name&#039;),
									]);
							@endphp
							@include(&#039;helpers.forms.fields.select2&#039;, [
								&#039;label&#039;       =&gt; trans(&#039;global.preferred_time_zone_label&#039;),
								&#039;name&#039;        =&gt; &#039;time_zone&#039;,
								&#039;required&#039;    =&gt; false,
								&#039;placeholder&#039; =&gt; trans(&#039;global.select_a_time_zone&#039;),
								&#039;options&#039;     =&gt; $tzOptions,
								&#039;value&#039;       =&gt; $authUser-&gt;time_zone ?? null,
								&#039;hint&#039;        =&gt; $tzHint,
							])
							
							{{-- button --}}
							&lt;div class=&quot;col-12 mb-3 mt-3&quot;&gt;
								&lt;div class=&quot;row&quot;&gt;
									&lt;div class=&quot;col-md-12&quot;&gt;
										&lt;button type=&quot;submit&quot; class=&quot;btn btn-primary&quot;&gt;{{ trans(&#039;global.Update&#039;) }}&lt;/button&gt;
									&lt;/div&gt;
								&lt;/div&gt;
							&lt;/div&gt;
						&lt;/div&gt;
					&lt;/form&gt;
				&lt;/div&gt;
			&lt;/div&gt;
		&lt;/div&gt;
	&lt;/div&gt;
&lt;/div&gt;


<hr>
<!-- PEDROO_NEXT_FILE: /ads/resources/views/front/account/partials/profile-details.blade.php -->
<!-- PEDROO_NEXT_DIR: /ads/resources/views/front/account/saved-searches -->

</body>
</html>