<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>/ads/resources/views/front/account/partials/profile-details.blade.php</title>
<style>
body { font-family: monospace; white-space: pre; }
</style>
</head>
<body>
&lt;div class=&quot;col-12&quot;&gt;
	&lt;div class=&quot;card&quot;&gt;
		&lt;div class=&quot;card-header&quot;&gt;
			&lt;h5 class=&quot;card-title mb-0&quot;&gt;
				{{ trans(&#039;global.Account Details&#039;) }}
			&lt;/h5&gt;
		&lt;/div&gt;
		&lt;div class=&quot;card-body&quot;&gt;
			&lt;div class=&quot;row d-flex justify-content-center&quot;&gt;
				&lt;div class=&quot;col-xl-7 col-lg-8 col-md-10 col-sm-12&quot;&gt;
					&lt;form name=&quot;details&quot; action=&quot;{{ urlGen()-&gt;accountProfile() }}&quot; method=&quot;POST&quot; role=&quot;form&quot;&gt;
						@csrf
						@method(&#039;PUT&#039;)
						
						&lt;div class=&quot;row&quot;&gt;
							{{-- gender_id --}}
							@include(&#039;helpers.forms.fields.select2&#039;, [
								&#039;label&#039;           =&gt; trans(&#039;global.gender&#039;),
								&#039;id&#039;              =&gt; &#039;genderId&#039;,
								&#039;name&#039;            =&gt; &#039;gender_id&#039;,
								&#039;required&#039;        =&gt; false,
								&#039;placeholder&#039;     =&gt; trans(&#039;global.Select&#039;),
								&#039;options&#039;         =&gt; $genders ?? [],
								&#039;optionValueName&#039; =&gt; &#039;id&#039;,
								&#039;optionTextName&#039;  =&gt; &#039;title&#039;,
								&#039;value&#039;           =&gt; $authUser-&gt;gender_id ?? null,
							])
							
							{{-- name --}}
							@include(&#039;helpers.forms.fields.text&#039;, [
								&#039;label&#039;       =&gt; trans(&#039;global.Name&#039;),
								&#039;name&#039;        =&gt; &#039;name&#039;,
								&#039;placeholder&#039; =&gt; trans(&#039;global.enter_your_name&#039;),
								&#039;required&#039;    =&gt; true,
								&#039;value&#039;       =&gt; $authUser-&gt;name ?? null,
							])
							
							{{-- username --}}
							@include(&#039;helpers.forms.fields.text&#039;, [
								&#039;label&#039;       =&gt; trans(&#039;auth.username&#039;),
								&#039;name&#039;        =&gt; &#039;username&#039;,
								&#039;placeholder&#039; =&gt; trans(&#039;auth.username&#039;),
								&#039;required&#039;    =&gt; true,
								&#039;value&#039;       =&gt; $authUser-&gt;username ?? null,
								&#039;prefix&#039;      =&gt; &#039;&lt;i class=&quot;fa-regular fa-user&quot;&gt;&lt;/i&gt;&#039;,
							])
							
							{{-- auth_field (as notification channel) --}}
							@php
								$authFields = getAuthFields(true);
								$authFields = collect($authFields)
									-&gt;map(fn($item, $key) =&gt; [&#039;value&#039; =&gt; $key, &#039;text&#039; =&gt; $item])
									-&gt;toArray();
								
								$usersCanChooseNotifyChannel = isUsersCanChooseNotifyChannel(true);
								$authFieldValue = $authUser-&gt;auth_field ?? getAuthField();
								$authFieldValue = ($usersCanChooseNotifyChannel) ? old(&#039;auth_field&#039;, $authFieldValue) : $authFieldValue;
							@endphp
							@if ($usersCanChooseNotifyChannel)
								@include(&#039;helpers.forms.fields.radio&#039;, [
									&#039;label&#039;    =&gt; trans(&#039;auth.notifications_channel&#039;),
									&#039;id&#039;       =&gt; &#039;authField-&#039;,
									&#039;name&#039;     =&gt; &#039;auth_field&#039;,
									&#039;inline&#039;   =&gt; true,
									&#039;required&#039; =&gt; true,
									&#039;options&#039;  =&gt; $authFields,
									&#039;value&#039;    =&gt; $authFieldValue,
									&#039;attributes&#039; =&gt; [&#039;class&#039; =&gt; &#039;auth-field-input&#039;],
									&#039;hint&#039;       =&gt; trans(&#039;auth.notifications_channel_hint&#039;),
								])
							@else
								&lt;input id=&quot;authField-{{ $authFieldValue }}&quot; name=&quot;auth_field&quot; type=&quot;hidden&quot; value=&quot;{{ $authFieldValue }}&quot;&gt;
							@endif
							
							@php
								$forceToDisplay = isBothAuthFieldsCanBeDisplayed() ? &#039; force-to-display&#039; : &#039;&#039;;
							@endphp
							
							{{-- email --}}
							@include(&#039;helpers.forms.fields.email&#039;, [
								&#039;label&#039;       =&gt; trans(&#039;auth.email&#039;),
								&#039;id&#039;          =&gt; &#039;email&#039;,
								&#039;name&#039;        =&gt; &#039;email&#039;,
								&#039;required&#039;    =&gt; (getAuthField() == &#039;email&#039;),
								&#039;placeholder&#039; =&gt; trans(&#039;global.enter_your_email&#039;),
								&#039;value&#039;       =&gt; $authUser-&gt;email ?? null,
								&#039;prefix&#039;      =&gt; &#039;&lt;i class=&quot;fa-regular fa-envelope&quot;&gt;&lt;/i&gt;&#039;,
								&#039;suffix&#039;      =&gt; null,
								&#039;wrapper&#039;     =&gt; [&#039;class&#039; =&gt; &quot;auth-field-item{$forceToDisplay}&quot;],
							])
							
							{{-- phone --}}
							@php
								$phoneError = (isset($errors) &amp;&amp; $errors-&gt;has(&#039;phone&#039;)) ? &#039; is-invalid&#039; : &#039;&#039;;
								$phoneValue = $authUser-&gt;phone ?? null;
								$phoneCountryValue = $authUser-&gt;phone_country ?? config(&#039;country.code&#039;);
								
								// phone_hidden
								$phoneHiddenValue = old(&#039;phone_hidden&#039;, $authUser-&gt;phone_hidden ?? null);
								$phoneHiddenChecked = ($phoneHiddenValue == &#039;1&#039;) ? &#039; checked&#039; : &#039;&#039;;
								$suffix = &#039;&lt;input id=&quot;phoneHidden&quot; name=&quot;phone_hidden&quot; type=&quot;checkbox&quot; value=&quot;1&quot;&#039; . $phoneHiddenChecked . &#039;&gt;&#039;;
								$suffix .= &#039;&amp;nbsp;&lt;small&gt;&#039; . trans(&#039;global.Hide&#039;) . &#039;&lt;/small&gt;&#039;;
							@endphp
							@include(&#039;helpers.forms.fields.intl-tel-input&#039;, [
								&#039;label&#039;       =&gt; trans(&#039;auth.phone_number&#039;),
								&#039;id&#039;          =&gt; &#039;phone&#039;,
								&#039;name&#039;        =&gt; &#039;phone&#039;,
								&#039;required&#039;    =&gt; (getAuthField() == &#039;phone&#039;),
								&#039;placeholder&#039; =&gt; null,
								&#039;value&#039;       =&gt; $phoneValue,
								&#039;countryCode&#039; =&gt; $phoneCountryValue,
								&#039;suffix&#039;      =&gt; $suffix,
								&#039;wrapper&#039;     =&gt; [&#039;class&#039; =&gt; &quot;auth-field-item{$forceToDisplay}&quot;],
							])
							
							{{-- country_code --}}
							&lt;input type=&quot;hidden&quot; name=&quot;country_code&quot; value=&quot;{{ $authUser-&gt;country_code ?? null }}&quot;&gt;
							
							{{-- button --}}
							&lt;div class=&quot;col-12 mb-3 mt-3&quot;&gt;
								&lt;div class=&quot;row&quot;&gt;
									&lt;div class=&quot;col-md-12&quot;&gt;
										&lt;button type=&quot;submit&quot; class=&quot;btn btn-primary&quot;&gt;{{ trans(&#039;global.Update&#039;) }}&lt;/button&gt;
									&lt;/div&gt;
								&lt;/div&gt;
							&lt;/div&gt;
						&lt;/div&gt;
					&lt;/form&gt;
				&lt;/div&gt;
			&lt;/div&gt;
		&lt;/div&gt;
	&lt;/div&gt;
&lt;/div&gt;

@section(&#039;after_scripts&#039;)
	@parent
	&lt;script&gt;
		phoneCountry = &#039;{{ old(&#039;phone_country&#039;, ($phoneCountryValue ?? &#039;&#039;)) }}&#039;;
	&lt;/script&gt;
@endsection


<hr>
<!-- PEDROO_NEXT_FILE: /ads/resources/views/front/account/partials/profile-photo.blade.php -->
<!-- PEDROO_NEXT_DIR: /ads/resources/views/front/account/saved-searches -->

</body>
</html>