<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>/ads/resources/views/front/account/partials/profile-photo.blade.php</title>
<style>
body { font-family: monospace; white-space: pre; }
</style>
</head>
<body>
&lt;div class=&quot;col-12&quot;&gt;
	&lt;div class=&quot;row&quot;&gt;
		{{-- photo_path --}}
		@php
			$savedAvatar = [
				&#039;key&#039;  =&gt; $authUser-&gt;id ?? null,
				&#039;path&#039; =&gt; $authUser-&gt;photo_path ?? null,
				&#039;url&#039;  =&gt; $authUser-&gt;photo_url ?? null,
			];
			$uploadUrl = url(urlGen()-&gt;getAccountBasePath() . &#039;/profile/photo&#039;);
			$deleteUrlPattern = url(urlGen()-&gt;getAccountBasePath() . &#039;/profile/photo/delete&#039;);
		@endphp
		@include(&#039;helpers.forms.fields.fileinput-ajax-avatar&#039;, [
			&#039;name&#039;       =&gt; &#039;photo_path&#039;,
			&#039;label&#039;      =&gt; trans(&#039;global.Photo or Avatar&#039;),
			&#039;labelClass&#039; =&gt; &#039;fw-bold&#039;,
			&#039;value&#039;      =&gt; $savedAvatar,
			&#039;pluginOptions&#039; =&gt; [
				&#039;uploadUrl&#039;       =&gt; $uploadUrl,
				&#039;uploadExtraData&#039; =&gt; [
					&#039;_token&#039;  =&gt; csrf_token(),
					&#039;_method&#039; =&gt; &#039;PUT&#039;
				],
				&#039;elSuccessContainer&#039; =&gt; &#039;#avatarUploadSuccess&#039;,
			],
			&#039;deleteUrlPattern&#039;  =&gt; $deleteUrlPattern,
			&#039;elTargetContainer&#039; =&gt; &#039;#userImg&#039;,
			&#039;baseClass&#039;         =&gt; [&#039;wrapper&#039; =&gt; &#039;col-md-12&#039;],
		])
	&lt;/div&gt;
&lt;/div&gt;


<hr>
<!-- PEDROO_NEXT_FILE: /ads/resources/views/front/account/partials/security-password.blade.php -->
<!-- PEDROO_NEXT_DIR: /ads/resources/views/front/account/saved-searches -->

</body>
</html>