<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>/ads/resources/views/front/account/partials/security-two-factor.blade.php</title>
<style>
body { font-family: monospace; white-space: pre; }
</style>
</head>
<body>
@if (isTwoFactorEnabled())
	&lt;div class=&quot;col-12&quot;&gt;
		&lt;div class=&quot;card&quot;&gt;
			&lt;div class=&quot;card-header&quot;&gt;
				&lt;h5 class=&quot;card-title mb-0&quot;&gt;
					{{ trans(&#039;auth.two_factor_settings_title&#039;) }}
				&lt;/h5&gt;
			&lt;/div&gt;
			&lt;div class=&quot;card-body&quot;&gt;
				&lt;div class=&quot;row&quot;&gt;
					&lt;div class=&quot;col-12&quot;&gt;
						&lt;p class=&quot;text-muted&quot;&gt;{!! trans(&#039;auth.two_factor_settings_info&#039;) !!}&lt;/p&gt;
					&lt;/div&gt;
				&lt;/div&gt;
				
				&lt;div class=&quot;row d-flex justify-content-center&quot;&gt;
					&lt;div class=&quot;col-xl-7 col-lg-8 col-md-10 col-sm-12&quot;&gt;
						&lt;form name=&quot;2faForm&quot; action=&quot;{{ urlGen()-&gt;accountSecurityTwoFactor() }}&quot; method=&quot;POST&quot; role=&quot;form&quot;&gt;
							@csrf
							@method(&#039;PUT&#039;)
							
							&lt;input name=&quot;user_id&quot; type=&quot;hidden&quot; value=&quot;{{ $authUser-&gt;getAuthIdentifier() }}&quot;&gt;
							
							&lt;div class=&quot;row&quot;&gt;
								{{-- two_factor_enabled --}}
								@php
									$twoFactorEnabled = $authUser-&gt;two_factor_enabled ?? null;
									
									$twoFactorStatus = ($twoFactorEnabled == &#039;1&#039;) ? trans(&#039;auth.two_factor_enabled&#039;) : trans(&#039;auth.two_factor_disabled&#039;);
									$twoFactorLabel = trans(&#039;auth.two_factor_status&#039;) . &#039; (&lt;span&gt;&#039; . $twoFactorStatus . &#039;&lt;/span&gt;)&#039;;
								@endphp
								@include(&#039;helpers.forms.fields.checkbox&#039;, [
									&#039;label&#039;    =&gt; $twoFactorLabel,
									&#039;id&#039;       =&gt; &#039;twoFactorSwitch&#039;,
									&#039;name&#039;     =&gt; &#039;two_factor_enabled&#039;,
									&#039;switch&#039;   =&gt; true,
									&#039;required&#039; =&gt; false,
									&#039;value&#039;    =&gt; $twoFactorEnabled,
								])
								
								&lt;div id=&quot;2faOptions&quot; class=&quot;{{ !$twoFactorEnabled ? &#039;d-none&#039; : &#039;&#039; }}&quot;&gt;
									{{-- two_factor_method --}}
									@php
										$twoFactorMethods = [];
										if (isTwoFactorEnabled(&#039;email&#039;)) {
											$twoFactorMethods[] = [&#039;value&#039; =&gt; &#039;email&#039;, &#039;text&#039; =&gt; &#039;Email&#039;];
										}
										if (isTwoFactorEnabled(&#039;sms&#039;)) {
											$twoFactorMethods[] = [&#039;value&#039; =&gt; &#039;sms&#039;, &#039;text&#039; =&gt; &#039;SMS&#039;];
										}
										
										$twoFactorMethod = $authUser-&gt;two_factor_method ?? null;
									@endphp
									@include(&#039;helpers.forms.fields.radio&#039;, [
										&#039;label&#039;    =&gt; trans(&#039;auth.two_factor_method&#039;),
										&#039;name&#039;     =&gt; &#039;two_factor_method&#039;,
										&#039;inline&#039;   =&gt; true,
										&#039;required&#039; =&gt; true,
										&#039;options&#039;  =&gt; $twoFactorMethods,
										&#039;value&#039;    =&gt; $twoFactorMethod,
									])
									
									{{-- phone --}}
									@if (isTwoFactorEnabled(&#039;sms&#039;))
										@php
											$phoneError = (isset($errors) &amp;&amp; $errors-&gt;has(&#039;phone&#039;)) ? &#039; is-invalid&#039; : &#039;&#039;;
											$phoneValue = $authUser-&gt;phone ?? null;
											$phoneCountryValue = $authUser-&gt;phone_country ?? config(&#039;country.code&#039;);
											
											$twoFactorMethod = $authUser-&gt;two_factor_method ?? null;
											$phoneCanBeShown = ($twoFactorMethod === &#039;sms&#039; &amp;&amp; empty($phoneValue));
										@endphp
										@include(&#039;helpers.forms.fields.intl-tel-input&#039;, [
											&#039;label&#039;       =&gt; trans(&#039;auth.phone_number&#039;),
											&#039;id&#039;          =&gt; &#039;phone&#039;,
											&#039;name&#039;        =&gt; &#039;phone&#039;,
											&#039;required&#039;    =&gt; (getAuthField() == &#039;phone&#039;),
											&#039;placeholder&#039; =&gt; null,
											&#039;value&#039;       =&gt; $phoneValue,
											&#039;countryCode&#039; =&gt; $phoneCountryValue,
											&#039;wrapper&#039;     =&gt; [&#039;id&#039; =&gt; &#039;phoneField&#039;, &#039;class&#039; =&gt; !$phoneCanBeShown ? &#039;d-none&#039; : &#039;&#039;],
										])
									@endif
								&lt;/div&gt;
								
								{{-- button --}}
								&lt;div class=&quot;col-12 mt-3&quot;&gt;
									&lt;div class=&quot;row&quot;&gt;
										&lt;div class=&quot;col-md-12&quot;&gt;
											&lt;button type=&quot;submit&quot; class=&quot;btn btn-primary&quot;&gt;{{ trans(&#039;global.Update&#039;) }}&lt;/button&gt;
										&lt;/div&gt;
									&lt;/div&gt;
								&lt;/div&gt;
							&lt;/div&gt;
						&lt;/form&gt;
					&lt;/div&gt;
				&lt;/div&gt;
			&lt;/div&gt;
		&lt;/div&gt;
	&lt;/div&gt;
@endif

@section(&#039;after_scripts&#039;)
	@parent
	&lt;script&gt;
		/* 2FA translations */
		const lang2fa = {
			enabled: &quot;{{ trans(&#039;auth.two_factor_enabled&#039;) }}&quot;,
			disabled: &quot;{{ trans(&#039;auth.two_factor_disabled&#039;) }}&quot;,
		};
		
		onDocumentReady((event) =&gt; {
			
			/* Handle 2FA switch toggle */
			const twoFactorSwitchEl = document.getElementById(&#039;twoFactorSwitch&#039;);
			const twoFactorOptionsEl = document.getElementById(&#039;2faOptions&#039;);
			
			if (twoFactorSwitchEl &amp;&amp; twoFactorOptionsEl) {
				const twoFactorLabel = twoFactorSwitchEl.nextElementSibling;
				twoFactorSwitchEl.addEventListener(&#039;change&#039;, function () {
					twoFactorOptionsEl.classList.toggle(&#039;d-none&#039;, !this.checked);
					const twoFactorLabelSpanEl = twoFactorLabel.querySelector(&#039;span&#039;);
					if (twoFactorLabelSpanEl) {
						twoFactorLabelSpanEl.textContent = this.checked ? lang2fa.enabled : lang2fa.disabled;
					}
				});
			}
			
			/* Handle 2FA method radio buttons */
			const twoFactorMethodEls = document.querySelectorAll(&#039;input[name=&quot;two_factor_method&quot;]&#039;);
			const phoneFieldEl = document.getElementById(&#039;phone&#039;);
			if (twoFactorMethodEls.length &gt; 0 &amp;&amp; phoneFieldEl) {
				twoFactorMethodEls.forEach(input =&gt; {
					input.addEventListener(&#039;change&#039;, function () {
						if (!isEmpty(phoneFieldEl.value)) {
							return false;
						}
						
						const phoneFieldWrapperEl = document.getElementById(&#039;phoneField&#039;);
						if (phoneFieldWrapperEl) {
							phoneFieldWrapperEl.classList.toggle(&#039;d-none&#039;, this.value !== &#039;sms&#039;);
						}
					});
				});
			}
			
		});
	&lt;/script&gt;
@endsection


<hr>
<!-- PEDROO_NEXT_FILE: /ads/resources/views/front/account/partials/sidebar.blade.php -->
<!-- PEDROO_NEXT_DIR: /ads/resources/views/front/account/saved-searches -->

</body>
</html>