<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>/ads/resources/views/front/account/partials/sidebar.blade.php</title>
<style>
body { font-family: monospace; white-space: pre; }
</style>
</head>
<body>
@php
	use App\Helpers\Common\Num;
	use Illuminate\Support\Collection;
	
	$accountMenu ??= collect();
	$accountMenu = ($accountMenu instanceof Collection) ? $accountMenu : collect();
	
	// Links CSS Class
	$linkClass = linkClass(&#039;body-emphasis&#039;);
@endphp
&lt;aside&gt;
	&lt;div class=&quot;container border rounded bg-body-tertiary p-4 p-lg-3 p-md-2 mb-4 mb-md-0 vstack gap-4&quot;&gt;
		@if ($accountMenu-&gt;isNotEmpty())
			@foreach($accountMenu as $group =&gt; $menu)
				@php
					$collapseId = str($group)-&gt;slug();
				@endphp
				&lt;div class=&quot;&quot;&gt;
					&lt;h5 class=&quot;border-0 fw-bold clearfix&quot;&gt;
						{{ $group }}&amp;nbsp;
						&lt;a href=&quot;#{{ $collapseId }}&quot;
						   data-bs-toggle=&quot;collapse&quot;
						   aria-expanded=&quot;false&quot;
						   aria-controls=&quot;{{ $collapseId }}&quot;
						   class=&quot;float-end {{ $linkClass }}&quot;
						&gt;
							&lt;i class=&quot;fa-solid fa-angle-down&quot;&gt;&lt;/i&gt;
						&lt;/a&gt;
					&lt;/h5&gt;
					@if (!empty($menu))
						&lt;div class=&quot;collapse show&quot; id=&quot;{{ $collapseId }}&quot;&gt;
							&lt;ul class=&quot;list-group&quot;&gt;
								@foreach($menu as $key =&gt; $item)
									@php
										$activeClass = $item[&#039;isActive&#039;] ? &#039;active&#039; : &#039;&#039;;
										$activeAttr = $item[&#039;isActive&#039;] ? &#039; aria-current=&quot;true&quot;&#039; : &#039;&#039;;
										$activeLinkClass = $item[&#039;isActive&#039;] ? &#039;text-white&#039; : &#039;link-body-emphasis&#039;;
									@endphp
									&lt;li class=&quot;list-group-item d-flex justify-content-between align-items-center {{ $activeClass }}&quot;{!! $activeAttr !!}&gt;
										&lt;a href=&quot;{{ $item[&#039;url&#039;] }}&quot; class=&quot;{{ $activeLinkClass }} text-decoration-none&quot;&gt;
											&lt;i class=&quot;{{ $item[&#039;icon&#039;] }}&quot;&gt;&lt;/i&gt; {{ $item[&#039;name&#039;] }}
										&lt;/a&gt;
										@if (!empty($item[&#039;countVar&#039;]))
											&lt;span class=&quot;badge rounded-pill text-bg-secondary{{ $item[&#039;cssClass&#039;] ?? &#039;&#039; }}&quot;&gt;
												{{ Num::short($item[&#039;countVar&#039;]) }}
											&lt;/span&gt;
										@endif
									&lt;/li&gt;
								@endforeach
							&lt;/ul&gt;
						&lt;/div&gt;
					@endif
				&lt;/div&gt;
			@endforeach
		@endif
	&lt;/div&gt;
&lt;/aside&gt;


<hr>
<!-- PEDROO_NEXT_FILE: /ads/resources/views/front/account/posts.blade.php -->
<!-- PEDROO_NEXT_DIR: /ads/resources/views/front/account/saved-searches -->

</body>
</html>