<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>/ads/resources/views/front/post/createOrEdit/partials/form-assets.blade.php</title>
<style>
body { font-family: monospace; white-space: pre; }
</style>
</head>
<body>
@php
	$postInput ??= [];
	$post ??= [];
	$admin ??= [];
	
	$isSingleStepCreateForm = (isSingleStepFormEnabled() &amp;&amp; request()-&gt;segment(1) == &#039;create&#039;);
	$isSingleStepEditForm = (isSingleStepFormEnabled() &amp;&amp; request()-&gt;segment(1) == &#039;edit&#039;);
	
	$langCode ??= null;
	$langCode = $langCode ?? config(&#039;app.locale&#039;, session(&#039;langCode&#039;));
	$langDirection = config(&#039;lang.direction&#039;);
	$isRtl = $pluginOptions[&#039;rtl&#039;] ?? (($langDirection == &#039;rtl&#039;) ? &#039;true&#039; : &#039;false&#039;);
	
	$picturesLimit ??= 0;
	$picturesLimit = is_numeric($picturesLimit) ? $picturesLimit : 0;
	$picturesLimit = ($picturesLimit &gt; 0) ? $picturesLimit : 1;
	
	$pictures = [];
	if ($isSingleStepEditForm) {
		$pictures = data_get($post, &#039;pictures&#039;, []);
		$pictures = collect($pictures)-&gt;slice(0, (int)$picturesLimit)-&gt;all();
	}
	
	$postId = data_get($post, &#039;id&#039;) ?? &#039;&#039;;
	$postTypeId = data_get($post, &#039;post_type_id&#039;) ?? data_get($postInput, &#039;post_type_id&#039;, 0);
	$countryCode = data_get($post, &#039;country_code&#039;) ?? data_get($postInput, &#039;country_code&#039;, config(&#039;country.code&#039;, 0));
	
	$adminType = config(&#039;country.admin_type&#039;, 0);
	
	$selectedAdminCode = data_get($postInput, &#039;admin_code&#039;, 0);
	$selectedAdminCode = data_get($admin, &#039;code&#039;, $selectedAdminCode);
	
	$cityId = data_get($postInput, &#039;city_id&#039;);
	$cityId = data_get($post, &#039;city_id&#039;, $cityId);
	
	$s2Themes = [
		&#039;bootstrap5&#039; =&gt; &#039;bootstrap-5&#039;,
		&#039;bootstrap4&#039; =&gt; &#039;bootstrap4&#039;,
		&#039;bootstrap3&#039; =&gt; &#039;bootstrap&#039;,
	];
	$s2Theme = config(&#039;larapen.core.select2.theme&#039;, &#039;bootstrap5&#039;);
	$s2ThemeKey = $s2Themes[$s2Theme] ?? null;
	
	$fiTheme = config(&#039;larapen.core.fileinput.theme&#039;, &#039;bs5&#039;);
	$fiFileLoadingMessage ??= trans(&#039;global.loading_wd&#039;);
	$serverAllowedImageFormatsJson = collect(getServerAllowedImageFormats())-&gt;toJson();
	
	$errors ??= getEmptyViewErrors();
	$errors = ($errors instanceof \Illuminate\Support\Collection) ? $errors : collect($errors-&gt;toArray());
	$errorsJson = addslashes($errors-&gt;toJson());
	
	$cfOldInput = data_get($postInput, &#039;cf&#039;);
	$cfOldInput = session()-&gt;getOldInput(&#039;cf&#039;, $cfOldInput);
	$cfOldInputJson = addslashes(collect($cfOldInput)-&gt;toJson());
@endphp
@section(&#039;modal_location&#039;)
	@include(&#039;front.layouts.partials.modal.location&#039;)
@endsection

{{-- For Custom Fields --}}
@pushonce(&quot;select2_assets_styles&quot;)
	&lt;link href=&quot;{{ asset(&#039;assets/plugins/select2/css/select2.min.css&#039;) }}&quot; rel=&quot;stylesheet&quot; type=&quot;text/css&quot;/&gt;
	@if ($s2Theme == &#039;bootstrap5&#039;)
		&lt;link href=&quot;{{ asset(&#039;assets/plugins/select2-bootstrap5-theme/1.3.0/select2-bootstrap-5-theme.min.css&#039;) }}&quot; rel=&quot;stylesheet&quot; type=&quot;text/css&quot;/&gt;
		@if ($isRtl == &#039;true&#039;)
			&lt;link href=&quot;{{ asset(&#039;assets/plugins/select2-bootstrap5-theme/1.3.0/select2-bootstrap-5-theme.rtl.min.css&#039;) }}&quot; rel=&quot;stylesheet&quot; type=&quot;text/css&quot;/&gt;
		@endif
	@elseif ($s2Theme == &#039;bootstrap4&#039;)
		&lt;link href=&quot;{{ asset(&#039;assets/plugins/select2-bootstrap4-theme/1.5.2/select2-bootstrap4.min.css&#039;) }}&quot; rel=&quot;stylesheet&quot; type=&quot;text/css&quot;/&gt;
	@elseif ($s2Theme == &#039;bootstrap3&#039;)
		&lt;link href=&quot;{{ asset(&#039;assets/plugins/select2-bootstrap3-theme/0.1.0-beta.10/select2-bootstrap.min.css&#039;) }}&quot; rel=&quot;stylesheet&quot; type=&quot;text/css&quot;/&gt;
	@else
		&lt;link href=&quot;{{ asset(&#039;assets/plugins/select2/css/custom.css&#039;) }}&quot; rel=&quot;stylesheet&quot; type=&quot;text/css&quot;/&gt;
	@endif
@endpushonce
@pushonce(&quot;select2_assets_scripts&quot;)
	&lt;script src=&quot;{{ asset(&#039;assets/plugins/select2/js/select2.full.min.js&#039;) }}&quot;&gt;&lt;/script&gt;
	@php
		$localeFilesBasePath = &#039;assets/plugins/select2/js/i18n/&#039;;
		$localeFilesFullPath = public_path($localeFilesBasePath);
		
		$foundLocale = &#039;&#039;;
		if (file_exists($localeFilesFullPath . getLangTag($langCode) . &#039;.js&#039;)) {
			$foundLocale = getLangTag($langCode);
		}
		if (empty($foundLocale)) {
			if (file_exists($localeFilesFullPath . strtolower($langCode) . &#039;.js&#039;)) {
				$foundLocale = strtolower($langCode);
			}
		}
		if (empty($foundLocale)) {
			$foundLocale = &#039;en&#039;;
		}
	@endphp
	@if ($foundLocale != &#039;en&#039;)
		&lt;script src=&quot;{{ asset($localeFilesBasePath . $foundLocale . &#039;.js&#039;) }}&quot;&gt;&lt;/script&gt;
	@endif
@endpushonce
@pushonce(&quot;fileinput_assets_styles&quot;)
	&lt;link href=&quot;{{ url(&#039;assets/plugins/bootstrap-fileinput/css/fileinput.min.css&#039;) }}&quot; rel=&quot;stylesheet&quot;&gt;
	@if ($isRtl == &#039;true&#039;)
		&lt;link href=&quot;{{ url(&#039;assets/plugins/bootstrap-fileinput/css/fileinput-rtl.min.css&#039;) }}&quot; rel=&quot;stylesheet&quot;&gt;
	@endif
	@if (str_starts_with($fiTheme, &#039;explorer&#039;))
		&lt;link href=&quot;{{ url(&#039;assets/plugins/bootstrap-fileinput/themes/&#039; . $fiTheme . &#039;/theme.min.css&#039;) }}&quot; rel=&quot;stylesheet&quot;&gt;
	@endif
	&lt;style&gt;
		.krajee-default.file-preview-frame:hover:not(.file-preview-error) {
			box-shadow: 0 0 5px 0 #666666;
		}
		.file-loading:before {
			content: &quot; {{ $fiFileLoadingMessage }}&quot;;
		}
	&lt;/style&gt;
@endpushonce
@pushonce(&quot;fileinput_assets_scripts&quot;)
	&lt;script src=&quot;{{ url(&#039;assets/plugins/bootstrap-fileinput/js/plugins/sortable.min.js&#039;) }}&quot; type=&quot;text/javascript&quot;&gt;&lt;/script&gt;
	&lt;script src=&quot;{{ url(&#039;assets/plugins/bootstrap-fileinput/js/fileinput.min.js&#039;) }}&quot; type=&quot;text/javascript&quot;&gt;&lt;/script&gt;
	@if (file_exists(public_path(&#039;assets/plugins/bootstrap-fileinput/themes/&#039; . $fiTheme . &#039;/theme.js&#039;)))
		&lt;script src=&quot;{{ url(&#039;assets/plugins/bootstrap-fileinput/themes/&#039; . $fiTheme . &#039;/theme.js&#039;) }}&quot; type=&quot;text/javascript&quot;&gt;&lt;/script&gt;
	@endif
	@php
		$fileinputCachedLocalePath = &quot;cache/plugins/bootstrap-fileinput/js/locales/{$langCode}.js&quot;;
		$fileinputLocalePath = &quot;assets/plugins/bootstrap-fileinput/js/locales/{$langCode}.js&quot;;
		if (file_exists(public_path($fileinputCachedLocalePath))) {
			$fileinputLocalePath = $fileinputCachedLocalePath;
		}
	@endphp
	&lt;script src=&quot;{{ mixStaticFile(url()-&gt;asset($fileinputLocalePath)) }}&quot; type=&quot;text/javascript&quot;&gt;&lt;/script&gt;
@endpushonce
@pushonce(&quot;momentjs_assets_scripts&quot;)
	&lt;script src=&quot;{{ url(&#039;assets/plugins/momentjs/2.30.1/moment.min.js&#039;) }}&quot; type=&quot;text/javascript&quot;&gt;&lt;/script&gt;
	@php
		$localeFilesBasePath = &#039;assets/plugins/momentjs/2.30.1/locale/&#039;;
		$localeFilesFullPath = public_path($localeFilesBasePath);
		
		$foundLocale = &#039;&#039;;
		if (file_exists($localeFilesFullPath . getLangTag($langCode) . &#039;.js&#039;)) {
			$foundLocale = getLangTag($langCode);
		}
		if (empty($foundLocale)) {
			if (file_exists($localeFilesFullPath . strtolower($langCode) . &#039;.js&#039;)) {
				$foundLocale = strtolower($langCode);
			}
		}
		if (empty($foundLocale)) {
			$foundLocale = &#039;en&#039;;
		}
	@endphp
	@if ($foundLocale != &#039;en&#039;)
		&lt;script charset=&quot;UTF-8&quot; src=&quot;{{ asset($localeFilesBasePath . $foundLocale . &#039;.min.js&#039;) }}&quot;&gt;&lt;/script&gt;
	@endif
@endpushonce
@pushonce(&quot;daterangepicker_date_assets_styles&quot;)
	&lt;link href=&quot;{{ url(&#039;assets/plugins/daterangepicker/3.1/daterangepicker.css&#039;) }}&quot; rel=&quot;stylesheet&quot;&gt;
@endpushonce
@pushonce(&quot;daterangepicker_date_assets_scripts&quot;)
	&lt;script src=&quot;{{ url(&#039;assets/plugins/daterangepicker/3.1/daterangepicker.js&#039;) }}&quot; type=&quot;text/javascript&quot;&gt;&lt;/script&gt;
@endpushonce

@push(&#039;before_helpers_scripts_stack&#039;)
	@include(&#039;front.common.js.payment-scripts&#039;)
	
	&lt;script&gt;
		/* Translation */
		var lang = {
			&#039;select&#039;: {
				&#039;country&#039;: &quot;{{ trans(&#039;global.select_a_country&#039;) }}&quot;,
				&#039;admin&#039;: &quot;{{ trans(&#039;global.select_a_location&#039;) }}&quot;,
				&#039;city&#039;: &quot;{{ trans(&#039;global.select_a_city&#039;) }}&quot;
			},
			&#039;price&#039;: &quot;{{ trans(&#039;global.price&#039;) }}&quot;,
			&#039;salary&#039;: &quot;{{ trans(&#039;global.Salary&#039;) }}&quot;,
			&#039;nextStepBtnLabel&#039;: {
				&#039;next&#039;: &quot;{{ trans(&#039;global.Next&#039;) }}&quot;,
				&#039;submit&#039;: &quot;{{ trans(&#039;global.Update&#039;) }}&quot;
			}
		};
		
		var stepParam = 0;
		
		/* Category */
		var categoryWasSelected = false;
		@if ($errors-&gt;isNotEmpty() || !empty($postId))
			categoryWasSelected = true;
		@endif
		/* Custom Fields */
		var errors = &#039;{!! $errorsJson !!}&#039;;
		var oldInput = &#039;{!! $cfOldInputJson !!}&#039;;
		var postId = &#039;{{ $postId }}&#039;;
		
		/* Permanent Posts */
		var permanentPostsEnabled = &#039;{{ config(&#039;settings.listing_form.permanent_listings_enabled&#039;, 0) }}&#039;;
		var postTypeId = &#039;{{ old(&#039;post_type_id&#039;, $postTypeId) }}&#039;;
		
		/* Locations */
		var countryCode = &#039;{{ old(&#039;country_code&#039;, $countryCode) }}&#039;;
		var adminType = &#039;{{ $adminType }}&#039;;
		var selectedAdminCode = &#039;{{ old(&#039;admin_code&#039;, $selectedAdminCode) }}&#039;;
		var cityId = &#039;{{ old(&#039;city_id&#039;, $cityId) }}&#039;;
		
		/* Packages */
		var packageIsEnabled = false;
		@if (isset($packages, $paymentMethods) &amp;&amp; $packages-&gt;count() &gt; 0 &amp;&amp; $paymentMethods-&gt;count() &gt; 0)
			packageIsEnabled = true;
		@endif
	&lt;/script&gt;
	
	&lt;script src=&quot;{{ url(&#039;assets/js/app/d.modal.category.js&#039;) . vTime() }}&quot;&gt;&lt;/script&gt;
@endpush

@push(&#039;after_helpers_scripts_stack&#039;)
	&lt;script&gt;
		var select2Lang = &#039;{{ $foundLocale }}&#039;;
		var select2Dir = &#039;{{ $langDirection }}&#039;;
		var select2Theme = {!! !empty($s2ThemeKey) ? &quot;&#039;{$s2ThemeKey}&#039;&quot; : &#039;undefined&#039; !!};
	&lt;/script&gt;
	@if (config(&#039;settings.listing_form.city_selection&#039;) == &#039;select&#039;)
		&lt;script src=&quot;{{ url(&#039;assets/js/app/d.select.location.js&#039;) . vTime() }}&quot;&gt;&lt;/script&gt;
	@else
		&lt;script src=&quot;{{ url(&#039;assets/js/app/browse.locations.js&#039;) . vTime() }}&quot;&gt;&lt;/script&gt;
		&lt;script src=&quot;{{ url(&#039;assets/js/app/d.modal.location.js&#039;) . vTime() }}&quot;&gt;&lt;/script&gt;
	@endif
@endpush


<hr>
<!-- PEDROO_NEXT_FILE: /ads/resources/views/front/post/createOrEdit/partials/right-sidebar.blade.php -->
<!-- PEDROO_NEXT_DIR: /ads/resources/views/front/post/createOrEdit/partials/category -->

</body>
</html>