<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>/ads/resources/views/front/post/createOrEdit/partials/right-sidebar.blade.php</title>
<style>
body { font-family: monospace; white-space: pre; }
</style>
</head>
<body>
@php
	$post ??= [];
@endphp
&lt;div class=&quot;vstack gap-4&quot;&gt;
	
	@if (request()-&gt;segment(1) == &#039;create&#039; || request()-&gt;segment(2) == &#039;create&#039;)
		{{-- Create Form --}}
		&lt;div class=&quot;vstack gap-3 text-center&quot;&gt;
			&lt;i class=&quot;fa-regular fa-image fa-4x text-warning&quot;&gt;&lt;/i&gt;
			&lt;h5 class=&quot;mb-0 fs-5 fw-bold&quot;&gt;
				{{ trans(&#039;global.create_new_listing&#039;) }}
			&lt;/h5&gt;
			&lt;p&gt;
				{{ trans(&#039;global.do_you_have_something_text&#039;, [&#039;appName&#039; =&gt; config(&#039;app.name&#039;)]) }}
			&lt;/p&gt;
		&lt;/div&gt;
	@else
		{{-- Edit Form --}}
		@if (isSingleStepFormEnabled())
			{{-- Single Step Form --}}
			@if (auth()-&gt;check())
				@if (auth()-&gt;user()-&gt;getAuthIdentifier() == data_get($post, &#039;user_id&#039;))
					&lt;div class=&quot;card&quot;&gt;
						&lt;div class=&quot;card-header fw-bold text-center&quot;&gt;
							{{ trans(&#039;global.author_actions&#039;) }}
						&lt;/div&gt;
						&lt;div class=&quot;card-body text-center&quot;&gt;
							&lt;div class=&quot;d-grid&quot;&gt;
								&lt;a href=&quot;{{ urlGen()-&gt;post($post) }}&quot; class=&quot;btn btn-outline-primary&quot;&gt;
									&lt;i class=&quot;fa-regular fa-hand-point-right&quot;&gt;&lt;/i&gt; {{ trans(&#039;global.Return to the listing&#039;) }}
								&lt;/a&gt;
							&lt;/div&gt;
						&lt;/div&gt;
					&lt;/div&gt;
				@endif
			@endif
			
		@else
			{{-- Multi Steps Form --}}
			@if (auth()-&gt;check())
				@if (auth()-&gt;user()-&gt;getAuthIdentifier() == data_get($post, &#039;user_id&#039;))
					&lt;div class=&quot;card&quot;&gt;
						&lt;div class=&quot;card-header fw-bold text-center&quot;&gt;
							{{ trans(&#039;global.author_actions&#039;) }}
						&lt;/div&gt;
						&lt;div class=&quot;card-body text-center&quot;&gt;
							&lt;div class=&quot;d-grid vstack gap-2&quot;&gt;
								&lt;a href=&quot;{{ urlGen()-&gt;post($post) }}&quot; class=&quot;btn btn-outline-primary&quot;&gt;
									&lt;i class=&quot;fa-regular fa-hand-point-right&quot;&gt;&lt;/i&gt; {{ trans(&#039;global.Return to the listing&#039;) }}
								&lt;/a&gt;
								&lt;a href=&quot;{{ url(&#039;posts/&#039; . data_get($post, &#039;id&#039;) . &#039;/photos&#039;) }}&quot; class=&quot;btn btn-secondary&quot;&gt;
									&lt;i class=&quot;fa-solid fa-camera&quot;&gt;&lt;/i&gt; {{ trans(&#039;global.Update Photos&#039;) }}
								&lt;/a&gt;
								@if (isset($countPackages) &amp;&amp; isset($countPaymentMethods) &amp;&amp; $countPackages &gt; 0 &amp;&amp; $countPaymentMethods &gt; 0)
									&lt;a href=&quot;{{ url(&#039;posts/&#039; . data_get($post, &#039;id&#039;) . &#039;/payment&#039;) }}&quot; class=&quot;btn btn-success&quot;&gt;
										&lt;i class=&quot;fa-regular fa-circle-check&quot;&gt;&lt;/i&gt; {{ trans(&#039;global.Make It Premium&#039;) }}
									&lt;/a&gt;
								@endif
							&lt;/div&gt;
						&lt;/div&gt;
					&lt;/div&gt;
				@endif
			@endif
			
		@endif
	@endif
	
	&lt;div class=&quot;card border-primary&quot;&gt;
		&lt;div class=&quot;card-header fw-bold bg-primary border-primary text-white text-uppercase text-center&quot;&gt;
			{{ trans(&#039;global.how_to_sell_quickly&#039;) }}
		&lt;/div&gt;
		&lt;div class=&quot;card-body text-start&quot;&gt;
			&lt;ul class=&quot;list-unstyled vstack gap-2&quot;&gt;
				&lt;li&gt;&lt;i class=&quot;bi bi-check-lg&quot;&gt;&lt;/i&gt; {{ trans(&#039;global.sell_quickly_advice_1&#039;) }}&lt;/li&gt;
				&lt;li&gt;&lt;i class=&quot;bi bi-check-lg&quot;&gt;&lt;/i&gt; {{ trans(&#039;global.sell_quickly_advice_2&#039;) }}&lt;/li&gt;
				&lt;li&gt;&lt;i class=&quot;bi bi-check-lg&quot;&gt;&lt;/i&gt; {{ trans(&#039;global.sell_quickly_advice_3&#039;) }}&lt;/li&gt;
				&lt;li&gt;&lt;i class=&quot;bi bi-check-lg&quot;&gt;&lt;/i&gt; {{ trans(&#039;global.sell_quickly_advice_4&#039;) }}&lt;/li&gt;
				&lt;li&gt;&lt;i class=&quot;bi bi-check-lg&quot;&gt;&lt;/i&gt; {{ trans(&#039;global.sell_quickly_advice_5&#039;) }}&lt;/li&gt;
			&lt;/ul&gt;
		&lt;/div&gt;
	&lt;/div&gt;
	
&lt;/div&gt;


<hr>
<!-- PEDROO_NEXT_FILE: /ads/resources/views/front/post/createOrEdit/singleStep/create.blade.php -->
<!-- PEDROO_NEXT_DIR: /ads/resources/views/front/post/createOrEdit/partials/category -->

</body>
</html>