<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>/ads/resources/views/front/payment/payment-methods.blade.php</title>
<style>
body { font-family: monospace; white-space: pre; }
</style>
</head>
<body>
@php
	$paymentMethods ??= collect();
	$payment ??= [];
@endphp
&lt;div class=&quot;row mb-0&quot;&gt;
	{{-- payment_method_id --}}
	@php
		$paymentMethodOptions = collect($paymentMethods)
			-&gt;filter(fn($paymentMethod) =&gt; view()-&gt;exists(&#039;payment::&#039; . $paymentMethod-&gt;name))
			-&gt;map(function($paymentMethod) {
				$dataName = $paymentMethod-&gt;name ?? null;
				$value = $paymentMethod-&gt;id ?? null;
				$text = ($dataName == &#039;offlinepayment&#039;)
					? trans(&#039;offlinepayment::messages.offline_payment&#039;)
					: ($paymentMethod-&gt;display_name ?? null);
				
				return [
					&#039;value&#039;      =&gt; $value,
					&#039;text&#039;       =&gt; $text,
					&#039;attributes&#039; =&gt; [&#039;data-name&#039; =&gt; $dataName],
				];
			})-&gt;toArray();
		
		$paymentMethodValue = data_get($payment, &#039;paymentMethod.id&#039;, 0);
	@endphp
	@include(&#039;helpers.forms.fields.select2&#039;, [
		&#039;label&#039;       =&gt; trans(&#039;global.payment_method&#039;),
		&#039;id&#039;          =&gt; &#039;paymentMethodId&#039;,
		&#039;name&#039;        =&gt; &#039;payment_method_id&#039;,
		&#039;required&#039;    =&gt; false,
		&#039;placeholder&#039; =&gt; trans(&#039;global.Select&#039;),
		&#039;options&#039;     =&gt; $paymentMethodOptions,
		&#039;hint&#039;        =&gt; null,
		&#039;baseClass&#039;   =&gt; [&#039;wrapper&#039; =&gt; &#039;mb-3 col-md-12 col-sm-12 py-0&#039;],
	])
&lt;/div&gt;


<hr>
<!-- PEDROO_NEXT_FILE: /ads/resources/views/front/payment/payment-methods/plugins.blade.php -->
<!-- PEDROO_NEXT_DIR: /ads/resources/views/front/payment/packages -->

</body>
</html>