<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>/ads/resources/views/errors/403.blade.php</title>
<style>
body { font-family: monospace; white-space: pre; }
</style>
</head>
<body>
@extends(&#039;errors.master&#039;)

@php
    $title = trans(&#039;global.Forbidden&#039;);
	
    $defaultErrorMessage = trans(&#039;global.Meanwhile, you may return to homepage&#039;, [&#039;url&#039; =&gt; url(&#039;/&#039;)]);
	$extractedMessage = null;
	
	if (isset($exception) &amp;&amp; $exception instanceof \Throwable) {
		$extractedMessage = $exception-&gt;getMessage();
		$extractedMessage = str_replace(base_path(), &#039;&#039;, $extractedMessage);
	}
	
	$message = !empty($extractedMessage) ? $extractedMessage : $defaultErrorMessage;
@endphp

@section(&#039;title&#039;, $title)
@section(&#039;status&#039;, 401)
@section(&#039;message&#039;)
    {!! $message !!}
@endsection


<hr>
<!-- PEDROO_NEXT_FILE: /ads/resources/views/errors/404.blade.php -->
<!-- PEDROO_NEXT_DIR: /ads/resources/views/front -->

</body>
</html>