<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>/ads/resources/views/errors/404.blade.php</title>
<style>
body { font-family: monospace; white-space: pre; }
</style>
</head>
<body>
@extends(&#039;errors.master&#039;)

@php
	// Get page error title
	$defaultTitle = &#039;Page not found&#039;;
	$titleKey = &#039;error_http_404_title&#039;;
	$titleNamespace = &quot;global.{$titleKey}&quot;;
	$title = trans()-&gt;has($titleNamespace) ? trans($titleNamespace) : $defaultTitle;
	
	// Get page error message
	$defaultMessageKey = &#039;error_http_404_message&#039;;
	$message = (isset($exception) &amp;&amp; $exception instanceof \Throwable)
		? $exception-&gt;getMessage()
		: $defaultMessageKey;
	
	$defaultMessageKey = &#039;error_http_404_message&#039;;
	$defaultMessageNamespace = &quot;global.{$defaultMessageKey}&quot;;
	$defaultMessage = trans()-&gt;has($defaultMessageNamespace)
		? trans($defaultMessageNamespace, [&#039;url&#039; =&gt; url(&#039;/&#039;)])
		: $title;
	
	if (isset($exception) &amp;&amp; $exception instanceof \Throwable) {
		$badCharacters = [&#039;[&#039;, &#039;]&#039;, &#039;\\&#039;, &#039;/&#039;];
		
		$message = $exception-&gt;getMessage();
		$message = str_replace(base_path(), &#039;&#039;, $message);
		$message = !str($message)-&gt;contains($badCharacters) ? $message : $defaultMessage;
	} else {
		$message = $defaultMessage;
	}
@endphp

@section(&#039;title&#039;, $title)
@section(&#039;status&#039;, 404)
@section(&#039;message&#039;)
	{!! $message !!}
@endsection


<hr>
<!-- PEDROO_NEXT_FILE: /ads/resources/views/errors/500.blade.php -->
<!-- PEDROO_NEXT_DIR: /ads/resources/views/front -->

</body>
</html>