<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>/ads/resources/views/errors/500.blade.php</title>
<style>
body { font-family: monospace; white-space: pre; }
</style>
</head>
<body>
@extends(&#039;errors.master&#039;)

@php
	$title = trans(&#039;global.Internal Server Error&#039;);
	
	$isDebugEnabled = config(&#039;app.debug&#039;);
	$defaultErrorMessage = trans(&#039;global.An internal server error has occurred&#039;);
	$extractedMessage = null;
	
	if (isset($exception) &amp;&amp; $exception instanceof \Throwable) {
		$extractedMessage = $exception-&gt;getMessage();
		$extractedMessage = str_replace(base_path(), &#039;&#039;, $extractedMessage);
		
		if (!empty($extractedMessage) &amp;&amp; $isDebugEnabled) {
			if (method_exists($exception, &#039;getFile&#039;)) {
				$filePath = $exception-&gt;getFile();
				$filePath = str_replace(base_path(), &#039;&#039;, $filePath);
				$extractedMessage .= &quot;\n&quot; . &#039;In the: &lt;code&gt;&#039; . $filePath . &#039;&lt;/code&gt; file&#039;;
				if (method_exists($exception, &#039;getLine&#039;)) {
					$extractedMessage .= &#039; at line: &lt;code&gt;&#039; . $exception-&gt;getLine() . &#039;&lt;/code&gt;&#039;;
				}
			}
			$extractedMessage = nl2br($extractedMessage);
		}
	}
	
	$message = !empty($extractedMessage) ? $extractedMessage : $defaultErrorMessage;
@endphp

@section(&#039;title&#039;, $title)
@section(&#039;status&#039;, 401)
@section(&#039;message&#039;)
	{!! $message !!}
@endsection


<hr>
<!-- PEDROO_NEXT_FILE: /ads/resources/views/errors/503.blade.php -->
<!-- PEDROO_NEXT_DIR: /ads/resources/views/front -->

</body>
</html>