<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>/ads/resources/views/errors/503.blade.php</title>
<style>
body { font-family: monospace; white-space: pre; }
</style>
</head>
<body>
@extends(&#039;errors::layout&#039;)

@section(&#039;title&#039;, trans(&#039;admin.Service Unavailable&#039;))

@php
	$data = [];
	
	$messageFilePath = storage_path(&#039;framework/down-message&#039;);
	if (file_exists($messageFilePath)) {
		$buffer = file_get_contents($messageFilePath);
		$data = json_decode($buffer, true);
	}
	
	$message = $data[&#039;message&#039;] ?? trans(&#039;admin.Be right back&#039;);
@endphp

@section(&#039;message&#039;)
	{!! $message !!}
@endsection


<hr>
<!-- PEDROO_NEXT_FILE: /ads/resources/views/errors/custom.blade.php -->
<!-- PEDROO_NEXT_DIR: /ads/resources/views/front -->

</body>
</html>