<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>/ads/resources/views/errors/custom.blade.php</title>
<style>
body { font-family: monospace; white-space: pre; }
</style>
</head>
<body>
@extends(&#039;errors.master&#039;)

@php
	$httpStatus = getCachedReferrerList(&#039;http-status&#039;);
	
	$statusCode = (!empty($status) &amp;&amp; !empty($httpStatus[$status])) ? $status : 500;
	if (isset($exception) &amp;&amp; $exception instanceof \Throwable) {
		if (method_exists($exception, &#039;getStatusCode&#039;)) {
			try {
				$statusCode = $exception-&gt;getStatusCode();
			} catch (\Throwable $e) {
			}
		}
	}
	$title = $httpStatus[$statusCode] ?? &#039;Internal Server Error&#039;;
	
	// Message
	$defaultErrorMessage = &#039;An internal server error has occurred.&#039;;
	$extractedMessage = null;
	
	if (!empty($message)) {
		$extractedMessage = nl2br($message);
	}
	if (empty($extractedMessage)) {
		if (isset($exception) &amp;&amp; $exception instanceof \Throwable) {
			$extractedMessage = $exception-&gt;getMessage();
			$extractedMessage = str_replace(base_path(), &#039;&#039;, $extractedMessage);
			
			if (!empty($extractedMessage)) {
				if (method_exists($exception, &#039;getFile&#039;)) {
					$filePath = $exception-&gt;getFile();
					$filePath = str_replace(base_path(), &#039;&#039;, $filePath);
					$extractedMessage .= &quot;\n&quot; . &#039;In the: &lt;code&gt;&#039; . $filePath . &#039;&lt;/code&gt; file&#039;;
					if (method_exists($exception, &#039;getLine&#039;)) {
						$extractedMessage .= &#039; at line: &lt;code&gt;&#039; . $exception-&gt;getLine() . &#039;&lt;/code&gt;&#039;;
					}
				}
				$extractedMessage = nl2br($extractedMessage);
			}
		}
	}
	
	$message = !empty($extractedMessage) ? $extractedMessage : $defaultErrorMessage;
	
	$allowedTags = &quot;&lt;br&gt;&lt;strong&gt;&lt;span&gt;&quot;;
	$message = strip_tags($message, $allowedTags);
@endphp

@section(&#039;title&#039;, $title)
@section(&#039;status&#039;, $statusCode)
@section(&#039;message&#039;)
	{!! $message !!}
@endsection


<hr>
<!-- PEDROO_NEXT_FILE: /ads/resources/views/errors/master.blade.php -->
<!-- PEDROO_NEXT_DIR: /ads/resources/views/front -->

</body>
</html>