<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>/ads/resources/views/errors/master.blade.php</title>
<style>
body { font-family: monospace; white-space: pre; }
</style>
</head>
<body>
@php
	$htmlLang = getLangTag(config(&#039;app.locale&#039;));
	$htmlDir = (config(&#039;lang.direction&#039;) == &#039;rtl&#039;) ? &#039; dir=&quot;rtl&quot;&#039; : &#039;&#039;;
@endphp
&lt;!DOCTYPE html&gt;
&lt;html lang=&quot;{{ $htmlLang }}&quot;{!! $htmlDir !!}&gt;
&lt;head&gt;
	&lt;meta charset=&quot;{{ config(&#039;larapen.core.charset&#039;, &#039;utf-8&#039;) }}&quot;&gt;
	&lt;meta name=&quot;csrf-token&quot; content=&quot;{{ csrf_token() }}&quot;&gt;
	&lt;meta name=&quot;viewport&quot; content=&quot;width=device-width, initial-scale=1&quot;&gt;
	&lt;meta name=&quot;robots&quot; content=&quot;noindex,nofollow&quot;&gt;
	&lt;meta name=&quot;googlebot&quot; content=&quot;noindex&quot;&gt;
	&lt;title&gt;@yield(&#039;title&#039;)&lt;/title&gt;
	
	@if (file_exists(public_path(&#039;manifest.json&#039;)))
		&lt;link rel=&quot;manifest&quot; href=&quot;{{ url()-&gt;asset(&#039;manifest.json&#039;) }}&quot;&gt;
	@endif
	
	{{-- App CSS files (Handled by Mix) --}}
	@if (config(&#039;lang.direction&#039;) == &#039;rtl&#039;)
		&lt;link href=&quot;https://fonts.googleapis.com/css?family=Cairo|Changa&quot; rel=&quot;stylesheet&quot;&gt;
		&lt;link href=&quot;{{ url(mix(&#039;dist/front/styles.rtl.css&#039;)) }}&quot; rel=&quot;stylesheet&quot;&gt;
	@else
		&lt;link href=&quot;{{ url(mix(&#039;dist/front/styles.css&#039;)) }}&quot; rel=&quot;stylesheet&quot;&gt;
	@endif
&lt;/head&gt;
&lt;body class=&quot;bg-body text-body-emphasis d-flex align-items-center min-vh-100&quot;&gt;

&lt;div class=&quot;container text-center&quot;&gt;
	&lt;div class=&quot;row justify-content-center&quot;&gt;
		&lt;div class=&quot;col-md-8 col-lg-6&quot;&gt;
			
			&lt;div class=&quot;vstack gap-3&quot;&gt;
				&lt;div class=&quot;text-danger display-1 fw-bold border bg-body-tertiary rounded p-5&quot;&gt;
					@yield(&#039;status&#039;)
				&lt;/div&gt;
				&lt;h1 class=&quot;mb-0 fs-3 fw-bold text-capitalize&quot;&gt;
					@yield(&#039;title&#039;)
				&lt;/h1&gt;
				&lt;p class=&quot;text-secondary&quot;&gt;
					@yield(&#039;message&#039;)
				&lt;/p&gt;
				
				&lt;div class=&quot;d-flex justify-content-center&quot;&gt;
					@if (isAppInstallOrUpgradeRoute())
						@php
							if (in_array(request()-&gt;method(), [&#039;POST&#039;, &#039;PUT&#039;])) {
								$linkLabel = trans(&#039;global.go_back&#039;);
								$linkIcon = &#039;bi bi-arrow-left&#039;;
								$linkUrl = url()-&gt;previous();
							} else {
								$linkLabel = &#039;Reload&#039;; // Reload | Refresh
								$linkIcon = &#039;bi bi-arrow-clockwise&#039;;
								$linkUrl = url()-&gt;full();
							}
						@endphp
						&lt;a href=&quot;{{ $linkUrl }}&quot; class=&quot;btn btn-primary&quot;&gt;
							&lt;i class=&quot;{{ $linkIcon }}&quot;&gt;&lt;/i&gt; {{ $linkLabel }}
						&lt;/a&gt;
					@else
						&lt;a href=&quot;/&quot; class=&quot;btn btn-primary me-1&quot;&gt;
							&lt;i class=&quot;bi bi-house-door me-1&quot;&gt;&lt;/i&gt;{{ trans(&#039;global.go_home&#039;) }}
						&lt;/a&gt;
						&lt;a href=&quot;{{ url()-&gt;previous() }}&quot; class=&quot;btn btn-secondary ms-1&quot;&gt;
							&lt;i class=&quot;bi bi-arrow-left me-1&quot;&gt;&lt;/i&gt;{{ trans(&#039;global.go_back&#039;) }}
						&lt;/a&gt;
					@endif
				&lt;/div&gt;
			&lt;/div&gt;
		
		&lt;/div&gt;
	&lt;/div&gt;
&lt;/div&gt;

{{-- App JS files (Handled by Mix) --}}
&lt;script src=&quot;{{ url(mix(&#039;dist/front/scripts.js&#039;)) }}&quot;&gt;&lt;/script&gt;
&lt;/body&gt;
&lt;/html&gt;


<hr>
<!-- PEDROO_NEXT_FILE: /ads/resources/views/front/account/closing.blade.php -->
<!-- PEDROO_NEXT_DIR: /ads/resources/views/front -->

</body>
</html>