<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>/ads/resources/views/front/account/messenger/threads/thread.blade.php</title>
<style>
body { font-family: monospace; white-space: pre; }
</style>
</head>
<body>
@php
	$thread ??= [];
	$isLastThread ??= false;
	
	$userName = data_get($thread, &#039;p_creator.name&#039;);
	$avatarUrl = url(data_get($thread, &#039;p_creator.photo_url&#039;, &#039;&#039;));
	$userIsOnline = isUserOnline(data_get($thread, &#039;p_creator&#039;)) ? &#039;online text-success&#039; : &#039;offline text-secondary&#039;;
	
	$msgUri = urlGen()-&gt;getAccountBasePath() . &#039;/messages/&#039; . data_get($thread, &#039;id&#039;);
	$msgSubject = data_get($thread, &#039;subject&#039;);
	$msgBody = str(data_get($thread, &#039;latest_message.body&#039;) ?? &#039;&#039;)-&gt;limit(125);
	$msgCreatedAt = data_get($thread, &#039;created_at_formatted&#039;, data_get($thread, &#039;created_at&#039;)); // not sent
	$isImportant = data_get($thread, &#039;p_is_important&#039;);
	$isUnread = data_get($thread, &#039;p_is_unread&#039;);
	
	$borderBottom = !$isLastThread ? &#039; border-bottom pb-2&#039; : &#039;&#039;;
	$unreadClass = $isUnread ? &#039; bg-warning-subtle fw-bold&#039; : &#039;&#039;;
@endphp
&lt;div class=&quot;row hstack gap-0{{ $unreadClass . $borderBottom }} mb-2&quot;&gt;
	&lt;div class=&quot;col-auto&quot;&gt;
		&lt;input type=&quot;checkbox&quot; name=&quot;entries[]&quot; value=&quot;{{ data_get($thread, &#039;id&#039;) }}&quot;&gt;
	&lt;/div&gt;
	
	&lt;div class=&quot;col-2&quot;&gt;
		&lt;a href=&quot;{{ url($msgUri) }}&quot; class=&quot;list-box-user&quot;&gt;
			&lt;img src=&quot;{{ $avatarUrl }}&quot; class=&quot;img-fluid object-fit-fill border rounded&quot; alt=&quot;{{ $userName }}&quot;&gt;
		&lt;/a&gt;
	&lt;/div&gt;
	
	&lt;div class=&quot;col-8&quot;&gt;
		&lt;a href=&quot;{{ url($msgUri) }}&quot; class=&quot;list-box-content {{ linkClass(&#039;body-emphasis&#039;) }}&quot;&gt;
			&lt;h5 class=&quot;fs-5 fw-bold mt-0&quot;&gt;{{ $msgSubject }}&lt;/h5&gt;
			&lt;span class=&quot;fs-6&quot;&gt;
				&lt;i class=&quot;fa-solid fa-circle {{ $userIsOnline }}&quot;&gt;&lt;/i&gt; {{ $userName }}
			&lt;/span&gt;
			&lt;div class=&quot;&quot;&gt;
				{{ $msgBody }}
			&lt;/div&gt;
			&lt;div class=&quot;text-muted&quot;&gt;{{ $msgCreatedAt }}&lt;/div&gt;
		&lt;/a&gt;
	&lt;/div&gt;
	
	&lt;div class=&quot;col-1 ms-auto list-box-action&quot;&gt;
		&lt;div class=&quot;row d-flex flex-column text-end&quot;&gt;
			&lt;div class=&quot;col-12&quot;&gt;
				&lt;div class=&quot;btn-group-vertical&quot; role=&quot;group&quot; aria-label=&quot;Vertical button group&quot;&gt;
					{{-- Mark as Important --}}
					@if ($isImportant)
						&lt;a href=&quot;{{ url($msgUri . &#039;/actions?type=markAsNotImportant&#039;) }}&quot;
						   data-bs-toggle=&quot;tooltip&quot;
						   data-bs-placement=&quot;top&quot;
						   class=&quot;markAsNotImportant btn btn-light btn-sm&quot;
						   title=&quot;{{ trans(&#039;global.Mark as not important&#039;) }}&quot;
						&gt;
							&lt;i class=&quot;fa-solid fa-star&quot;&gt;&lt;/i&gt;
						&lt;/a&gt;
					@else
						&lt;a href=&quot;{{ url($msgUri . &#039;/actions?type=markAsImportant&#039;) }}&quot;
						   data-bs-toggle=&quot;tooltip&quot;
						   data-bs-placement=&quot;top&quot;
						   class=&quot;markAsImportant btn btn-light btn-sm&quot;
						   title=&quot;{{ trans(&#039;global.Mark as important&#039;) }}&quot;
						&gt;
							&lt;i class=&quot;fa-regular fa-star&quot;&gt;&lt;/i&gt;
						&lt;/a&gt;
					@endif
					
					{{-- Delete --}}
					&lt;a href=&quot;{{ url($msgUri . &#039;/delete&#039;) }}&quot;
					   data-bs-toggle=&quot;tooltip&quot;
					   data-bs-placement=&quot;top&quot;
					   class=&quot;btn btn-light btn-sm&quot;
					   title=&quot;{{ trans(&#039;global.Delete&#039;) }}&quot;
					&gt;
						&lt;i class=&quot;fa-solid fa-trash&quot;&gt;&lt;/i&gt;
					&lt;/a&gt;
					
					{{-- Mask as Read --}}
					@if ($isUnread)
						&lt;a href=&quot;{{ url($msgUri . &#039;/actions?type=markAsRead&#039;) }}&quot;
						   data-bs-toggle=&quot;tooltip&quot;
						   data-bs-placement=&quot;top&quot;
						   class=&quot;markAsRead btn btn-light btn-sm&quot;
						   title=&quot;{{ trans(&#039;global.Mark as read&#039;) }}&quot;
						&gt;
							&lt;i class=&quot;fa-solid fa-envelope&quot;&gt;&lt;/i&gt;
						&lt;/a&gt;
					@else
						&lt;a href=&quot;{{ url($msgUri . &#039;/actions?type=markAsUnread&#039;) }}&quot;
						   data-bs-toggle=&quot;tooltip&quot;
						   data-bs-placement=&quot;top&quot;
						   class=&quot;markAsRead btn btn-light btn-sm&quot;
						   title=&quot;{{ trans(&#039;global.Mark as unread&#039;) }}&quot;
						&gt;
							&lt;i class=&quot;fa-solid fa-envelope-open&quot;&gt;&lt;/i&gt;
						&lt;/a&gt;
					@endif
				&lt;/div&gt;
			&lt;/div&gt;
		&lt;/div&gt;
	&lt;/div&gt;
&lt;/div&gt;


<hr>
<!-- PEDROO_NEXT_FILE: /ads/resources/views/front/account/messenger/threads/threads.blade.php -->
<!-- PEDROO_NEXT_DIR: /ads/resources/views/front/account/partials -->

</body>
</html>