<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>/ads/resources/views/admin/panel/form_content.blade.php</title>
<style>
body { font-family: monospace; white-space: pre; }
</style>
</head>
<body>
@php
	/** @var \App\Models\Page $model (for example) */
	$model = $xPanel-&gt;model;
@endphp
&lt;form role=&quot;form&quot; novalidate&gt;
	
    {{-- Show the inputs --}}
	&lt;div class=&quot;container px-0 mb-0&quot;&gt;
		&lt;div class=&quot;row&quot;&gt;
			{{-- See if we&#039;re using tabs --}}
			@if ($xPanel-&gt;tabsEnabled() &amp;&amp; count($xPanel-&gt;getTabs()) &gt; 0)
				@php
					// Get the first tab as default tab
					$defaultTab = $xPanel-&gt;getTabs()[0];
					$defaultTab = str($defaultTab)-&gt;slug(&#039;&#039;)-&gt;toString();
				@endphp
				@include(&#039;admin.panel.inc.show_tabbed_fields&#039;)
				&lt;input type=&quot;hidden&quot; name=&quot;current_tab&quot; value=&quot;{{ $defaultTab }}&quot; /&gt;
			@else
				@include(&#039;admin.panel.inc.show_fields&#039;, [&#039;fields&#039; =&gt; $fields])
			@endif
		&lt;/div&gt;
	&lt;/div&gt;
	
&lt;/form&gt;

{{-- Define blade stacks so css and js can be pushed from the fields to these sections. --}}

@section(&#039;after_styles&#039;)
	@parent
	
	&lt;link rel=&quot;stylesheet&quot; href=&quot;{{ asset(&#039;assets/admin/crud/css/crud.css&#039;) }}&quot;&gt;
	&lt;link rel=&quot;stylesheet&quot; href=&quot;{{ asset(&#039;assets/admin/crud/css/form.css&#039;) }}&quot;&gt;
	&lt;link rel=&quot;stylesheet&quot; href=&quot;{{ asset(&quot;assets/admin/crud/css/{$action}.css&quot;) }}&quot;&gt;
	
    &lt;!-- CRUD FORM CONTENT - crud_fields_styles stack --&gt;
    @stack(&#039;crud_fields_styles&#039;)
@endsection

@section(&#039;after_scripts&#039;)
	@parent
	
	&lt;script src=&quot;{{ asset(&#039;assets/admin/crud/js/crud.js&#039;) }}&quot;&gt;&lt;/script&gt;
	&lt;script src=&quot;{{ asset(&#039;assets/admin/crud/js/form.js&#039;) }}&quot;&gt;&lt;/script&gt;
	&lt;script src=&quot;{{ asset(&quot;assets/admin/crud/js/{$action}.js&quot;) }}&quot;&gt;&lt;/script&gt;
	
    &lt;!-- CRUD FORM CONTENT - crud_fields_scripts stack --&gt;
    @stack(&#039;crud_fields_scripts&#039;)

    &lt;script&gt;
	    onDocumentReady((event) =&gt; {
			/* Enable tabbable tabs via JavaScript (each tab needs to be activated individually) */
		    const triggerTabList = document.querySelectorAll(&#039;#formTabs a, #formTabs button&#039;);
		    triggerTabList.forEach(triggerEl =&gt; {
			    const tabTrigger = new bootstrap.Tab(triggerEl);
			    
			    triggerEl.addEventListener(&#039;click&#039;, event =&gt; {
				    event.preventDefault()
				    tabTrigger.show()
			    });
		    });
		    
			/* Save button has multiple actions: save and exit, save and edit, save and new */
			const saveActions = $(&#039;#saveActions&#039;);
		    const crudForm = saveActions.parents(&#039;form&#039;);
		    const saveActionField = $(&#039;[name=&quot;save_action&quot;]&#039;);
			
			saveActions.on(&#039;click&#039;, &#039;.dropdown-menu a&#039;, function() {
				const saveAction = $(this).data(&#039;value&#039;);
				saveActionField.val(saveAction);
				crudForm.submit();
			});
			
            /* Ctrl+S and Cmd+S trigger Save button click */
            $(document).keydown(function(e) {
                if (
					((e.which === 115 || e.which === &#039;115&#039;) || (e.which === 83 || e.which === &#039;83&#039;))
	                &amp;&amp; (e.ctrlKey || e.metaKey)
                )
                {
                    e.preventDefault();
                    /* alert(&quot;Ctrl-s pressed&quot;); */
                    $(&quot;button[type=submit]&quot;).trigger(&#039;click&#039;);
                    return false;
                }
                return true;
            });
		    
		    /* Prevent duplicate entries on double-clicking the submit form */
		    crudForm.submit(function (event) {
			    $(&quot;button[type=submit]&quot;).prop(&#039;disabled&#039;, true);
		    });
			
			/* Place the focus on the first element in the form */
            @if ($xPanel-&gt;autoFocusOnFirstField)
	            @php
	                $focusField = \Illuminate\Support\Arr::first($fields, function($field) {
	                    return isset($field[&#039;auto_focus&#039;]) &amp;&amp; $field[&#039;auto_focus&#039;] == true;
	                })
	            @endphp
				
	            @if ($focusField)
		            @php
			            $focusFieldName = !is_iterable($focusField[&#039;value&#039;]) ? $focusField[&#039;name&#039;] : ($focusField[&#039;name&#039;] . &#039;[]&#039;);
		            @endphp
	                window.focusField = $(&#039;[name=&quot;{{ $focusFieldName }}&quot;]&#039;).eq(0);
	            @else
	                const focusField = $(&#039;form&#039;).find(&#039;input, textarea, select&#039;).not(&#039;[type=&quot;hidden&quot;]&#039;).eq(0);
	            @endif
				
			    const fieldOffset = focusField.offset().top;
			    const scrollTolerance = $(window).height() / 2;
				
	            focusField.trigger(&#039;focus&#039;);
				
	            if (fieldOffset &gt; scrollTolerance) {
	                $(&#039;html, body&#039;).animate({scrollTop: (fieldOffset - 30)});
	            }
            @endif
		    
		    /* Add inline errors to the DOM */
		    @if ($xPanel-&gt;inlineErrorsEnabled())
			    @if (isset($errors) &amp;&amp; $errors-&gt;any())
				    window.errorList = {!! json_encode($errors-&gt;messages()) !!};
					const isTabsEnabled = {{ $xPanel-&gt;tabsEnabled() ? &#039;true&#039; : &#039;false&#039; }};
			        /* console.error(window.errorList); */
		            
		            {{--
				    $.each(errorList, function(property, messages) {
					    const normalizedProperty = property.split(&#039;.&#039;)
						    .map(function(item, index) {
							    return index === 0 ? item : &#039;[&#039; + item + &#039;]&#039;;
						    }).join(&#039;&#039;);
					    
						let $field = $(&#039;[name=&quot;&#039; + normalizedProperty + &#039;[]&quot;]&#039;);
					    $field = $field.length ? $field : $(&#039;[name=&quot;&#039; + normalizedProperty + &#039;&quot;]&#039;);
						
					    const container = $field.parents(&#039;div.mb-3&#039;);
					    container.addClass(&#039;is-invalid&#039;);
					    
					    $.each(messages, function(key, msg) {
						    /* highlight the input that errored */
						    const row = $(&#039;&lt;div class=&quot;invalid-feedback&quot;&gt;&#039; + msg + &#039;&lt;/div&gt;&#039;);
						    row.appendTo(container);
						    
						    /* highlight its parent tab */
						    if (isTabsEnabled) {
							    const tabPaneId = $(container).parents(&#039;.tab-pane&#039;).attr(&#039;id&#039;);
							    $(&quot;#formTabs [aria-controls=&quot; + tabPaneId + &quot;]&quot;).addClass(&#039;text-danger&#039;);
						    }
					    });
				    });
				    --}}
		            
		            let savedOpenTab = null;
				    Object.entries(errorList).forEach(([property, messages]) =&gt; {
					    const normalizedProperty = property.split(&#039;.&#039;)
						    .map((item, index) =&gt; {
							    return index === 0 ? item : &#039;[&#039; + item + &#039;]&#039;;
						    }).join(&#039;&#039;);
					    
					    let field = document.querySelector(&#039;[name=&quot;&#039; + normalizedProperty + &#039;[]&quot;]&#039;);
					    field = field ? field : document.querySelector(&#039;[name=&quot;&#039; + normalizedProperty + &#039;&quot;]&#039;);
					    
					    const container = field.closest(&#039;div.mb-3&#039;);
						if (container) {
							container.classList.add(&#039;is-invalid&#039;);
							
							messages.forEach((msg) =&gt; {
								/* highlight the input that errored */
								const row = document.createElement(&#039;div&#039;);
								row.className = &#039;invalid-feedback&#039;;
								row.textContent = msg;
								container.appendChild(row);
								
								/* highlight its parent tab */
								if (isTabsEnabled) {
									const tabPane = container.closest(&#039;.tab-pane&#039;);
									if (tabPane) {
										const tabPaneId = tabPane.getAttribute(&#039;id&#039;);
										const tabEl = document.querySelector(&quot;#formTabs [aria-controls=&quot; + tabPaneId + &quot;]&quot;);
										if (tabEl) {
											tabEl.classList.add(&#039;text-danger&#039;);
											
											/* Activate (Open) the first tab containing error fields */
											if (savedOpenTab === null) {
												const tab = new bootstrap.Tab(tabEl);
												tab.show();
												
												savedOpenTab = tabEl.getAttribute(&#039;data-tab-name&#039;);
											}
										}
									}
								}
							});
						}
				    });
		       @endif
		    @endif
		       
	        {{--
		     * The [data-bs-toggle] selector match all the selectors below:
		     * - button[data-bs-toggle=&quot;tab&quot;]
		     * - button[data-bs-toggle=&quot;pill&quot;]
		     * - a[data-bs-toggle=&quot;tab&quot;]
		     * - a[data-bs-toggle=&quot;pill&quot;]
		     --}}
		    const tabSelector = &#039;#formTabs [data-bs-toggle]&#039;;
	        initTabsWithUrlHash(tabSelector, &#039;.tab-container&#039;);
		    
			/* Update the &#039;current_tab&#039; hidden field value on new tab activated */
			const currentTabEl = document.querySelector(&#039;input[name=&quot;current_tab&quot;]&#039;);
			if (currentTabEl) {
				const tabElements = document.querySelectorAll(tabSelector);
				tabElements.forEach(function(element) {
					element.addEventListener(&#039;shown.bs.tab&#039;, event =&gt; {
						currentTabEl.value = event.target.getAttribute(&#039;data-tab-name&#039;);
					});
				});
			}
        });
    &lt;/script&gt;
@endsection


<hr>
<!-- PEDROO_NEXT_FILE: /ads/resources/views/admin/panel/inc/button_stack.blade.php -->
<!-- PEDROO_NEXT_DIR: /ads/resources/views/admin/panel/buttons -->

</body>
</html>