<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>/ads/resources/views/admin/panel/show.blade.php</title>
<style>
body { font-family: monospace; white-space: pre; }
</style>
</head>
<body>
@extends(&#039;admin.layouts.master&#039;)

@php
	use App\Http\Controllers\Web\Admin\Panel\Library\Panel;
	use App\Models\Page;
	
	/** @var Panel $xPanel */
	$xPanel ??= null;
	
	/** @var Page $model (for example) */
	$model = $xPanel-&gt;model;
	
	$showUri = $xPanel-&gt;getUrl($entry-&gt;getKey());
@endphp

@section(&#039;header&#039;)
	&lt;div class=&quot;row page-titles&quot;&gt;
		&lt;div class=&quot;col-md-5 col-12 align-self-center&quot;&gt;
			&lt;h2 class=&quot;mb-0 h3&quot;&gt;
				&lt;span class=&quot;text-capitalize&quot;&gt;{{ trans(&#039;admin.preview&#039;) }}&lt;/span&gt;
				&lt;small&gt;{!! $xPanel-&gt;entityName !!}&lt;/small&gt;
			&lt;/h2&gt;
		&lt;/div&gt;
		&lt;div class=&quot;col-md-7 col-12 align-self-center d-none d-md-flex justify-content-end&quot;&gt;
			&lt;ol class=&quot;breadcrumb mb-0 p-0 bg-transparent&quot;&gt;
				&lt;li class=&quot;breadcrumb-item&quot;&gt;
					&lt;a href=&quot;{{ urlGen()-&gt;adminUrl() }}&quot;&gt;{{ trans(&#039;admin.dashboard&#039;) }}&lt;/a&gt;
				&lt;/li&gt;
				&lt;li class=&quot;breadcrumb-item&quot;&gt;
					&lt;a href=&quot;{{ $xPanel-&gt;getUrl() }}&quot; class=&quot;text-capitalize&quot;&gt;
						{!! $xPanel-&gt;entityNamePlural !!}
					&lt;/a&gt;
				&lt;/li&gt;
				&lt;li class=&quot;breadcrumb-item active d-flex align-items-center&quot;&gt;
					{{ trans(&#039;admin.preview&#039;) }}
				&lt;/li&gt;
			&lt;/ol&gt;
		&lt;/div&gt;
	&lt;/div&gt;
@endsection

@section(&#039;content&#039;)
	&lt;div class=&quot;flex-row d-flex justify-content-center&quot;&gt;
		@php
			$colMd = config(&#039;settings.style.admin_boxed_layout&#039;) == &#039;1&#039; ? &#039; col-md-12&#039; : &#039; col-md-9&#039;;
		@endphp
		&lt;div class=&quot;col-sm-12{{ $colMd }}&quot;&gt;
			&lt;div class=&quot;row&quot;&gt;
				&lt;div class=&quot;col-lg-6&quot;&gt;
					@if ($xPanel-&gt;hasAccess(&#039;list&#039;))
						&lt;a href=&quot;{{ $xPanel-&gt;getUrl() }}&quot; class=&quot;btn btn-primary shadow mb-3&quot;&gt;
							&lt;i class=&quot;fa-solid fa-angles-left&quot;&gt;&lt;/i&gt; {{ trans(&#039;admin.back_to_all&#039;) }}
							&lt;span class=&quot;text-lowercase&quot;&gt;{!! $xPanel-&gt;entityNamePlural !!}&lt;/span&gt;
						&lt;/a&gt;
					@endif
				&lt;/div&gt;
				&lt;div class=&quot;col-lg-6 text-end&quot;&gt;
					@if ($model-&gt;translationEnabled())
						@php
							$availableLocales = $model-&gt;getAvailableLocales();
							$appLocale = app()-&gt;getLocale();
							$selectedLocale = $availableLocales[request()-&gt;input(&#039;locale&#039;, $appLocale)] ?? $appLocale;
						@endphp
						{{-- Single button --}}
						&lt;div class=&quot;btn-group&quot;&gt;
							&lt;button type=&quot;button&quot;
							        class=&quot;btn btn-primary shadow dropdown-toggle&quot;
							        data-bs-toggle=&quot;dropdown&quot;
							        aria-haspopup=&quot;true&quot;
							        aria-expanded=&quot;false&quot;
							&gt;
								{{ trans(&#039;admin.Language&#039;) }}: {{ $selectedLocale }} &amp;nbsp;&lt;span class=&quot;caret&quot;&gt;&lt;/span&gt;
							&lt;/button&gt;
							&lt;ul class=&quot;dropdown-menu&quot;&gt;
								@foreach ($availableLocales as $key =&gt; $locale)
									@php
										$showUrl = urlBuilder($showUri)-&gt;setParameters([&#039;locale&#039; =&gt; $key])-&gt;toString();
									@endphp
									&lt;a class=&quot;dropdown-item ps-3 pe-3 pt-1 pb-1&quot; href=&quot;{{ $showUrl }}&quot;&gt;
										{{ $locale }}
									&lt;/a&gt;
								@endforeach
							&lt;/ul&gt;
						&lt;/div&gt;
					@endif
				&lt;/div&gt;
			&lt;/div&gt;
			
			{{-- Default box --}}
			&lt;div class=&quot;card rounded-0 border-0 border-top border-primary&quot;&gt;
				&lt;div class=&quot;card-header border-bottom-0&quot;&gt;
					&lt;div class=&quot;row&quot;&gt;
						&lt;div class=&quot;col-lg-6&quot;&gt;
							&lt;h3 class=&quot;mb-0&quot;&gt;{{ trans(&#039;admin.preview&#039;) . &#039; &#039; . $xPanel-&gt;entityName }}&lt;/h3&gt;
						&lt;/div&gt;
						&lt;div class=&quot;col-lg-6 text-end&quot;&gt;
							&lt;span&gt;
								&lt;a href=&quot;javascript: window.print();&quot;&gt;&lt;i class=&quot;fa fa-print&quot;&gt;&lt;/i&gt;&lt;/a&gt;
							&lt;/span&gt;
						&lt;/div&gt;
					&lt;/div&gt;
				&lt;/div&gt;
				&lt;div class=&quot;card-body&quot;&gt;
					&lt;table class=&quot;table table-striped table-bordered mb-0&quot;&gt;
						&lt;tbody&gt;
						@foreach ($xPanel-&gt;columns as $column)
							&lt;tr&gt;
								&lt;td&gt;&lt;span class=&quot;fw-bold&quot;&gt;{{ $column[&#039;label&#039;] }}&lt;/span&gt;&lt;/td&gt;
								&lt;td&gt;
									@if (!isset($column[&#039;type&#039;]))
										@include(&#039;admin.panel.columns.text&#039;)
									@else
										@if (view()-&gt;exists(&#039;vendor.admin.panel.columns.&#039; . $column[&#039;type&#039;]))
											@include(&#039;vendor.admin.panel.columns.&#039; . $column[&#039;type&#039;])
										@else
											@if (view()-&gt;exists(&#039;admin.panel.columns.&#039; . $column[&#039;type&#039;]))
												@include(&#039;admin.panel.columns.&#039; . $column[&#039;type&#039;])
											@else
												@include(&#039;admin.panel.columns.text&#039;)
											@endif
										@endif
									@endif
								&lt;/td&gt;
							&lt;/tr&gt;
						@endforeach
						@if ($xPanel-&gt;buttons-&gt;where(&#039;stack&#039;, &#039;line&#039;)-&gt;count())
							&lt;tr&gt;
								&lt;td&gt;&lt;span class=&quot;fw-bold&quot;&gt;{{ trans(&#039;admin.actions&#039;) }}&lt;/span&gt;&lt;/td&gt;
								&lt;td&gt;
									@include(&#039;admin.panel.inc.button_stack&#039;, [&#039;stack&#039; =&gt; &#039;line&#039;])
								&lt;/td&gt;
							&lt;/tr&gt;
						@endif
						&lt;/tbody&gt;
					&lt;/table&gt;
				&lt;/div&gt;
			&lt;/div&gt;
		
		&lt;/div&gt;
	&lt;/div&gt;
@endsection

@section(&#039;after_styles&#039;)
	&lt;link rel=&quot;stylesheet&quot; href=&quot;{{ asset(&#039;assets/admin/crud/css/crud.css&#039;) }}&quot;&gt;
	&lt;link rel=&quot;stylesheet&quot; href=&quot;{{ asset(&#039;assets/admin/crud/css/show.css&#039;) }}&quot;&gt;
@endsection

@section(&#039;after_scripts&#039;)
	&lt;script src=&quot;{{ asset(&#039;assets/admin/crud/js/crud.js&#039;) }}&quot;&gt;&lt;/script&gt;
	&lt;script src=&quot;{{ asset(&#039;assets/admin/crud/js/show.js&#039;) }}&quot;&gt;&lt;/script&gt;
@endsection


<hr>
<!-- PEDROO_NEXT_FILE: /ads/resources/views/admin/presets.blade.php -->
<!-- PEDROO_NEXT_DIR: /ads/resources/views/admin/panel/buttons -->

</body>
</html>