<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>/ads/resources/views/front/common/meta-robots.blade.php</title>
<style>
body { font-family: monospace; white-space: pre; }
</style>
</head>
<body>
@php
	// Categories&#039; Listings Pages
	$noIndexCategoriesPermalinkPages ??= false;
	$noIndexCategoriesQueryStringPages ??= false;
	
	// Cities&#039; Listings Pages
	$noIndexCitiesPermalinkPages ??= false;
	$noIndexCitiesQueryStringPages ??= false;
	
	// Users&#039; Listings Pages
	$noIndexUsersByIdPages ??= false;
	$noIndexUsersByUsernamePages ??= false;
	
	// Tags&#039; Listings Pages
	$noIndexTagsPages ??= false;
	
	// Filters (and Orders) on Listings Pages (Except Pagination)
	$noIndexFiltersOnEntriesPages ??= false;
	
	// &quot;No result&quot; Pages (Empty Searches Results Pages)
	$noIndexNoResultPages ??= false;
	
	// Listings Report Pages
	$noIndexListingsReportPages ??= false;
	
	// All Website Pages
	$noIndexAllPages = (config(&#039;settings.seo.no_index_all&#039;));
@endphp
@if (
		$noIndexAllPages
		|| $noIndexCategoriesPermalinkPages
		|| $noIndexCategoriesQueryStringPages
		|| $noIndexCitiesPermalinkPages
		|| $noIndexCitiesQueryStringPages
		|| $noIndexUsersByIdPages
		|| $noIndexUsersByUsernamePages
		|| $noIndexTagsPages
		|| $noIndexFiltersOnEntriesPages
		|| $noIndexNoResultPages
		|| $noIndexListingsReportPages
	)
	&lt;meta name=&quot;robots&quot; content=&quot;noindex,nofollow&quot;&gt;
	&lt;meta name=&quot;googlebot&quot; content=&quot;noindex&quot;&gt;
@endif


<hr>
<!-- PEDROO_NEXT_FILE: /ads/resources/views/front/common/spacer.blade.php -->
<!-- PEDROO_NEXT_DIR: /ads/resources/views/front/common/css -->

</body>
</html>