<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>/ads/resources/views/front/common/spacer.blade.php</title>
<style>
body { font-family: monospace; white-space: pre; }
</style>
</head>
<body>
@if (!(isset($paddingTopExists) &amp;&amp; $paddingTopExists))
	{{-- p-0 mt-lg-4 mt-md-3 mt-3 --}}
	{{-- m-0 pt-lg-4 pt-md-3 pt-3 --}}
	&lt;div class=&quot;m-0 pt-lg-4 pt-md-3 pt-3&quot;&gt;&lt;/div&gt;
@endif


<hr>
<!-- PEDROO_NEXT_FILE: /ads/resources/views/front/countries.blade.php -->
<!-- PEDROO_NEXT_DIR: /ads/resources/views/front/common/css -->

</body>
</html>